.embedded-links {
  width: 90vw;
  margin-top: -20px;
  height: calc(1100px + (2100 - 1100) * ((100vw - 400px) / (2400 - 400))) !important;
}

@media (min-width: 1475px) {
  .embedded-links {
    width: 70vw;
  }
}


@media (max-width: 600px) {
  .embedded-links {
    height: calc(2200px + (3600 - 2200) * ((100vw - 400px) / (900 - 400))) !important;
  }
}
