<div style="width: 100%; height:100%; margin-top: 50px;">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" class="thank-you-block">
      <div style="font-size: 26px; margin: 10px; text-align: center;">Thank you for applying to Spa Space!</div>
      <div style="font-size: 18px; margin: 10px; text-align: center;">We'll be sending you and email after your background check is processed.  Until then, get familiar with out Standards of Service and start inviting your client list to join Spa Space so they can start booking with you as soon as you get approved!</div>
    </div>
  </div>
</div>
