
 <div class="spa-facility-pitch" fxLayout="row">
    <!--<div fxFlex="0"></div>-->

      <div fxLayout="column" fxFlex="100" class="spa-facility-pitch-image">
        <div fxLayout="row">
          <spa-top-banner fxFlex="100"></spa-top-banner>
        </div>
        <div fxLayout="column" fxFlex="100">

          <div fxLayout="row" fxFlex="40" fxFlex.lt-md="30" fxFlex.lt-sm="25"></div>

          <div fxLayout="column" fxFlex="30" fxFlex.lt-md="50" fxFlex.lt-sm="60" fxLayoutAlign="center center" class="spa-facility-text-background-2">

            <div fxLayout="row"  fxLayoutAlign="center center" class="spa-facility-text-large ">
              Unlock your Spa's Potential
            </div>

            <div fxLayout="column">
              <!--<div fxLayout="row" fxLayoutAlign="center" class="spa-facility-text-medium">
    What is Spa Space?
  </div>-->
              <div fxLayout="row" fxLayoutAlign="center center" class="spa-facility-text-small">
                Spa Space increases your revenue by filling empty treatment rooms with guests who choose to meet with our expert therapists at your spa. Spa Space will increase your spa's visibility with our target market and bring in new guests to experience everything your resort offers.
              </div>
              <div fxLayout="row" fxLayoutAlign="center">
                <button mdbBtn color="primary" class="waves-light apply-now-btn" mdbWavesEffect [routerLink]='["/authentication/register-facility-manager"]'>
                  Apply Now
                </button>
              </div>

            </div>

          </div>

          <div fxLayout="row" fxFlex="30" fxFlex.lt-md="20" fxFlex.lt-sm="15"></div>

          <!--<div fxLayout="row" fxFlex="100" fxFlex.lt-lg="30" fxHide.lt-md>
            <div fxLayout="column" fxFlex="32" fxFlex.lt-lg="10"></div>
            <div fxLayout="column" fxFlex="80">
              <div class="spa-facility-text-large spa-space-pitch-1-block spa-facility-text-background-1">
                Unlock your Spa's Potential
              </div>
            </div>
            <div fxLayout="column" fxFlex="48" fxFlex.lt-lg="10"></div>
          </div>-->
          <!--<div fxLayout="row" fxFlex="100" fxFlex.lt-lg="70" fxFlex.lt-md="100">
            <div fxFlex="40" fxFlex.lt-lg="10" fxHide.lt-sm></div>
            <div fxLayout="column" fxFlex="40" fxFlex.lt-lg="50" fxFlex.lt-md="80" fxFlex.lt-sm="100">
              <div class="spa-facility-text-medium">
                What is Spa Space?
              </div>
              <div class="spa-facility-text-small spa-space-pitch-2-block spa-facility-text-background-2">
                Spa Space increases your revenue by filling empty treatment rooms with guests who choose to meet with our expert therapists at your spa. Spa Space will increase your spa's visibility with our target market and bring in new guests to experience everything your resort offers.
              </div>
              <div fxLayoutAlign="end">
                <button mdbBtn color="primary" class="waves-light" mdbWavesEffect [routerLink]='["/authentication/register-facility-manager"]'>
                  Apply Now
                </button>
              </div>
            </div>
            <div fxFlex="20" fxFlex.lt-md="10" fxHide.lt-sm></div>
          </div>-->
        </div>
      </div>

    <!--<div fxFlex="0"></div>-->
  </div>


<div class="buffer"></div>

  <div fxLayout="row" style="width:100%">
    <spa-footer class="spa-footer">
      <div leftContent>
        <!--
        <div class="spa-footer-large-text">Unlock access to the world's finest resorts.</div>
        <div fxHide.lt-lg class="spa-footer-med-text">Walk into a five star treatment room and never lift another portable table.</div>
        <div class="spa-footer-med-text"><i>Sign up for our monthly newsletter for updates and information.</i></div>
        <div fxLayout="row">
          <dx-text-box [width]="150"></dx-text-box>
          <button mdbBtn color="primary" class="subscribe-btn waves-light" mdbWavesEffect (click)="onSubscribeClick()">Subscribe</button>
        </div> -->
      </div>
      <div engageLinks class="spa-footer-links">
        <a class="menu-link" [routerLink]="['/main/therapist/join']">APPLY AS THERAPIST</a>
        <a class="menu-link" [routerLink]="['/main/facility']">BECOME A LOCATION</a>
        <a class="menu-link" [routerLink]="['/main/facility']">NEWS</a>
        <a class="menu-link" [routerLink]="['/main/facility']">PRESS ENQUIRIES</a>
      </div>
    </spa-footer>
  </div>

<!--<div class="facility-pitch-wrapper" fxLayout="row" fxLayoutAlign="center center" >
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlex="50">
        <div class="facility-pitch-button" [ngClass]="{'active': selectedOne}" (click)="onClick()">
          <h1 class="centered">HOW IT WORKS</h1>
        </div>
        <div class="facility-pitch-button" [ngClass]="{'active': selectedTwo}" (click)="onClick()">
          <h1 class="centered">SIGN UP</h1>
        </div>
      </div>
      <div fxFlex="50">
        <div class="facility-pitch-display">
          <div class="pitch-text centered" *ngIf="selectedOne">
            <p>Resort Spas have empty treatment rooms 70% of the time.  Open your treatment rooms to Spa Space and allow customers to choose your space. </p>
            <p>Earn money on every service performed and be free from the burden of reservations and payroll management. </p>
            <p>Choose an admin for your location to manage your availability easily from your profile page.</p>
          </div>
          <div class="pitch-text" *ngIf="selectedTwo">
            <p>Just a few simple steps:</p>
            <p>1.	Location Profile fill out</p>
            <p>2.	Tutorial for opening rooms in the system. Sign our agreement</p>
            <p>3.	Payment Information</p>
            <p>4.	Application alerted to spa space admin and reviewed and accepted</p>
            <p><a class="nav-link text-dark" [routerLink]='["/authentication/register-facility-manager"]'>Start Now!</a></p>
          </div>
        </div>
      </div>
</div>-->
