:host {
    height: 100%;
    width: 100%;
}

.spa-facility-pitch {
  /*width: 100vw;*/
  width: 100%;
  height: 95vh;
  /*min-height: 300px;
  max-height: 900px;*/
  /*background-color: #757575;*/
}

.spa-facility-pitch-block {
  text-align: center;
  height: 100%;
  padding: 70px;
  margin-top: -150px;
}


.spa-facility-pitch-image {
  height: 100%;
  background-image: url("/spa/assets/images/Become-a-location-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: left top;*/
  background-position: center
}

/*.spa-space-pitch-1-block {
  width: 170px;
  height: 220px;
}

.spa-space-pitch-2-block {
  width: 500px;
  height: 200px;
}*/

.spa-facility-text-background-1 {
  background: rgba(255, 255, 255, 0.3);
}

.spa-facility-text-background-2 {
    padding: 0 25px;
  background: rgba(255, 255, 255, 0.6);
}



.spa-facility-text-large {
  /*text-align: left;*/
  color: #5a244c;
  font-size: 36px;
  font-size: calc(24px + (36 - 24) * ((100vw - 400px) / (1500 - 400)));
  font-weight: 600;
}

.spa-facility-text-medium {
  /*text-align: left;*/
  color: #5a244c;
  font-size: 34px;
  font-weight: 600;
}

.spa-facility-text-small {
  text-align: center;
  color: #5a244c;
  font-size: 22px;
  font-size: calc(16px + (22 - 16) * ((100vw - 400px) / (1500 - 400)));
  font-weight: 500;
  /*text-shadow: 1px 1px 2px #000000;*/
}

.apply-now-btn {
  width: 300px;
  font-size: 20px;
  font-weight: 500;
  width: calc(150px + (300 - 150) * ((100vw - 400px) / (1400 - 400)));
  font-size: calc(15px + (20 - 15) * ((100vw - 400px) / (1400 - 400)));
  /*padding: .6% .9% !important;*/
  padding: 10px 18px;
  /*text-align: left;*/
  text-transform: none !important;
  /*background-color: white !important;*/
}

.spa-facility-text-block {
  margin: 0 calc(10px + (80 - 10) * ((100vw - 400px) / (1500 - 400)));
}


@media (min-width: 1500px) {

  .spa-facility-text-large {
    font-size: 36px;
  }

  .spa-facility-text-small {
    font-size: 22px;
  }

  .apply-now-btn {
    width: 300px;
    font-size: 20px;
    padding: 10px 18px;
  }

}

@media (max-width: 600px) {

  .spa-facility-text-large {
    font-size: 24px;
  }

  .spa-facility-text-small {
    font-size: 16px;
  }

  .apply-now-btn {
    width: 150px;
    font-size: 15px;
    padding: 10px 18px;
  }

  .spa-facility-text-background-2 {
    padding: 0 5px;
    background: rgba(255, 255, 255, 0.6);
  }

}




/*@media (max-width: 730px) {

  .spa-space-pitch-2-block {
    width: 350px;
    height: 200px;
  }

  .spa-facility-text-medium {
    text-align: left;
    color: white;
    font-size: 26px;
    font-weight: 500;
  }

  .spa-facility-text-small {
    text-align: left;
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-shadow: 1px 1px 2px #000000;
  }
}*/






/*.facility-pitch-button {
  cursor: pointer;
  display: flex;
  width: 400px;
  height: 200px;
  background-color: #ECEFF1;
  border: solid 6px white;
  border-radius: 5px;
  opacity: 0.9;
  color: #90A4AE;
}

.facility-pitch-button::before {
  opacity: 0.2;
}

.facility-pitch-button.active {
  background-color: #CFD8DC;
  border-color: #B0BEC5;
  color: #455A64;
}

.facility-pitch-display {
  padding: 15px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
}

.facility-pitch-wrapper {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.facility-pitch-wrapper::before {
  background-image: url("/assets/images/chicago-spa-photo5.jpg");
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.8;
}

.centered {
  margin: auto; 
  text-align: center;
}

.pitch-text p {
  font-size: 22px;
  font-weight: 600;
  color: #607D8B;
}

p {
  margin: 15px 0;
}*/
