<div class="provider-pitch-page">
  <div class="provider-pitch-wrapper" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="25" fxFlex.lt-lg="5"></div>
    <div fxFlex="50" fxFlex.lt-lg="45" fxLayoutAlign="center center">
      <div class="provider-pitch-display">
        <div class="pitch-text centered">
          <div class="pitch-text-header">Submit Facility for Review</div>
          <!--<p>Work in a safe resort environment when you want, where you want, doing what you love.</p>
          <p>Finally an opportunity to provide therapeutic, quality, personalized treatments that allow your unique style and expertise to shine.</p>-->
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="click()" useSubmitBehavior="false">Submit for Review</button>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="25" fxFlex.lt-lg="5"></div>
  </div>
</div>

<dx-popup [showTitle]="true"
          width="500"
          height="430"
          title="Registration Submitted."
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="thanksPopupVisible"
          (onHidden)="onHidden()"
          titleTemplate="popup-title-template">

  <div *dxTemplate="let model of 'popup-title-template'" style="height: 50px;">
    <div fxLayout="row" fxLayoutAlign="start center" style="height: 100%;">
      <h3> Registration Submitted!</h3>
    </div>
  </div>


  <div *dxTemplate="let data of 'content'" style="height:100%; width: 100%;">
    <div style="width: 100%; height:100%;">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center" class="thank-you-block">
          <div style="font-size: 26px; margin: 10px 35px; text-align: center;">Thank you for submitting your facility for consideration to Spa Space!</div>
          <div style="font-size: 18px; margin: 10px; text-align: center;">
            Please expect to hear from us within 72 hours.  While our team verifies your information, 
            we encourage you to browse through our collection of luxury resorts and spa partners to 
            <i>Find Your Spa Space.</i>  Take the extra step and invite your clients to find theirs too - we know they'll thank you. 
          </div>
          <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="closePopup()" useSubmitBehavior="false">Close</button>
        </div>
      </div>
    </div>

  </div>

</dx-popup>
