<!--<div class="col-md-4 mt-2">
      <mdb-card cascade="true">
        <h4 class="card-title ml-2 mt-2">
          <strong>The W Hotel - Midtown</strong>
        </h4>
        <h5 class="ml-2" style="font-style: italic;">Atlanta, GA</h5>
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://cache.marriott.com/marriottassets/marriott/ATLMW/atlmw-spa-atlanta-6387-hor-clsc.jpg?"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <mdb-card-body cascade="true" class="text-center pb-0 px-0">
          
          <mdb-card-text>
            Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.
          </mdb-card-text>
          <div class="ml-2" style="text-align: left !important;">
            <mdb-icon fas icon="star" class="mr-1"></mdb-icon>5.0 (231)
            &nbsp;
            &nbsp;
            <mdb-icon fas icon="calendar" class="mr-1"></mdb-icon>123 appts.
          </div>
  
          <div class="card-footer text-muted text-center mt-4">
            <mdb-icon mdbTooltip="Hot Tub" fas icon="hot-tub" class="mr-1"></mdb-icon>
            <mdb-icon mdbTooltip="Valet Parking" fas icon="parking" class="mr-1"></mdb-icon>
            <mdb-icon mdbTooltip="Swimming Pool" fas icon="swimmer" class="mr-1"></mdb-icon>
            <mdb-icon mdbTooltip="Restaurant" fas icon="utensils" class="mr-1"></mdb-icon>
          </div>
  
        </mdb-card-body>
  
      </mdb-card>
    </div>-->

  <mdb-card>
    <mdb-card-title>
      <div class="facility-card-title">{{facilityForCard?.Name}}</div>
    </mdb-card-title>
    <div class="card-sub-title">
      <i>{{facilityForCard?.City}}, {{facilityForCard?.StateCode}}</i>      
    </div>
 
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img [src]="getFacilityImage()"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <mdb-card-body>
      <div fxLayout="row" fxFlex="100">
        <div  fxLayout="column" fxFlex="100" fxLayoutAlign="space-between">

          <div fxLayout="row">
            <div class="facility-card-desc">
              {{facilityForCard?.ShortDescription}}
            </div>
          </div>
          <div fxFlex="100"></div>


          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="row" fxLayoutAlign="start center">

              <div fxLayout="row" fxFlex="50" fxLayoutAlign="start center">
                <div><i class="fas fa-star"></i></div>
                <div class="facility-ratings-text">{{facilityForCard?.AverageRating}}</div>
                <div *ngIf="facilityForCard?.TotalRatings && (facilityForCard?.TotalRatings > 0)" class="facility-ratings-text">&nbsp;({{facilityForCard?.TotalRatings}})</div>
                <div *ngIf="!facilityForCard?.TotalRatings || (facilityForCard?.TotalRatings === 0)" class="facility-ratings-text">(0)</div>
              </div>

              <!--<ngb-rating [(rate)]="facilityForCard.AverageRating" [max]="max" [readonly]="true">
    <ng-template let-fill="fill" let-index="index">
      <span class="star" [class.filled]="fill === 100">&#9733;</span>
    </ng-template>
  </ngb-rating>
  <div *ngIf="facilityForCard?.TotalRatings && (facilityForCard?.TotalRatings > 0)" class="facility-ratings-text">&nbsp;({{facilityForCard?.TotalRatings}})</div>
  <div *ngIf="!facilityForCard?.TotalRatings || (facilityForCard?.TotalRatings === 0)" class="facility-ratings-text">(0)</div>-->
            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
              <div *ngIf="facilityForCard?.TotalAppointments && (facilityForCard?.TotalAppointments > 0)" class="facility-ratings-text"><i class="far fa-calendar-alt"></i>&nbsp;{{facilityForCard.TotalAppointments}} appts</div>
              <div *ngIf="!facilityForCard?.TotalAppointments || (facilityForCard?.TotalAppointments === 0)" class="facility-ratings-text"><i class="far fa-calendar-alt"></i>&nbsp;(0) appts</div>
            </div>
          </div>
        </div>
      </div>
    </mdb-card-body>

    <mdb-card-footer *ngIf="showFooter" class=" text-center">

      <spa-facility-amenity-row [amenities]="facilityForCard?.Amenities"></spa-facility-amenity-row>
      <!--<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" >
        <div fxLayout="column" fxLayoutAlign="center center" *ngFor="let amenity of facilityForCard.Amenities">
          <mdb-icon [mdbTooltip]="amenity.Name" fas [icon]="amenity.Icon" class="amentiy-icon"></mdb-icon>
        </div>
      </div>-->

    </mdb-card-footer>
  </mdb-card>
