.appointment-scroll {
  position: relative;
  /*height: 18rem;*/
  overflow: auto;
}

.appointment-list img.avatar {
  height: 2.5rem;
  width: 2.5rem;
}

.appointment-list .text-small {
  font-size: 0.88rem;
}

.appointment-list .text-smaller {
  font-size: 0.74rem;
}

.appointment-list  li {
  border-bottom: 1px solid #e0e0e0;
}
