
<div style="max-height: 500px;">
  <mdb-card class="appointment-list appointment-scroll">
    <!--<div class="appointment-scroll">-->
      <mdb-card-body class="p-0">
        <!-- Grid row -->
        <div>

          <!-- Grid column -->
          <div class="px-0">

            <div class="white z-depth-1 ">
              <div *ngIf="!appointments" style="background-color: #d3dbde; height: 60px; text-align: center; vertical-align: central; padding-top: 20px;">No appointments found.</div>
              <ul *ngIf="appointments" class="list-unstyled friend-list m-0">
                <li *ngFor="let appointment of appointments" class="p-2">
                  <a (click)="itemClicked(appointment.UID)" fxLayout="column" fxFlex="100">
                    <div class="text-small" fxLayout="row" fxLayoutAlign="space-between">
                      <strong>{{appointment.StartDateTime | date:'L/dd'}} - {{appointment.StartDateTime | date:'shortTime'}}</strong>
                      <strong>{{appointment.Customer}}</strong>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between start">
                      <img [src]="getClientImage(appointment.CustomerUID)" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                      <div class="text-small">
                        <div class="facility-block">{{appointment.Facilty}}</div>
                        <div class="service-block">{{appointment.Service}}</div>                        
                      </div>
                    </div>
                    

                    <div class="chat-footer">
                    </div>
                  </a>
                </li>
              </ul>
            </div>

          </div>
          <!-- Grid column -->
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </mdb-card-body>
    <!--</div>-->

  </mdb-card>

</div>


<div mdbModal #appointmentModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" (closed)="onClosed($event)">
  
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="appointmentModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <!--<h4 class="modal-title" id="myModalLabel">Appointment</h4>-->
      </div>
      <!--<spa-therapist-appointment-detail *ngIf="appointmentPopupVisible" [appointmentUID]="appointmentUID" [therapistUID]="therapist.UID"></spa-therapist-appointment-detail>-->
      <spa-therapist-appointment-detail *ngIf="appointmentPopupVisible" [appointmentUID]="appointmentUID" [therapistUID]="therapistUID" (appointmentSelected)="onAppointmentSelected($event)"></spa-therapist-appointment-detail>
    </div>
  </div>
</div>
