<!-- Nav Tabs -->
<mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3 bg-primary'" [contentClass]="'card'" class="spa-tabs-class">
  <!--Panel 1-->
  <mdb-tab heading="Profile">
    <spa-facility-profile-edit [facility]="facility" [runAsStep]="false" [canEdit]="true" [showSaveButton]="true"></spa-facility-profile-edit>
  </mdb-tab>
  <!--Panel 2-->
  <mdb-tab heading="Amenities">
    <spa-facility-amenities-edit [runAsStep]="false" [facilityUID]="facility.UID" [canEdit]="true"></spa-facility-amenities-edit>
  </mdb-tab>
  <!--Panel 3-->
  <mdb-tab heading="Therapist Info">
    <spa-facility-info-edit [runAsStep]="false" [facilityUID]="facility.UID" [showSaveButton]="true"></spa-facility-info-edit>
  </mdb-tab>
  <mdb-tab heading="Images">
    <spa-facility-images-edit [runAsStep]="false" [facilityUID]="facility.UID"></spa-facility-images-edit>
  </mdb-tab>
</mdb-tabset>
