h3, h2 {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.container {
  margin-top: 15px;
  min-width: 350px;
  max-width: 500px;
}

.service-box {
  padding: 0 5px;
  padding-bottom: 7px;
  //padding-right: 25px;
  //width: 250px;
  //height: 70px;
  //background-color: #CFD8DC;
  border-radius: 10px;
  border: 2px solid #E0E0E0;
  color: black;
  /*line-height: 50px;*/
  text-align: center;
  margin: 20px 0;

  .header-text {
    color: #78909C;
    font-size: 20px;
    font-weight: 600;
    margin: 8px 0;
  }

  p {
    //line-height: 16px;
    font-size: 16px;
  }
}

@media (max-width:900px) {

  .container {
    margin-top: 15px;
    width: 350px;
    min-width: 300px;
  }

  .service-box {
    .header-text {
      font-size: 18px;
    }

    p {
      //line-height: 16px;
      font-size: 15px;
    }
  }
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
