<div class="container">
  <div fxLayout="column" fxLayoutAlign="center">
    <div *ngFor="let item of categories">
      <div>

      </div>
      <div *ngIf="item.Services.length > 0">
        <h2>{{item.Name}}</h2>
        <hr />
        <div *ngFor="let service of item.Services">
          <div class="service-box">
            <a (click)="selectService(service.UID)" class="header-text">{{ service.Name }}</a>
            <p>{{ service.Description }}</p>
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="selectService(service.UID)">
              Select
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<cust-login-dialog [popupVisible]="popupVisible" (continueClick)="continueClick()" (loginClick)="loginClick()"></cust-login-dialog>

