<mdb-card>
  <mdb-card-body>
    <div fxLayout="row" fxFlex="100">
      <div fxLayout="column" fxFlex="100">
        <img class="me-time-image" [src]="getTherapistImage()" alt="">
        <div class="therapist-description-block" fxLayout="column" fxFlex="100" fxLayoutAlign="space-evenly start">

          <div class="therapist-header">{{therapist?.Name}}</div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <i class="fas fa-map-marker-alt"></i>
            <div>{{therapist?.Location}}</div>
          </div>          

          <div fxLayout="row" fxLayoutAlign="start center">

            <div fxLayout="row" fxFlex="50" fxLayoutAlign="start center">
              <div><i class="fas fa-star"></i></div>
              <div>{{therapist?.AverageRating}}</div>
              <div *ngIf="therapist?.TotalRatings && (therapist?.TotalRatings > 0)">&nbsp;({{therapist?.TotalRatings}})</div>
              <div *ngIf="!therapist?.TotalRatings || (therapist?.TotalRatings === 0)">(0)</div>
            </div>

          </div>
          <div fxLayoutAlign="start center" *ngIf="therapist.TotalAppointments && (therapist.TotalAppointments > 0)"><i class="far fa-calendar-check"></i>&nbsp;{{therapist.TotalAppointments}} massages</div>

        </div>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>
