/*:host {
  height: 100%;
  width: 100%;
}

mdb-card {
  height: 100%;
  width: 100%;

}*/

/*:host {
  padding: 0;
  width: 200px;
  height: 270px;
  max-width: 200px;
  margin-bottom: 15px;
}*/

.card-body {
  padding: 0;
}

mdb-card {
  width: 150px;
  height: 300px;
  margin-bottom: 30px !important;
}

.vs-card {
  color: #fff;

  p {
    color: #1d4946;
  }
}

.star {
  font-size: 1.1rem;
  color: #c9d7e8;
}

.filled {
  color: #ffcc00;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.review-line {
  font-size: 11px;
}

/*fa-icon {
  font-size: 1rem;
  color: white;
  background-color: #4DB6AC;
  margin: 5px;
  padding: 0 3px 0 3px;
}*/

img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}


.therapist-bottom-block {
  border-top: 1px solid lightgray;
  padding: 10px;
}

.therapist-header {
  font-size: 16px;
  font-weight: 600;
}

.therapist-detail {
  font-size: 20px;
  font-weight: 500;
}

.therapist-ratings-text {
  font-size: 15px;
  font-weight: 500;
}

.therapist-description-block {
    font-size: 14px;
    font-weight: 500;
  padding: 10px;
}

i {
    margin: 0 5px;
}
