<div class="container appointment-summary-container">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
    <div fxLayout="column" fxFlex="50">
      <div fxLayout="row">
        <div>{{appointment.TreatmentArea}}</div>
        <!--<div>{{cost1}}</div>-->
      </div>
      <div fxLayout="row">
        <div>{{appointment.Service}}</div>
        <!--<div>{{cost1}}</div>-->
      </div>
      <!--<div fxLayout="row">
        <div>{{addon1}}</div>
        <div>{{cost1}}</div>
      </div>
      <div fxLayout="row">
        <div>{{addon1}}</div>
        <div>{{cost1}}</div>
      </div>
      <div fxLayout="row">
        <div>Total:</div>
        <div>{{total}}</div>
      </div>-->
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div fxLayout="column" fxFlex="50">
      <div>{{appointment.Facilty}}</div>
      <!--<div>{{appointment.Facilty.Address1}}</div>-->
      <!--<div>{{appointment.Facilty.City}}, {{appointment.Facilty.State}}</div>-->
      <div>{{appointment.Customer}}</div>
      <!--<div>{{appointment.Customer.Rating}}</div>-->
    </div>
  </div>
</div>
