<div class="main-nav-bar">
  <div fxLayout="row" fxLayoutAlign="start center" style="height:100%">
    <div >
      <dx-button fxHide.gt-xs class="menu-button"
                 icon="menu"
                 (onClick)="sendClick()">
      </dx-button>
    </div>
    <a class="navbar-brand" (click)="goHome()"><img src="assets/images/SpaSpace_logo_text.png" alt="" width="240"></a>
    <ng-content></ng-content>
  </div>
</div>

