a.navbar-brand {
    margin-left: 1rem;
  /*white-space: normal;
  text-align: center;
  word-break: normal;
  color: white;
  font-size: 40px;*/  
}

mat-toolbar {
  background-color: white;
  min-height: 80px;
  border-bottom: solid 1px #E0E0E0;
}

/*a.navbar-brand:hover {
  color: theme-primary-light;
}*/
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

::ng-deep .navbar {
  min-height: 80px !important;
  background-color: white;
}

::ng-deep a.nav-link.text-light {
  font-size: 20px;
}

.link-active {
  text-decoration: underline;
}

.main-nav-bar {
  height: 80px;
  min-height: 80px;
  margin: 0 20px;
}

.menu-link {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.vl {
  margin: 0 15px;
  border-right: 1px solid gray;
  height: 15px;
}


.spa-nav-bar-item {
  display: grid;
  text-align: center;
  /*margin-right:40px;*/
}

.spa-nav-bar-item:hover {
  cursor: pointer;
}


@media (max-width:1170px) {
  .main-nav-bar {
    height: 70px;
    min-height: 70px;
    margin: 0 15px;
  }
}


@media (max-width:1070px) {
  .main-nav-bar {
    height: 60px;
    min-height: 60px;
    margin: 0 10px;
  }
}
