::ng-deep .appointment-title-date {
  font-size: 22px;
  font-size: calc(17px + (22 - 17) * ((100vw - 400px) / (1500 - 400))) !important;
  font-weight: 400;
}

::ng-deep .appointment-title-time {
  font-size: 18px;
  font-size: calc(16px + (18 - 16) * ((100vw - 400px) / (1500 - 400))) !important;
  font-weight: 400;
}

::ng-deep .appointment-title-facility {
  font-size: 22px;
  font-size: calc(17px + (22 - 17) * ((100vw - 400px) / (1500 - 400))) !important;
  font-weight: 400;
  text-align: center;
}

::ng-deep .dx-overlay-content {
  width: auto;
  height: auto;
}

::ng-deep .appointment-title-container {
  margin: 8px 0;
}


::ng-deep .appointment-preview {
    font-size: 12px;
    word-wrap: break-word;
    width: 100%;
}

::ng-deep .appointment-dates {
  font-size: 10px;
}


::ng-deep .dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
  padding: 14px;
}

::ng-deep .showtime-preview > div:first-child {
  font-size: 12px;
  white-space: normal;
}

::ng-deep .showtime-preview > div:not(:first-child) {
  font-size: 11px;
  white-space: normal;
}

::ng-deep .movie-tooltip .movie-info {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  text-align: left;
}

::ng-deep .movie-tooltip img {
  height: 80px;
  margin-bottom: 10px;
}

::ng-deep .movie-tooltip .movie-title {
  font-size: 1.5em;
  line-height: 40px;
}

::ng-deep .long-title h3 {
  /*font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;*/
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.modal-content {
    max-height: 90vh;
}

.modal-body {
    height: 100%;
}

.appointment-scroll {
  position: relative;
  /*height: 18rem;*/
  overflow: auto;
}

::ng-deep .cdk-overlay-container {
  z-index: 1800 !important;
}

::ng-deep #scheduler .dx-scheduler-cell-sizes-horizontal {
  min-width: 80px;
}



::ng-deep .dx-scheduler-date-table-other-month.dx-scheduler-date-table-cell {
  opacity: 1;
  color: rgba(0, 0, 0, 0.3);
}

::ng-deep .dx-scheduler-group-header-content, ::ng-deep .dx-scheduler-date-table-cell {
  position: relative;
}

::ng-deep .dx-scheduler-date-table-cell .dx-template-wrapper {
  /*position: absolute;*/
  height: 100%;
  width: 100%;
}

::ng-deep .avatar {
  width: 155px;
  float: left;
  overflow: hidden;
  position: relative;
  height: 125px;
}

::ng-deep .name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

::ng-deep .name h2 {
  color: #fff;
  text-align: left;
  padding: 0 0 5px 175px;
  margin: 0;
}

::ng-deep .dx-theme-material .name h2 {
  font-size: 28px;
}

::ng-deep .info {
  width: auto;
  text-align: left;
  height: 100%;
  font-size: 11pt;
  font-weight: normal;
  padding: 25px 20px;
}

::ng-deep .userInfo div {
  margin: 20px;
}

::ng-deep .day-cell {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

::ng-deep .employee-weekend-1 {
  background-color: #ECEFF1;
}
