<div class="container">
  <div style="width: 100%; min-height: 600px">
    <br />
    <div class="long-title">
      <h3>Appointments</h3>
    </div>
    <dx-scheduler id="scheduler" #scheduler
                  [dataSource]="schedule.Schedule"
                  [views]="['day', 'week', 'timelineDay', 'month']"
                  currentView="week"
                  endDateExpr="EndDateTime"
                  startDateExpr="StartDateTime"
                  [firstDayOfWeek]="0"
                  [startDayHour]="5"
                  [endDayHour]="23"
                  [showAllDayPanel]="false"
                  [currentDate]="currentDate"
                  [min]="minDate"
                  [max]="maxDate"
                  [crossScrollingEnabled]="true"
                  [adaptivityEnabled]="true"
                  [cellDuration]="60"
                  [height]="600"
                  width="100%"
                   crossScrollingEnabled="true"
                  appointmentTemplate="appointment-template"
                  appointmentTooltipTemplate="tooltip-template"
                  dataCellTemplate="dataCellTemplate"
                  (onAppointmentClick)="onAppointmentClick($event)"
                  (onAppointmentFormOpening)="onAppointmentFormOpening($event)">


      <dxo-editing [allowAdding]="false"
                   [allowDeleting]="false"
                   [allowUpdating]="false"
                   [allowDragging]="false"
                   [allowResizing]="false">

      </dxo-editing>

      <!--<dxi-resource fieldExpr="Name"
                    [useColorAsDefault]="true"
                    [dataSource]="facswcolor"
                    colorExpr="Color">
      </dxi-resource>-->

      <div *dxTemplate="let cellData of 'dataCellTemplate'" [ngClass]="markWeekEnd(cellData)">
        <div class='day-cell'>{{cellData.text}}</div>
      </div>

      <div *dxTemplate="let model of 'appointment-template'">
        <div class='appointment-preview'>
          <div>{{model.appointmentData.Facilty}}</div>
          <div>{{model.appointmentData.Customer}}</div>
          <div class='appointment-dates'>
            {{(model.appointmentData.StartDateTime | date:'shortTime') + ' - ' + (model.appointmentData.EndDateTime | date:'shortTime')}}
          </div>
        </div>
      </div>

      <div *dxTemplate="let model of 'tooltip-template'">
        <div class='movie-tooltip'>
          <div>{{model.appointmentData.Facilty}}</div>
          <div>{{model.appointmentData.TreatmentArea}}</div>
          <div>{{model.appointmentData.Service}}</div>
          <div>{{model.appointmentData.Customer}}</div>
          <div>{{(model.appointmentData.StartDateTime | date:'shortTime') + ' - ' + (model.appointmentData.EndDateTime | date:'shortTime')}}</div>
        </div>
      </div>
    </dx-scheduler>

  </div>
</div>

<div mdbModal #frame="mdbModal" class="modal fade left" #appointmentModal id="appointmentModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center" fxLayout="row" fxFlex="100">
        <div class="appointment-title-container" fxLayout="row" fxFlex="100">
          <div fxLayout="row" fxFlex="100" fxLayoutGap="20px" fxLayoutAlign="start">
            <div fxLayout="column" fxLayoutAlign="start" fxFlex="40">
              <div class="appointment-title-date">{{(selectedAppointment?.StartDateTime | date:'EEEE MMM d')}}</div>
              <div class="appointment-title-time">{{(selectedAppointment?.StartDateTime | date:'shortTime') + ' - ' + (selectedAppointment?.EndDateTime | date:'shortTime')}}</div>
            </div>
            <div fxLayoutAlign="start center" fxFlex="60">
              <div class="appointment-title-facility">{{selectedAppointment?.Facilty}}</div>
            </div>
          </div>

        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3 appointment-scroll">
        <spa-therapist-appointment-detail [appointmentUID]="selectedAppointment?.UID" [therapistUID]="therapistUID" (appointmentSelected)="appointmentSelected($event)"></spa-therapist-appointment-detail>
      </div>
    </div>
  </div>

</div>
