<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="column">
    <div fxFlex="30" fxFlex.lt-md="100" class="spa-label-small">Treatment Room</div>
    <div fxFlex="70" fxFlex.lt-md="100" class="spa-text pl-2">{{treatmentRoom}}</div>
  </div>
  <div fxLayout="column" fxLayout.lt-md="column">
    <div fxFlex="30" fxFlex.lt-md="100" class="spa-label-small">Uniform</div>
    <div fxFlex="70" fxFlex.lt-md="100" class="spa-text pl-2">{{uniformInfo}}</div>
  </div>
  <div fxLayout="column" fxLayout.lt-md="column">
    <div fxFlex="30" fxFlex.lt-md="100" class="spa-label-small">Parking Information</div>
    <div fxFlex="70" fxFlex.lt-md="100" class="spa-text pl-2">{{parkingInfo}}</div>
  </div>
  <div fxLayout="column" fxLayout.lt-md="column">
    <div fxFlex="30" fxFlex.lt-md="100" class="spa-label-small">Checkin Information</div>
    <div fxFlex="70" fxFlex.lt-md="100" class="spa-text pl-2">{{checkInInfo}}</div>
  </div>
  <div fxLayout="column" fxLayout.lt-md="column">
    <div fxFlex="30" fxFlex.lt-md="100" class="spa-label-small">Additional Information</div>
    <div fxFlex="70" fxFlex.lt-md="100" class="spa-text pl-2">{{additionalInfo}}</div>
  </div>
</div>
