<!--<div class="cust-results-bar">
  <div >
    <div fxLayout="row" fxLayoutAlign="center">-->
<!--<div class="swiper-container" [swiper]="swiperConfig" [(index)]="index">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let item of therapists">
      <spa-therapist-card [therapist]="item" (click)="therapistClick($event)" (loaded)="cardLoaded()"></spa-therapist-card>
    </div>
  </div>

  <div class="swiper-pagination"></div>

</div>-->
<!--</div>
  </div>
</div>-->
<!--<swiper [config]="config">
  <div *ngFor="let item of therapists">
    <spa-therapist-card [therapist]="item" (click)="therapistClick($event)" (loaded)="cardLoaded()"></spa-therapist-card>
  </div>
</swiper>-->
<!--<div class="swiper-container" [swiper]="config" [(index)]="index">
  <div class="swiper-wrapper">
    <spa-therapist-card class="swiper-slide" *ngFor="let item of therapists" [therapist]="item" (click)="therapistClick($event)" (loaded)="cardLoaded()"></spa-therapist-card>
  </div>
</div>-->
<!--<mdb-carousel [allowSwipe]="true" [isControls]="false" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
              [animation]="'slide'" [interval]="'0'">
  <mdb-carousel-item *ngFor="let item of therapists; let i = index">
    <spa-therapist-card [therapist]="item" (click)="therapistClick($event)" (loaded)="cardLoaded()"></spa-therapist-card>
  </mdb-carousel-item>
</mdb-carousel>-->
<!--<swiper fxFlex="auto" [config]="config" [(index)]="index">
  <div *ngFor="let item of therapists; let index = index"  class="swiper-slide" >
    <spa-therapist-card [therapist]="item" (click)="therapistClick($event)" (loaded)="cardLoaded()"></spa-therapist-card>
  </div>
</swiper>-->

<div class="cust-results-bar">
  <div style="width:100%">
    <div fxLayout="row wrap"  fxLayoutAlign="start space-between" fxLayoutAlign.lt-md="center" fxLayoutGap="30px" fxLayoutGap.lt-md="0px">
      <div fxLayout="column" *ngFor="let item of therapists">
        <spa-therapist-card [therapist]="item" (click)="therapistClick($event)" (loaded)="cardLoaded()"></spa-therapist-card>
      </div>
    </div>
  </div>
</div>
