<form [formGroup]="therapistInfoForm" (ngSubmit)="onSave()">
  <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%;" fxLayoutGap="20px">

    <div fxLayout="row" fxLayoutAlign="space-evenly" fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px" style="width:100%">
      <div fxLayout="column" fxFlex="50">
        <div fxLayoutAlign="start center">
          <div class="spa-form-label">Parking Info:</div>
        </div>
        <div fxLayoutAlign="start center">
          <dx-text-area [height]="150"
                        width="100%"
                        stylingMode="filled"
                        formControlName="ParkingInfo">
          </dx-text-area>
        </div>
      </div>
      <div fxLayout="column" fxFlex="50">
        <div fxLayoutAlign="start center">
          <div class="spa-form-label">Uniform Info:</div>
        </div>
        <div fxLayoutAlign="start center">
          <dx-text-area [height]="150"
                        width="100%"
                        stylingMode="filled"
                        formControlName="UniformInfo">
          </dx-text-area>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly" fxLayout.lt-md="column" fxLayoutGap.gt-sm="20px" style="width:100%">
      <div fxLayout="column" fxFlex="50">
        <div fxLayoutAlign="start center">
          <div class="spa-form-label">CheckIn Info:</div>
        </div>
        <div fxLayoutAlign="start center">
          <dx-text-area [height]="150"
                        width="100%"
                        stylingMode="filled"
                        formControlName="CheckInInfo">
          </dx-text-area>
        </div>
      </div>
      <div fxLayout="column" fxFlex="50">
        <div fxLayoutAlign="start center">
          <div class="spa-form-label">Additional Info:</div>
        </div>
        <div fxLayoutAlign="start center">
          <dx-text-area [height]="150"
                        width="100%"
                        stylingMode="filled"
                        formControlName="AdditionalInfo">
          </dx-text-area>
        </div>
      </div>
    </div>



    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
      <button mdbBtn color="primary" class="main-book-btn waves-light" useSubmitBehavior="true">
        Save
      </button>
    </div>
  </div>
</form>
