<div mdbModal #frame="mdbModal" class="modal fade left" #certificationModal id="certificationModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose()" [config]="modalConfig">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="example-form" [formGroup]="certificationForm" (ngSubmit)="onSave()">
          <div fxLayout="column" fxFlex="100" fxLayoutAlign="center start">

            <mat-form-field class="form-field-full-width">
              <mat-label>Name</mat-label>
              <input matInput formControlName="Name" >
              <mat-error *ngIf="certificationForm.get('Name').hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field-full-width">
              <mat-label>Description</mat-label>
              <input matInput formControlName="Description">
              <mat-error *ngIf="certificationForm.get('Description').hasError('required')">
                Description is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field-full-width">
              <mat-label>Certifying Organization</mat-label>
              <input matInput formControlName="CertifyingOrganization">
              <mat-error *ngIf="certificationForm.get('CertifyingOrganization').hasError('required')">
                Certifying Organization is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Certification Date</mat-label>
              <input matInput [matDatepicker]="dp" formControlName="CertificateDate">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
              <mat-error *ngIf="certificationForm.get('CertificateDate').hasError('required')">
                Certificate Date is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!--<mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="CertificateDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>-->
            <!--<mat-form-field>
    <mat-label>Certificate Date</mat-label>
    <mdb-date-picker name="mydate" [options]="myDatePickerOptions" [placeholder]="'Selected date'" formControlName="CertificateDate" required></mdb-date-picker>
  </mat-form-field>-->
            <!--<mat-form-field>
    <mat-label>Certificate Date</mat-label>
    <input type="date" id="input" formControlName="CertificateDate" matInput>

    <mat-error *ngIf="certificationForm.get('CertificateDate').hasError('required')">
      Certificate Date is <strong>required</strong>
    </mat-error>
  </mat-form-field>-->

          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSave()">
          Save
        </button>
        <button mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="onClose()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
