.client-block {
  display: flex;
  max-width: 280px;
  min-width: 200px;
  height: 80px;
  background-color: white;
}

.client-detail {
    padding: 8px;
}

.client-image {
  width: 80px;
  overflow:hidden;

  img {
    height: 80px;
  }
}

.facility-ratings-text {
  font-size: 14px;
  font-weight: 600;
}
