<div fxLayout="row" class="client-block spa-shadow">
  <div fxFlex="80px" class="client-image">
    <img [src]="getPhotoUrl()" alt="client image">
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between" fxFlex="100" class="client-detail">
    <div fxLayout="column">
      <div class="spa-label-small">Client</div>
      <div class="spa-text">{{name}}</div>
    </div>    
    <div class="facility-ratings-text"><i class="far fa-calendar-alt"></i>&nbsp;({{totalAppointments}}) appts</div>
  </div>
</div>
