<div mdbModal #frame="mdbModal" class="modal fade left" #compensationModal id="compensationModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-3">
        <form class="example-form" [formGroup]="compensationForm" (ngSubmit)="onSave()">
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
            <div fxLayout="column" fxFlex="100" fxLayoutGap="10px" fxLayoutAlign="center center">

              <mat-form-field *ngIf="(!this.compensation?.UID || this.compensation?.UID.length == 0)">
                <mat-label>Service</mat-label>
                <mat-select formControlName="ServiceUID">
                  <mat-option *ngFor="let service of services" [value]="service.UID">
                    {{service.Name}}
                  </mat-option>
                </mat-select>
                <!--<mat-error *ngIf="compensationForm.get('ServiceUID').hasError('required')">
      Service is <strong>required</strong>
    </mat-error>-->
              </mat-form-field>

              <mat-form-field *ngIf="(this.compensation?.UID && this.compensation?.UID.length > 0)" class="form-field-full-width">
                <mat-label>Service Name</mat-label>
                <input matInput formControlName="Service">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Flat Rate</mat-label>
                <!--<input matInput type="number" formControlName="FacilityFlatRate">-->
                <input matInput currencyMask [options]="{ precision: 0, allowNegative: false }" formControlName="FlatRate">
                <mat-error *ngIf="compensationForm.get('FlatRate').hasError('notEitherOr')">
                  Enter Therapist Flat Rate or % of Base
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>% of Base</mat-label>
                <input matInput type="number" formControlName="PercentOfBase" style="text-align: right;">
                <span matSuffix>%</span>
                <mat-error *ngIf="compensationForm.get('PercentOfBase').hasError('notEitherOr')">
                  Enter Therapist Flat Rate or % of Base
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>% Of Service Charge</mat-label>
                <input matInput type="number" formControlName="PercentOfServiceCharge" style="text-align: right;">
                <span matSuffix>%</span>
                <!--<mat-error *ngIf="compensationForm.get('TherapistPercentOfServiceCharge').hasError('required')">
      Therapist Percent Of Service Charge is <strong>required</strong>
    </mat-error>-->
              </mat-form-field>

            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onSave()">
          Save
        </button>
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onClose()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
