.provider-pitch-wrapper {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 70vh;
  position: relative;
}

.provider-pitch-wrapper::before {
  /*background-image: url("/assets/images/chicago-spa-photo2e.jpg");*/

  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  /*opacity: 0.6;*/
}

.provider-pitch-background {
  background-image: url("/spa/assets/images/Become-a-therapist-background.jpg");
  background-size: cover;
}

@media (max-width: 600px) {

  .provider-pitch-background {
    /*background-image: url("/assets/images/home-background_mobile.jpg");*/
    /*background-size: 1000px;*/
    /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
    background-repeat: no-repeat;
    /*background-position-x: calc(100vh + 100vw - 1100px);*/
    background-position-x: calc(100px - 100vw);
  }
}

@media (max-width: 800px) and (min-width: 500px) {

  .provider-pitch-background {
    /*background-image: url("/assets/images/home-background_mobile.jpg");*/
    /*background-size: 1000px;*/
    /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
    background-repeat: no-repeat;
    /*background-position-x: calc(100vh + 100vw - 1100px);*/
    background-position-x: calc(500px - 100vw);
  }
}

@media (max-width: 800px) and (max-height: 1100px) and (min-width: 500px) {

  .provider-pitch-background {
    /*background-image: url("/assets/images/home-background_mobile.jpg");*/
    /*background-size: 1000px;*/
    /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
    background-repeat: no-repeat;
    /*background-position-x: calc(100vh + 100vw - 1100px);*/
    background-position-x: calc(500px - 100vw);
  }
}

@media (max-width: 1100px) and (max-height: 1400px) and (min-width: 500px) {

  .provider-pitch-background {
    /*background-image: url("/assets/images/home-background_mobile.jpg");*/
    /*background-size: 1000px;*/
    /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
    background-repeat: no-repeat;
    /*background-position-x: calc(100vh + 100vw - 1100px);*/
    background-position-x: calc(500px - 100vw);
  }
}

@media (max-width: 1100px) and (max-height: 1400px) and (min-width: 500px) {

  .provider-pitch-background {
    /*background-image: url("/assets/images/home-background_mobile.jpg");*/
    /*background-size: 1000px;*/
    /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
    background-repeat: no-repeat;
    /*background-position-x: calc(100vh + 100vw - 1100px);*/
    background-position-x: calc(500px - 100vw);
  }
}

@media (max-width: 1100px) and (max-height: 800px) and (min-width: 500px) {

  .provider-pitch-background {
    /*background-image: url("/assets/images/home-background_mobile.jpg");*/
    /*background-size: 1000px;*/
    /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
    background-repeat: no-repeat;
    /*background-position-x: calc(100vh + 100vw - 1100px);*/
    background-position-x: calc(800px - 100vw);
  }
}
