<div mdbModal #frame="mdbModal" class="modal fade left" #passwordModal id="passwordModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Change Password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="example-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">

            <mat-form-field class="form-field-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password">
              <mat-error *ngIf="resetPasswordForm.controls.password.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
              <!--<mat-error *ngIf="resetPasswordForm.controls.password.hasError('notMatched')">
                Passwords do not match
              </mat-error>-->
            </mat-form-field>

            <mat-form-field class="form-field-full-width">
              <mat-label>Confirm Password</mat-label>
              <input type="password" matInput formControlName="confirm">
              <mat-error *ngIf="resetPasswordForm.controls.confirm.hasError('required')">
                Confirm Password is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="resetPasswordForm.controls.confirm.hasError('notMatched')">
                Passwords do not match
              </mat-error>
            </mat-form-field>

          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSubmit()">
          Submit
        </button>
        <button type="button" mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="onClose()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
