<div class="main-book-block">
  <div fxLayout="row">
    <div fxFlex="100" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="height: 100%">
      <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%;">

        <!--<button mdbBtn color="primary" outline="true" class="main-book-btn waves-light" mdbWavesEffect [routerLink]="['/portal/byLocation']">
    <i class="fas fa-map-marker-alt book-left-icon"></i>
    Book by Location
    <i class="fas fa-chevron-right book-right-icon"></i>
  </button>

  <mat-datepicker #picker></mat-datepicker>
  <button mdbBtn color="primary" outline="true" class="main-book-btn waves-light" mdbWavesEffect (click)="picker.open()">
    <i class="far fa-calendar-alt book-left-icon"></i>
    Book by Date
    <i class="fas fa-chevron-right book-right-icon"></i>
  </button>
  <button mdbBtn color="primary" outline="true" class="main-book-btn waves-light" mdbWavesEffect [routerLink]="['/portal/byTherapist']">
    <i class="far fa-user book-left-icon"></i>
    Book by Therapist
    <i class="fas fa-chevron-right book-right-icon"></i>
  </button>-->

        <button mdbBtn color="primary" class="main-book-btn waves-light" mdbWavesEffect (click)="picker.open()">
          Book Now
        </button>
        <mat-datepicker #picker></mat-datepicker>
        <input matInput [matDatepicker]="picker" [min]="minSelectableDate" placeholder="Choose a date" style="visibility: hidden; width: 1px; height: 1px;" (dateChange)="dateChange($event)">
      </div>
    </div>
  </div>
</div>
