
.main-book-btn {
  width: 300px;
  font-size: 20px !important;
  font-weight: 500;
  width: calc(150px + (300 - 150) * ((100vw - 400px) / (1400 - 400))) !important;
  font-size: calc(15px + (20 - 15) * ((100vw - 400px) / (1400 - 400))) !important;
  /*padding: .6% .9% !important;*/
  padding: 10px 18px;
  /*text-align: left;*/
  text-transform: none !important;
  /*background-color: white !important;*/
}

.book-left-icon {
  font-size: 1.6rem !important;
  font-size: calc(17px + (20 - 17) * ((100vw - 400px) / (1400 - 400))) !important;
  float: left;
  padding-top: 5px;
  padding-right: 15px;
}

.book-right-icon {
  font-size: 1.6rem !important;
  font-size: calc(17px + (20 - 17) * ((100vw - 400px) / (1400 - 400))) !important;
  padding-top: 5px;
  float: right;
}


@media (max-width:1295px) {
  /*.main-book-block {
    width: 400px;
  }*/

  /*.main-book-btn {
    width: 280px;
    font-size: 18px !important;
    padding: 10px 18px;
  }*/
}

@media (max-width:1050px) {
  /*.main-book-block {
    width: 325px;
  }*/

  /*.main-book-btn {
    width: 280px;
    font-size: 18px !important;
    padding: 10px 18px;
  }*/

  /*.book-left-icon {
    font-size: 1.4rem !important;
    float: left;
  }

  .book-right-icon {
    font-size: 1.4rem !important;
    float: right;
  }*/

}


@media (max-width:600px) {
  /*.main-book-block {
    width: 320px;
    margin-bottom: 35px;
  }*/

  .main-book-btn {
    font-weight: 600;
  }

  /*.book-left-icon {
    font-size: 1.2rem !important;
    float: left;
  }

  .book-right-icon {
    font-size: 1.2rem !important;
    float: right;
  }*/

}
