<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <div fxFlex="50">
    <div fxLayout="column">
      <cust-needs-button-sm [(selected)]="focusArea.Fullbody">Full Body</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="focusArea.Feet">Feet</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="focusArea.ArmsHands">Arms/Hands</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="focusArea.UpperBack">Upper Back</cust-needs-button-sm>
    </div>
  </div>
  <div fxFlex="50">
    <div fxLayout="column">
      <cust-needs-button-sm [(selected)]="focusArea.LowerBack">Lower Back</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="focusArea.MusclesOfHeadAndFace">Muscles Of Head And Face</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="focusArea.NeckShoulders">Neck Shoulders</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="focusArea.Legs">Legs</cust-needs-button-sm>
    </div>
  </div>
</div>
<br />
<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <span>Pressure</span>
  <mat-slider class="example-margin"
              max=5
              min=0
              step=1
              tickInterval=1
              [(ngModel)]="value">
  </mat-slider>
</div>
