<mat-horizontal-stepper #stepper id="stepper" labelPosition="bottom" linear (selectionChange)="selectionChange($event)">
  <mat-step label="Enter Personal Info" [completed]="stepIsComplete[0]">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="180px"></div>
      <div fxFlex="100" fxLayoutAlign="center">
        <div class="spa-stepper-error">{{errorMessage}}</div>
      </div>
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="next(0)" useSubmitBehavior="false">Next <i class="fas fa-arrow-right ml-1"></i></button>
      </div>
    </div>
    <div class="container">
      <spa-therapist-personal-edit [showSaveButton]="false"
                                   [canEdit]="canEdit"
                                   [canSubmit]="false"
                                   [therapistProfile]="therapist"
                                   [stepNumber]="0"
                                   [runAsStep]="true"></spa-therapist-personal-edit>
    </div>
  </mat-step>
  <!--<mat-step label="Skill Levels" [completed]="stepIsComplete[1]">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="back()" useSubmitBehavior="false"><i class="fas fa-arrow-left ml-1"></i> Back</button>
      </div>
      <div fxFlex="100" fxLayoutAlign="center">
        <div class="spa-stepper-error">{{errorMessage}}</div>
      </div>
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="next(1)" useSubmitBehavior="false">Next <i class="fas fa-arrow-right ml-1"></i></button>
      </div>
    </div>
    <div class="container">
      <spa-therapist-skills-edit [showSaveButton]="false"
                                 [canEdit]="canEdit"
                                 [therapistProfile]="therapist"
                                 [stepNumber]="1"
                                 [runAsStep]="true"></spa-therapist-skills-edit>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="back()" useSubmitBehavior="false"><i class="fas fa-arrow-left ml-1"></i> Back</button>
      </div>
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="next(1)" useSubmitBehavior="false">Next <i class="fas fa-arrow-right ml-1"></i></button>
      </div>
    </div>
  </mat-step>-->
  <mat-step label="Certifications" [completed]="stepIsComplete[1]">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="back()" useSubmitBehavior="false"><i class="fas fa-arrow-left ml-1"></i> Back</button>
      </div>
      <div fxFlex="100" fxLayoutAlign="center">
        <div class="spa-stepper-error">{{errorMessage}}</div>
      </div>
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="next(1)" useSubmitBehavior="false">Next <i class="fas fa-arrow-right ml-1"></i></button>
      </div>
    </div>
    <div class="container">
      <spa-therapist-certifications-edit [canEdit]="canEdit"
                                         [therapistUID]="therapist.UID"
                                         [stepNumber]="1"
                                         [runAsStep]="true"></spa-therapist-certifications-edit>
    </div>
  </mat-step>
  <mat-step label="Licenses" [completed]="stepIsComplete[2]">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="back()" useSubmitBehavior="false"><i class="fas fa-arrow-left ml-1"></i> Back</button>
      </div>
      <div fxFlex="100" fxLayoutAlign="center">
        <div class="spa-stepper-error">{{errorMessage}}</div>
      </div>
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="next(2)" useSubmitBehavior="false">Next <i class="fas fa-arrow-right ml-1"></i></button>
      </div>
    </div>
    <div class="container">
      <spa-therapist-licenses-edit [canEdit]="canEdit"
                                   [therapistUID]="therapist.UID"
                                   [stepNumber]="2"
                                   [runAsStep]="true"></spa-therapist-licenses-edit>
    </div>
  </mat-step>
  <mat-step label="Insurance" [completed]="stepIsComplete[3]">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="back()" useSubmitBehavior="false"><i class="fas fa-arrow-left ml-1"></i> Back</button>
      </div>
      <div fxFlex="100" fxLayoutAlign="center">
        <div class="spa-stepper-error">{{errorMessage}}</div>
      </div>
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="next(3)" useSubmitBehavior="false">Next <i class="fas fa-arrow-right ml-1"></i></button>
      </div>
    </div>
    <div class="container">
      <spa-therapist-insurances-edit [canEdit]="canEdit"
                                     [therapistUID]="therapist.UID"
                                     [stepNumber]="3"
                                     [runAsStep]="true"></spa-therapist-insurances-edit>
    </div>
  </mat-step>
  <mat-step label="Facilities" [completed]="stepIsComplete[4]">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="back()" useSubmitBehavior="false"><i class="fas fa-arrow-left ml-1"></i> Back</button>
      </div>
      <div fxFlex="100" fxLayoutAlign="center">
        <div class="spa-stepper-error">{{errorMessage}}</div>
      </div>
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="next(4)" useSubmitBehavior="false">Next <i class="fas fa-arrow-right ml-1"></i></button>
      </div>
    </div>
    <div class="container">
      <spa-therapist-facilities-edit [canEdit]="canEdit"
                                     [therapistUID]="therapist.UID"
                                     [stepNumber]="4"
                                     [runAsStep]="true"></spa-therapist-facilities-edit>
    </div>
  </mat-step>
  <mat-step label="Submit" [completed]="stepIsComplete[5]">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="180px">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="back()" useSubmitBehavior="false"><i class="fas fa-arrow-left ml-1"></i> Back</button>
      </div>
      <div fxFlex="100" fxLayoutAlign="center">
        <div class="spa-stepper-error">{{errorMessage}}</div>
      </div>
      <div fxFlex="180px"></div>
    </div>
    <div class="container">
      <spa-therapist-requirements-edit [canEdit]="canEdit"
                                       [therapist]="therapist"
                                       (submitApplication)="submitApplication()"></spa-therapist-requirements-edit>
    </div>
  </mat-step>
</mat-horizontal-stepper>



<dx-popup id="thanksPopup" #thanksPopup
          [showTitle]="true"
          width="500"
          height="400"
          title="Registration Submitted."
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="thanksPopupVisible"
          (onHidden)="onHidden()"
          titleTemplate="popup-title-template">

  <div *dxTemplate="let model of 'popup-title-template'" style="height: 50px;">
    <div fxLayout="row" fxLayoutAlign="start center" style="height: 100%;">
      <h3> Registration Submitted!</h3>
    </div>
  </div>


  <div *dxTemplate="let data of 'content'" style="height:100%; width: 100%;">
    <div style="width: 100%; height:100%;">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center" class="thank-you-block">
          <div style="font-size: 26px; margin: 10px 35px; text-align: center;">Thank you for applying to Spa Space!</div>
          <div style="font-size: 18px; margin: 10px; text-align: center;">We'll be sending you an email after your background check is processed.  Until then, get familiar with our Standards of Service and start inviting your client list to join Spa Space so they can start booking with you as soon as you get approved!</div>
          <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="closePopup()">
            Close
          </button>
        </div>        
      </div>
    </div>

  </div>

</dx-popup>

<dx-popup [width]="400"
          [height]="400"
          [showTitle]="true"
          title="Submission Errors"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="errorsVisible">
  <div *dxTemplate="let data of 'content'">
    <div>There were errors on your submission:</div><br />
    <div *ngFor="let error of submissionErrors">

      <div>{{error}}</div><br />
    </div>
  </div>
</dx-popup>
