::ng-deep .mat-step-icon {
  background-color: #be5ba3 !important;
}

::ng-deep .mat-step-icon-selected {
  background-color: #5A244C !important;
}

.thank-you-block {
  width: 480px;
  height: 300px;
  background-color: rgba(191, 191, 191, .15);
  border-radius: 15px;
  color: #333333;
}

h3 {
    margin-bottom: 0;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
