<div mdbModal #warningModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h4>Are you sure you want to delete this record?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="clickYes()" mdbWavesEffect>Yes</button>
        <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="clickNo()" mdbWavesEffect>No</button>
      </div>
    </div>
  </div>
</div>
