
.embedded-links {
  height: calc(2000px + (2200 - 2000) * ((100vw - 400px) / (2400 - 400))) !important;
}

/*@media (min-width: 1600px) and (max-width: 2000px) {
  .embedded-links {
    height: calc(1800px + (2200 - 1800) * ((100vw - 400px) / (2400 - 400))) !important;
  }
}*/

/*@media (min-width: 1300px) and (max-width: 1600px) {
  .embedded-links {
    height: calc(1500px + (1700 - 1500) * ((100vw - 400px) / (2400 - 400))) !important;
  }
}*/

@media (min-width: 500px) and (max-width: 750px) {
  .embedded-links {
    height: calc(2400px + (3000 - 2400) * ((100vw - 400px) / (2400 - 400))) !important;
  }
}


@media (max-width: 500px) {
  .embedded-links {
    height: calc(3700px + (4400 - 3700) * ((100vw - 300px) / (1800 - 300))) !important;
  }
}


