<!--Card-->
  <mdb-card>

    

    <mdb-card-body>

      <div fxLayout="column" fxLayoutAlign="space-between" fxFlex="100">
        <div fxLayout="column">
          <div fxLayout="row" fxLayourAlign="start start">
            <img class="me-time-image" [src]="getMassageImage()" alt="">
          </div>
          <div fxLayout="row" fxLayoutAlign="start">
            <div class="massage-type-header">{{massageTypeForCard.Name}}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start">
            <div class="massage-type-detail">{{massageTypeForCard.Description}}</div>
          </div>
        </div>
        <!--<div fxLayout="row" fxLayoutAlign="center">
          <button mdbBtn color="primary" class=" waves-light book-btn" mdbWavesEffect (click)="onClick()">
            Book Massage
          </button>
        </div>-->
      </div>

    </mdb-card-body>
    <!--/.Card content-->

  </mdb-card>
<!--/.Card-->
