:host {
  height: 100%;
  margin-bottom: 15px;
}

mdb-card {
  width: 250px;
  min-width: 250px;
  height: 230px;
  max-height: 250px;
  /*margin: 10px;*/
  margin-bottom: 40px;
  height: 100%
}

img {
  height: 60px;
  width: auto;
  color: #bdc9cd;
}

.massage-type-header {
  font-size: 18px;
  font-weight: 600;
  color: #50595C;
  
}

.massage-type-detail {
  font-size: 10px;
  font-weight: 500;
  color: #50595C;
  margin: 0;
}

.book-btn {
  font-size: 12px !important;
  padding: 8px 10px !important;
}


.card-body {
  padding: .4rem .5rem;
}

.card-title {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  overflow: hidden;
}

.card-sub-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
}

.card-footer {
  padding: 0;
}



.vs-card {
  color: #fff;

  p {
    color: #1d4946;
  }
}



@media (max-width:1295px) {
  .card-title {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    overflow: hidden;
  }

  .card-sub-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
  }

  .facility-description {
    font-size: 10px;
  }

  ::ng-deep mdb-card-img img.img-fluid {
    max-height: 110px;
  }
}
