<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10"></div>
    <div fxFlex="80" style="height: 500px;">
      <h3>Therapists</h3>

      <dx-data-grid #therapistsGrid id="therapistsGrid"
                    [disabled]="gridDisabled"
                    [dataSource]="therapists"
                    showRowLines="true"
                    showColumnLines="false"
                    showBorders="true"
                    [searchPanel]='{ visible: false, width: 350 }'>
        <dxo-editing mode="row"
                     [allowUpdating]="false"
                     [allowDeleting]="false"
                     [allowAdding]="false">
        </dxo-editing>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true"
                   [allowedPageSizes]="[5, 10, 15]"></dxo-pager>
        <dxo-scrolling mode="standard" showScrollbar="always"></dxo-scrolling>
        <dxi-column dataField="ProfilePhotoUrl" [width]="100" [allowFiltering]="false"
                    [allowSorting]="false" cellTemplate="cellTemplate" caption=""></dxi-column>
        <dxi-column dataField="Active" [width]="110"></dxi-column>
        <dxi-column cellTemplate="nameColumn" dataField="Name" [allowReordering]="false" minWidth="200" [allowFiltering]="false"></dxi-column>
        <!--<dxi-column dataField="Name"></dxi-column>-->
        <dxi-column dataField="Email" caption="Email Address" [allowFiltering]="false"></dxi-column>
        <dxi-column dataField="Status" caption="Status"></dxi-column>
        <dxi-column type="buttons" alignment="left" width="75" [hidingPriority]="4">
          <dxi-button hint="Go to Profile"
                      icon="fa fa-id-card"
                      [onClick]="goToProfile"></dxi-button>
          <dxi-button hint="Go to Administrative"
                      icon="fa fa-cogs"
                      [onClick]="goToAdmin"></dxi-button>
        </dxi-column>

        <div *dxTemplate="let item of 'nameColumn'">
          &nbsp;
          <a class="dx-link" (click)="therapistsGrid_onItemSelect(item)">{{item.value}}</a>
        </div>
        <!--<dxi-column cellTemplate="editColumn" [allowReordering]="false" width="100"></dxi-column>-->
        <div *dxTemplate="let data of 'cellTemplate'">
          <img [src]="data.value" />
        </div>
        <!--<div *dxTemplate="let item of 'editColumn'">
    &nbsp;
    <a class="dx-link" (click)="courseGrid_onItemSelect(item)">Resubmit</a>
  </div>-->
      </dx-data-grid>
    </div>
    <div fxFlex="10"></div>    
  </div>
</div>


