<div fxLayout="row" fxLayoutAlign="center center">
  <!--<div fxFlex="15" fxFlex.lt-lg="0"></div>-->
  <div fxFlex="100" fxFlex.lt-lg="100" style="height: 500px;">
    <h3>Facilities</h3>

    <dx-data-grid #facilitiesGrid id="facilitiesGrid"
                  [dataSource]="facilities"
                  showRowLines="true"
                  showColumnLines="false"
                  showBorders="true">
      <dxo-editing mode="row"
                    [allowUpdating]="false"
                    [allowDeleting]="false"
                    [allowAdding]="false">
      </dxo-editing>
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true"
                  [allowedPageSizes]="[5, 10, 15]"></dxo-pager>
      <dxo-scrolling mode="standard" showScrollbar="always"></dxo-scrolling>
      <dxi-column dataField="Active" width="80"></dxi-column>
      <dxi-column dataField="Name" width="200" cellTemplate="nameColumn"></dxi-column>
      <dxi-column dataField="City" width="180"></dxi-column>
      <dxi-column dataField="State" width="180"></dxi-column>
      <dxi-column dataField="Status" caption="Status" width="150" alignment="center"></dxi-column>
      <dxi-column type="buttons" alignment="left" width="130" [hidingPriority]="4">
        <dxi-button hint="Go to Profile"
                    icon="fa fa-id-card"
                    [onClick]="goToProfile"></dxi-button>
        <!--<dxi-button hint="Go to Administrative"
              icon="fa fa-cogs"
              [onClick]="goToAdmin"></dxi-button>
  <dxi-button hint="Manage Facility Managers"
              icon="fa fa-users"
              [onClick]="goToManage"></dxi-button>-->
        <dxi-button hint="Manage Treatment Areas"
                    icon="fa fa-door-open"
                    [onClick]="goToResources"></dxi-button>
        <dxi-button hint="View Appointments"
                    icon="far fa-calendar-check"
                    [onClick]="viewAppointments"></dxi-button>
        <dxi-button hint="Appointment List"
                    icon="far fa-calendar-alt"
                    [onClick]="searchAppointments"></dxi-button>
      </dxi-column>
      <div *dxTemplate="let item of 'nameColumn'">
        &nbsp;
        <a class="dx-link" (click)="facilitiesGrid_onItemSelect(item)">{{item.value}}</a>
      </div>
    </dx-data-grid>
  </div>
  <!--<div fxFlex="10" fxFlex.lt-lg="0"></div>-->
</div>



