<div class="privacy-policy-block">
<p><strong>Spa Space App Privacy Policy</strong></p>
<p>&nbsp;July 31, 2020.</p>
<p>Spa Space App, Inc. (&ldquo;<strong>Spa Space</strong>,&rdquo; or &ldquo;<strong>we</strong>,&rdquo; &ldquo;<strong>us</strong>&rdquo; or &ldquo;<strong>our</strong>&rdquo;) facilitates the posting and booking of reservations for certain spa services. This &ldquo;<strong>Privacy Policy</strong>&rdquo; describes how we collect, use and share personal information in connection with our websites (collectively, the &ldquo;<strong>Site</strong>&rdquo;), mobile applications (collectively, the &ldquo;<strong>App</strong>&rdquo;) and other digital platforms that may link to this Privacy Policy (together with the Site and App, the &ldquo;<strong>Service</strong>&rdquo;), our marketing communications, and in certain offline settings where we post this Privacy Policy.</p>
<p><strong><u>Personal Information We Collect</u></strong></p>
<p><strong>Information you give us.&nbsp; </strong>Personal information that you may provide through the Service or otherwise includes:</p>
<ul>
<li><strong>Contact data</strong>, such as your first and last name, billing and mailing address, email address and telephone number;</li>
<li><strong>Profile data</strong>, such as your username and password that you set to establish an online account with us, age, gender, biographical details, photograph, and preferences including any health information you choose to provide;</li>
<li><strong>Self-reported data</strong>, such as details related to the personal lives of users (e.g., whether you are married, your anniversary date, etc.).</li>
<li><strong>Identity data</strong> that we may collect to conduct identification verification and security checks (or in the case of providers, background checks and other screens permitted by law), such as a social security number, tax identification number, passport number, state or local identification number, or professional license number, and an image of the relevant identity card;</li>
<li><strong>Communications </strong>that we exchange, including when you contact us with questions, feedback, or otherwise;</li>
<li><strong>Transactional data</strong>, such as the information needed to complete your orders and/or payments on or through the Service (including but not limited to name, credit card information, bank account number, billing and shipping information), and information about payments to and from you and other details of products and services you have purchased from us;</li>
<li><strong>Marketing data</strong>, such your preferences for receiving marketing communications about our products, activities, events and publications, and details about how you engage with them; and</li>
<li><strong>Other data </strong>that you choose to provide but is not specifically listed here, which we will use as described in this Privacy Policy or as otherwise disclosed at the time of collection.</li>
</ul>
<p><strong>Data from other sources.&nbsp; </strong>We may combine personal information we receive from you with personal information we obtain from other sources, such as:</p>
<ul>
<li><strong>Users</strong>, including providers or customers, who can provide ratings and feedback on their spa experiences through the Service;</li>
<li><strong>Business partners</strong>, such as ISM SPA LLC, Chicago City Spa, Privai and other facilities or distribution partners.</li>
<li><strong>Screening providers</strong>, such as providers of background check or other screening services.</li>
<li><strong>Data providers</strong>, such as information services and data processors; and</li>
<li><strong>Public sources</strong>, such as social media platforms.</li>
</ul>
<p><strong>Data collected automatically.&nbsp; </strong>We, our service providers, and our business partners may automatically log the following information about you, your computer or mobile device, and your activity over time on the Site and other online services:</p>
<ul>
<li><strong>Device data</strong>, such as your computer or mobile device operating system type and version number, manufacturer and model, browser type, screen resolution, IP address, unique identifiers, and general location information such as city, state or geographic area;</li>
<li><strong>Usage data</strong>, such as the website you visited before browsing to the Site, pages or screens you viewed, how long you spent on a page or screen, navigation paths between pages or screens, information about your activity on a page or screen, access times, and duration of access; and</li>
<li><strong>Precise geolocation data</strong>, such as when you authorize the App to access your location.</li>
</ul>
<p>Some of our automatic collection is facilitated by:</p>
<ul>
<li><strong>Cookies</strong>, which are text files that websites store on a visitor&lsquo;s device to uniquely identify the visitor&rsquo;s browser or to store information or settings in the browser for the purpose of helping you navigate between pages efficiently, remembering your preferences, enabling functionality, helping us understand user activity and patterns, and facilitating online advertising.</li>
<li><strong>Web beacons</strong>, also known as pixel tags or clear GIFs, which are typically used to demonstrate that a webpage or email was accessed or opened, or that certain content was viewed or clicked, to compile statistics about usage of websites and the success of marketing campaigns.</li>
<li><strong>Software development kits</strong>, or SDKs, which are used to incorporate third party computer code into our App that allows our third party service providers or advertising partners to collect data directly from it for a variety of purposes, including to provide us with analytics regarding the use of the App, to integrate with social media, add features or functionality to the App, or to facilitate online advertising.</li>
</ul>
<p><strong><u>How We Use Your Personal Information</u></strong></p>
<p>We use your personal information for the following purposes or as otherwise described to you at the time of collection:</p>
<p><strong>Service delivery.&nbsp; </strong>We may use your personal information to:</p>
<ul>
<li>provide, operate, maintain, and improve the Service;</li>
<li>set up appointments;</li>
<li>conduct background checks and other screens permitted by law;</li>
<li>establish and maintain your profile on the Service;</li>
<li>process provider payments;</li>
<li>communicate with you regarding the Service, including by sending you Service announcements, technical notices, updates, security alerts, and support and administrative messages;</li>
<li>process your Service transactions and process your related payments:</li>
<li>understand your needs, interests and spa preferences, and personalize your experience with the Service and our communications; and</li>
<li>provide support for the Service and respond to your requests, questions and feedback.</li>
</ul>
<p><strong>Research and development.&nbsp; </strong>We may use your personal information for research and development purposes, including to analyze and improve the Service and our business and develop other products and services.&nbsp; As part of these activities, we may create aggregated, de-identified or other anonymous data from personal information we collect.&nbsp; We make personal information into anonymous data by removing information that makes the data personally identifiable to you.&nbsp; We may use this anonymous data and share it with third parties for our lawful business purposes, including to analyze and improve the Service and promote our business.&nbsp;&nbsp;</p>
<p><strong>Marketing.&nbsp; </strong>We and our third party advertising partners may collect and use your personal information for marketing and advertising purposes:</p>
<ul>
<li><strong>Direct marketing. </strong>If you request information from us, use the Service or participate in our surveys, promotions or events, we may send you Spa Space-related marketing communications as permitted by law, including by email and mail. You may opt-out of our marketing communications as described in the &ldquo;Marketing communications&rdquo; section below.</li>
<li><strong>Interest-based advertising.</strong> We may contract with third-party advertising and social media companies to display ads on our Service and other sites. These companies may use cookies and similar technologies to collect information about you (including the device data and online activity data described above) over time across our Service and other sites and services or your interaction with our emails, and use that information to serve ads that they think will interest you. These ads are known as &ldquo;interest-based advertisements.&rdquo; You can learn more about your choices for limiting interest-based advertising, in the &ldquo;Advertising choices&rdquo; section below.</li>
</ul>
<p><strong>Compliance and protection.&nbsp; </strong>We may use your personal information to:</p>
<ul>
<li>protect our, your or others&rsquo; rights, privacy, safety or property (including by making and defending legal claims);</li>
<li>audit our internal processes for compliance with legal and contractual requirements and internal policies;</li>
<li>enforce our Terms of Use that govern the Service;</li>
<li>protect, investigate and deter against fraudulent, harmful, unauthorized, unethical or illegal activity, including cyberattacks and identity theft; and</li>
<li>comply with applicable laws, lawful requests and legal process, such as to respond to subpoenas or requests from government authorities.</li>
</ul>
<p><strong>Other purposes with your consent.</strong>&nbsp; In some cases we will ask for your consent to collect, use or share your personal information for other purposes. For example, we may ask for your consent to send you marketing emails where required by law or to post your testimonial or endorsement.</p>
<p><strong><u>How We Share Your Personal Information</u></strong></p>
<p>We do not share the personal information that you provide us with other organizations without your express consent, except as described in this Privacy Policy. &nbsp;We may share your personal information with the following parties and as otherwise described in this Privacy Policy or at the time of collection:&nbsp;</p>
<ul>
<li>We may disclose your personal information to our subsidiaries and corporate affiliates for use consistent with this Privacy Policy.</li>
<li><strong>Service providers</strong>.&nbsp;We may employ companies and individuals to help provide the Site or Service on our behalf or help us operate our business (such as IT, customer support, hosting, website analytics, email delivery, marketing and advertising, research, event management). They are permitted to use your personal information only as authorized to perform these tasks in a manner consistent with this Privacy Policy.</li>
<li><strong>Business partners.</strong> We may work with business partners, such as ISM SPA LLC, Chicago City Spa and Privai,</li>
<li><strong>Advertising partners. </strong>We may work with third party advertising companies that collect information about your activity on the Site and other online services to help us advertise our services (including, through interest-based advertising), and/or use hashed customer lists that we share with them to deliver ads to them and similar users on their platforms.</li>
<li><strong>Professional advisors</strong>.&nbsp;We may disclose your personal information to professional advisors, such as lawyers, bankers, auditors and insurers, where necessary in the course of the professional services they render to us.</li>
<li><strong>Compliance and protection</strong>.&nbsp;We may disclose your personal information as we believe appropriate to government or law enforcement officials or private parties (a) for the compliance and protection purposes described above; (b) as required by law, lawful requests or legal process, such as to respond to subpoenas or requests from government authorities; (c) where permitted by law in connection with any legal investigation; and (d) to prosecute or defend legal claims.</li>
<li><strong>Business transferees.</strong>We may sell, transfer or otherwise share some or all of our business or assets, including your personal information, in connection with a business deal (or potential business deal) such as a merger, consolidation, acquisition, reorganization or sale of assets, or in the event of bankruptcy, in which case we will make reasonable efforts to require the recipient to honor this Privacy Policy.</li>
</ul>
<p>Please keep in mind that whenever you voluntarily make your personal information available for viewing by third parties on our Services, that such information can be seen, collected and used by others besides us. We cannot be responsible for any unauthorized third-party use of such information.</p>
<p><strong><u>Your Choices</u></strong></p>
<p><strong>Access or update your information.&nbsp; </strong>If you have registered for an account with us, you may review and update the personal information in their registration profile by logging into your account or emailing us at&nbsp;<a href="mailto:admin@spaspace.com">admin@spaspace.com</a>.</p>
<p><strong>Marketing communications.&nbsp; </strong>You may opt out of marketing-related emails by logging in and changing your account settings or by following the opt-out prompt in the email. You may continue to receive Service-related and other non-marketing emails.</p>
<h3>Cookies.&nbsp; Most browsers let you remove and/or stop accepting cookies from the websites you visit. To do this, follow the instructions in your browser&rsquo;s settings. Many browsers accept cookies by default until you change your settings. If you do not accept cookies, however, you may not be able to use all functionality of the Service and our Site may not work properly. For more information about cookies, including how to see what cookies have been set on your browser and how to manage and delete them, visit <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a>.</h3>
<h3>Privacy settings and location data. &nbsp;Users of our App can disable our access to their device&rsquo;s precise geolocation in their mobile device settings.</h3>
<h3>Advertising choices. &nbsp;You can limit use of your information for interest-based advertising by:</h3>
<ul>
<li><strong>Browser settings. </strong>Blocking third party cookies in your browser settings using or ad-blocking browser plug-ins/extensions.</li>
<li><strong>Mobile device settings. </strong>Using your mobile device settings to limit use of the advertising ID associated with your mobile device for interest-based advertising purposes.</li>
<li><strong>Platform settings.</strong> Using Google&rsquo;s and Facebook&rsquo;s interest-based advertising opt-out features:
<ul>
<li>Google: <a href="https://adssettings.google.com/">https://adssettings.google.com/</a></li>
<li>Facebook: <a href="https://www.facebook.com/about/ads">https://www.facebook.com/about/ads</a></li>
</ul>
</li>
<li><strong>Ad industry tools.</strong> Opting out of interest-based ads from companies participating in the following industry opt-out programs:
<ul>
<li>Network Advertising Initiative: <a href="http://www.networkadvertising.org/managing/opt_out.asp">http://www.networkadvertising.org/managing/opt_out.asp</a></li>
<li>Digital Advertising Alliance:
<ul>
<li>aboutads.info, which lets you opt-out of interest-based ads on websites.</li>
<li>AppChoices mobile app, available at <a href="https://www.youradchoices.com/appchoices">https://www.youradchoices.com/appchoices</a>, which lets you opt-out of interest-based ads in mobile apps.</li>
</ul>
</li>
</ul>
</li>
</ul>
<p>The opt-out preferences described above must be set on each device for which you want them to apply.&nbsp; Not all companies that serve interest-based ads participate in the ad industry opt-out programs described above, so even after opting-out, you may still receive some cookies and interest-based ads from other companies.&nbsp; If you opt-out of interest-based advertisements, you will still see advertisements online but they may be less relevant to you.</p>
<p><strong>Do Not Track.&nbsp; </strong>Some Internet browsers may be configured to send &ldquo;Do Not Track&rdquo; signals to the online services that you visit.&nbsp; We currently do not respond to &ldquo;Do Not Track&rdquo; or similar signals.&nbsp; To find out more about &ldquo;Do Not Track,&rdquo; please visit <a href="http://www.allaboutdnt.com">http://www.allaboutdnt.com</a>.</p>
<p><strong>Declining to provide your personal information.&nbsp; </strong>If you do not provide information indicated as required or mandatory within the Service, or that is otherwise necessary to provide a requested service or feature within the Service, that portion or all of the Service may be unavailable to you.</p>
<p><strong><u>Other Sites and Services</u></strong></p>
<p>The Service may contain links to other websites and services operated by third parties, such as social media platforms, advertising services and other websites and applications. These links are not an endorsement of, or representation that we are affiliated with, any third party. We do not control third party websites, applications or services, and are not responsible for their actions. Other websites and services follow different rules regarding their collection, use and disclosure of your personal information. We encourage you to read their privacy policies to learn more.</p>
<p><strong><u>Security</u></strong></p>
<p>The security of your personal information important to us. We take a number of organizational, technical and physical measures designed to protect the personal information we collect, both during transmission and once we receive it. However, no security safeguards are 100% secure and we cannot guarantee the security of your information.</p>
<p><strong><u>International Data Transfer</u></strong></p>
<p>We are headquartered in the United States and may use service providers that operate in other countries. Your personal information may be transferred to the United States or other locations where privacy laws may not be as protective as those in your state, province, or country.&nbsp;</p>
<p><strong><u>Children</u></strong></p>
<p>The Service is not intended for use by children under 16 years of age. If we learn that we have collected personal information from a child under 16 without the consent of the child&rsquo;s parent or guardian as required by law, we will delete it.</p>
<p><strong><u>Changes to this Privacy Policy</u></strong></p>
<p>We reserve the right to modify this Privacy Policy at any time. We encourage you to periodically review this page for the latest information on our privacy practices. If we make material changes to this Privacy Policy we will notify you by email (if you have an account linked to a valid email address) or another manner through the Service that we believe is reasonably likely to reach you.</p>
<p>Any modifications to this Privacy Policy will be effective upon our posting of the new terms and/or upon implementation of the new changes in the Service (or as otherwise indicated at the time of posting). In all cases, your continued use of the Service after the posting of any updated Privacy Policy indicates your acceptance of the update.</p>
<p><strong><u>Contact Us</u></strong></p>
<p>If you have any questions or concerns about our Privacy Policy, please contact us.</p>
<p>Spa Space App, Inc.</p>
<p>PO Box 550227, Atlanta, Georgia 30355</p>
<p>Email:&nbsp;<a href="mailto:admin@spaspace.com">admin@spaspace.com</a></p>

</div>
