
<mdb-card cascade="true" narrower="true">

  <!--Card image-->
  <div class="view view-cascade overlay waves-light" mdbWavesEffect>
    <mdb-card-img src="{{therapist.ProfilePhoto.Url}}"></mdb-card-img>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!--/Card image-->

  <mdb-card-body cascade="true" class="text-center pb-0 px-0">

    <h4 class="card-title">{{therapist.Name}}</h4>


    <mdb-card-text>
      <p class="card-text text-muted text-center">{{therapist.YearsExperience}} years</p>
      <p class="card-text text-muted text-center">{{therapist.SubmittedForApprovalDate | date }}</p>
    </mdb-card-text>

    <a mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>

    <!-- Card footer -->
    <div class="card-footer text-muted text-center mt-4">
      2 days ago
    </div>

  </mdb-card-body>
  <!--/.Card content-->

</mdb-card>

