.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.mdb-card-img img.img-fluid {
  max-height: 150px !important;
  width: auto !important;
}

.card-img-wrapper {
  overflow: hidden;
  text-align: center;
}
/*.card {
  width: 8.5rem;
  height: 14rem;
}*/
