<!--<div class="container">
  <div class="row">
    <div *ngFor="let therapist of therapists" class="card-holder">
      <spa-admin-therapist-card [therapist]="therapist"></spa-admin-therapist-card>
    </div>
  </div>
</div>-->



<div style="max-height: 500px;">
  <mdb-card class="appointment-list appointment-scroll">
    <!--<div class="appointment-scroll">-->
    <mdb-card-body class="p-0">
      <!-- Grid row -->
      <div>

        <!-- Grid column -->
        <div class="px-0">

          <div class="white z-depth-1 ">
            <div *ngIf="!therapists" style="background-color: #d3dbde; height: 60px; text-align: center; vertical-align: central; padding-top: 20px;">No therapists awaiting approval.</div>
            <ul *ngIf="therapists" class="list-unstyled friend-list m-0">
              <li *ngFor="let therapist of therapists" class="p-3" style="border-bottom: 1px solid lightgrey;">
                <a (click)="itemClicked(therapist.UID)" fxLayout="column" fxFlex="100">
                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
                    <img [src]="getTherapistImage(therapist.UID)" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                    <div class="text-large">
                      <h4>{{therapist.Name}}</h4>
                      <div class="service-block">Years of experience: {{therapist.YearsExperience}}</div>
                      <div class="service-block">Date applied: {{therapist.SubmittedForApprovalDate | date: shortDate}}</div>
                    </div>
                  </div>


                  <div class="chat-footer">
                  </div>
                </a>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </mdb-card-body>
    <!--</div>-->

  </mdb-card>

</div>


<!--<div mdbModal #appointmentModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" (closed)="onClosed($event)">

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="appointmentModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <spa-therapist-appointment-detail *ngIf="appointmentPopupVisible" [appointmentUID]="appointmentUID" [therapistUID]="therapistUID" (appointmentSelected)="onAppointmentSelected($event)"></spa-therapist-appointment-detail>
    </div>
  </div>
</div>-->
