img {
  display: block;
  max-width: 90px;
  max-height: 90px;
  width: auto;
  height: auto;
}

::ng-deep .cardholder spa-admin-therapist-card {
  margin: 0 10px;
}

.appointment-scroll {
  position: relative;
  /*height: 18rem;*/
  overflow: auto;
}
