<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="5"></div>
    <div fxFlex="90" style="height: 500px;">
      <h3>Services</h3>

      <dx-data-grid #categoriesGrid id="categoriesGrid"
                    [dataSource]="serviceCategories"
                    keyExpr="ID"
                    [showBorders]="true"
                    [showRowLines]="true"
                    [showColumnLines]="true"
                    (onToolbarPreparing)="categoriesGrid_onToolbarPreparing($event)"
                    (onRowExpanding)="categoriesGrid_onRowExpanding($event)">
        <dxo-editing mode="row"
                     [allowUpdating]="false"
                     [allowDeleting]="false"
                     [allowAdding]="false">
        </dxo-editing>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxi-column dataField="Name" [allowFiltering]="false"></dxi-column>
        <dxi-column dataField="Active" width="110"></dxi-column>
        <dxi-column type="buttons" alignment="left" [width]="80">
          <dxi-button class="spa-grid-icon"
                      hint="Edit Category"
                      icon="fa fa-pen"
                      [onClick]="editCategory"></dxi-button>
          <dxi-button hint="Delete Category"
                      icon="fa fa-trash"
                      [onClick]="deleteCategory"></dxi-button>
        </dxi-column>

        <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
        <div *dxTemplate="let category of 'detail'">
          <dx-tab-panel>

            <!--Services Tab-->

            <dxi-item title="Services" template="servicesTab"></dxi-item>
            <div *dxTemplate="let servicesTabItem of 'servicesTab'">
              <dx-data-grid #servicesGrid id="servicesGrid"
                            [dataSource]="category.data.Services"
                            [showBorders]="true"
                            [showRowLines]="true"
                            [showColumnLines]="true"
                            [columnAutoWidth]="true"
                            [wordWrapEnabled]="true"
                            (onToolbarPreparing)="servicesGrid_onToolbarPreparing($event)">
                <dxo-editing mode="row"
                             [allowUpdating]="false"
                             [allowDeleting]="false"
                             [allowAdding]="false">
                </dxo-editing>

                <dxi-column dataField="Name" minWidth="200"></dxi-column>
                <dxi-column dataField="Duration" width="90"></dxi-column>
                <dxi-column dataField="BasePrice" dataType="number" format="currency" width="100" headerCellTemplate="headerTemplate"></dxi-column>
                <dxi-column dataField="ServiceCharge" dataType="number" format="currency" width="100" headerCellTemplate="headerTemplate"></dxi-column>
                <dxi-column dataField="TherapistPercentOfBase" width="120" headerCellTemplate="headerTemplate" [calculateDisplayValue]="getPercentageOfBase">
                </dxi-column>
                <dxi-column dataField="TherapistPercentOfServiceCharge" width="120" dataType="number" format="percent" headerCellTemplate="headerTemplate" [calculateDisplayValue]="getPercentageOfServiceCharge"></dxi-column>
                <dxi-column dataField="FacilityPercentOfBase" width="120" dataType="number" format="percent" headerCellTemplate="headerTemplate" [calculateDisplayValue]="getFacilityPercentageOfBase"></dxi-column>
                <dxi-column dataField="Active" width="80"></dxi-column>
                <dxi-column type="buttons" alignment="left" [width]="80">
                  <!--<dxi-button class="spa-grid-icon"
        hint="Edit Service"
        icon="fa fa-pen"
        [onClick]="addService(category.key)"></dxi-button>-->
                  <dxi-button class="spa-grid-icon"
                              hint="Edit Service"
                              icon="fa fa-pen"
                              [onClick]="editService"></dxi-button>
                  <dxi-button hint="Delete Service"
                              icon="fa fa-trash"
                              [onClick]="deleteService"></dxi-button>
                </dxi-column>
                <div *dxTemplate="let data of 'headerTemplate'">
                  <div style="height: 100%;  word-wrap: break-word; white-space: normal;text-align:center">
                    {{data.column.caption}}
                  </div>
                </div>
              </dx-data-grid>
            </div>

            <!--Addons Tab-->

            <dxi-item title="Add Ons" template="addonsTab"></dxi-item>
            <div *dxTemplate="let addonsTabItem of 'addonsTab'">
              <dx-data-grid #addonsGrid id="addonsGrid"
                            [dataSource]="category.data.AddOns"
                            [showBorders]="true"
                            [showRowLines]="true"
                            [showColumnLines]="true"
                            [columnAutoWidth]="true"
                            [wordWrapEnabled]="true"
                            (onToolbarPreparing)="addonsGrid_onToolbarPreparing($event)">
                <dxo-editing mode="row"
                             [allowUpdating]="false"
                             [allowDeleting]="false"
                             [allowAdding]="false">
                </dxo-editing>
                <dxi-column dataField="Name" minWidth="200"></dxi-column>
                <dxi-column dataField="Description" width="200"></dxi-column>
                <dxi-column dataField="Price" dataType="number" format="currency" width="100" headerCellTemplate="headerTemplate"></dxi-column>
                <dxi-column dataField="Active" width="80"></dxi-column>
                <dxi-column type="buttons" alignment="left" [width]="80">
                  <dxi-button class="spa-grid-icon"
                              hint="Edit AddOn"
                              icon="fa fa-pen"
                              [onClick]="editAddOn"></dxi-button>
                  <dxi-button hint="Delete AddOn"
                              icon="fa fa-trash"
                              [onClick]="deleteAddOn"></dxi-button>
                </dxi-column>
                <div *dxTemplate="let data of 'headerTemplate'">
                  <div style="height: 100%;  word-wrap: break-word; white-space: normal;text-align:center">
                    {{data.column.caption}}
                  </div>
                </div>
              </dx-data-grid>
            </div>

            <!--Focus Areas Tab-->

            <dxi-item title="Focus Areas" template="focusAreasTab"></dxi-item>
            <div *dxTemplate="let focusAreasTabItem of 'focusAreasTab'">
              <dx-data-grid #focusAreasGrid id="focusAreasGrid"
                            [dataSource]="category.data.FocusAreas"
                            [showBorders]="true"
                            [showRowLines]="true"
                            [showColumnLines]="true"
                            [columnAutoWidth]="true"
                            [wordWrapEnabled]="true"
                            (onToolbarPreparing)="focusAreasGrid_onToolbarPreparing($event)">
                <dxo-editing mode="row"
                             [allowUpdating]="false"
                             [allowDeleting]="false"
                             [allowAdding]="false">
                </dxo-editing>
                <dxi-column dataField="Name" minWidth="200"></dxi-column>
                <dxi-column dataField="Active" width="80"></dxi-column>
                <dxi-column type="buttons" alignment="left" [width]="80">
                  <dxi-button class="spa-grid-icon"
                              hint="Edit Focus Area"
                              icon="fa fa-pen"
                              [onClick]="editFocusArea"></dxi-button>
                  <dxi-button hint="Delete Focus Area"
                              icon="fa fa-trash"
                              [onClick]="deleteFocusArea"></dxi-button>
                </dxi-column>
              </dx-data-grid>
            </div>

            <!--Needs Tab-->

            <dxi-item title="Needs" template="needsTab"></dxi-item>
            <div *dxTemplate="let needsTabItem of 'needsTab'">
              <dx-data-grid #needsGrid id="needsGrid"
                            [dataSource]="category.data.Needs"
                            [showBorders]="true"
                            [showRowLines]="true"
                            [showColumnLines]="true"
                            [columnAutoWidth]="true"
                            [wordWrapEnabled]="true"
                            (onToolbarPreparing)="needsGrid_onToolbarPreparing($event)">
                <dxo-editing mode="row"
                             [allowUpdating]="false"
                             [allowDeleting]="false"
                             [allowAdding]="false">
                </dxo-editing>
                <dxi-column dataField="Name" minWidth="200"></dxi-column>
                <dxi-column dataField="Active" width="80"></dxi-column>
                <dxi-column type="buttons" alignment="left" [width]="80">
                  <dxi-button class="spa-grid-icon"
                              hint="Edit Need"
                              icon="fa fa-pen"
                              [onClick]="editNeed"></dxi-button>
                  <dxi-button hint="Delete Need"
                              icon="fa fa-trash"
                              [onClick]="deleteNeed"></dxi-button>
                </dxi-column>
              </dx-data-grid>
            </div>

            <!--Type Tab-->

            <dxi-item title="Type" template="typeTab"></dxi-item>
            <div *dxTemplate="let typeTabItem of 'typeTab'">
              <dx-data-grid #typeGrid id="typeGrid"
                            [dataSource]="category.data.Types"
                            [showBorders]="true"
                            [showRowLines]="true"
                            [showColumnLines]="true"
                            [columnAutoWidth]="true"
                            [wordWrapEnabled]="true"
                            (onToolbarPreparing)="typeGrid_onToolbarPreparing($event)">
                <dxo-editing mode="row"
                             [allowUpdating]="false"
                             [allowDeleting]="false"
                             [allowAdding]="false">
                </dxo-editing>
                <dxi-column dataField="Name" minWidth="140"></dxi-column>
                <dxi-column dataField="Description" minWidth="240"></dxi-column>
                <dxi-column dataField="IconUrl" minWidth="140"></dxi-column>
                <dxi-column dataField="Active" width="80"></dxi-column>
                <dxi-column type="buttons" alignment="left" [width]="80">
                  <dxi-button class="spa-grid-icon"
                              hint="Edit Type"
                              icon="fa fa-pen"
                              [onClick]="editType"></dxi-button>
                  <dxi-button hint="Delete Type"
                              icon="fa fa-trash"
                              [onClick]="deleteServiceType"></dxi-button>
                </dxi-column>
              </dx-data-grid>
            </div>

            <!--license Tab-->

            <dxi-item title="License" template="licenseTab"></dxi-item>
            <div *dxTemplate="let licenseTabItem of 'licenseTab'">
              <dx-data-grid #licenseGrid id="licenseGrid"
                            [dataSource]="category.data.AssociatedLicenses"
                            [showBorders]="true"
                            [showRowLines]="true"
                            [showColumnLines]="true"
                            [columnAutoWidth]="true"
                            [wordWrapEnabled]="true"
                            (onToolbarPreparing)="licenseGrid_onToolbarPreparing($event)">
                <dxo-editing mode="row"
                             [allowUpdating]="false"
                             [allowDeleting]="false"
                             [allowAdding]="false">
                </dxo-editing>
                <dxi-column dataField="Name"></dxi-column>
                <dxi-column type="buttons" alignment="left" [width]="50">
                  <dxi-button hint="Delete Type"
                              icon="fa fa-trash"
                              [onClick]="deleteLicense"></dxi-button>
                </dxi-column>
              </dx-data-grid>
            </div>


            <div></div>
          </dx-tab-panel>
        </div>
      </dx-data-grid>
    </div>
    <div fxFlex="5"></div>
  </div>
</div>

<spa-admin-service-category-edit [category]="category" [(showModal)]="showCategoryModal" (saveCategory)="saveCategory($event)"></spa-admin-service-category-edit>

<spa-admin-service-edit [service]="service" [categories]="serviceCategories" [categoryName]="expandedCategoryName" [(showModal)]="showServiceModal" (saveService)="saveService($event)"></spa-admin-service-edit>

<spa-admin-service-addon-edit [addon]="addon" [(showModal)]="showAddOnModal" [categoryName]="expandedCategoryName" (saveAddOn)="saveAddOn($event)"></spa-admin-service-addon-edit>

<spa-admin-service-focus-area-edit [focusArea]="focusArea" [(showModal)]="showFocusAreaModal" [categoryName]="expandedCategoryName" (saveFocusArea)="saveFocusArea($event)"></spa-admin-service-focus-area-edit>

<spa-admin-service-needs-edit [need]="need" [(showModal)]="showNeedModal" [categoryName]="expandedCategoryName" (saveNeed)="saveNeed($event)"></spa-admin-service-needs-edit>

<spa-admin-service-type-edit [type]="type" [(showModal)]="showTypeModal" [categoryName]="expandedCategoryName" (saveType)="saveType($event)"></spa-admin-service-type-edit>

<spa-admin-service-license-edit [(showModal)]="showLicenseModal" [categoryName]="expandedCategoryName" [licenses]="filteredLicenses" (saveLicense)="saveLicense($event)"></spa-admin-service-license-edit>

<spa-delete-warning-modal [showWarning]="showDeleteWarning" (continue)="continue($event)"></spa-delete-warning-modal>
