<div fxLayout="column">

  <div fxLayout="row" fxFlex="100" class="grid-box">

    <dx-data-grid #licensesGrid id="licensesGrid"
                  [dataSource]="licenses"
                  showRowLines="true"
                  showColumnLines="false"
                  showBorders="true"
                  (onToolbarPreparing)="licensesGrid_onToolbarPreparing($event)">
      <dxi-column dataField="LicenseTypeID" caption="License Type">
        <dxo-lookup [dataSource]="licenseTypes" displayExpr="Name" valueExpr="ID"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="StateCode" caption="Licensing State">
        <dxo-lookup [dataSource]="states" displayExpr="Name" valueExpr="Code"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="AsOfDate" dataType="date" [hidingPriority]="1"></dxi-column>
      <dxi-column dataField="UntilDate" dataType="date" [hidingPriority]="0"></dxi-column>
      <dxi-column type="buttons" alignment="left" [width]="115">
        <dxi-button class="spa-grid-icon"
                    hint="Edit License"
                    icon="fa fa-pen"
                    [visible]="canEdit"
                    [onClick]="editRecord"></dxi-button>
        <dxi-button hint="Delete License"
                    icon="fa fa-trash"
                    [visible]="canEdit"
                    [onClick]="deleteRecord"></dxi-button>
        <dxi-button hint="Upload Image"
                    icon="upload"
                    [visible]="isUploadButtonVisible"
                    [onClick]="uploadLicenseClick"></dxi-button>
        <dxi-button hint="View Image"
                    icon="search"
                    [visible]="isSearchButtonVisible"
                    [onClick]="showLicenseClick"></dxi-button>
      </dxi-column>
      <div *dxTemplate="let data of 'headerText'" style="width:100%">
        <h2 class="grid-header-text">Licenses</h2>
      </div>
    </dx-data-grid>

  </div>
</div>


<spa-file-upload-popup [title]="title" [uploadApiUrl]="uploadPath" [(popupVisible)]="popupVisible" (onHiding)="onHiding()" (fileUploaded)="onfileUploaded($event)"></spa-file-upload-popup>

<dx-popup [showTitle]="true"
          [width]="500"
          [height]="500"
          [title]="title"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="photoPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <img #heroImage [src]="photoUrl" />
  </div>
</dx-popup>


<spa-therapist-license-edit [license]="license" [licenseTypes]="licenseTypes" [(showModal)]="showModal" (saveLicense)="saveLicense($event)"></spa-therapist-license-edit>

<spa-delete-warning-modal [showWarning]="showDeleteWarning" (continue)="continue($event)"></spa-delete-warning-modal>
