::ng-deep .dx-toolbar {
  background: none;
}

.grid-box {
  margin: 20px 0;
  /*min-width: 500px;*/
}


@media (max-width:1170px) {
  ::ng-deep .spa-action-column {
    visibility: hidden;
  }
}

::ng-deep .dx-fa-button-icon {
  background-color: #80336b;
}


@media (max-width:1170px) {
  ::ng-deep h2.grid-header-text {
    font-size: 20px;
  }
}

::ng-deep .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-command-edit.dx-command-edit-with-icons .dx-link, .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td:not(.dx-field-item-content).dx-cell-modified.dx-command-edit.dx-command-edit-with-icons .dx-link, .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td:not(.dx-field-item-content).dx-datagrid-invalid.dx-command-edit.dx-command-edit-with-icons .dx-link {
  margin: 0 3px;
  font-size: 13px;
}

::ng-deep .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-command-edit.dx-command-edit-with-icons {
  padding: 14px 5px !important;
}
