<spa-left-nav [selectedItems]="navigation" pageTitle="Spa Space Facility Portal">
  <div fxLayout="row" fxFlex="100">
    
    <div fxLayout="column" fxFlex="100">
      <router-outlet></router-outlet>
    </div>
    
  </div>

</spa-left-nav>

