/*html, body {
  margin: 0;
  height: 100vh;
  min-height: 100%;
  background: none !important;
}*/

.spa-nav-bar-item {
  display: grid;
  text-align: center;
  margin-right: 40px;
}

body, html {
  height: 100%;
}

.facility-container {
  display: flex;
  flex-direction: column;
  background: white;
  min-height: 100%;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

.panel-list-container {
  width: 200px;
  height: calc(100vh - 90px);
}

::ng-deep .dx-list-item-icon-container {
  width: 36px;
  padding-right: 0px !important;
  text-align: center;
}

::ng-deep .dx-list-item-content {
  padding-left: 10px !important;
}

::ng-deep .panel-list .dx-list-item {
  color: #fff;
  border-top: 1px solid rgba(221, 221, 221, .2);
}

::ng-deep .panel-list .dx-list-item .dx-icon {
  color: #fff !important;
}


::ng-deep spa-facility-profile {
  width: 100%;
}

.menu-item {
  font-size: 20px;
  color: #616161;
}

.menu-item-desc {
  font-size: 18px;
  color: #616161;
  margin-right: 8px;
}

::ng-deep spa-facilities {
  width: 100%;
}


/*@media (max-width:700px) {
  .mat-card {
    width: 200px;
    height: 180px;
  }

  .dx-calendar {
    height: 160px;
    min-height: 150px;
    width: 190px;
  }
}*/

/*::ng-deep .dx-toolbar {
  background-color: rgba(191, 191, 191, .15);
  padding: 5px 10px;
}

::ng-deep .dx-list-item-icon-container, ::ng-deep .dx-toolbar-before {
  width: 36px;
  padding-right: 0px !important;
  text-align: center;
}

::ng-deep .dx-button {
  background-color: rgba(191, 191, 191, -0.15);
  border: none;
}

::ng-deep .dx-drawer-expand.dx-drawer-right .panel-list {
  float: right;
}

::ng-deep .dx-drawer-content {
  min-height: 100%;
}

::ng-deep .panel-list .dx-list-item .dx-icon {
  color: #fff !important;
}

::ng-deep .options {
  padding: 20px;
  background-color: rgba(191, 191, 191, .15);
}

::ng-deep .caption {
  font-size: 18px;
  font-weight: 500;
}

::ng-deep .option {
  margin-top: 10px;
  display: inline-block;
  margin-right: 50px;
}

::ng-deep label {
  font-weight: bold;
}

::ng-deep #content {
  height: 100%;
  padding: 10px 20px;
}

::ng-deep #content h2 {
  font-size: 26px;
}*/
