.cust-need-button {
  padding: 0;
  padding-right: 25px;
  width: 250px;
  height: 70px;
  background-color: #ECEFF1;
  border-radius: 10px;
  color: #546E7A;
  text-align: center;
  margin: 10px;
  vertical-align: middle;
  font-size: 18px;
  line-height: 70px;
  border-color: #CFD8DC;
  border-width: 2px;
  border-style: solid;
  font-weight: 400;
}

.cust-need-button.active {
  background-color: #80CBC4;
  border-color: #4DB6AC;
  color: white;
  /*border-color: red;*/
}

fa-icon {
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  visibility: hidden;
}

fa-icon.active {
  visibility: visible;
}


@media (max-width:700px) {
  .cust-need-button {
    padding-right: 25px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    font-weight: 500;
  }
}
