<div class="cust-need-button noSelect" [ngClass]="{'active': selected}" (click)="onClick1()">
  <fa-icon [icon]="checkMark" [ngClass]="{'active': selected}"></fa-icon><ng-content></ng-content>
</div>
