<!--<div class="double-nav" style="margin-top:80px;">
  <mdb-breadcrumb>
    <mdb-breadcrumb-item class="blue-text">Home</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="blue-text">Library</mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Data</mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div>-->

<div class="double-nav">
  <mdb-breadcrumb>
    <mdb-breadcrumb-item *ngFor="let breadcrumb of breadcrumbs$ | async; last as isLast" class="blue-text">
      <a *ngIf="!isLast" [routerLink]="[breadcrumb.url]">{{ breadcrumb.label }}</a>
      <!--<a *ngIf="!isLast" [routerLink]="[breadcrumb.url, breadcrumb.params]">{{ breadcrumb.label }}</a>-->
      <!--<a *ngIf="!isLast" (click)="onClick(breadcrumb.url, breadcrumb.params)">{{ breadcrumb.label }}</a>-->
      <div class="last-link" *ngIf="isLast == true">{{ breadcrumb.label }}</div>
    </mdb-breadcrumb-item>
  </mdb-breadcrumb>
</div>
