.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card img {
  transform: scale(1.0, 1.0);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  max-height: 150px;
  width: auto;
}

.card-img-wrapper {
  overflow: hidden;
  text-align: center;
}
/*.card {
  width: 8.5rem;
  height: 14rem;
}*/
