<div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{facility.MainPhotoUrl}}" alt="{{facility.FaciltyName}}">
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1">
      <a [routerLink]="['/admin/facilities/approvals', facility.FacilityUID]" routerLinkActive="router-link-active">{{facility.FaciltyName}}</a>
    </h6>
    <p class="card-text text-muted text-center">{{facility.City}}, {{facility.State}}</p>
  </div>
</div>
