<div fxLayout="column" fxFlex="100">

  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex="33">
      <!--<div class="return-link" (click)="goBack()"><i class="fas fa-arrow-left ml-1"></i> Back to Treatment Area</div>-->
    </div>
    <div class="long-title" fxFlex="33">
      <!--<h4>Availability for {{treatmentArea.Name}}</h4>-->
    </div>
    <div fxLayout="column" fxFlex="33"></div>
  </div>

  <div fxLayout="row" fxFlex.gt-sm="100">
    <div fxFlex="100">

      <dx-scheduler id="bytherapist"
                    #bytherapist
                    [dataSource]="bytherapistData"
                    [views]="['day']"
                    currentView="day"
                    endDateExpr="EndDate"
                    startDateExpr="StartDate"
                    [firstDayOfWeek]="0"
                    [startDayHour]="7"
                    [showAllDayPanel]="false"
                    [currentDate]="currentDate"
                    [adaptivityEnabled]="true"
                    [cellDuration]="30"
                    [height]="750"
                    width="100%"
                     crossScrollingEnabled="true"
                    [groups]="['TherapistUID']"
                    (onAppointmentRendered)="onAppointmentRendered($event)"
                    appointmentTemplate="byroom-appointment-template"
                    appointmentTooltipTemplate="byroom-tooltip-template"
                     dataCellTemplate="dataCellTemplate"
                    (onAppointmentFormOpening)="onAppointmentFormOpeningByTherapist($event)">

        <dxo-editing>
          [allowAdding]="false"
          [allowDeleting]="false"
          [allowUpdating]="false"
        </dxo-editing>

        <dxi-resource [dataSource]="therapists"
                      fieldExpr="TherapistUID"
                      valueExpr="UID"
                      displayExpr="Name"
                      [allowMultiple]="false"></dxi-resource>

        <div *dxTemplate="let cellData of 'dataCellTemplate'" [ngClass]="markAvailability(cellData)">
          <div class='day-cell'>{{cellData.text}}</div>
        </div>

        <div *dxTemplate="let model of 'byroom-appointment-template'">
          <div class='showtime-preview'>
            <div>Therapist: {{model.appointmentData.TherapistName}}</div>
            <div>{{model.appointmentData.ServiceName}}</div>
            <div>Customer: {{model.appointmentData.CustomerName}}</div>
            <div class='dropdown-appointment-dates'>
              {{(model.appointmentData.StartDate | date:'shortTime') + ' - ' + (model.appointmentData.EndDate | date:'shortTime')}}
            </div>
          </div>
        </div>

        <div *dxTemplate="let model of 'byroom-tooltip-template'">
          <div class='showtime-preview'>
            <div>Therapist: {{model.appointmentData.TherapistName}}</div>
            <div>{{model.appointmentData.ServiceName}}</div>
            <div>Customer: {{model.appointmentData.CustomerName}}</div>
            <div class='dropdown-appointment-dates'>
              {{(model.appointmentData.StartDate | date:'shortTime') + ' - ' + (model.appointmentData.EndDate | date:'shortTime')}}
            </div>
          </div>
        </div>

      </dx-scheduler>

    </div>

  </div>
</div>
