.embedded-links {
  width: 90vw;
  margin-top: -20px;
  height: calc(1100px + (1500 - 1100) * ((100vw - 400px) / (2400 - 400))) !important;
}

@media (min-width: 1475px) {
  .embedded-links {
    width: 70vw;
  }
}

@media (max-width: 600px) {
  .embedded-links {
    height: calc(1100px + (2200 - 1100) * ((100vw - 400px) / (2400 - 400))) !important;
  }
}
