<dx-popup [width]="300"
          [height]="250"
          [showTitle]="true"
          title="Have an account already?"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <p style="font-size: 22px;">
      Would you like to log in or continue as a guest?
    </p>
    <div>
      <button mat-button class="mat-accent dark" (click)="continue()">Continue</button>
      <button mat-button class="mat-accent dark" (click)="login()">Login</button>
    </div>

  </div>
</dx-popup>
