a.nav-link.text-light {
  font-size: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spa-nav-login {
    vertical-align: middle;
  font-size: 16px;
  color: #616161;
  font-weight: 400;
  line-height: 30px;
}

.login-menu-wrapper {
    /*width: 180px;*/
    /*min-width: 180px;*/
}

.login-link:hover {
  /*font-weight: 600;*/
  cursor: pointer;
}

.login-hover:hover {
  cursor: pointer;
}

fa-icon {
  color: #616161;
  margin-left: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.login-link:hover {
  font-weight: 600;
  cursor: pointer;
}
