  <div>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="profileClick()">Profile</button>
      <button mat-menu-item [routerLink]='["/authentication/logout"]'>Logout</button>
    </mat-menu>

    <div *ngIf="isAuthenticated | async" fxLayout="row" fxLayoutAlign="center center" style="display: flex">
      <fa-icon [icon]="faUserCircle" size="2x" [matMenuTriggerFor]="appMenu"></fa-icon>
      <div class="spa-nav-login login-hover" [matMenuTriggerFor]="appMenu">Hello {{ userName | async }}</div>
    </div>
  </div>
