<!--<div class="container">
  <div class="row">
    <div *ngIf="!facilitiesRequiringApproval" style="background-color: #d3dbde; height: 60px; text-align: center; vertical-align: central; padding-top: 20px;">No facilities awaiting approval.</div>
    <div *ngIf="facilitiesRequiringApproval">
      <div *ngFor="let facility of facilitiesRequiringApproval" class="card-holder">
        <spa-admin-facility-card [facility]="facility"></spa-admin-facility-card>
      </div>
    </div>
  </div>
</div>-->

<div style="max-height: 500px;">
  <mdb-card class="appointment-list appointment-scroll">
    <!--<div class="appointment-scroll">-->
    <mdb-card-body class="p-0">
      <!-- Grid row -->
      <div>

        <!-- Grid column -->
        <div class="px-0">

          <div class="white z-depth-1 ">


            <div *ngIf="!facilitiesRequiringApproval" style="background-color: #d3dbde; height: 60px; text-align: center; vertical-align: central; padding-top: 20px;">No facilities awaiting approval.</div>
            <!--<div *ngIf="facilitiesRequiringApproval">
    <div *ngFor="let facility of facilitiesRequiringApproval" class="card-holder">
      <spa-admin-facility-card [facility]="facility"></spa-admin-facility-card>
    </div>
  </div>-->


            <ul *ngIf="facilitiesRequiringApproval" class="list-unstyled friend-list m-0">
              <li *ngFor="let facility of facilitiesRequiringApproval" class="p-3" style="border-bottom: 1px solid lightgrey;">
                <a (click)="facilityClicked(facility.FacilityUID)" fxLayout="column" fxFlex="100">
                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
                    <img [src]="facility?.MainPhotoUrl" alt="avatar" >
                    <div class="text-large">
                      <h4>{{facility.FaciltyName}}</h4>
                      <div class="service-block">{{facility.City}}, {{facility.State}}</div>
                    </div>
                  </div>


                  <div class="chat-footer">
                  </div>
                </a>
              </li>
            </ul>




          </div>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </mdb-card-body>
    <!--</div>-->

  </mdb-card>

</div>
