::ng-deep .cardholder spa-admin-therapist-card {
  margin: 0 10px;
}

.appointment-scroll {
  position: relative;
  /*height: 18rem;*/
  overflow: auto;
}

img {
    height: 90px;
    width: auto;
    object-fit:cover;
}
