<section id="pricings-section">
  <div class="container accent-bg-light" style="padding-bottom: 20px;">
    <div fxLayout='column' class="text-center mt-1 white-color">
      <div fxFlex.gt-md="60%">
        <h2 class="title-page" style="color: gray;">Memberships</h2>
      </div>
    </div>
    <div fxLayout="row wrap">
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-md="25" fxFlex.md="25" fxFlex.gt-sm="33.33" fxFlex.sm="33.33" fxFlex.gt-xs="50" fxFlex.xs="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="accent-bg">
            <div class="card-title-text">
              <h1><strong>Basic</strong></h1>
              <!--<div class="text-sm">
                <p>$ 9.99 / year</p>
              </div>-->
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <mat-list class="mb-1">
              <mat-list-item>
                <p> Access to Independent Spa Location </p>
              </mat-list-item>
              <!--<mat-list-item>
                <p> 10 Emails </p>
              </mat-list-item>
              <mat-list-item>
                <p> 10 Domains </p>
              </mat-list-item>
              <mat-list-item>
                <p> 1GB Bandwidth </p>
              </mat-list-item>-->
            </mat-list>
            <button mat-raised-button class="mat-accent">More Info</button>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-md="25" fxFlex.md="25" fxFlex.gt-sm="33.33" fxFlex.sm="33.33" fxFlex.gt-xs="50" fxFlex.xs="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="accent-bg">
            <div class="card-title-text">
              <h1><strong>Medium</strong></h1>
              <!--<div class="text-sm">
                <p> 24.99 / year</p>
              </div>-->
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <mat-list class="mb-1">
              <mat-list-item>
                <p> Add Access to Some Resort Locations </p>
              </mat-list-item>
              <!--<mat-list-item>
                <p> 25 Emails </p>
              </mat-list-item>
              <mat-list-item>
                <p> 25 Domains </p>
              </mat-list-item>
              <mat-list-item>
                <p> 2GB Bandwidth </p>
              </mat-list-item>-->
            </mat-list>
            <button mat-raised-button class="mat-accent">More Info</button>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-md="25" fxFlex.md="25" fxFlex.gt-sm="33.33" fxFlex.sm="33.33" fxFlex.gt-xs="50" fxFlex.xs="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="accent-bg">
            <div class="card-title-text">
              <h1><strong>Luxury</strong></h1>
              <!--<div class="text-sm">
                <p> $ 49.99 / year</p>
              </div>-->
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <mat-list class="mb-1">
              <mat-list-item>
                <p> Access to All Locations </p>
              </mat-list-item>

            </mat-list>
            <button mat-raised-button class="mat-accent">More Info</button>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-md="25" fxFlex.md="25" fxFlex.gt-sm="100" fxFlex.sm="100" fxFlex.gt-xs="50" fxFlex.xs="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="accent-bg">
            <div class="card-title-text">
              <h1><strong>Corporate</strong></h1>
              <!--<div class="text-sm">
                <p> $ 49.99 / year</p>
              </div>-->
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <mat-list class="mb-1">
              <mat-list-item>
                <p> Luxury Subscripion and Medium Price </p>
              </mat-list-item>
              <!--<mat-list-item>
                <p> 50 Emails </p>
              </mat-list-item>
              <mat-list-item>
                <p> 50 Domains </p>
              </mat-list-item>
              <mat-list-item>
                <p> 5GB Bandwidth </p>
              </mat-list-item>-->
            </mat-list>
            <button mat-raised-button class="mat-accent">More Info</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>
