.plan-pricing .mat-list-item ::ng-deep .mat-list-item-content {
  display: inline-flex !important;
  text-align: center;
  font-size: .875rem !important;
}

.plan-pricing {
  background: #FAFAFA;
  color: #fff;

  /*p {
    color: #1d4946;
  }*/
}

.mat-raised-button {
  color: white;
}
