<div style="display:flex;">
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center center" fxLayoutGap="15px" style="margin-top: 50px; width: 100%">
    <div fxLayout="column">
      <div *ngIf="(galleryImages) && (galleryImages.length > 0)" class="gallery-header" fxLayout="row" fxLayoutAlign="end center">
        <a mdbTooltip="Set as Default" placement="top" (click)="markAsDefault()"><i class="far fa-check-circle"></i></a>
        <!--<a mdbTooltip="Edit Description" placement="top" (click)="addDescription()"><i class="far fa-edit"></i></a>-->
        <a mdbTooltip="Delete Image" placement="top" (click)="deleteImage()"><i class="far fa-trash-alt"></i></a>
      </div>
      <ngx-gallery #gallery id="gallery" [options]="galleryOptions" [images]="galleryImages" (change)="change($event)"></ngx-gallery>
      <!--<dx-speed-dial-action icon="add"
                        label="Add row"
                        [index]="1"
                        (onClick)="addDescription()">
  </dx-speed-dial-action>-->
      <dx-context-menu [dataSource]="items"
                       [width]="200"
                       [disabled]="!canEdit"
                       target="ngx-gallery-image"
                       (onItemClick)="itemClick($event)">
      </dx-context-menu>
      <!--<dx-tooltip target="ngx-gallery-image"
              [(visible)]="defaultVisible"
              [closeOnOutsideClick]="false">
    <div *dxTemplate="let data = data of 'content'">
      ExcelRemote IR
    </div>
  </dx-tooltip>-->

    </div>
    <br />
    <br />
    <br />
    <div fxLayout="row" fxLayoutAlign="center center">
      <div style="padding: 20px; border: 1px solid lightgrey;">
        <h5>Add New Images</h5>
        <dx-file-uploader *ngIf="canEdit" #fileUploader
                          selectButtonText="Select Photo"
                          [uploadUrl]="uploadPath"
                          [uploadHeaders]="headers"
                          [maxFileSize]="getMaxFileSize()"
                          [invalidMaxFileSizeMessage]="getMaxFileSizeMessage()"
                          [(value)]="values"
                          [multiple]="false"
                          accept="image/*"
                          (onUploaded)="fileUploader_onUploaded($event)"
                          (onUploadError)="fileUploader_onUploadError($event)"
                          (onUploadStarted)="fileUploader_onUploadStarted($event)"
                          uploadMode="useButtons">
        </dx-file-uploader>
      </div>
    </div>
  </div>
</div>

<spa-delete-warning-modal [showWarning]="showDeleteWarning" (continue)="continue($event)"></spa-delete-warning-modal>
