.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

dx-file-uploader {
    width: 400px !important;
}

i {
  font-size: 18px;
  margin: 10px 10px;
  color: #50595C;
}

.gallery-header {
  border: 1px solid lightgrey;
  width: 100%;
  min-height: 30px;
  /*background-color: #d3dbde;*/
}
