<form  [formGroup]="personalInfoForm" (ngSubmit)="onSave()">
    <div fxLayout="column">
      <!--<h2>Facility Profile</h2>
      <hr />-->
      <br />
      <div fxLayout="column">

        <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-lg="column">
          <div fxLayout="column" fxFlex="60">

            <div fxLayout="row" fxLayoutGap="20px">
              <div fxFlex="100" fxFlex.lt-lg="60" fxFlex.lt-md="80">
                <mat-form-field class="form-field-full-width">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="Name">
                  <mat-error *ngIf="personalInfoForm.controls.Name.hasError('required')">
                    Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <br />
            <div fxLayout="row" fxLayoutGap="20px">
              <div fxFlex="100" fxFlex.lt-lg="60" fxFlex.lt-md="80">
                <mat-form-field class="form-field-full-width">
                  <mat-label>URL</mat-label>
                  <input matInput formControlName="URL">
                  <mat-error *ngIf="personalInfoForm.controls.URL.hasError('required')">
                    URL is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="personalInfoForm.controls.URL.hasError('invalidUrl')">
                    URL is <strong>invalid</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <br />

            <div fxLayout="row" fxLayoutGap="20px">
              <div fxFlex="30" fxFlex.lt-lg="30" fxFlex.lt-md="40">
                <mat-form-field>
                  <mat-label>Phone Number</mat-label>
                  <input matInput formControlName="PhoneNumber">
                  <mat-error *ngIf="personalInfoForm.controls.PhoneNumber.hasError('required')">
                    Phone Number is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="personalInfoForm.controls.PhoneNumber.hasError('invalidNumber')">
                    Phone Number is <strong>invalid</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <br />
            <div fxLayout="row" fxLayout.lt-lg="column">

            </div>
            <div fxLayout="column" fxLayout.lt-lg="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
              <div fxFlex="50">
                <mat-form-field class="form-field-full-width">
                  <mat-label>Address 1</mat-label>
                  <input matInput formControlName="Address1">
                  <mat-error *ngIf="personalInfoForm.controls.Address1.hasError('required')">
                    Address 1 is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <mat-form-field class="form-field-full-width">
                  <mat-label>Address 2</mat-label>
                  <input matInput formControlName="Address2">
                </mat-form-field>
              </div>
            </div>

            <br />

            <div fxLayout="row" fxLayoutGap="20px">
              <div fxLayout="column" fxFlex="33">
                <mat-form-field>
                  <mat-label>City</mat-label>
                  <input matInput formControlName="City">
                  <mat-error *ngIf="personalInfoForm.controls.City.hasError('required')">
                    City is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="33">
                <mat-form-field>
                  <mat-label>State</mat-label>
                  <mat-select formControlName="StateCode">
                    <mat-option *ngFor="let state of states" [value]="state.Code">
                      {{state.Name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="33">
                <mat-form-field>
                  <mat-label>Zip Code</mat-label>
                  <input matInput formControlName="ZipCode">
                  <mat-error *ngIf="personalInfoForm.controls.ZipCode.hasError('required')">
                    Zip Code is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="personalInfoForm.controls.ZipCode.hasError('invalidZip')">
                    Zip Code is <strong>invalid</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <br />
            <br />

            <!--<div fxLayout="row" fxLayoutGap="20px">
              <div fxLayout="column">
                <div class="spa-form-label">Latitude:</div>
                <dx-text-box formControlName="Latitude">
                </dx-text-box>
              </div>
              <div fxLayout="column">
                <div class="spa-form-label">Longitude:</div>
                <dx-text-box formControlName="Longitude">
                </dx-text-box>
              </div>
            </div>-->

          </div>
          


          <div fxLayout="row" fxFlex="40" fxLayout.gt-md="column" fxLayout.lt-sm="column">
            <div fxLayout="column" style="width: 50%">

              <mat-form-field>
                <mat-label>Time Zone</mat-label>
                <mat-select formControlName="TimeZoneID">
                  <mat-option *ngFor="let timezone of timezones" [value]="timezone.ID">
                    {{timezone.DisplayName}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="personalInfoForm.controls.TimeZoneID.hasError('required')">
                  Time Zone is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="column" style="width: 50%">
            </div>
          </div>
          
          <div fxLayout="row" fxFlex="40" fxLayout.gt-md="column" fxLayout.lt-sm="column">
            <div fxLayout="column" style="width: 50%">

              <mat-form-field class="form-field-full-width">
                <mat-label>Short Description (For Facility Card)</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                          maxlength="150"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="25"
                          formControlName="ShortDescription"></textarea>
                <mat-error *ngIf="personalInfoForm.controls.ShortDescription.hasError('required')">
                  Short Description is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="column" style="width: 50%">

              <mat-form-field class="form-field-full-width">
                <mat-label>Describe the Facility</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="25"
                          formControlName="Description"></textarea>
                <mat-error *ngIf="personalInfoForm.controls.Description.hasError('required')">
                  Description is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
    
          </div>


        </div>
        <br />
        <br />
        <br />
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">

          <button *ngIf="showSaveButton" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSave()" useSubmitBehavior="true">Save</button>
          <button *ngIf="showSubmitButton" mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="onSubmit()" useSubmitBehavior="false">submit</button>

        </div>


      </div>
    </div>
</form>

