.spa-appointments-list-container {
    border: 1px solid lightgray;
}

.time-block {
  background-color: #5a244c;
  color: white;
}

.start-time {
    font-size: 18px;
    font-weight: 600;
}

.end-time {
  font-size: 16px;
}

.facility-block {
    font-size: 16px;
    font-weight: 500;
   
}

.treatment-room-block {
  font-size: 14px;
}

.customer-block {
  font-size: 14px;
}

.service-block {
  font-size: 14px;
}

.dx-list-item-content {
    padding: 0;
    border-bottom: 1px solid lightgray;
}
