<div class="spa-appointments-list-container">
  <dx-list [items]="appointments"
           height="400"
           itemTemplate="items"
           selectionMode="single">
    <div *dxTemplate="let item of 'items'">
      <div class="appointment" (click)="itemClicked(item.UID)">
        <div fxLayout="row" fxLayoutGap="10px">
          <div class="time-block" fxLayout="column" fxFlex="100px" fxLayoutAlign="center center">
            <div class="start-time">{{item.StartDateTime | date:'L/dd'}}</div>
            <div class="end-time">{{item.StartDateTime | date:'shortTime'}}</div>
          </div>
          <div fxLayout="column" fxFlex="280px">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <div class="facility-block">{{item.FacilityName}}</div>
              <div class="treatment-room-block">{{item.TreatmentArea}}</div>
            </div>
            <div class="customer-block">{{item.CustomerName}}</div>
            <div class="service-block">{{item.ServiceName}}</div>
          </div>
        </div>        
        <!--<div class="price">{{item.Price | currency:'USD':'symbol':'1.0'}}</div>-->
      </div>
    </div>
  </dx-list>
</div>

<!--<div fxLayout="row">
  <ul>
    <li *ngFor="let day of days">
      <p>this is day 1</p>
      <ul>
        <li *ngFor="let appt of appountments">

        </li>
      </ul>
    </li>
  </ul>
</div>-->

<!--<div class="spa-appointments-list-container">
  <dx-list [items]="appointments"
           height="100%"
           itemTemplate="items"
           groupTemplate="groups">
    <div *dxTemplate="let group of 'groups'">
      <div>Date: {{group.key}}</div>
    </div>
    <div *dxTemplate="let item of 'items'">
      <div class="appointment">
        <div>{{item.StartDateTime}} - {{item.EndDateTime}}</div>
        <div class="price">{{item.Price | currency:'USD':'symbol':'1.0'}}</div>
      </div>
    </div>
  </dx-list>
</div>-->
