<div fxLayout="row">
  <div fxFlex="30px"></div>
  <div fxFlex="100" fxLayout="column">
    <h2>Requirements</h2>
    <ul>
      <li>1. Providers must be a licensed MT and pass our background checks.</li>
      <li>2. Providers will work as an independent contractor who will manage your own time and location preferences. You are not a Spa Space employee. However, you must agree to certain standards of service to maintain high quality experiences to all of our clients.</li>
      <li>
        3. Providers must agree to our service standards:
        <ul>
          <li>Agree to take your professional image and hygiene serously.</li>
          <li>Commit to providing professional and personalized services.</li>
          <li>Be a team player.</li>
        </ul>
      </li>
    </ul>
    <div fxLayout="row">
      <div>I acknowledge that I have read and agree to the Terms of Service and Privacy Policy.</div>
    </div>
    <div fxLayout="row">
      <div>I acknowledge I am an independent contracter.</div>
    </div>
    <div fxLayout="row">
      <div>I agree to the Service Standards of Spa Space and commit to providing the highest level of service.</div>
    </div>
  </div>
  <div fxFlex="30px"></div>
</div>
