img {
  display: block;
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
}

.star {
  font-size: 1.5rem;
  color: #c9d7e8;
}

.filled {
  color: #ffcc00;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.review-text {
  font-size: 15px;
}
