<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="space-between" style="border-top: 1px solid lightgray; padding-top: 10px;" fxLayout.lt-sm="column">
    <div fxLayout="column" fxFlex="150px" fxLayoutGap="15px" fxLayoutAlign="start center">
      <img [src]="getPhotoURL()" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
      <div class="review-title"><strong>{{review?.CustomerName}}</strong></div>      
    </div>
    <div fxLayout="column" fxFlex="100" fxLayoutGap="15px" fxLayoutAlign="start start">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="5px">

        <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
          <ngb-rating [(rate)]="review.Rating" [max]="max" [readonly]="true">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <div>Review date: {{review?.ReviewDate | date: 'shortDate'}}</div>
        </div>


        <a (click)="onViewAppointment()" style="color:blue">(View Appointment)</a>
      </div>

      <div class="review-text">
        {{review?.ReviewText}}
      </div>

    </div>



  </div>

</div>
