<div class="spa-ratings-list-container">
  <div>
    <div *ngFor="let review of reviews">
      <div class="rating" fxLayout="column" style="width: 400px; height:80px;">
        <div fxLayout="row">
          <div class="review-title" fxFlex="100">{{review.Customer}}</div>
          <div class="review-title" fxFlex="100">{{review.ReviewDate | date:'shortDate'}}</div>
          <div fxFlex="100px">
            <ngb-rating [(rate)]="review.Rating" [max]="max" [readonly]="true">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>
          </div>
        </div>
        <div fxLayout="row" style="font-size: 10px; width: 100%">
          <div class="review-text">
            {{review.ReviewText}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

