.star {
  font-size: 1rem;
  color: #c9d7e8;
}

.filled {
  color: #ffcc00;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

/*.dx-texteditor-input {
  font-size: 10px;
  line-height: 11px;
  padding: 5px;
}*/

.dx-list-item-content {
  padding: 0;
  border-bottom: 1px solid lightgray;
}

.spa-ratings-list-container {
  border: 1px solid lightgray;
}

::ng-deep .dx-texteditor.dx-editor-filled .dx-texteditor-input {
  padding: 5px;
}

.dx-list-item {
  height: 100px;
}

.review-title {
  font-size: 14px;
  padding: 5px;
}

.review-text {
  font-size: 12px;
  padding: 5px;
}

.rating {
    border-bottom: 1px solid lightgrey;
}
