<div class="container" style="width:100%">
  <br /><br /><h2>Preferences</h2>
  <br />
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="custom-slider">
      <h3>Facility Preferences</h3>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div style="width: 500px;">
      <hr />
    </div>
  </div>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="40px">

    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="40px" fxLayoutGap.lt-sm="10px">

      <div class="pref-box" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center">
        <h4>Quiet Environment</h4>
        <div class="custom-slider">
          <ng5-slider [(value)]="currentCustomer.Profile.FacilityPreferences.QuietEnvironment" [options]="preferences" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>

      <div class="pref-box" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center">
        <h4>Valet Parking</h4>
        <div class="custom-slider">
          <ng5-slider [(value)]="currentCustomer.Profile.FacilityPreferences.ValetParking" [options]="preferences" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>

    </div>

    <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="40px" fxLayoutGap.lt-sm="10px">
      <div class="pref-box" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center">
        <h4 fxFlex="200px">Hot Tub</h4>
        <div fxFlex="200px" class="custom-slider">
          <ng5-slider [(value)]="currentCustomer.Profile.FacilityPreferences.HotTub" [options]="preferences" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
      <div class="pref-box" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center">
        <h4 fxFlex="200px">Steam Sauna</h4>
        <div fxFlex="200px" class="custom-slider">
          <ng5-slider [(value)]="currentCustomer.Profile.FacilityPreferences.SteamSauna" [options]="preferences" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div fxLayout="row" fxLayoutAlign="center">
    <div class="custom-slider">
      <h3>Therapist Preferences</h3>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div style="width: 500px;">
      <hr />
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center" fxLayoutGap="20px">

    <h4 fxFlex="200px">Gender</h4>

    <div fxFlex="200px" fxLayout="column">
      <!--<div fxFlexLayout="column" fxLayoutAlign="center">-->
      <div fxFlex>
        <mat-radio-group>
          <mat-radio-button value="1">Female</mat-radio-button>
          <mat-radio-button value="2">Male</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <div class="custom-slider narrow">
          <ng5-slider [(value)]="currentCustomer.Profile.TherapistPreferences.Gender" [options]="twoPreferences" style="margin-bottom: 4rem; width: 140px;"></ng5-slider>
        </div>
      </div>

    </div>
    <!--</div>-->



  </div>
  <br /><br />
  <div fxLayout="row" fxLayoutAlign="center">
    <div style="width: 500px;">
      <hr />
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-button class="mat-accent dark" (click)="continue()">Continue</button>
  </div>
</div>
