::ng-deep h3 {
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}

::ng-deep h2 {
  text-align: center;
}

::ng-deep h4 {
  margin-top: 28px;
  margin-bottom: 0px;
  vertical-align: middle;
  margin-right: 30px;
  font-size: 16px;
  color: gray;
  text-align: center;
}

.custom-slider {
  /*width: 300px;*/
  .ng5-slider {
    .ng5-slider-selection {
      background: rgb(255, 255, 0) !important;
    }
  }
}

::ng-deep.ng5-slider .ng5-slider-tick-value {
  visibility: hidden;
}

::ng-deep .ng5-slider .ng5-slider-tick-legend {
  font-size: 13px;
}

::ng-deep .ng5-slider .ng5-slider-pointer {
  background-color: cadetblue !important;
}

.pref-box {
  border: 2px #ECEFF1 solid;
  border-radius: 20px;
  padding: 5px;
  padding-bottom: 20px;
  padding-right: 20px;
}

/*::ng-deep .normal .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
  background: green;
}*/

::ng-deep mat-radio-button {
  margin: 0 5px 0 5px;
}
