<div class="provider-dashboard" style="width: 100%;">
  <div class="spa-container-white pl-1 pt-1" fxLayout="row wrap" fxFlex="100" fxLayoutGap="20px" fxLayoutGap.lt-sm="0" fxLayoutAlign="start start">
    <div class="dash-column" fxLayout="column" fxFlex="0 1 calc(25% - 20px)" fxFlex.lt-lg="0 1 calc(33.3% - 20px)" fxFlex.lt-md="0 1 calc(50% - 20px)" fxFlex.lt-sm="100%">
      <mdb-accordion class="spa-container">
        <mdb-accordion-item [collapsed]="false" [customClass]="'border-0'">
          <mdb-accordion-item-head class="bg-secondary" [indicator]="true"
                                   [customClass]="'text-center text-uppercase white-text z-depth-1'">
            Messages
          </mdb-accordion-item-head>
          <mdb-accordion-item-body [customClass]="'p-0'">
            <spa-message-summary class="dashboard-message" [messages]="messages"
                                 (messageSelected)="messageSelected($event)"></spa-message-summary>
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>
    </div>
    <div class="dash-column" fxLayout="column" fxFlex="0 1 calc(25% - 20px)" fxFlex.lt-lg="0 1 calc(33.3% - 20px)" fxFlex.lt-md="0 1 calc(50% - 20px)" fxFlex.lt-sm="100%">
      <mdb-accordion class="spa-container">
        <mdb-accordion-item [collapsed]="false" [customClass]="'border-0'">
          <mdb-accordion-item-head class="bg-secondary" [indicator]="true"
                                   [customClass]="'text-center text-uppercase white-text z-depth-1'">
            Upcoming Appointments
          </mdb-accordion-item-head>
          <mdb-accordion-item-body [customClass]="'p-0'">
            <spa-therapist-appointment-list class="dashboard-appointment" [therapistUID]="therapist.UID"
                                            [appointments]="upcomingAppointments"
                                            (appointmentSelected)="appointmentSelected($event)"></spa-therapist-appointment-list>
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>
    </div>
    <div class="dash-column" fxLayout="column" fxFlex="0 1 calc(25% - 20px)" fxFlex.lt-lg="0 1 calc(33.3% - 20px)" fxFlex.lt-md="0 1 calc(50% - 20px)" fxFlex.lt-sm="100%" fxFlexFill fxLayoutAlign="space-between">
      <mdb-accordion class="spa-container">
        <mdb-accordion-item [collapsed]="false" [customClass]="'border-0'">
          <mdb-accordion-item-head class="bg-secondary" [indicator]="true"
                                   [customClass]="'text-center text-uppercase white-text z-depth-1'">
            Recent Reviews
          </mdb-accordion-item-head>
          <mdb-accordion-item-body [customClass]="'p-0'">
            <spa-therapist-review-list class="dashboard-reviews" [therapistUID]="therapist.UID"></spa-therapist-review-list>
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>

      <mdb-accordion class="spa-container">
        <mdb-accordion-item [collapsed]="false" [customClass]="'border-0'">
          <mdb-accordion-item-head class="bg-secondary" [indicator]="true"
                                   [customClass]="'text-center text-uppercase white-text z-depth-1'">
            Past Appointments
          </mdb-accordion-item-head>
          <mdb-accordion-item-body [customClass]="'p-0'">
            <spa-therapist-appointment-list class="dashboard-past-appointment" [therapistUID]="therapist.UID"
                                            [appointments]="pastAppointments"
                                            (appointmentSelected)="appointmentSelected($event)"></spa-therapist-appointment-list>
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>

    </div>
    <div class="dash-column" fxLayout="column" fxFlex="0 1 calc(25% - 20px)" fxFlex.lt-lg="0 1 calc(33.3% - 20px)" fxFlex.lt-md="0 1 calc(50% - 20px)" fxFlex.lt-sm="100%">
      <mdb-accordion class="spa-container">
        <mdb-accordion-item [collapsed]="false" [customClass]="'border-0'">
          <mdb-accordion-item-head class="bg-secondary" [indicator]="true"
                                   [customClass]="'text-center text-uppercase white-text z-depth-1'">
            Transactions
          </mdb-accordion-item-head>
          <mdb-accordion-item-body [customClass]="'p-0'">
            <spa-therapist-transaction-list class="dashboard-transactions" [transactions]="transactions"
                                            (transactionSelected)="transactionSelected($event)"></spa-therapist-transaction-list>
          </mdb-accordion-item-body>
        </mdb-accordion-item>
      </mdb-accordion>
    </div>
  </div>
</div>


<!--popup goes here
-->
<!--<dx-popup [width]="width"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="appointmentPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <spa-therapist-appointment-detail *ngIf="appointmentPopupVisible" [appointmentUID]="appointmentUID" [therapistUID]="therapist.UID"></spa-therapist-appointment-detail>
  </div>
</dx-popup>-->


<!--<div mdbModal #appointmentModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <spa-therapist-appointment-detail *ngIf="appointmentPopupVisible" [appointmentUID]="appointmentUID" [therapistUID]="therapist.UID"></spa-therapist-appointment-detail>
    </div>
  </div>
</div>-->
