textarea {
  height: 200px;
}

input.text-wide {
  width: 200px;
}

input.text-narrow {
  width: 50px;
}

/*::ng-deep #fileuploader-container {
  border: 1px solid #d3d3d3;
  margin: 20px 20px 0 20px;
  max-width: 200px;
}*/

/*.custom-slider {
  .ng5-slider {
    .ng5-slider-selection {
      background: rgb(255, 255, 0) !important;
    }
  }
}*/

/*::ng-deep .ng5-slider .ng5-slider-tick-value {
  visibility: hidden;
}

::ng-deep .ng5-slider .ng5-slider-tick-legend {
  font-size: 13px;
}

::ng-deep .ng5-slider .ng5-slider-pointer {
  background-color: cadetblue !important;
}*/

/*::ng-deep h4 {
  margin-top: 28px;
  margin-bottom: 0px;
  vertical-align: middle;
  margin-right: 30px;
  font-size: 16px;
  color: gray;
  text-align: center;
}*/

::ng-deep h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  width: 100%
}

::ng-deep h2 {
  text-align: center;
}

::ng-deep hr {
  width: 100%
}

::ng-deep .dashboard-message .message-summary {
  max-height: 500px !important;
}

::ng-deep .dashboard-appointment .appointment-list {
  max-height: 500px !important;
}

::ng-deep .provider-dashboard mdb-accordion-item-head h5 {
  font-size: .85rem !important;
}

::ng-deep .dashboard-transactions .transaction-list {
  max-height: 500px !important;
}

::ng-deep .dashboard-reviews .review-list {
  height: 215px !important;
}

::ng-deep .dashboard-past-appointment .appointment-list {
  height: 215px !important;
}

.dash-column {
    max-height: 550px;
    margin-bottom: 20px;
}

.modal-dialog {
    width: 400px !important;
}

.bg-secondary {
  background-color: #5a244c !important;
}
