
<div fxLayout="row" fxFlex="100" style="height: 100%">
  <div fxLayout="column" fxFlex="100">
    <div fxLayout="row" fxFlex="40" fxFlex.lt-md="80" fxFlex.lt-sm="90"></div>
    <div fxLayout="row" fxLayoutAlign="center end">
      <div class="provider-pitch-display">

        <div class="pitch-text centered">
          <div class="pitch-text-header">Join Our Team</div>
          <p>Work in a safe resort environment when you want, where you want, doing what you love.</p>
          <p fxHide.lt-sm>Finally an opportunity to provide therapeutic, quality, personalized treatments that allow your unique style and expertise to shine.</p>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect [routerLink]="['/authentication/register-therapist']">
              Register Now
            </button>
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect [routerLink]="['../requirements']">
              Requirements
            </button>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxFlex="30" fxFlex.lt-md="20" fxFlex.lt-sm="10"></div>
  </div>
</div>
