:host {
  width: 100%
}

.provider-pitch-display {
padding: 15px;
width: 100%;
/*height: 600px;*/
/*background-color: #90A4AE;*/
background: rgba(255, 255, 255, 0.6);
}

.provider-pitch-block {
width: 100%;
height: 180px;
}

/*.provider-pitch-button {
cursor: pointer;
display: flex;
width: 380px;
height: 180px;
background-color: #ECEFF1;
border: solid 6px white;
border-radius: 5px;
opacity: 0.9;
color: #90A4AE;
}*/


.centered {
margin: auto; /* Important */
text-align: center;
/*position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);*/
}

.pitch-text-header {
color: black;
font-size: 38px;
font-size: calc(24px + (38 - 24) * ((100vw - 400px) / (1500 - 400))) !important;
font-weight: 600;
}

.pitch-text p {
font-size: 18px;
font-size: calc(14px + (18 - 14) * ((100vw - 400px) / (1500 - 400))) !important;
color: black;
}

::ng-deep .dx-button {
margin: 0 5px;
font-size: 12px;
}

/*p {
margin: 15px 0;
}*/

/*@media (max-width:1400px) {
.provider-pitch-button {
  width: 360px;
  height: 170px;
}

h1 {
  font-size: 1.6rem;
}

.pitch-text p {
  font-size: 22px;

}
}*/

@media (max-width:1000px) {
.provider-pitch-button {
  width: 320px;
  height: 140px;
}

h1 {
  font-size: 1.4rem;
}
}
