<div mdbModal #frame="mdbModal" class="modal fade left" #serviceModal id="serviceModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form fxLayout="column" class="example-form" [formGroup]="serviceForm" (ngSubmit)="onSave()">
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="center start">
            <div fxLayout="column" fxFlex="100" fxLayoutAlign="start center">
              <!--<mat-form-field>
                <mat-label>Category</mat-label>
                <mat-select formControlName="CategoryID" disabled="true">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let category of categories" [value]="category.ID">
                    {{category.Name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="serviceForm.get('CategoryID').hasError('required')">
                  Licensing Category is <strong>required</strong>
                </mat-error>
              </mat-form-field>-->

              <mat-form-field class="form-field-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="Name">
                <mat-error *ngIf="serviceForm.controls.Name.hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-field-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="25"
                          formControlName="Description"></textarea>
                <mat-error *ngIf="serviceForm.controls.Description.hasError('required')">
                  Description is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="center start">
            <div fxLayout="column" fxFlex="100" fxLayoutAlign="start center">
              <mat-form-field class="form-field-number">
                <mat-label>Duration</mat-label>
                <input type="number" matInput formControlName="Duration">
                <mat-error *ngIf="serviceForm.controls.Duration.hasError('required')">
                  Duration is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field-number">
                <mat-label>Provider/Room Duration</mat-label>
                <input type="number" matInput formControlName="ProviderDuration">
                <mat-error *ngIf="serviceForm.controls.ProviderDuration.hasError('required')">
                  Provider/Room Duration is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-field-number">
                <mat-label>Base Price</mat-label>
                <input currencyMask matInput formControlName="BasePrice">
                <mat-error *ngIf="serviceForm.controls.BasePrice.hasError('required')">
                  Base Price is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-field-number">
                <mat-label>Service Charge %</mat-label>
                <input matInput mask="percent" suffix="%" formControlName="ServiceCharge">
                <mat-error *ngIf="serviceForm.controls.ServiceCharge.hasError('required')">
                  Service Charge Percent is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-field-number">
                <mat-label>Therapist % Of Base</mat-label>
                <input matInput mask="percent" suffix="%" formControlName="TherapistPercentOfBase">
                <mat-error *ngIf="serviceForm.controls.TherapistPercentOfBase.hasError('required')">
                  Therapist Percent Of Base is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-field-number">
                <mat-label>Therapist Flat Rate</mat-label>
                <input currencyMask matInput formControlName="TherapistFlatRate">
                <mat-error *ngIf="serviceForm.controls.TherapistFlatRate.hasError('required')">
                  Therapist Flat Rate is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-field-number">
                <mat-label>Therapist % Of Service Charge</mat-label>
                <input mask="percent" suffix="%" matInput formControlName="TherapistPercentOfServiceCharge">
                <mat-error *ngIf="serviceForm.controls.TherapistPercentOfServiceCharge.hasError('required')">
                  Therapist Percent Of Service Charge is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="form-field-number">
                <mat-label>Facilty % Of Base</mat-label>
                <input matInput mask="percent" suffix="%" formControlName="FacilityPercentOfBase">
              </mat-form-field>

              <mat-checkbox formControlName="Active">Active</mat-checkbox>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onSave()">
          Save
        </button>
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onClose()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
