
<div style="max-height: 500px;">
  <mdb-card class="transaction-list transaction-scroll">
    <div class="appointment-scroll">
      <mdb-card-body class="p-0">
        <!-- Grid row -->
        <div>

          <!-- Grid column -->
          <div class="px-0">

            <div class="white z-depth-1 ">
              <ul class="list-unstyled friend-list m-0">
                <li class="p-2">
                  <a href="#" class="d-flex justify-content-between">
                    <img [src]="getClientImage()" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between" class="text-small">
                      <div><strong>Total Year to Date</strong></div>
                      <div><strong>{{transactions?.TotalYTD | currency}}</strong></div>
                    </div>
                  </a>
                </li>

                <li class="p-2">
                  <a href="#" class="d-flex justify-content-between">
                    <img [src]="getClientImage()" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between" class="text-small">
                      <div><strong>Total Outstanding</strong></div>
                      <div><strong>{{transactions?.TotalMTD | currency}}</strong></div>
                    </div>
                  </a>
                </li>

                <li class="p-2">
                  <a href="#" class="d-flex justify-content-between">
                    <img [src]="getClientImage()" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between" class="text-small">
                      <div><strong>Upcoming Appointments</strong></div>
                      <div><strong>{{transactions?.UpcomingAppointments | currency}}</strong></div>
                    </div>
                  </a>
                </li>

                <!-- <li class="p-2">
                  <a href="#" class="d-flex justify-content-between">
                    <img [src]="getClientImage()" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between" class="text-small">
                      <div><strong>Current Pay Period</strong></div>
                      <div><strong>{{transactions?.CurrentPayPeriod}}</strong></div>
                    </div>
                  </a>
                </li> -->

                <li class="p-2">
                  <a href="#" class="d-flex justify-content-between">
                    <img [src]="getClientImage()" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between" class="text-small">
                      <div><strong>Cancellations</strong></div>
                      <div><strong>{{transactions?.Cancellations}}</strong></div>
                    </div>
                  </a>
                </li>

                <!-- <li class="p-2">
                  <a href="#" class="d-flex justify-content-between">
                    <img [src]="getClientImage()" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between" class="text-small">
                      <div><strong>Total Month to Date</strong></div>
                      <div><strong>{{transactions?.TotalMTD}}</strong></div>
                    </div>
                  </a>
                </li> -->
              </ul>
            </div>

          </div>
          <!-- Grid column -->
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </mdb-card-body>
    </div>

  </mdb-card>

</div>
