.transaction-scroll {
  position: relative;
  overflow: auto;
}

.transaction-list .text-small {
  font-size: 0.85rem;
}

.transaction-list .text-smaller {
  font-size: 0.74rem;
}

.transaction-list img.avatar {
  height: 2.5rem;
  width: 2.5rem;
}

.transaction-list li {
  border-bottom: 1px solid lightgray;
}
