.embedded-links {
  width: 90vw;
  margin-top: -20px;
  height: calc(1600px + (2600 - 1600) * ((100vw - 400px) / (2400 - 400))) !important;
}

@media (min-width: 1475px) {
  .embedded-links {
    width: 70vw;
  }
}

@media (max-width: 1200px) {
  .embedded-links {
    height: calc(2600px + (4200 - 2600) * ((100vw - 400px) / (1400 - 400))) !important;
  }
}

@media (max-width: 600px) {
  .embedded-links {
    height: calc(4500px + (5600 - 4500) * ((100vw - 400px) / (900 - 400))) !important;
  }
}
