<dx-popup [width]="300"
          [height]="250"
          [showTitle]="true"
          title="Information"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <p>
      Full Name:
      <span>{{currentEmployee.FirstName}} {{currentEmployee.LastName}}</span>
    </p>
    <p>
      Birth Date:
      <span>{{currentEmployee.BirthDate}}</span>
    </p>
    <p>
      Address:
      <span>{{currentEmployee.Address}}</span>
    </p>
    <p>
      Hire Date:
      <span>{{currentEmployee.HireDate}}</span>
    </p>
    <p>
      Position:
      <span>{{currentEmployee.Position}}</span>
    </p>
  </div>
</dx-popup>
