::ng-deep app-provider-profile {
  width: 100%;
}

textarea {
  height: 200px;
}

input.text-wide {
  width: 200px;
}

input.text-narrow {
  width: 50px;
}

.button-container {
  border: solid 1px;
}

.profile-tab-menu {
  width: 100%;
}

/*::ng-deep .dx-tab.dx-tab-selected {
  background-color: #CFD8DC;
  color: #333;
}

::ng-deep .dx-tab {
  border-right: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}*/

::ng-deep h4 {
  margin-top: 28px;
  margin-bottom: 0px;
  vertical-align: middle;
  margin-right: 30px;
  font-size: 16px;
  color: gray;
  text-align: center;
}

::ng-deep h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  width: 100%
}

::ng-deep h2 {
  text-align: center;
  margin: 15px 0;
}

::ng-deep hr {
  width: 100%
}

::ng-deep .dx-icon {
  font-size: 20px;
  /*margin-right: 8px;*/
}

::ng-deep .dx-icon.fas {
  font-size: 18px;
  /*margin-right: 8px;*/
}

