
<!-- Nav Tabs -->
<mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3 bg-primary'" [contentClass]="'card'" class="spa-tabs-class">
  <!--Panel 1-->
  <mdb-tab heading="Profile">
    <spa-therapist-personal-edit [showSaveButton]="true"
                                 [canEdit]="true"
                                 [canSubmit]="false"
                                 [therapistProfile]="therapist"></spa-therapist-personal-edit>
  </mdb-tab>
  <!--Panel 2-->
  <mdb-tab heading="Skills">
    <spa-therapist-skills-edit [showSaveButton]="true"
                               [canEdit]="true"
                               [therapistProfile]="therapist"></spa-therapist-skills-edit>
  </mdb-tab>
  <!--Panel 3-->
  <mdb-tab heading="Certifications">
    <spa-therapist-certifications-edit [canEdit]="true"
                                      [therapistUID]="therapist.UID"></spa-therapist-certifications-edit>
    <spa-therapist-licenses-edit [canEdit]="true"
                                      [therapistUID]="therapist.UID"></spa-therapist-licenses-edit>
  </mdb-tab>
  <mdb-tab heading="Insurance">
    <spa-therapist-insurances-edit [canEdit]="true"
                                  [therapistUID]="therapist.UID"></spa-therapist-insurances-edit>
  </mdb-tab>
  <mdb-tab heading="Facilities">
    <spa-therapist-facilities-edit [canEdit]="true"
                                   [therapistUID]="therapist.UID"></spa-therapist-facilities-edit>
  </mdb-tab>
</mdb-tabset>
