<dx-data-grid #upgradesGrid id="upgradesGrid"
              [dataSource]="compensation"
              [showBorders]="true"
              [showRowLines]="true"
              [showColumnLines]="true"
              [columnAutoWidth]="true"
              [wordWrapEnabled]="true"
              (onToolbarPreparing)="upgradesGrid_onToolbarPreparing($event)">
  <dxo-editing mode="row"
               [allowUpdating]="false"
               [allowDeleting]="false"
               [allowAdding]="false">
  </dxo-editing>

  <dxi-column caption="Facility Upgrades">
    <dxi-column caption="Name"
                dataField="Name">
    </dxi-column>
    <dxi-column caption="Optional"
                dataField="Optional">
    </dxi-column>
  </dxi-column>
  <dxi-column caption="Price"
              dataField="Price"
              format="currency">
  </dxi-column>
  <dxi-column caption="Facility %"
              dataField="FacilityPercent"
              format="percent">
  </dxi-column>

  <!--<dxi-column dataField="TherapistPercentOfBase" width="120" headerCellTemplate="headerTemplate" [calculateDisplayValue]="getPercentageOfBase"></dxi-column>
  <dxi-column dataField="AmenityCharge" width="120" dataType="number" format="currency" headerCellTemplate="headerTemplate"></dxi-column>-->
  <dxi-column type="buttons" alignment="left" [width]="100">
    <dxi-button hint="Edit Compensation"
                icon="fa fa-pen"
                [onClick]="editRecord"></dxi-button>
    <dxi-button hint="Delete Compensation"
                icon="fa fa-trash"
                [onClick]="deleteRecord"></dxi-button>
  </dxi-column>
  <!--<div *dxTemplate="let data of 'headerTemplate'">
    <div style="height: 100%;  word-wrap: break-word; white-space: normal;text-align:center">
      {{data.column.caption}}
    </div>
  </div>-->
</dx-data-grid>

<!--<spa-facility-service-compensation [compensation]="compensation" [(showModal)]="showModal" (saveCompensation)="saveCompensation($event)"></spa-facility-service-compensation>

<spa-delete-warning-modal [showWarning]="showDeleteWarning" (continue)="continue($event)"></spa-delete-warning-modal>-->
