<div fxLayout="row">
  <div fxFlex="30px" fxFlex.lt-md="10px" fxFlex.lt-sm="5px"></div>
  <div fxFlex="100" fxLayout="column">
    <h2 class="h2-responsive">Requirements to Join Spa Space</h2>
    <ol>
      <li>Providers must hold an active license and pass annual background checks.</li>
      <li>
        Providers will work as an independent contractor who manages their own work availability time and location preferences. You are not a Spa Space App, Inc. employee.
      </li>
      <li>
        Providers must agree to:
        <ul>
          <li>
            <strong>Be punctual.</strong>&nbsp;Early is on-time. On-time is late. Late is not acceptable.
          </li>
          <li>
            <strong>Respect the spas.</strong>&nbsp;Having access to the facilities is a privilege. Clean up and set up for the next person.
          </li>
          <li>
            <strong>Professional image.</strong>&nbsp;Have good hygiene, courteous attitude, and professional communication.
          </li>
        </ul>
      </li>
    </ol>
    <div fxLayout="column" *ngIf="canEdit" style="padding-left: 30px;">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-sm="start start" class="acknowledge-line">
        <dx-check-box [(value)]="agreedToTerms" (onValueChanged)="onAgreedToTerms()"></dx-check-box>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="start center">&nbsp;&nbsp;I acknowledge that I have read and agree to the<a class="nav-link text-dark" (click)="onTermsViewClick()">Terms of Service and Privacy Policy</a>.</div>
      </div>
      <div fxLayout="row" class="acknowledge-line">
        <dx-check-box [(value)]="agreedToIndepententContractor" (onValueChanged)="onAgreedToIndepententContractor()"></dx-check-box>
        <div fxLayout="row" fxLayoutAlign="center center">&nbsp;&nbsp;I acknowledge I am an independent contracter.</div>
      </div>
      <div fxLayout="row" class="acknowledge-line">
        <dx-check-box [(value)]="agreedToStandards" (onValueChanged)="onAgreedToStandards()"></dx-check-box>
        <div fxLayout="row" fxLayoutAlign="center center">&nbsp;&nbsp;I agree to the Service Standards of Spa Space and commit to providing the highest level of service.</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSubmit()" [disabled]="!checkComplete()">Submit</button>

      </div>
    </div>
  </div>
  <div fxFlex="30px" fxFlex.lt-md="10px" fxFlex.lt-sm="5px"></div>
</div>


<dx-popup width="80%"
          height="80%"
          [showTitle]="true"
          [title]="theTitle"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <div fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="end center"><a class="nav-link text-dark" (click)="onPrintTermsClick()">Open in new tab&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
      <pdf-viewer [src]="termssrc"
                  [render-text]="true"
                  style="display: block;"></pdf-viewer>
    </dx-scroll-view>
  </div>
</dx-popup>
