.embedded-links {
  height: calc(900px + (1000 - 900) * ((100vw - 400px) / (2400 - 400))) !important;
}

// @media (min-width: 1600px) and (max-width: 2000px) {
//   .embedded-links {
//     height: calc(1600px + (1800 - 1600) * ((100vw - 400px) / (2400 - 400))) !important;
//   }
// }

// @media (min-width: 1300px) and (max-width: 1600px) {
//   .embedded-links {
//     height: calc(1500px + (1700 - 1500) * ((100vw - 400px) / (2400 - 400))) !important;
//   }
// }

// @media (min-width: 500px) and (max-width: 1300px) {
//   .embedded-links {
//     height: calc(1500px + (1700 - 1500) * ((100vw - 400px) / (2400 - 400))) !important;
//   }
// }


// @media (max-width: 500px) {
//   .embedded-links {
//     height: calc(1700px + (1900 - 1700) * ((100vw - 400px) / (2400 - 400))) !important;
//   }
// }


