 ::ng-deep .mat-expansion-panel-header {
    padding: 10px 14px !important;
    height: auto !important;
    border-bottom: 1px solid lightgray;
}

.icon-class {
  font-size: 18px;
}

img {
  max-width: 375px;
  height : 180px;
  object-fit: cover;
}

.expansion-panel {
    margin-bottom: 20px !important;
    max-width: 800px !important;
}

.appointment-text {
    font-size: 17px;
    font-weight: 600;
}

.appointment-text-block {
    padding: 20px;
}

.appointment-link {
  color: #007bff !important;
  text-decoration: underline;
}

.appointment-link:focus, .appointment-link:hover {
  cursor: pointer;
font-weight: 600;
}

@media (max-width: 600px) {

  .appointment-text-block {
    padding: 20px 0;
  }
}
