<div class="dash-column" fxLayout="column" >

  <mat-expansion-panel class="expansion-panel" [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div fxLayout="row" fxFlex="100">
          <div fxLayout="column" fxFlex="30px" fxLayoutAlign="center start">
            <div class="icon-class"><i class="far fa-calendar-alt"></i></div>
          </div>
          <div fxLayout="column" fxFlex="100">
            <div>{{appointment.DateTime}}</div>
            <div>{{appointment.FacilityAndLocation}}</div>
          </div>
        </div>
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayout="row" fxLayoutAlign="center center" fxFlex.gt-xs="100" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center start">
      <div fxLayout="column" fxFlex.gt-xs="50" fxLayoutAlign="center">
        <img [src]="getFacilityImage()" />
      </div>
      <div fxLayout="row" fxFlex.gt-xs="50">
        <div fxLayout="column" style="width: 100%">
          <div fxLayout="row" fxLayout.lt-sm="column" fxFlex.gt.xs="100">
            <div class="appointment-text-block" fxLayout="column" fxFlex="100" fxLayoutGap="15px">
              <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between">
                <div class="appointment-text" fxLayout="row" fxLayoutGap="10px">
                  <div><i class="far fa-building"></i></div>
                  <div>{{appointment.FacilityName}}</div>
                </div>
                <div *ngIf="upcoming"><a class="appointment-link" (click)="getDirections()">Directions</a></div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <div class="appointment-text" fxLayout="row" fxLayoutGap="10px">
                  <div><i class="far fa-hand-paper"></i></div>
                  <div>{{appointment.TherapistName}}</div>
                </div>                
                <div *ngIf="upcoming"><a class="appointment-link" (click)="viewTherapistProfile()">Profile</a></div>
              </div>
              <div fxLayout="row" fxLayoutAlign="space-between">
                <div class="appointment-text" fxLayout="row" fxLayoutGap="10px">
                  <div><i class="fas fa-history"></i></div>
                  <div>{{appointment.ServiceName}}</div>
                </div>
              </div>
            </div>
            <!--<div fxLayout="column" fxFlex="30" fxLayoutGap.gt-xs="15px" fxLayoutAlign="center end" fxLayoutAlign.lt-sm="center center">
              <div *ngIf="!upcoming"><a class="appointment-link" href="#">Rate Massage</a></div>
              
             
            </div>-->
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="center" fxLayoutGap="10px">
            <!--<div *ngIf="upcoming"><a class="appointment-link" href="#">View Preferences</a></div>-->
            <!--<div *ngIf="!upcoming"><a class="appointment-link" href="#">Book Again</a></div>-->
            <div *ngIf="(!upcoming && !appointment.TherapistReviewUID)"><a class="appointment-link" (click)="rateTherapist()">Rate Therapist</a></div>
            <div *ngIf="(!upcoming && !appointment.FacilityReviewUID)"><a class="appointment-link" (click)="rateFacility()">Rate Facility</a></div>
            <div *ngIf="(!upcoming && appointment.TherapistReviewUID)">You reviewed this therapist on {{appointment?.FacilityReviewDate | date: shortDate}}</div>
            <div *ngIf="(!upcoming && appointment.FacilityReviewUID)">You reviewed this facility on {{appointment?.FacilityReviewDate | date: shortDate}}</div>
          </div>

        </div>
      </div>
    </div>

  </mat-expansion-panel>

</div>


<spa-add-review [appointment]="appointment" [type]="type" [(showModal)]="showModal"></spa-add-review>
