::ng-deep dx-text-area {
  border: lightgray 1px solid;

  dx-texteditor-input {
    padding: 10px;
  }
}

::ng-deep h3 {
  text-align: center;
}

.spa-form-label {
    font-size: 12px;
}

::ng-deep img {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
}
