<div class="container">
  <form class="example-form" [formGroup]="facilityInfoForm" (ngSubmit)="onSave()">
    <!--<div>-->
    <div fxLayout="column">
      <br />
      <h3>Facility Info</h3>
      <hr />
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
        <div fxFlex="50" fxLayout="column" fxLayoutAlign="start">



          <div class="spa-form-label">Name:</div>
          <dx-text-box formControlName="Name">
            <dx-validator>
              <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <br />
          <div class="spa-form-label">Address Line 1:</div>
          <dx-text-box formControlName="Address1">
            <dx-validator>
              <dxi-validation-rule type="required" message="Address is required"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <br />
          <div class="spa-form-label">Address Line 2:</div>
          <dx-text-box formControlName="Address2">
            <!--<dx-validator>
      <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
    </dx-validator>-->
          </dx-text-box>
          <br />
          <div fxLayout="row" fxLayoutGap="20px">
            <div fxLayout="column" fxFlex="60">
              <div class="spa-form-label">City:</div>
              <dx-text-box formControlName="City">
                <dx-validator>
                  <dxi-validation-rule type="required" message="City is required"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
            <div fxLayout="column" fxFlex="40">
              <div class="spa-form-label">State:</div>
              <dx-text-box formControlName="StateCode">
                <dx-validator>
                  <dxi-validation-rule type="required" message="State is required"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <br />
          <div fxLayout="row" fxLayoutGap="15px">
            <div fxLayout="column">
              <div class="spa-form-label">Zip Code:</div>
              <dx-text-box formControlName="ZipCode">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Zip Code is required"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
            <div fxLayout="column">
              <div class="spa-form-label">Longitude:</div>
              <dx-text-box formControlName="Longitude">
                <dx-validator>
                  <!--<dxi-validation-rule type="required" message="Zip Code is required"></dxi-validation-rule>-->
                </dx-validator>
              </dx-text-box>
            </div>
            <div fxLayout="column">
              <div class="spa-form-label">Latitude:</div>
              <dx-text-box formControlName="Latitude">
                <dx-validator>
                  <!--<dxi-validation-rule type="required" message="Zip Code is required"></dxi-validation-rule>-->
                </dx-validator>
              </dx-text-box>
            </div>

          </div>
          <br />
          <div class="spa-form-label">Web Site URL:</div>
          <dx-text-box formControlName="URL">
            <dx-validator>
              <!--<dxi-validation-rule type="required" message="Address is required"></dxi-validation-rule>-->
            </dx-validator>
          </dx-text-box>
          <br />
          <br />

          <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxLayout="column" fxFlex="33" fxLayoutGap="20px">
              <dx-check-box formControlName="HasHotTub"
                            [value]="true"
                            text="Hot Tub"></dx-check-box>
              <dx-check-box formControlName="HasSaunaSteamroom"
                            [value]="true"
                            text="Sauna/Steam Room"></dx-check-box>
            </div>
            <div fxLayout="column" fxFlex="33" fxLayoutGap="20px">
              <dx-check-box formControlName="HasJacuzzi"
                            [value]="true"
                            text="Jacuzzi"></dx-check-box>
              <dx-check-box formControlName="HasPool"
                            [value]="true"
                            text="Pool"></dx-check-box>
            </div>
            <div fxLayout="column" fxFlex="33" fxLayoutGap="20px">
              <dx-check-box formControlName="HasValetParking"
                            [value]="true"
                            text="Valet Parking"></dx-check-box>
              <dx-check-box formControlName="HasQuietEnvironment"
                            [value]="true"
                            text="Quiet Environment"></dx-check-box>
            </div>
          </div>


        </div>
        <div fxFlex="50" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="center center">
            <img #logoImage [src]="imageUrl" />
            <dx-file-uploader #imageUploader
                              selectButtonText="Change Logo..."
                              [uploadUrl]="fileUploadApiPath"
                              [uploadHeaders]="headers"
                              [(value)]="images"
                              [multiple]="false"
                              accept="*"
                              [disabled]="uploadDisabled"
                              (onUploaded)="fileUploader_onUploaded($event)"
                              (onUploadError)="fileUploader_onUploadError($event)"
                              uploadMode="instantly">
            </dx-file-uploader>
          </div>
          <br /><br />

          <div class="spa-form-label">Description:</div>
          <dx-text-area [height]="200"
                        formControlName="Description">
          </dx-text-area>
        </div>
      </div>
      <br /><br />

      <br /><br />
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
        <dx-button *ngIf="showSaveButton" stylingMode="contained"
                   text="Save"
                   type="default"
                   [width]="120"
                   useSubmitBehavior="true">
        </dx-button>
        <dx-button *ngIf="showSubmitButton" stylingMode="contained"
                   text="Submit"
                   type="default"
                   [width]="120"
                   (onClick)="onSubmit()"
                   useSubmitBehavior="false">
        </dx-button>
      </div>
      <br /><br /><br /><br />

    </div>
    <!--</div>-->

  </form>

</div>

