<div class="facility-profile-preview-container">
  <div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="30px" style="width:100%">
      <div fxLayout="column" fxFlex="40" style="padding-left: 10px; padding-top: 10px;">
        <spa-facility-images-viewer [facilityUid]="facilityUid"></spa-facility-images-viewer>
      </div>
      <div fxLayout="column" fxFlex="60">
        <!--<app-sample-card></app-sample-card>-->
      </div>
    </div>
    <h3 class="h3-responsive">Featured therapists available at {{facility.Name}}</h3>
    <div fxLayout="row">
      <div fxFlex="20px"></div>
      <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
        <div *ngFor="let therapist of therapists" fxFlex="25" fxFlex.lt-lg="33" fxFlex.lt-md="50">
          <spa-therapist-card [therapist]="therapist"></spa-therapist-card>
        </div>
      </div>
      <div fxFlex="20px"></div>
    </div>
    <h3 class="h3-responsive">Amenities available at {{facility.Name}}</h3>

    <div fxLayout="row">
      <div fxFlex="20px"></div>
      <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px" style="width: 100%">
        <div *ngFor="let amenity of amenities">
          <spa-facility-amenity-card [amenity]="amenity"></spa-facility-amenity-card>
        </div>
      </div>
      <div fxFlex="20px"></div>
    </div>
  </div>

</div>
