<div mdbModal #frame="mdbModal" class="modal fade left" #focusAreaModal id="focusAreaModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="example-form" [formGroup]="focusAreaForm" (ngSubmit)="onSave()">
          <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">

            <mat-form-field class="form-field-full-width">
              <mat-label>Name</mat-label>
              <input matInput formControlName="Name">
              <mat-error *ngIf="focusAreaForm.controls.Name.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-checkbox formControlName="Active">Active</mat-checkbox>

          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onSave()">
          Save
        </button>
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onClose()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
