::ng-deep h3 {
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}

::ng-deep h2 {
  text-align: center;
}

.custom-slider {
  width: 400px;

  .ng5-slider {
    .ng5-slider-selection {
      background: rgb(255, 255, 0) !important;
    }
  }
}

::ng-deep .ng5-slider .ng5-slider-tick-value {
  visibility: hidden;
}

::ng-deep .ng5-slider .ng5-slider-tick-legend {
  font-size: 13px;
}

::ng-deep .ng5-slider .ng5-slider-pointer {
  background-color: cadetblue !important;
}
