<div class="container" style="width:100%">
  <br /><br /><h2>Areas of Focus</h2>
  <br />
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <div>
      <div fxLayout="column" fxLayoutAlign="start center" style="width: 100%">
        <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentFocusArea.Fullbody">
          Full Body
        </cust-needs-button>
        <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentFocusArea.Feet">
          Feet
        </cust-needs-button>
        <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentFocusArea.ArmsHands">
          Arms/Hands
        </cust-needs-button>
        <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentFocusArea.UpperBack">
          Upper Back
        </cust-needs-button>
      </div>

    </div>

    <div>

      <div fxLayout="column" fxLayoutAlign="start center" style="width: 100%">
        <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentFocusArea.LowerBack">
          Lower Back
        </cust-needs-button>
        <cust-needs-button style="font-size: 12px;" [(selected)]="currentCustomer.Profile.CurrentFocusArea.MusclesOfHeadAndFace">
          Muscles Of Head/Face
        </cust-needs-button>
        <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentFocusArea.NeckShoulders">
          Neck Shoulders
        </cust-needs-button>
        <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentFocusArea.Legs">
          Legs
        </cust-needs-button>
      </div>

    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <div class="custom-slider">
      <h3>Level of Pressure</h3>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
    <div class="custom-slider">
      <ng5-slider [(value)]="currentCustomer.Profile.DesiredPressureID" [options]="pressures" style="margin-bottom: 4rem;"></ng5-slider>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div style="width: 300px;">
      <hr />
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-button class="mat-accent dark" (click)="continue()">Continue</button>
  </div>
</div>

<dx-popup [width]="300"
          [height]="250"
          [showTitle]="true"
          title="Information"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="popupVisible">

</dx-popup>
