.review-list {
  height: 18rem;
}

.message-scroll {
  position: relative;  
  overflow: auto;
}

.star {
  font-size: 1rem;
  color: #c9d7e8;
}

.filled {
  color: #ffcc00;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.rating-block {
  width: 100%;
  /*height: 80px;*/
}

.review-title {
  font-size: 0.85rem;
  /*padding: 5px;*/
}

.review-text {
  font-size: 12px;
  /*padding: 5px;*/
}

.review-block li {
  border-bottom: 1px solid #e0e0e0;
}
