<div  class="review-list message-scroll">
  <mdb-card>
    <!--<div class="message-scroll">-->
      <mdb-card-body class="p-0">
        <!-- Grid row -->
        <div>

          <!-- Grid column -->
          <div class="px-0">

            <div class="white z-depth-1 ">
              <div *ngIf="!reviews" style="background-color: #d3dbde; 
                                           height: 60px; text-align: center; 
                                           vertical-align: central; padding-top: 20px;">
                No one has left you a review yet.
              </div>
              <ul *ngIf="reviews" class="list-unstyled review-block m-0">
                <li *ngFor="let review of reviews" class="p-2 rating-block">
                  <a href="#">
                    <div fxLayout="column">
                      <div fxLayout="row" fxLayoutAlign="space-between">
                        <div class="review-title"><strong>{{review?.Customer}}</strong></div>
                        <div>
                          <ngb-rating [(rate)]="review.Stars" [max]="max" [readonly]="true">
                            <ng-template let-fill="fill" let-index="index">
                              <span class="star" [class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                          </ngb-rating>
                        </div>
                      </div>
                      <div fxLayout="row" fxFlex="100">
                        <div class="review-text">
                          {{review?.ReviewText}}
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>

          </div>
          <!-- Grid column -->
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </mdb-card-body>
    <!--</div>-->

  </mdb-card>

</div>
