<div fxLayout="row" fxFlex="100">
  <div fxLayout="column" fxFlex="0" fxFlex.gt-sm="10"></div>
  <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="80" fxLayoutAlign="center">

    <!-- <div fxLayout="row" class="ion-text-center" style="font-size: 24px; padding-top: 10px;" fxLayoutAlign="center">
      <div>Appointment Details</div>
    </div> -->

    <div fxLayout="column" style="border: 1px solid lightgray;">

      <div fxLayout="row" style="font-size: 19px; padding: 8px; border-bottom: 1px solid lightgray;" fxLayoutAlign="center center">
        <div>{{appointmentDateTime | date: 'EEEE, MMMM d'}} @ {{appointmentDateTime | date: 'shortTime'}}</div>
      </div>

      <div fxLayout="row" style="font-size: 17px; padding: 8px; border-bottom: 1px solid lightgray;" fxLayoutAlign="space-between center">
        <div>Description</div>
        <div>Amount</div>
      </div>

      <div fxLayout="row" style="font-size: 15px; padding: 8px;" fxLayoutGap="10px" fxLayoutAlign="space-between start">
        <div fxFlex="100">{{costSummary?.Service?.Description}}</div>
        <div fxFlex="90px" fxLayoutAlign="end">{{costSummary?.Service?.Amount | currency}}</div>
      </div>

      <ul>
        <li *ngFor="let addon of costSummary?.Service?.AddOns" fxLayout="row" style="font-size: 15px; padding: 8px;" fxLayoutGap="10px" fxLayoutAlign="start start">
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="start">{{addon.Description}}</div>
          <div fxLayout="row" fxFlex="90px" fxLayoutAlign="end">{{addon.Amount | currency}}</div>
        </li>
      </ul>
      <!-- <div *ngFor="let addon of userSession?.Addons" fxLayout="row" style="font-size: 15px; padding: 8px;" fxLayoutGap="10px" fxLayoutAlign="space-between start">
    <div fxFlex="100">addon.Name</div>
    <div fxLayout="row" fxFlex="100px" fxLayoutAlign="end">addon.Price</div>
  </div> -->

      <div *ngIf="costSummary?.ServiceCharge?.Amount" fxLayout="row" style="font-size: 15px; padding: 8px; border-top: 1px solid lightgrey;" fxLayoutGap="10px" fxLayoutAlign="space-between center">
        <div fxFlex="100">Service Charge</div>
        <div fxLayout="row" fxFlex="90px" fxLayoutAlign="end">{{costSummary?.ServiceCharge?.Amount | currency}}</div>
      </div>

      <div *ngIf="costSummary?.FacilityCharge?.Amount" fxLayout="row" style="font-size: 15px; padding: 8px; border-top: 1px solid lightgrey;" fxLayoutGap="10px" fxLayoutAlign="space-between center">
        <div fxFlex="100">Facility Amenity Charge</div>
        <div fxLayout="row" fxFlex="90px" fxLayoutAlign="end">{{costSummary?.FacilityCharge?.Amount | currency}}</div>
      </div>

      <div fxLayout="row" style="font-size: 15px; padding: 8px; border-top: 1px solid lightgrey;" fxLayoutGap="10px" fxLayoutAlign="space-between center">
        <div fxFlex="100">Total</div>
        <div fxLayout="row" fxFlex="90px" fxLayoutAlign="end">{{costSummary?.Total | currency}}</div>
      </div>

      <!--<div fxLayout="row" style="font-size: .8rem; padding: 8px; border-top: 1px solid lightgrey;" fxLayoutAlign="start center">
    <div fxFlex="100">To cancel or move your appointment without penalty, please provide at least 24 hours notice during business hours. Appointments cancelled or moved with less notice will be charged 50% of the service price(s). No-shows will be charged the full service price.</div>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>I have read and agree to the Spa Space <a href=#>Terms and Conditions</a> and <a href=#>Covid 19 Policy</a></ion-label>
      <ion-checkbox slot="start" [(ngModel)]="agreeToTerms.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>-->
      <ng-content></ng-content>
    </div>
  </div>
  <div fxLayout="column" fxFlex="0" fxFlex.gt-sm="10"></div>
</div>
