:host {
  width: 100%;
  height: 100%;
}

.therapist-container {
  margin: 30px 0 !important;
  /*min-height: 400px;*/
}

.image-container {
  padding: 20px;
}

.profile-container {
}

img {
  max-width: 200px;
  width: 100%;
  height: auto;
}

.grid-box {
  padding: 20px 30px;
}
