<div fxLayout="column" fxLayoutGap="30px">
  <div fxLayout="row" fxFlex.gt-sm="100" fxLayoutAlign="center center" fxLayoutGap="30px" fxLayout.lt-md="column">
    <div fxFlex="50px" fxFlex.lt-md="0"></div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px" fxLayout.lt-sm="column" fxLayoutGap.lt-md="20px" class="spa-container therapist-container">
      <div fxFlex.gt-md="40" class="image-container">
        <img #therapistImage [src]="getTherapistImage()" />
      </div>
      <div fxLayout="column" fxFlex.gt-md="60" class="profile-container">
        <h3>{{therapist.FirstName}} {{therapist.LastName}}</h3>
        <h4>{{therapist.City}}, {{therapist.StateCode}}</h4>
        <br />
        <!--<p>{{therapist.Status}}</p>-->
        <br />

      </div>
    </div>
    <div fxFlex="50px" fxFlex.lt-md="0"></div>
  </div>

  <div class="spa-container grid-box">
    <spa-admin-therapist-compensations [therapist]="therapist" [compensations]="compensations"></spa-admin-therapist-compensations>
  </div>

  <!--
    Removing until a future phase
  <div class="spa-container grid-box">
    <spa-therapist-upgrades-compensation [therapistUID]="therapist.UID"></spa-therapist-upgrades-compensation>
  </div>
  -->

</div>

