:host {
    width: 100%;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: 0;
}


.spa-footer {
  height: 150px;
  /*margin-top: 20px;*/
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  /*background-color: #f0f3f4;*/
}

.spa-footer-block {
  font-weight: 600 !important;

  a {
    font-size: 9px;
    margin-bottom: 4px;
  }
}

.spa-footer-block p {
  font-weight: 600 !important;
  font-size: 16px !important;
  margin: 0 !important;
}

.spa-footer-top-band {
  height: 20px;
  background-color: #50595C;
}

.spa-footer-bottom-band {
  height: 30px;
  background-color: #50595C;
}

fa-icon {
  font-size: 30px;
  color: #616161;
  margin: 0 5px;
}

.spa-footer-large-text {
    font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

@media (max-width:600px) {
  .spa-footer {
    height: 170px;
    padding-top: 5px;
  }

  fa-icon {
    font-size: 25px;
  }

}
