<!--<div class="vs-footer">
  <div style="vertical-align: middle;">
    <fa-icon [icon]="faFacebookSquare"></fa-icon>
    <fa-icon [icon]="faTwitterSquare"></fa-icon>
    <fa-icon [icon]="faLinkedIn"></fa-icon>
    <fa-icon [icon]="faInstagram"></fa-icon>
  </div>
  <div style="vertical-align: middle;">
    <span>Copyright SpaSpace 2020</span>
  </div>
</div>-->

<div class="spa-footer-top-band"></div>
<div class="spa-footer">
  <div fxLayout="row"  fxLayout.lt-sm="column" fxLayoutGap="50px" fxLayoutGap.lt-md="10px" fxLayoutGap.lt-sm="5px" fxLayoutAlign="end start" fxLayoutAlign.lt-sm="start space-evenly" >
    <!-- <div fxFlex="60px;" fxFlex.lt-lg="10px;" fxHide.lt-md></div>
    <div fxLayout="column" fxFlex="100" fxHide.lt-md>
      <ng-content select="[leftContent]"></ng-content>
    </div> -->
    <div fxLayout="column" fxLayout.lt-sm="row" fxFlex="160px" fxFlex.lt-md="27" fxFlex.lt-sm="100" class="spa-footer-block"
      fxLayoutAlign="start center" fxLayoutAlign.lt-md="center center" fxLayoutAlign.lt-sm="space-evenly"
      fxFlexOrder="1" fxFlexOrder.lt-sm="2">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutAlign.lt-md="center center" fxFlex="100" fxFlex.lt-sm="40" style="margin-top: 5px; margin-left: 5px;">
        <div class="menu-link" style="font-size: 9px; margin-bottom: 4px;">+ 1 833-4-SPA-SPACE</div>
        <a class="menu-link" (click)="onInfoClick()">hello@spaspace.com</a>
        <!--<a class="menu-link" [routerLink]="['/main/facility']">FIND A LOCATION</a>-->
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex.lt-sm="50">
        <div fxLayout="row">
          <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/SpaSpaceApp"><fa-icon [icon]="faFacebookSquare"></fa-icon></a>
          <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/SpaSpaceApp"><fa-icon [icon]="faTwitterSquare"></fa-icon></a>
          <!--<fa-icon [icon]="faFacebookSquare"></fa-icon>-->
          <!--<fa-icon [icon]="faTwitterSquare"></fa-icon>-->
        </div>
        <div fxLayout="row">
          <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/spa-space-app"><fa-icon [icon]="faLinkedIn"></fa-icon></a>
          <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/spaspaceapp/"><fa-icon [icon]="faInstagram"></fa-icon></a>
          <!--<fa-icon [icon]="faLinkedIn"></fa-icon>
          <fa-icon [icon]="faInstagram"></fa-icon>-->
        </div>
      </div>

    </div>
    <div fxLayout="row" fxFlex="310px" fxFlex.lt-md="73" fxFlex.lt-sm="100"  fxFlexOrder="2" fxFlexOrder.lt-sm="1" fxLayoutAlign.lt-md="space-evenly" fxLayoutAlign.lt-md="space-evenly">
      <div fxLayout="column" fxFlex="110px" fxFlex.lt-md="33" fxFlex.lt-sm="60" fxLayoutAlign="start center" class="spa-footer-block">
        <div fxLayout="column">
          <p>SPA SPACE</p>
          <a class="menu-link" [routerLink]="['/main/content/about']">ABOUT</a>
          <!--<a target="_blank" class="menu-link" href="https://spaspaceapplication.com/our-story/">ABOUT</a>-->
          <!--<a class="menu-link" [routerLink]="['/main/news']">NEWS</a>-->
          <a class="menu-link" [routerLink]="['/main/content/story']">NEWS</a>
          <!--<a class="menu-link" [routerLink]="['/main/terms']">TERMS & CONDITIONS</a>-->
          <a class="menu-link" (click)="onTermsViewClick()">TERMS & CONDITIONS</a>
          <!--<a class="menu-link" [routerLink]="['/main/safety']">OUR SAFETY PROMISE</a>-->
          <a class="menu-link" [routerLink]="['/main/content/safety']">OUR SAFETY PROMISE</a>
          <!--<a class="menu-link" [routerLink]="['/main/faq']">FAQ</a>-->
          <a class="menu-link" [routerLink]="['/main/content/faq']">FAQ</a>
          <!--<a class="menu-link" [routerLink]="['/main/privacy']">DATA PRIVACY</a>-->
          <a class="menu-link" (click)="onPrivacyViewClick()">DATA PRIVACY</a>
        </div>
      </div>
      <div fxLayout="column" fxFlex="200px" fxFlex.lt-md="40" fxFlex.lt-sm="50" fxLayoutAlign="start center" class="spa-footer-block">
        <div fxLayout="column">
          <p>ENGAGE</p>
          <a class="menu-link" [routerLink]="['/main/therapist/join']">APPLY AS THERAPIST</a>
          <a class="menu-link" [routerLink]="['/main/facility']">BECOME A LOCATION</a>
          <!--<a class="menu-link" [routerLink]="['/main/facility']">NEWS</a>-->
          <!-- <a target="_blank" class="menu-link" href="https://spaspaceapplication.com/our-story/">NEWS</a> -->


          <!--<a>CONTACT US: </a>
          <form #my_form>
            <input type="email" placeholder="address@email.com" />
          </form>
          <script>
            document.addEventListener("DOMContentLoaded", function () {
              hbspt.forms.create({
                css: '',
                target: '#my_form',
                portalId: '7772542',
                formId: '42064a63'
              });
            });
          </script>-->

        </div>

      </div>
    </div>

  </div>
</div>
<div class="spa-footer-bottom-band"></div>

<dx-popup width="80%"
          height="80%"
          [showTitle]="true"
          [title]="theTitle"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <div fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="end center"><a class="nav-link text-dark" (click)="onPrintTermsClick()">Open in new tab&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
      <pdf-viewer [src]="termssrc"
                  [render-text]="true"
                  style="display: block;"></pdf-viewer>
    </dx-scroll-view>
  </div>
</dx-popup>


<dx-popup width="80%"
          height="80%"
          [showTitle]="true"
          title="Privacy Policy"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="privacyPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <!-- <div fxLayout="row" fxLayoutAlign="end center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="end center"><a class="nav-link text-dark" (click)="onPrintTermsClick()">Open in new tab&nbsp;&nbsp;&nbsp;&nbsp;</a></div> -->
      <spa-privacy></spa-privacy>
    </dx-scroll-view>
  </div>
</dx-popup>
