<spa-left-nav [selectedItems]="navigation" pageTitle="Spa Space Therapist Portal">
  <div fxLayout="row" fxFlex="100">
    <div fxLayout="column" fxFlex="10px" fxFlex.gt-xs="0"></div>
    <div fxLayout="column" fxFlex="100">
      <router-outlet></router-outlet>
    </div>
    <div fxLayout="column" fxFlex="10px" fxFlex.gt-xs="0"></div>
  </div>
</spa-left-nav>



<!--<div class="provider-container">
  <app-nav-bar [showToggle]="true" [homePage]="homePage">
    <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%">
      <app-login-menu></app-login-menu>
    </div>
  </app-nav-bar>

  <div >
    <dx-drawer [openedStateMode]="selectedOpenMode"
               [position]="selectedPosition"
               [revealMode]="selectedRevealMode"
               template="template"
               [opened]="true"
               [minSize]="100"
               [closeOnOutsideClick]="false">
      <div *dxTemplate="let data of 'template'" style="width: 200px;">
        <div class="panel-list-container">
          <dx-list #list class="panel-list dx-theme-accent-as-background-color"
                   selectionMode="single"
                   keyExpr="id"
                   (onSelectionChanged)="menu_selectionChanged($event)"
                   [dataSource]="navigation"
                   [hoverStateEnabled]="false"
                   [activeStateEnabled]="false"
                   [focusStateEnabled]="false"
                   (onItemRendered)="onItemRendered($event)"
                   [(selectedItemKeys)]="selectedItems">
          </dx-list>
        </div>
      </div>
      <router-outlet></router-outlet>
    </dx-drawer>
  </div>

  <app-footer class="spa-footer"></app-footer>
</div>-->
