<!--<div class="widget-container">
  <dx-gallery #gallery
              id="gallery"
              [dataSource]="imageList"
              [height]="300"
              [width]="400"
              [slideshowDelay]="slideshowDelay"
              [loop]="true"
              [stretchImages]="true"
              [showNavButtons]="true"
              [showIndicator]="true"></dx-gallery>
</div>-->

<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <!--First slide-->
  <mdb-carousel-item  *ngFor="let image of images">
    <div class="view w-100">
      <img class="d-block w-100" [src]="image.Url"
           alt="First slide">
      <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive"></h3>
      <p>{{image.Description}}</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
<!--/.Carousel Wrapper-->
