  <div fxLayout="row" fxLayoutAlign="center center">
    <!--<div fxFlex="10" fxHide.lt-md></div>-->
    <div fxFlex="100" fxFlex.lt-md="100" style="min-height: 500px;">
      <h3>Facilities</h3>

      <dx-data-grid #facilitiesGrid id="facilitiesGrid"
                    [disabled]="gridDisabled"
                    [dataSource]="facilities"
                    showRowLines="true"
                    showColumnLines="false"
                    showBorders="true"
                    [wordWrapEnabled]="true"
                    [columnHidingEnabled]="true"
                    [searchPanel]='{ visible: false, width: 350 }'>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-editing mode="row"
                     [allowUpdating]="false"
                     [allowDeleting]="false"
                     [allowAdding]="false">
        </dxo-editing>
        <dxo-paging [pageSize]="5"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true"
                   [allowedPageSizes]="[5, 10, 15]"></dxo-pager>
        <dxo-scrolling mode="standard" showScrollbar="always"></dxo-scrolling>
        <dxo-state-storing [enabled]="true" type="sessionStorage" storageKey="facilitiesGrid"></dxo-state-storing>
        <dxi-column dataField="Active" width="120" [hidingPriority]="2" align="center"></dxi-column>
        <dxi-column cellTemplate="nameColumn" dataField="Name" [allowReordering]="false"></dxi-column>
        <dxi-column dataField="City" [hidingPriority]="1"></dxi-column>
        <dxi-column dataField="State" [hidingPriority]="0"></dxi-column>
        <dxi-column dataField="Status" caption="Status" width="200" alignment="center" [hidingPriority]="3"></dxi-column>

        <dxi-column type="buttons" alignment="center" width="178" [hidingPriority]="4">
          <dxi-button hint="Go to Profile"
                      icon="fa fa-id-card"
                      [onClick]="goToProfile"></dxi-button>
          <dxi-button hint="Go to Administrative"
                      icon="fa fa-cogs"
                      [onClick]="goToAdmin"></dxi-button>
          <dxi-button hint="Manage Facility Managers"
                      icon="fa fa-users"
                      [onClick]="goToManage"></dxi-button>
          <dxi-button hint="Manage Treatment Areas"
                      icon="fa fa-door-open"
                      [onClick]="goToResources"></dxi-button>
          <dxi-button hint="View Appointments"
                      icon="far fa-calendar-check"
                      [onClick]="viewAppointments"></dxi-button>
          <dxi-button hint="Appointment List"
                      icon="far fa-calendar-alt"
                      [onClick]="searchAppointments"></dxi-button>
        </dxi-column>

        <div *dxTemplate="let item of 'nameColumn'">
          &nbsp;
          <a class="dx-link" (click)="facilitiesGrid_onItemSelect(item)">{{item.value}}</a>
        </div>
      </dx-data-grid>
    </div>
    <!--<div fxFlex="10" fxHide.lt-md></div>-->
  </div>


