::ng-deep #therapistsGrid {
  /*max-height: 600px;*/
}

img {
  max-height: 100px;
  display: block;
}

/*::ng-deep .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-command-edit.dx-command-edit-with-icons .dx-link, .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td:not(.dx-field-item-content).dx-cell-modified.dx-command-edit.dx-command-edit-with-icons .dx-link, .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td:not(.dx-field-item-content).dx-datagrid-invalid.dx-command-edit.dx-command-edit-with-icons .dx-link {
  margin: 0 5px;
  font-size: 16px;
}

::ng-deep .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-command-edit.dx-command-edit-with-icons {
    padding: 14px 5px !important;
}*/
