<div fxLayout="column">
  <div fxLayout="row" fxFlex="100">
    <div fxLayout="column" fxFlex="33">
    </div>
    <div fxLayout="row" fxLayoutAlign="center center"  fxFlex="33" class="long-title">
      <h3>{{facility?.Name}}&nbsp;Treatment Areas</h3>
    </div>
    <div fxLayout="column"  fxFlex="33"></div>
  </div>
  <!--[routerLink]="['/portal/byTherapist']-->

  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">

    <dx-data-grid #treatmentAreasGrid id="treatmentAreasGrid"
                  [dataSource]="treatmentAreas"
                  showRowLines="true"
                  showColumnLines="false"
                  showBorders="true"
                  [searchPanel]='{ visible: false, width: 350 }'
                  [columnHidingEnabled]="true"
                  (onToolbarPreparing)="treatmentAreasGrid_onToolbarPreparing($event)">
      <dxo-paging [pageSize]="20"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true"
                 [allowedPageSizes]="[10, 20, 30]"
                 [showInfo]="true">
      </dxo-pager>
      <dxo-editing mode="row"
                   [allowUpdating]="false"
                   [allowDeleting]="true"
                   [allowAdding]="false">
      </dxo-editing>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxi-column dataField="Active" [width]="110"></dxi-column>
      <dxi-column dataField="Name" [allowFiltering]="false"></dxi-column>
      <dxi-column dataField="Description" [hidingPriority]="0" [allowFiltering]="false"></dxi-column>
      <dxi-column type="buttons" alignment="left" [width]="110">
        <dxi-button hint="Edit Treatment Area"
                    icon="fa fa-pen"
                    [onClick]="editRecord"></dxi-button>
        <dxi-button hint="Delete Treatment Area"
                    icon="fa fa-trash"
                    [onClick]="deleteRecord"></dxi-button>
        <dxi-button hint="Manage Availability"
                    icon="far fa-calendar-alt"
                    [onClick]="manageAvailability"></dxi-button>
      </dxi-column>
      <div *dxTemplate="let data of 'headerText'" style="width:100%">
        <h4 style="width:100%">Treatment Areas</h4>
      </div>
    </dx-data-grid>


  </div>


</div>


<spa-facility-treatment-area [treatmentArea]="treatmentArea" [(showModal)]="showModal" (saveTreatmentArea)="saveTreatmentArea($event)"></spa-facility-treatment-area>

<spa-delete-warning-modal [showWarning]="showDeleteWarning" (continue)="continue($event)"></spa-delete-warning-modal>
