
:host {
    height: 100%;
}

html, body {
  margin: 0;
  /*height: 100vh;*/
  min-height: 100%;
  min-width: 430px;
  background: none !important;
}

body {
  display: flex;
  flex-direction: column;
}

header,
footer {
  /*flex: none;*/
}

main {
  /*overflow-y: scroll;*/
  -webkit-overflow-scrolling: touch;
  /*flex: auto;*/
  /*min-height: 71vh;*/
  /*padding-bottom: 160px;*/
}

