<div>

  <dx-data-grid #facilitiesGrid id="facilitiesGrid"
                [dataSource]="associatedFacilities"
                showRowLines="true"
                showColumnLines="false"
                showBorders="true"
                [searchPanel]='{ visible: false, width: 350 }'
                (onToolbarPreparing)="facilitiesGrid_onToolbarPreparing($event)">
    <dxo-editing mode="row"
                 [allowUpdating]="false"
                 [allowDeleting]="false"
                 [allowAdding]="false">
    </dxo-editing>
    <dxi-column dataField="FacilityUID" caption="Facility">
      <dxo-lookup [dataSource]="facilitiesList" displayExpr="DisplayName" valueExpr="UID"></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="IsDefault" [width]="120" dataType="boolean"></dxi-column>
    <dxi-column type="buttons" alignment="left" [width]="80">
      <dxi-button class="spa-grid-icon"
                  hint="Edit Associated Facility"
                  icon="fa fa-pen"
                  [visible]="canEdit"
                  [onClick]="editRecord"></dxi-button>
      <dxi-button hint="Delete Associated Facility"
                  icon="fa fa-trash"
                  [visible]="canEdit"
                  [onClick]="deleteRecord"></dxi-button>
    </dxi-column>
    <div *dxTemplate="let data of 'headerText'">
      <h2 class="grid-header-text">Associated Facilities</h2>
    </div>
  </dx-data-grid>
</div>

<spa-therapist-facility-edit [facility]="facility"
                             [facilities]="filteredFacilitiesList"
                             [(showModal)]="showModal"
                             [facilityName]="facilityNameForEdit"
                             (saveFacility)="saveFacility($event)"></spa-therapist-facility-edit>

<spa-delete-warning-modal [showWarning]="showDeleteWarning" (continue)="continue($event)"></spa-delete-warning-modal>
