.embedded-links {
  height: calc(2000px + (2800 - 2000) * ((100vw - 400px) / (2400 - 400))) !important;
}

@media (max-width: 780px) {
  .embedded-links {
    height: calc(2800px + (3400 - 2800) * ((100vw - 400px) / (2400 - 400))) !important;
  }
}


@media (max-width: 400px) {
  .embedded-links {
    height: calc(3800px + (4300 - 3800) * ((100vw - 400px) / (2400 - 400))) !important;
  }
}
