<div class="provider-pitch-wrapper" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="column" fxFlex="100" class="provider-pitch-background">
    <div fxLayout="row">
      <spa-top-banner fxFlex="100"></spa-top-banner>
    </div>
    <div fxLayout="row" fxFlex="100">
      <!--<div fxFlex="25" fxFlex.lt-lg="5"></div>
  <div fxFlex="50" fxFlex.lt-lg="45" fxLayoutAlign="center center">-->
      <router-outlet></router-outlet>
      <embed src="https://spaspaceapplication.com/our-story/" style="width:1920px; height: 1080px;">
      <!--</div>
  <div fxFlex="25" fxFlex.lt-lg="5"></div>-->
    </div>
  </div>


</div>

<!--<div align="center">
  <table cellspacing="0" cellpadding="0" width="1024" bgcolor="#A9BAD6" border="0">

    <tr>
      <td border="border" style=background-color:#eeeeee; align='center'>
        <div align='center' id='title'>

          <section class="vcv-content">
            <article id="post-373" class="post-373 page type-page status-publish hentry">
              <div class="entry-content">
                <div class="vce-row-container">
                  <div class="vce-row vce-row--has-col-background vce-element--has-background vce-row--col-gap-0 vce-row-columns--top vce-row-content--top" data-vce-full-width="true" id="el-3da26c44" data-vce-do-apply="all el-3da26c44">
                    <div class="vce-content-background-container"><div class="vce-asset-color-gradient-container vce-visible-all-only" data-vce-do-apply="gradient el-3da26c44"></div></div><div class="vce-row-content" data-vce-element-content="true" style="padding-left: 146.5px; padding-right: 146.5px;">
                      <div class="vce-col vce-element--has-background vce-col--md-auto vce-col--xs-1 vce-col--xs-last vce-col--xs-first vce-col--sm-last vce-col--sm-first vce-col--md-last vce-col--lg-last vce-col--xl-last vce-col--md-first vce-col--lg-first vce-col--xl-first" id="el-b13327ad">
                        <div class="vce-col-inner" data-vce-do-apply="border margin background  el-b13327ad">
                          <div class="vce-content-background-container"><div class="vce-asset-color-gradient-container vce-visible-all-only" data-vce-do-apply="gradient el-b13327ad"></div></div><div class="vce-col-content" data-vce-element-content="true" data-vce-do-apply="padding el-b13327ad">
                            <div class="vce-row-container"><div class="vce-row vce-row--col-gap-30 vce-row-columns--top vce-row-content--top" id="el-3c31d05d" data-vce-do-apply="all el-3c31d05d"><div class="vce-row-content" data-vce-element-content="true"><div class="vce-col vce-col--md-auto vce-col--xs-1 vce-col--xs-last vce-col--xs-first vce-col--sm-last vce-col--sm-first vce-col--md-last vce-col--lg-last vce-col--xl-last vce-col--md-first vce-col--lg-first vce-col--xl-first" id="el-3651379e"><div class="vce-col-inner" data-vce-do-apply="border margin background  el-3651379e"><div class="vce-col-content" data-vce-element-content="true" data-vce-do-apply="padding el-3651379e"><div class="vce-text-block"><div class="vce-text-block-wrapper vce" id="el-4782f0fd" data-vce-do-apply="all el-4782f0fd"><h2 style="text-align: center;"><span style="font-family: Raleway; font-style: normal; font-weight: 400;">Meet the Founders</span></h2></div></div></div></div></div></div></div></div><div class="vce-row-container">
                              <div class="vce-row vce-row--col-gap-30 vce-row-columns--top vce-row-content--top" id="el-29094176" data-vce-do-apply="all el-29094176">
                                <div class="vce-row-content" data-vce-element-content="true">
                                  <div class="vce-col vce-col--md-auto vce-col--xs-1 vce-col--xs-last vce-col--xs-first vce-col--sm-last vce-col--sm-first vce-col--md-last vce-col--lg-last vce-col--xl-last vce-col--md-first vce-col--lg-first vce-col--xl-first" id="el-10fc2688">
                                    <div class="vce-col-inner" data-vce-do-apply="border margin background  el-10fc2688">
                                      <div class="vce-col-content" data-vce-element-content="true" data-vce-do-apply="padding el-10fc2688">
                                        <div class="vce-text-block">
                                          <div class="vce-text-block-wrapper vce" id="el-259e32dd" data-vce-do-apply="all el-259e32dd">
                                            <figure id="attachment_433" aria-describedby="caption-attachment-433" style="width: 120px" class="wp-caption alignleft"><img class="wp-image-433" style="float: left;" src="https://spaspaceapplication.com/wp-content/uploads/2020/05/Ilana-Alberico-Circ.png" alt="" width="120" height="120"><figcaption id="caption-attachment-433" class="wp-caption-text">Ilana Alberico Founder</figcaption></figure>

                                            <span style="font-family: Raleway;">&nbsp;</span> <span style="font-family: Raleway;">Folding towels was my first job at a spa. Intrigued, I became a massage therapist, then a spa director, and owner of Chicago's award winning day spa, Spa Space.&nbsp; Together with my longtime business partner Christina, we built ISM SPA, a multi-million dollar spa development and management company with its own skin care line and consulting agency.</span> <span style="font-family: Raleway;">&nbsp;</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div><div class="vce-row-container"><div class="vce-row vce-row--col-gap-30 vce-row-columns--top vce-row-content--top" id="el-224ea790" data-vce-do-apply="all el-224ea790"><div class="vce-row-content" data-vce-element-content="true"><div class="vce-col vce-col--md-auto vce-col--xs-1 vce-col--xs-last vce-col--xs-first vce-col--sm-last vce-col--sm-first vce-col--md-last vce-col--lg-last vce-col--xl-last vce-col--md-first vce-col--lg-first vce-col--xl-first" id="el-b92bfeac"><div class="vce-col-inner" data-vce-do-apply="border margin background  el-b92bfeac"><div class="vce-col-content" data-vce-element-content="true" data-vce-do-apply="padding el-b92bfeac"><div class="vce-text-block"><div class="vce-text-block-wrapper vce" id="el-9ea9c51b" data-vce-do-apply="all el-9ea9c51b"><figure id="attachment_434" aria-describedby="caption-attachment-434" style="width: 121px" class="wp-caption alignright"><img class="wp-image-434" src="https://spaspaceapplication.com/wp-content/uploads/2020/05/Nathalie-Malkoff-circ.png" alt="" width="121" height="121"><figcaption id="caption-attachment-434" class="wp-caption-text">Nathalie Malkoff Founder</figcaption></figure><p><span style="font-family: Raleway;">I’m an emmy nominated former TV journalist who went on to manage teams for over a decade. Since having kids, I stayed home and managed my own team of three: a boy, girl, and road-warrior husband. My spa days were my escape.</span> <span style="font-family: Raleway;">&nbsp;</span></p></div></div></div></div></div></div></div></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><div class="vce-row-container"><div class="vce-row vce-element--has-background vce-row--col-gap-0 vce-row-columns--top vce-row-content--top" data-vce-full-width="true" id="el-ffefe49a" data-vce-do-apply="all el-ffefe49a"><div class="vce-content-background-container"></div><div class="vce-row-content" data-vce-element-content="true" style="padding-left: 146.5px; padding-right: 146.5px;"><div class="vce-col vce-col--md-auto vce-col--xs-1 vce-col--xs-last vce-col--xs-first vce-col--sm-last vce-col--sm-first vce-col--md-last vce-col--lg-last vce-col--xl-last vce-col--md-first vce-col--lg-first vce-col--xl-first" id="el-a51ad816"><div class="vce-col-inner" data-vce-do-apply="border margin background  el-a51ad816"><div class="vce-col-content" data-vce-element-content="true" data-vce-do-apply="padding el-a51ad816"><div class="vce-text-block"><div class="vce-text-block-wrapper vce" id="el-954e834e" data-vce-do-apply="all el-954e834e"><div class="message"><h2 style="text-align: center; margin-bottom: 60px;"><span style="font-weight: 400; font-style: normal; font-family: Raleway;">The Back Story</span></h2><h4>An idea born from a mom's night out.</h4><p><strong>It all started with a well-deserved night at Nathalie and Ilana’s favorite restaurant.</strong></p><p>Nathalie lamented to Ilana over cocktails about her issues in finding a good massage therapist who specializes in TMJ. Not to mention, she hated having to find a new therapist when her favorite specialist left the day spa.</p><p>Ilana faced her own frustrations in the spa industry alongside her business partner, Christina Stratton. Together, they managed spas that were primarily dependent on hotel guests rather than attracting the local community. That meant treatment rooms sat empty most of the day, despite having amazing amenities and therapists. To make matters worse, 70% of spa bookings still took place via phone with many of the questions having to do with the quality and expertise of the therapists available.</p><p>Meanwhile at Ilana's day spa, Spa Space Chicago, they were fully booked. Why? Spa guests value expert therapists and cleanliness over amenity offerings. That’s the real recipe for guest loyalty.</p><h4>An opportunity to change how people experience wellness.</h4><p>The spa industry is notorious for being behind on adopting new technologies. Having worked in all areas of the business, Ilana knew it was ripe for disruption. If she could develop a tool that unlocked access to resort spa facilities and expert therapists, she knew she could give guests control over booking their spa experience, when and where they wanted it.</p><p>And that’s exactly what she did.</p><p>With the help of her business partner, Chistina Stratton, Ilana and Nathalie started developing the technology to power Spa Space. Ilana managed business development and strategy, while Christina oversaw the branding piece. Nathalie took on communications and became the customer advocate, ensuring that clients were our first priority.</p><p>But weeks before they could start testing the platform, the world changed.</p><h4>COVID-19 arrived. And it was ruthless to the spa industry.</h4><p>Ilana and Christina had the heartbreaking task of closing all of their spa locations.</p><p>Hundreds of therapists and staff were laid off or furloughed.</p><p>Ilana knew that if any of the spas ever re-opened, they would never be the same. In addition to the cleanliness standards they had always proudly maintained, new levels of sanitation standards would be required.</p><p>Guests would want more control, more assurances and above all, more safety.</p><h4>The catalyst in the crisis.</h4><p>With the world shut down, the whole team went all in to finish developing Spa Space.</p><p>The pandemic prompted a pivot.</p><p>Spa Space would leverage technology for personalization and provide a more sophisticated experience for guests across all spa services, not just massage. Instead of launching in just one or two cities, it would be the backbone of ISM’s operation nation-wide.</p><h4>The launch.</h4><p>As we prepare to open our doors again, our team is taking this opportunity to transform operations and provide a safe, new way to spa.</p><p>We will emerge with a strong Commitment to Safety and Standards of Service; the promises we have always made and will continue to deliver on to all our guests and our therapists.</p><p>And with that, we are excited to bring you Spa Space. Ilana’s dream, now reality.</p><p>Our platform will match guest needs with specialized therapists at luxury locations across the country. In addition to a revitalized guest experience, we hope it will allow more spas to open with fewer challenges and provide higher quality service. Spa Space is a tool for therapists to get back to work, where they want and when they want.</p><p>Your Spa Space is waiting.</p></div></div></div></div></div></div></div></div></div>


              </div>
            </article>
          </section>
        </div>
      </td>
    </tr>
    <tr>
      <td align="left">
      </td>
    </tr>

    <tr>
      <td style='background-color:#eeeeee;text-align:Center;'>
        <br>
        Copyright 2020<br><br><br><br><br><br><br><br>
      </td>
    </tr>
  </table>
</div>-->


<div fxLayout="row" style="width:100%">
  <spa-footer class="spa-footer">
    <div leftContent>
      <!--
      <div class="spa-footer-large-text">Unlock access to the world's finest resorts.</div>
      <div fxHide.lt-lg class="spa-footer-med-text">Walk into a five star treatment room and never lift another portable table.</div>
      <div class="spa-footer-med-text"><i>Sign up for our monthly newsletter for updates and information.</i></div>
      <div fxLayout="row">
        <dx-text-box [width]="150"></dx-text-box>
        <button mdbBtn color="primary" class="subscribe-btn waves-light" mdbWavesEffect (click)="onSubscribeClick()">Subscribe</button>
      </div> -->
    </div>
    <div engageLinks class="spa-footer-links">
      <a class="menu-link" [routerLink]="['/main/therapist/join']">APPLY AS THERAPIST</a>
      <a class="menu-link" [routerLink]="['/main/facility']">BECOME A LOCATION</a>
      <a class="menu-link" [routerLink]="['/main/facility']">NEWS</a>
      <a class="menu-link" [routerLink]="['/main/facility']">PRESS ENQUIRIES</a>
    </div>
  </spa-footer>
</div>
