<dx-data-grid #managersGrid id="managersGrid"
              [dataSource]="facilityManagers"
              showRowLines="true"
              showColumnLines="false"
              showBorders="true"
              [searchPanel]='{ visible: false, width: 350 }'
              [columnHidingEnabled]="true"
              (onToolbarPreparing)="managersGrid_onToolbarPreparing($event)">
  <dxo-paging [pageSize]="20"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true"
             [allowedPageSizes]="[10, 20, 30]"
             [showInfo]="true">
  </dxo-pager>
  <dxo-editing mode="row"
               [allowUpdating]="false"
               [allowDeleting]="false"
               [allowAdding]="false">
  </dxo-editing>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxi-column dataField="Active" [width]="120"></dxi-column>
  <dxi-column dataField="FirstName" [allowFiltering]="false"></dxi-column>
  <dxi-column dataField="LastName"></dxi-column>
  <dxi-column dataField="IsAdmin" [hidingPriority]="0"></dxi-column>
  <dxi-column type="buttons" alignment="left" [width]="100">
    <dxi-button hint="Edit Manager"
                icon="fa fa-pen"
                [onClick]="editRecord"></dxi-button>
    <dxi-button hint="Delete Manager"
                icon="fa fa-trash"
                [onClick]="deleteRecord"></dxi-button>
  </dxi-column>
  <div *dxTemplate="let data of 'headerText'" style="width:100%">
    <h4 style="width:100%">Facility Managers</h4>
  </div>
</dx-data-grid>

<spa-facility-manager [manager]="facilityManager" [(showModal)]="showModal" (saveManager)="saveManager($event)"></spa-facility-manager>

<spa-delete-warning-modal [showWarning]="showDeleteWarning" (continue)="continue($event)"></spa-delete-warning-modal>

