<div>facility works</div>
<router-outlet></router-outlet>


<!--<div class="container">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="15"></div>
    <div fxFlex="80" style="height: 500px;">
      <h3>Facilities</h3>

      <dx-data-grid #facilitiesGrid id="facilitiesGrid"
                    [dataSource]="facilities"
                    showRowLines="true"
                    showColumnLines="false"
                    showBorders="true">
        <dxo-editing mode="row"
                     [allowUpdating]="false"
                     [allowDeleting]="false"
                     [allowAdding]="false">
        </dxo-editing>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true"
                   [allowedPageSizes]="[5, 10, 15]"></dxo-pager>
        <dxo-scrolling mode="standard" showScrollbar="always"></dxo-scrolling>
        <dxi-column dataField="Active" width="80"></dxi-column>
        <dxi-column dataField="Name" cellTemplate="nameColumn"></dxi-column>
        <dxi-column dataField="City"></dxi-column>
        <dxi-column dataField="State"></dxi-column>
        <dxi-column dataField="Status" caption="Status" width="200" alignment="center"></dxi-column>
        <dxi-column type="buttons" alignment="left" width="160" [hidingPriority]="4">

          <dxi-button hint="Manage Treatment Areas"
                      icon="fa fa-door-open"
                      [onClick]="goToResources"></dxi-button>
        </dxi-column>
        <div *dxTemplate="let item of 'nameColumn'">
          &nbsp;
          <a class="dx-link" (click)="facilitiesGrid_onItemSelect(item)">{{item.value}}</a>
        </div>
      </dx-data-grid>
    </div>
    <div fxFlex="10"></div>
  </div>
</div>-->
