<div fxLayout="row" fxFlex="100">
  <div fxLayout="column" style="width: 100%;" fxLayoutGap="20px">
    <!--<spa-appointment-cost-summary [costSummary]="appointment?.CostSummary" [appointmentDateTime]="appointment?.StartDateTime"></spa-appointment-cost-summary>-->

    <form class="example-form" [formGroup]="checkoutForm" (ngSubmit)="onCompleteCheckout()" style="width: 100%">
      <div fxLayout="column">
        <div fxLayout="column" style="border: 1px solid lightgray;">

          <div fxLayout="row" style="font-size: 19px; padding: 8px; border-bottom: 1px solid lightgray;" fxLayoutAlign="center center">
            <div>{{appointment?.StartDateTime | date: 'EEEE, MMMM d'}} @ {{appointment?.StartDateTime | date: 'shortTime'}}</div>
          </div>

          <div fxLayout="row" style="font-size: 17px; padding: 8px; border-bottom: 1px solid lightgray;" fxLayoutAlign="space-between center">
            <div>Description</div>
            <div>Amount</div>
          </div>

          <div fxLayout="row" style="font-size: 15px; padding: 8px;" fxLayoutGap="10px" fxLayoutAlign="space-between start">
            <div fxFlex="100">{{appointment?.CostSummary?.Service?.Description}}</div>
            <div fxFlex="90px" fxLayoutAlign="end">{{appointment?.CostSummary?.Service?.Amount | currency}}</div>
          </div>

          <ul>
            <li *ngFor="let addon of appointment?.CostSummary?.Service?.AddOns" fxLayout="row" style="font-size: 15px; padding: 8px;" fxLayoutGap="10px" fxLayoutAlign="start start">
              <div fxLayout="row" fxFlex="100" fxLayoutAlign="start">{{addon.Description}}</div>
              <div fxLayout="row" fxFlex="90px" fxLayoutAlign="end">{{addon.Amount | currency}}</div>
            </li>
          </ul>

          <div *ngIf="appointment?.CostSummary?.ServiceCharge?.Amount" fxLayout="row" style="font-size: 15px; padding: 8px; border-top: 1px solid lightgrey;" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <div fxFlex="100">Service Charge</div>
            <div fxLayout="row" fxFlex="90px" fxLayoutAlign="end">{{appointment?.CostSummary?.ServiceCharge?.Amount | currency}}</div>
          </div>

          <div *ngIf="appointment?.CostSummary?.FacilityCharge?.Amount" fxLayout="row" style="font-size: 15px; padding: 8px; border-top: 1px solid lightgrey;" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <div fxFlex="100">Facility Amenity Charge</div>
            <div fxLayout="row" fxFlex="90px" fxLayoutAlign="end">{{appointment?.CostSummary?.FacilityCharge?.Amount | currency}}</div>
          </div>

          <div fxLayout="row" style="font-size: 15px; padding: 8px; border-top: 1px solid lightgrey;" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <div fxFlex="100">Gratuity</div>
            <mat-form-field class="form-field-full-width">
              <mat-label>Gratuity Amount</mat-label>
              <input matInput currencyMask [options]="{ precision: 0, allowNegative: false }" formControlName="Gratuity">
            </mat-form-field>
          </div>

          <div fxLayout="row" style="font-size: 15px; padding: 8px; border-top: 1px solid lightgrey;" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <div fxFlex="100">Total</div>
            <div fxLayout="row" fxFlex="90px" fxLayoutAlign="end">{{calculatedTotal | currency}}</div>
          </div>


        </div>
        <br />
        <br />
        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
          <button mdbBtn color="unique" class="waves-light" mdbWavesEffect>Complete Checkout</button>
        </div>
      </div>
      


      <!--<div fxLayout="row" fxLayoutAlign="space-between">
    <spa-therapist-gratuity-button [(selected)]="tipAmount1">
      <div fxLayout="column">
        <div>15%</div>
        <div>$25</div>
      </div>
    </spa-therapist-gratuity-button>
    <spa-therapist-gratuity-button [(selected)]="tipAmount2">20%</spa-therapist-gratuity-button>
    <spa-therapist-gratuity-button [(selected)]="tipAmount3">25%</spa-therapist-gratuity-button>
  </div>-->


    </form>


  </div>
</div>

