:host {
  height: 100%;
}

mdb-card {
  /*height: 100%;*/
  width: 280px;
  height: 325px;
  margin-bottom: 30px;
}

::ng-deep mdb-card-footer {
  height: 38px !important;
  min-height: 38px !important;
}

.card-body {
  padding: .4rem .5rem;
  padding-top: .5rem;
}

.card-title {
  margin: 5px 10px 0px 10px;
  font-size: 16px;
  font-size: calc(14px + (16 - 14) * ((100vw - 400px) / (1500 - 400))) !important;
  font-weight: 600;
}

.facility-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.facility-card-desc {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.card-sub-title {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  font-size: 14px;
  font-size: calc(12px + (14 - 12) * ((100vw - 400px) / (1500 - 400))) !important;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 10px;
}

.card-footer {
  padding: 0;
}

::ng-deep mdb-card-img img.img-fluid {
  max-height: 140px;
  object-fit: cover;
}

.facility-image {
}

.facility-description {
  font-size: 12px;
  font-size: calc(11px + (12 - 11) * ((100vw - 400px) / (1500 - 400))) !important;
  padding: 5px 10px;
}

.vs-card {
  color: #fff;

  p {
    color: #1d4946;
  }
}

.star {
  font-size: 1rem;
  color: #c9d7e8;
}

.filled {
  color: #ffcc00;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.review-line {
  font-size: 11px;
}

.facility-ratings-text {
  font-size: 14px;
  font-weight: 600;
}

.amentiy-icon {
  font-size: 1rem;
  color: #50595C;
  /*color: #bdc9cd;*/
  /*background-color: white;*/
  margin: 5px;
  padding: 0 6px;
}

.amenity-label {
  max-width: 70px;
  word-wrap: break-word;
  text-align: center;
  color: #50595C;
  font-size: .8rem;
  line-height: .85rem;
  font-weight: 500;
}

@media (max-width:1295px) {
  .card-title {
    /*padding-top: 5px;*/
    /*font-size: 16px;*/
    font-weight: 600;
    margin-bottom: 0px;
    overflow: hidden;
  }

  .card-sub-title {
    /*font-size: 14px;*/
    font-weight: 500;
    /*line-height: 15px;*/
    margin-bottom: 5px;
  }

  .facility-description {
    font-size: 10px;
  }

  ::ng-deep mdb-card-img img.img-fluid {
    max-height: 110px;
  }

  .facility-ratings-block {
    padding: 0 15px;
  }
}
