<!--<div class="cust-results-bar">
  <div class="container" style="width:100%">
    <div fxLayout="row" fxLayoutAlign="center">
      <div class="swiper-container" [swiper]="config" [(index)]="index">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let item of facilities">
            <spa-facility-card [facilityForCard]="item" (click)="facilityClick()" (loaded)="cardLoaded()"></spa-facility-card>
          </div>
        </div>

        <div class="swiper-pagination"></div>

      </div>
    </div>
  </div>
</div>-->

<!--<div fxFlexLayout="row" fxFlexLayout.lt-md="column">
  <div fxFlex="25" *ngFor="let item of facilities">
    <spa-facility-card [facilityForCard]="item" (click)="facilityClick()" (loaded)="cardLoaded()"></spa-facility-card>
  </div>
</div>-->

  <div class="cust-results-bar">
    <div style="width:100%">
      <div fxLayout="row wrap" fxLayoutAlign="start space-between" fxLayoutAlign.lt-md="center" fxLayoutGap="30px"  fxLayoutGap.lt-md="0px">
        <div fxLayout="column" *ngFor="let item of facilities">
          <spa-facility-card [facilityForCard]="item" (click)="facilityClick()" (loaded)="cardLoaded()"></spa-facility-card>
        </div>
      </div>
    </div>
  </div>
