:host {
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
}

.img-thumbnail {
  margin: 25px;
  width: 70%;
  height: auto;
}

.card-body {
  padding: 20px 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

.button {
  margin: 0 5px;
}

.reason-text {
  width: 100%;
  min-height: 200px;
  border: 1px solid lightgray;
  margin-bottom: 15px;
}

::ng-deep app-admin-therapist-approval-detail {
  width: 100%;
}

.facility-label {
    font-weight: 600;
}

.facility-text {
    font-size: 17px;
    font-weight: 500;
}
