<div class="mt-4" style="width:100%">
  <div class="row">
    <div class="col-sm-4">
      <div class="card spa-shadow" fxLayout="column" fxLayoutGap="15px">
        <!--<img class="card-img-top img-thumbnail" src="{{facility.ProfilePhoto.Url}}" alt="{{facility.FirstName}}">-->
        <div class="card-body facility-text"  fxLayout="column" fxLayoutGap="15px">
          <div fxLayout="row" fxLayoutGap="15px" >
            <div class="facility-label">Name:</div>
            <div>{{facility.Name}}</div>
          </div>
          <div fxLayout="row" fxLayoutGap="15px">
            <div class="facility-label">Url:</div>
            <a href="facility?URL">{{facility.URL}}</a>
          </div>
          <div fxLayout="row" fxLayoutGap="15px">
            <div class="facility-label">Phone:</div>
            <div>{{facility.PhoneNumber}}</div>
          </div>
          <!--<div>
            <strong>Years Experience:</strong>
            <p>{{facility.YearsExperience}}</p>
          </div>-->
        </div>
        <div class="card-footer">
          <div class="d-flex" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
            <button *ngIf="buttonVisible == true" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="approve()">
              Approve
            </button>
            <button *ngIf="buttonVisible == true" mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="switchToRejectMode()">
              Reject
            </button>         
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 spa-shadow" style="width: 100%; height: 100%;">
      <div [hidden]="!rejecting" style="margin-top:50px;">
        <h5>Reason for Rejection</h5>
        <dx-text-area class="reason-text" [height]="90"
                      [(value)]="rejectReason">
        </dx-text-area>
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="reject()">
          Reject
        </button>
        <button mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="cancelRejectMode()">
          Cancel
        </button>

      </div>
      <div class="tab-panel" [hidden]="rejecting">
        <tabset class="facility-tabset">
          <tab heading="{{facility.Name}} Info">
            <div class="ml-4 mt-4">
              <h3>Location</h3>
              <p>
                {{facility.Address1}}
                <br />
                {{facility.City}}, {{facility.StateCode}}  {{facility.ZipCode}}
              </p>
            </div>
            <div class="ml-4 mt-4">
              <h3>Description</h3>
              <p>{{facility.Description}}</p>
            </div>
          </tab>
          <tab heading="Amenities">
            <div class="ml-4 mt-4">
              <spa-facility-amenities-edit [runAsStep]="false" [facilityUID]="facility.UID" [canEdit]="false"></spa-facility-amenities-edit>
            </div>
          </tab>
          <tab heading="Therapist Info">
            <div class="ml-4 mt-4">
              <spa-facility-info-edit [runAsStep]="false" [facilityUID]="facility.UID" [showSaveButton]="false"></spa-facility-info-edit>
            </div>
          </tab>
          <tab heading="Images">
            <div class="ml-4 mt-4">
              <spa-facility-images-edit [runAsStep]="false" [facilityUID]="facility.UID" [canEdit]="false"></spa-facility-images-edit>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>

</div>

