<div fxLayout="row" fxFlex="100">

  <div fxLayout="column" style="width: 100%; max-width:500px;">
    <div fxLayout="row" fxFlex="100">
      <form class="example-form" [formGroup]="cancelForm" (ngSubmit)="onSave()" style="width: 100%">
        <div fxLayout="column" fxFlex="100" fxLayoutAlign="center start">

          <mat-form-field class="form-field-full-width">
            <mat-label>Reason for Cancellation</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="25"
                      formControlName="Reason"></textarea>
            <mat-error *ngIf="cancelForm.get('Reason').hasError('required')">
              Reason is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-number">
            <mat-label>Cancellation Fee</mat-label>
            <input currencyMask matInput formControlName="CancellationFee">
            <mat-error *ngIf="cancelForm.controls.CancellationFee.hasError('required')">
              Cancellation Fee is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </form>
    </div>
    <div fxLayout="row" fxLayoutGap="15px">

      <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSave()">
        Cancel Appointment
      </button>
      <button mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="onCancel()">
        Do Not Cancel
      </button>
    </div>
  </div>
</div>

