<div mdbModal #frame="mdbModal" class="modal fade left" #treatmentAreaModal id="treatmentAreaModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" [config]="{ignoreBackdropClick: true}" (close)="onClose()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="example-form" [formGroup]="treatmentAreaForm" (ngSubmit)="onSave()">
          <div fxLayout="column" fxFlex="100" fxLayoutAlign="center start">
            <mat-form-field class="form-field-full-width">
              <mat-label>Name</mat-label>
              <input matInput formControlName="Name">
              <mat-error *ngIf="treatmentAreaForm.get('Name').hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field-full-width">
              <mat-label>Description</mat-label>
              <input matInput formControlName="Description">
              <!--<mat-error *ngIf="personalInfoForm.controls.Address1.hasError('required')">-->
              <mat-error *ngIf="treatmentAreaForm.get('Description').hasError('required')">
                Description is <strong>required</strong>
              </mat-error>
            </mat-form-field>



            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">

              <mat-form-field style="width: 130px">
                <mat-label>Accommodates</mat-label>
                <input matInput type="number" formControlName="Accommodates">
                <!--<mat-error *ngIf="personalInfoForm.controls.Address1.hasError('required')">-->
                <mat-error *ngIf="treatmentAreaForm.get('Accommodates').hasError('required')">
                  Number Accommodated is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="treatmentAreaForm.get('Accommodates').hasError('min')">
                  Number must be at least 1
                </mat-error>
              </mat-form-field>

              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label>Active:</mat-label>
                <mat-checkbox formControlName="Active"></mat-checkbox>
              </div>

            </div>


            <!--<mat-label>Service Categories</mat-label>-->
            <!--<br />
  <h4 class="h4-responsive" fxFlex="30" fxFlex.lt-md="50" fxFlex.lt-sm="0">Service Categories</h4>
  <div formArrayName="ServiceCategories" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start">
    <div fxLayout="column" class="spa-slider-block" [formGroupName]="i" *ngFor="let entry of treatmentArea?.ServiceCategories; let i = index;">
      <div fxFlex="70">
        <mat-checkbox class="checkbox-offset" [id]="entry.ID" formControlName="Accommodates"></mat-checkbox>
        <mat-label fxFlex="75px" fxLayoutAlign="start center">{{entry.CategoryName}}</mat-label>
      </div>
    </div>
  </div>-->
            <br />
            <h4 class="h4-responsive" fxFlex="30" fxFlex.lt-md="50" fxFlex.lt-sm="0">Service Categories</h4>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                <button mat-icon-button disabled></button>
                <mat-checkbox class="checklist-leaf-node"
                              [checked]="checklistSelection.isSelected(node)"
                              (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
              </mat-tree-node>

              <!--<mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-form-field>
        <mat-label>New item...</mat-label>
        <input matInput #itemValue placeholder="Ex. Lettuce">
      </mat-form-field>
      <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
    </mat-tree-node>-->

              <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.filename">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <mat-checkbox [checked]="descendantsAllSelected(node)"
                              [indeterminate]="descendantsPartiallySelected(node)"
                              (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
              </mat-tree-node>
            </mat-tree>


            <!--<mat-tree [dataSource]="categories" [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-checkbox class="checklist-leaf-node"
                    [checked]="checklistSelection.isSelected(node)"
                    (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.filename">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <mat-checkbox [checked]="descendantsAllSelected(node)"
                    [indeterminate]="descendantsPartiallySelected(node)"
                    (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>

    </mat-tree-node>
  </mat-tree>-->


          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onSaveForReal()">
          Save
        </button>
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onClose()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
