::ng-deep .mat-checkbox {
    margin-top: 5px !important;
    margin-right: 10px;
}

.form-field-full-width {
    width: 80%;
}

.checkbox-offset {
    margin-left: 20px;
}

::ng-deep .mat-tree-node  {
    min-height:unset !important;
}
