.cust-results-bar {
  /*margin-top: 20px;*/
  padding: 20px 0 20px 0;
  margin-bottom: 20px;
  display: flex;
  border-bottom: solid 1px #E0E0E0;
  /*background-color: #ECEFF1;*/
}

.cust-results-bar-item {
    margin: 0 10px;    
}

.cust-results-nearby-button {
  width: 100px;
  height: 30px;
  background: url("/assets/images/nearby2.jpg") no-repeat scroll 0 0 ;
}

.cust-scroll-container {
    height: 400px;
}

fa-icon {
  color: #757575;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
