<div class="cust-results-bar ">
    <div fxLayout="row" fxFlex fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="15px;">
      <div class="cust-results-bar-item">
        <dx-date-box [value]="tempDate"
                     dropDownButtonTemplate="customCalendarBox"
                     type="date"
                     pickerType="calendar"
                     width="140px">
          <div *dxTemplate="let data of 'customCalendarBox'">
            <fa-icon [icon]="faCalendar"></fa-icon>
          </div>>
        </dx-date-box>
      </div>
      <div class="cust-results-bar-item">
        <dx-date-box [value]="tempTime"
                     dropDownButtonTemplate="customTimeBox"
                     type="time"
                     placeholder="Select Time..."
                     width="140px">
          <div *dxTemplate="let data of 'customTimeBox'">
            <fa-icon [icon]="faClock"></fa-icon>
          </div>>
        </dx-date-box>
      </div>
      <div class="cust-results-bar-item">
        <dx-drop-down-box [(value)]="treeBoxValue"
                          valueExpr="ID"
                          displayExpr="Name"
                          placeholder="Select a Service..."
                          dropDownButtonTemplate="customServiceBox"
                          [showClearButton]="true"
                          [dataSource]="treeDataSource"
                          (onValueChanged)="syncTreeViewSelection($event)"
                          [width]="350">
          <dxo-drop-down-options [width]="350">
          </dxo-drop-down-options>
          <div *dxTemplate="let data of 'customServiceBox'">
            <fa-icon [icon]="faDiagnoses"></fa-icon>
          </div>>
          <div *dxTemplate="let data of 'content'">
            <dx-tree-view [dataSource]="treeDataSource"
                          dataStructure="plain"
                          keyExpr="ID"
                          parentIdExpr="ParentID"
                          selectionMode="single"
                          displayExpr="Name"
                          [selectByClick]="true"
                          (onContentReady)="$event.component.selectItem(treeBoxValue)"
                          (onItemSelectionChanged)="treeView_itemSelectionChanged($event)">
            </dx-tree-view>
          </div>
        </dx-drop-down-box>
      </div>
      <div class="cust-results-bar-item">
        <dx-drop-down-box valueExpr="ID"
                          displayExpr="Name"
                          placeholder="Preferences..."
                          dropDownButtonTemplate="customPreferencesBox"
                          [showClearButton]="true"
                          [dataSource]="treeDataSource"
                          (onValueChanged)="syncTreeViewSelection($event)"
                          [width]="300">
          <dxo-drop-down-options [minWidth]="450">
          </dxo-drop-down-options>
          <div *dxTemplate="let data of 'customPreferencesBox'">
            <fa-icon [icon]="faTasks"></fa-icon>
          </div>>
          <div *dxTemplate="let data of 'content'">
            <mat-accordion multi="true">
              <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                  <mat-panel-title>Reason for Visit</mat-panel-title>
                </mat-expansion-panel-header>
                <cust-needs-summary [(needs)]="currentCustomer.Profile.CurrentNeeds"></cust-needs-summary>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                  <mat-panel-title>Areas of Focus</mat-panel-title>
                </mat-expansion-panel-header>
                <cust-focus-area-summary [(focusArea)]="currentCustomer.Profile.CurrentFocusArea"></cust-focus-area-summary>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                  <mat-panel-title>Preferences</mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                  <dx-scroll-view #scrollView
                                  id="scrollview"
                                  [scrollByContent]="'true'"
                                  [showScrollbar]="'always'">
                    <div class="cust-scroll-container">
                      <cust-preferences-summary [(facilityPreferences)]="currentCustomer.Profile.FacilityPreferences" [(therapistPreferences)]="currentCustomer.Profile.TherapistPreferences"></cust-preferences-summary>
                    </div>
                  </dx-scroll-view>
                </div>

              </mat-expansion-panel>

            </mat-accordion>
            <div fxLayoutAlign="center" style="margin-top: 10px;">
              <dx-button stylingMode="contained"
                         text="Update Preferences"
                         type="default"
                         (onClick)="click($event)">
              </dx-button>
            </div>
          </div>
        </dx-drop-down-box>
      </div>
      <div class="cust-results-bar-item">
        <dx-button stylingMode="contained"
                   text="Nearby..."
                   icon="fa fa-home"
                   type="normal"
                   [width]="120"
                   (onClick)="click($event)">
        </dx-button>
      </div>

    </div>

</div>

<!--<dx-toolbar>
  <dxi-item location="center"
            widget="dxDateBox"
            [options]="timeBoxOptions">
  </dxi-item>
  <dxi-item location="center"
            widget="dxDateBox"
            [options]="dateBoxOptions">
  </dxi-item>
  <dxi-item location="center"
            widget="dxDropDownBox"
            [options]="serviceBoxOptions">

  </dxi-item>
</dx-toolbar>


<div id="content" data-options="dxTemplate: { name: 'content' }">
  <dx-tree-view [dataSource]="treeDataSource"
                width="300px"
                dataStructure="plain"
                keyExpr="ID"
                parentIdExpr="ParentID"
                selectionMode="single"
                displayExpr="Name"
                [selectByClick]="true"
                (onContentReady)="$event.component.selectItem(treeBoxValue)"
                (onItemSelectionChanged)="treeView_itemSelectionChanged($event)">
  </dx-tree-view>
</div>-->
<!--<div *dxTemplate="let data of 'content'">
  <dx-tree-view [dataSource]="treeDataSource"
                width="300px"
                dataStructure="plain"
                keyExpr="ID"
                parentIdExpr="ParentID"
                selectionMode="single"
                displayExpr="Name"
                [selectByClick]="true"
                (onContentReady)="$event.component.selectItem(treeBoxValue)"
                (onItemSelectionChanged)="treeView_itemSelectionChanged($event)">
  </dx-tree-view>
</div>-->
