<div fxLayout="row" fxLayoutAlign="center center">
  <!--<div fxFlex="10" fxHide.lt-md></div>-->
  <div fxFlex="100" fxFlex.lt-md="100" style="min-height: 500px;">
    <h3>Billing Information</h3>

    <dx-data-grid #facilitiesGrid id="facilitiesGrid"
                  [dataSource]="billingInfo"
                  showRowLines="true"
                  showColumnLines="false"
                  showBorders="true"
                  [wordWrapEnabled]="true"
                  [searchPanel]='{ visible: false, width: 350 }'>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-editing mode="row"
                   [allowUpdating]="false"
                   [allowDeleting]="false"
                   [allowAdding]="false">
      </dxo-editing>
      <dxo-paging [pageSize]="15"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true"
                 [allowedPageSizes]="[5, 10, 15, 30]"></dxo-pager>
      <dxo-scrolling mode="standard" showScrollbar="always"></dxo-scrolling>
      <dxi-column dataField="StartDateTime" alignment="center" dataType="date" format="shortDateShortTime" width="110" caption="Date" headerCellTemplate="headerTemplate"></dxi-column>
      <dxi-column dataField="Service" minWidth="200"></dxi-column>
      <dxi-column dataField="TherapistName" minWidth="220" caption="Therapist"></dxi-column>
      <dxi-column dataField="FacilityName" minWidth="220" caption="Facility"></dxi-column>
      <dxi-column dataField="RatingOfProvider" caption="Provider Rating" width="110"></dxi-column>
      <dxi-column dataField="RatingOfFacility" caption="Facility Rating" width="110"></dxi-column>
      <dxi-column dataField="ServicePrice" dataType="number" format="currency" width="100" headerCellTemplate="headerTemplate"></dxi-column>
      <dxi-column dataField="ServiceCharge" dataType="number" format="currency" width="100" headerCellTemplate="headerTemplate"></dxi-column>
      <dxi-column dataField="AddOns" dataType="number" format="currency" width="100" headerCellTemplate="headerTemplate"></dxi-column>
      <dxi-column dataField="AdditionalGratuity" caption="Gratuity" dataType="number" format="currency" width="100" headerCellTemplate="headerTemplate"></dxi-column>
      <dxi-column dataField="Total" dataType="number" format="currency" width="100" headerCellTemplate="headerTemplate"></dxi-column>
      <div *dxTemplate="let data of 'headerTemplate'">
        <div style="height: 100%;  word-wrap: break-word; white-space: normal;text-align:center">
          {{data.column.caption}}
        </div>
      </div>
    </dx-data-grid>
  </div>
  <!--<div fxFlex="10" fxHide.lt-md></div>-->
</div>


