<div fxLayout="column" class="client-block spa-shadow">
  <div fxLayout="row">
    <div fxFlex="80px" class="client-image">
      <img [src]="getPhotoUrl()" alt="client image">
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between" fxFlex="100" class="client-detail">
      <div fxLayout="column">
        <div class="spa-label-small">Therapist</div>
        <div class="spa-text">{{therapist?.Name}}</div>
      </div>
      <div class="facility-ratings-text"><i class="far fa-calendar-alt"></i>&nbsp;({{therapist?.TotalAppointments}}) appts</div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="spa-label-small">Phone:</div>
    <div class="spa-text">{{therapist?.Phone}}</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="spa-label-small">Email:</div>
    <div class="spa-text">{{therapist?.Email}}</div>
  </div>
</div>
