<div class="provider-pitch-wrapper" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="column" fxFlex="100" class="provider-pitch-background">
    <div fxLayout="row">
      <spa-top-banner fxFlex="100"></spa-top-banner>
    </div>
    <div fxLayout="row" fxFlex="100">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>

<div fxLayout="row" style="width:100%">
  <spa-footer class="spa-footer"></spa-footer>
</div>


