<div>
  <div style="width: 100%;">
    <dx-data-grid #amenitiesGrid id="amenitiesGrid"
                  [dataSource]="amenities"
                  showRowLines="true"
                  showColumnLines="false"
                  showBorders="true"
                  [columnHidingEnabled]="true"
                  (onToolbarPreparing)="amenitiesGrid_onToolbarPreparing($event)"
                  (onRowUpdating)="onAmenitiesRowUpdating($event)">
      <dxo-editing mode="cell"
                   [allowUpdating]="canEdit"
                   [allowDeleting]="false"
                   [allowAdding]="false">
      </dxo-editing>
      <dxi-column dataField="IsIncluded" caption="" width="50"></dxi-column>
      <dxi-column dataField="AmenityName" caption="Amenity">
        <!--<dxo-lookup [dataSource]="amenitiesList" displayExpr="Name" valueExpr="ID"></dxo-lookup>-->
      </dxi-column>
      <dxi-column dataField="Description" [hidingPriority]="0">
        <!--<dxi-validation-rule type="required"></dxi-validation-rule>-->
      </dxi-column>
      <dxi-column dataField="IncludedWithTreatment" width="110" headerCellTemplate="headerTemplate" [hidingPriority]="3"></dxi-column>
      <dxi-column dataField="AdditionalCharge" alignment="right" dataType="number" format="currency" width="95" headerCellTemplate="headerTemplate" [hidingPriority]="2"></dxi-column>
      <!--<dxi-column dataField="CertificateDate" dataType="date">
        <dxi-validation-rule type="required"></dxi-validation-rule>
        <dxi-validation-rule type="custom"
                             [reevaluate]="true"
                             [validationCallback]="validateCertificateDate"
                             message="Certificate Date cannot be prior to today's date"></dxi-validation-rule>
      </dxi-column>-->
      <!--<dxi-column type="buttons" alignment="left" [width]="50" [visible]="canEdit">
        <dxi-button hint="Upload Image"
                    icon="upload"
                    [visible]="isUploadButtonVisible"
                    [onClick]="uploadImageClick"></dxi-button>
        <dxi-button hint="View Image"
                    icon="search"
                    [visible]="isSearchButtonVisible"
                    [onClick]="showImageClick"></dxi-button>
      </dxi-column>-->
      <div *dxTemplate="let data of 'headerTemplate'">
        <div style="height: 100%;  word-wrap: break-word; white-space: normal;text-align:center">
          {{data.column.caption}}
        </div>
      </div>
      <div *dxTemplate="let data of 'headerText'">
        <h3>Facility Amenities</h3>
      </div>
    </dx-data-grid>
  </div>
</div>

<!--<dx-popup [showTitle]="true"
          [width]="500"
          [height]="500"
          [title]="title"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="photoPopupVisible">
  <div *dxTemplate="let data of 'content'">
    <img #heroImage [src]="photoUrl" />
  </div>
</dx-popup>-->

<!--<spa-file-upload-popup [title]="title" [uploadApiUrl]="uploadPath" [(popupVisible)]="popupVisible" (onHiding)="onHiding()" (fileUploaded)="onfileUploaded($event)"></spa-file-upload-popup>-->
