<spa-left-nav [selectedItems]="navigation" pageTitle="Spa Space Admin Portal">
  <div fxLayout="row" fxFlex="100">
    <div fxLayout="column" fxFlex="10px" fxHide.gt-xs></div>
    <div fxLayout="column" fxFlex="100">
      <router-outlet></router-outlet>
    </div>
    <div fxLayout="column" fxFlex="10px" fxHide.gt-xs></div>
  </div>
 
</spa-left-nav>


<!--<div class="admin-container">
  <app-nav-bar [homePage]="homePage">
    <div fxLayout="row" fxLayoutAlign="end center" style="width: 100%">
      <app-login-menu></app-login-menu>
    </div>
  </app-nav-bar>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div fxFlex="200px;" class="panel-list-container">
      <dx-list #list class="panel-list dx-theme-accent-as-background-color"
               selectionMode="single"
               keyExpr="id"
               (onItemClick)="menu_selectionChanged($event)"
               [dataSource]="navigation"
               [hoverStateEnabled]="false"
               [activeStateEnabled]="false"
               [focusStateEnabled]="false"
               [(selectedItemKeys)]="selectedItems">
      </dx-list>

    </div>
    <router-outlet></router-outlet>
  </div>
</div>-->
<!--<app-nav-bar>-->
<!--<div class="spa-nav-bar-item">
  <fa-icon [icon]="faQuestionCircle" [routerLink]="['/portal']"></fa-icon>
  <p>About</p>
</div>
<div class="spa-nav-bar-item">
  <fa-icon [icon]="faBuilding" [routerLink]="['/main/facility']"></fa-icon>
  <p>For Hoteliers</p>
</div>
<div class="spa-nav-bar-item">
  <fa-icon [icon]="faUserCircle" [routerLink]="['/main/provider']"></fa-icon>
  <p>For Providers</p>
</div>-->
<!--<ul class="navbar-nav flex-grow">
  <li class="nav-item"
      [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }">
    <a class="nav-link text-light" [routerLink]="['./']">Dashboard</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-light" [routerLink]="['./customers']">Customers</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-light" [routerLink]="['./facilities']">Facilities</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-light" [routerLink]="['./providers']">Therapists</a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-light" [routerLink]="['./general']">General</a>
  </li>
</ul>-->
<!--</app-nav-bar>
<router-outlet></router-outlet>-->
