:host {
  background-color: #fafafa;
}

::ng-deep .options {
  padding: 20px;
  background-color: rgba(191, 191, 191, .15);
}

::ng-deep .caption {
  font-size: 18px;
  font-weight: 500;
}

::ng-deep .option {
  margin-top: 10px;
  /*display: inline-block;*/
  margin-right: 50px;
}

::ng-deep label {
  font-weight: bold;
}

::ng-deep #content {
  height: 100%;
  padding: 10px 20px;
}

::ng-deep #content h2 {
  font-size: 26px;
}

::ng-deep app-admin-therapist-detail {
  width: 100%;
}

::ng-deep app-admin-error {
    width: 100%;
    height: 80vh;
}
