<p>spa-facility-profile-card works!</p>
<div fxLayout="row" fxFlex="100">
  <div fxLayout="column">
    <div>
      slider
    </div>
    <div>
      facility desc
    </div>
    <mat-tab-group>
      <mat-tab label="About"> Content 1 </mat-tab>
      <mat-tab label="Amenities"> Content 2 </mat-tab>
      <mat-tab label="Reviews"> Content 3 </mat-tab>
    </mat-tab-group>
  </div>
</div>
