<div fxLayout="row" fxFlex="100">

  <div fxLayout="column" style="width: 100%; max-width:500px;">
    <div fxLayout="row" fxFlex="100">
      <form class="example-form" [formGroup]="noteForm" (ngSubmit)="onSave()" style="width: 100%">
        <div fxLayout="column" fxFlex="100" fxLayoutAlign="center start">

          <mat-form-field class="form-field-full-width">
            <mat-label>Notes</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="25"
                      formControlName="Notes"></textarea>
            <mat-error *ngIf="noteForm.get('Notes').hasError('required')">
              Notes are <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </form>
    </div>
    <div *ngIf="(canEdit == true)" fxLayout="row" fxLayoutGap="15px">

      <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSave()">
        Save
      </button>
      <button mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>
</div>

