
<div style="max-height: 500px;">
  <mdb-card class="review-list appointment-scroll">
    <!--<div class="appointment-scroll">-->
    <mdb-card-body class="p-0">
      <!-- Grid row -->
      <div>

        <!-- Grid column -->
        <div class="px-0">

          <div class="white z-depth-1 ">
            <div *ngIf="!pendingTherapistReviews" style="background-color: #d3dbde; height: 60px; text-align: center; vertical-align: central; padding-top: 20px;">No therapist reviews awaiting approval.</div>
            <ul *ngIf="pendingTherapistReviews" class="list-unstyled friend-list m-0">
              <li *ngFor="let review of pendingTherapistReviews" class="p-3" style="border-bottom: 1px solid lightgrey;">
                <div (click)="itemClicked(review.UID)" fxLayout="row" fxFlex="100">
                  <div fxLayout="column" fxLayoutAlign="start start" style="width:100%">
                    <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%;">
                      <h4 style="margin-bottom: 0;">{{review.TherapistName}} </h4>
                      <div>{{review.CustomerName}}</div>
                    </div>
                    <div fxLayout="row">
                      <div>
                        <ngb-rating [(rate)]="review.Stars" [max]="max" [readonly]="true">
                          <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                          </ng-template>
                        </ngb-rating>
                      </div>
                    </div>
                    <div fxLayout="row" class="text-small appointment-scroll" style="max-height: 150px; width: 90%;">
                      {{review.ReviewText}}
                    </div>
                  </div>


                  <div class="chat-footer">
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </mdb-card-body>
    <!--</div>-->

  </mdb-card>

</div>

<div mdbModal #frame="mdbModal" class="modal fade left" #reviewModal id="reviewModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Approve this review</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">

        <div *ngIf="selectedReview" fxLayout="column" fxLayoutAlign="start start" style="width:100%">
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between" style="width: 100%;">
            <h4 style="margin-bottom: 0;">{{selectedReview?.TherapistName}} </h4>
            <div>{{selectedReview?.CustomerName}}</div>
          </div>
          <div fxLayout="row">
            <div>
              <ngb-rating [(rate)]="selectedReview.Stars" [max]="max" [readonly]="true">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </div>
          </div>
          <div fxLayout="row" class="text-small review-scroll" style="max-height: 200px;">
            {{selectedReview?.ReviewText}}
          </div>
        </div>
        <br />
        <br />

        <form class="review-form" [formGroup]="reviewForm" (ngSubmit)="onSave(selectedReview.UID)">
          <div fxLayout="column" fxFlex="100" fxLayoutAlign="center start">

            <mat-radio-group formControlName="Action" aria-label="Select an option" (change)="actionChanged($event)">
              <mat-radio-button value="Approve">Approve</mat-radio-button>&nbsp;&nbsp;
              <mat-radio-button value="Reject">Reject</mat-radio-button>
            </mat-radio-group>

            <mat-form-field *ngIf="showReason == true" class="form-field-full-width" style="width: 90%">
              <mat-label>Reject Reason</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="25"
                        formControlName="RejectText"></textarea>
            </mat-form-field>


          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSave(selectedReview.UID)">
          Save
        </button>
        <button mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
