<div mdbModal #frame="mdbModal" class="modal fade left" #managerModal id="managerModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="example-form" [formGroup]="managerForm" (ngSubmit)="onSave()">
          <div fxLayout="column" fxFlex="100" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutGap="20px">
              <mat-form-field class="form-field-full-width">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="FirstName">
                <mat-error *ngIf="managerForm.get('FirstName').hasError('required')">
                  First Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="LastName">
                <mat-error *ngIf="managerForm.get('LastName').hasError('required')">
                  Last Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="20px">
              <mat-form-field class="form-field-full-width">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="Email">
                <!--<mat-error *ngIf="personalInfoForm.controls.Address1.hasError('required')">-->
                <mat-error *ngIf="managerForm.get('Email').hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field style="width: 130px">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="PhoneNumber">
                <!--<mat-error *ngIf="personalInfoForm.controls.Address1.hasError('required')">-->
                <mat-error *ngIf="managerForm.get('PhoneNumber').hasError('required')">
                  Phone Number is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start center">
              <div *ngIf="manager?.UID" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label>Active:</mat-label>
                <mat-checkbox formControlName="Active"></mat-checkbox>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <mat-label>Admin:</mat-label>
                <mat-checkbox formControlName="IsAdmin"></mat-checkbox>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onSave()">
          Save
        </button>
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onClose()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
