::ng-deep .side-nav .logo-wrapper img {
  padding: 5px !important;
  background-color: white;
  max-height: 80px !important;
  width: auto;
  margin: 0 auto;
  padding-left: 50px !important;
}

::ng-deep .navbar-brand {
  /*min-height: 240px;*/
  background-color: white;
  width: 240px !important;
}

::ng-deep nav.double-nav {
  height: 80px !important;
}

::ng-deep .nav-link {
  font-size: 18px !important;
}

::ng-deep main {
  background-color: #fafafa;
  margin-top: 80px;
  margin-left: 0;
  margin-right: 0;
}

::ng-deep .test-skin .navbar-nav .nav-item .dropdown-menu a:hover, .test-skin .navbar-nav .nav-item .dropdown-menu a:focus, .test-skin .navbar-nav .nav-item .dropdown-menu a:active {
    color: white;
}

::ng-deep .fixed-sn main {
    padding-top: 0px;
}

::ng-deep .navbar {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 2px 2px 0 rgba(0,0,0,.12) !important;
}

.spa-main-container {
    padding-top: 20px;
}

