<!--Double navigation-->
<header>
  <!-- Sidebar navigation -->
  <mdb-side-nav #sidenav class="fixed" [fixed]="true">

    <mdb-navbar-brand>
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light">
          <a class="navbar-brand" [routerLink]='["/"]'><img src="assets/images/Spa Space App Logo with rings-01.png" alt="" ></a>
        </div>
      </li>
      <!--/. Logo -->
    </mdb-navbar-brand>

    <links>

      <li>
        <ul class="collapsible collapsible-accordion">
          <mdb-accordion [multiple]="false" [autoExpand]="false" aria-multiselectable="false">

            <mdb-accordion-item *ngFor="let item of selectedItems">
              <mdb-accordion-item-head *ngIf="item.hasSubItems" mdbWavesEffect [isDisabled]="item.disabled">
                <mdb-icon fas [icon]="item.icon"></mdb-icon> {{item.text}}
              </mdb-accordion-item-head>
              <!--<mdb-accordion-item-head *ngIf="!item.hasSubItems" [routerLink]="[item.link]" mdbWavesEffect [isDisabled]="item.disabled" class="no-collase">-->
              <mdb-accordion-item-head *ngIf="!item.hasSubItems"(click)="selectItem(item.link)" mdbWavesEffect [isDisabled]="item.disabled" class="no-collase">
                <mdb-icon fas [icon]="item.icon"></mdb-icon> {{item.text}}
              </mdb-accordion-item-head>
              <mdb-accordion-item-body>
                <ul *ngIf="item.hasSubItems">
                  <!--<li *ngFor="let subItem of item.subItems"><a [routerLink]="[subItem.link]" mdbWavesEffect>{{subItem.text}}</a></li>-->
                  <li *ngFor="let subItem of item.subItems"><a (click)="selectItem(subItem.link)" mdbWavesEffect>{{subItem.text}}</a></li>
                  }}
                </ul>
              </mdb-accordion-item-body>
            </mdb-accordion-item>

          </mdb-accordion>
        </ul>
      </li>
      <!--/. Side navigation links -->
    </links>
    <div class="sidenav-bg mask-strong"></div>
  </mdb-side-nav>
  <!--/. Sidebar navigation -->
  <!-- Navbar -->
  <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav"
              [containerInside]="false">

    <navlinks class="navbar-container">
      <!-- SideNav slide-out button -->
      <div class="float-left" style="margin-right:30px;">
        <a (click)="sidenav.show()" class="button-collapse text-dark"><mdb-icon fas icon="bars"></mdb-icon></a>
      </div>
      <!--/. SideNav slide-out button -->
    </navlinks>

    <mdb-navbar-brand>
      <!-- Breadcrumb-->
      <div class=" mr-auto">
        <h3 class="h3-responsive m-0" style="white-space: nowrap; color: black;">{{pageTitle}}</h3>
      </div>
      <!--/. Breadcrumb-->
    </mdb-navbar-brand>

    <navlinks>

      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav" *ngIf="isAuthenticated | async">

        <li class="nav-item dropdown btn-group" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light text-dark" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon> Hello {{ userName | async }}
          </a>
          <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
            <a class="dropdown-item" [routerLink]='[dashboardLink]'>Dashboard</a>
            <a class="dropdown-item" [routerLink]='[profileLink]'>User Profile</a>
            <a class="dropdown-item" [routerLink]='["/authentication/logout"]'>Logout</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav" *ngIf="!(isAuthenticated | async)">
        <li class="nav-item">
          <a class="nav-link " [routerLink]='["/authentication/register"]'>Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]='["/authentication/login"]'>Login</a>
        </li>
      </ul>

    </navlinks>
  </mdb-navbar>
  <!--/. Navbar -->

</header>
<!--/.Double navigation-->
<!--Main Layout-->

<div style="display: block">

  <!--<spa-breadcrumb></spa-breadcrumb>-->

  <main>
    <div class="spa-main-container">
      <ng-content></ng-content>
    </div>    

    <!--<spa-footer class="spa-footer"></spa-footer>-->
  </main>
  <!--/Main layout-->

  <div style="flex:1;"></div>




</div>
