
<div fxLayout="row" fxFlex="100">
  <div fxLayout="column" style="width: 100%">
    <div fxLayout="row" fxFlex="100" fxFlex.lt-sm="100"></div>
    <div fxLayout="row" class="requirements-block">
      <div fxLayout="column" fxLayoutAlign="center center" style="width: 100%">
        <spa-therapist-requirements-edit [canEdit]="false"></spa-therapist-requirements-edit>
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect [routerLink]="['/authentication/register-therapist']">
          Register Now
        </button>

      </div>

    </div>
    <div fxLayout="row" fxFlex="10" fxFlex.lt-sm="0"></div>
  </div>
</div>
