:host {
    width: 100%;
}


.requirements-block {
  /*height: 400px;
    width: 460px;*/
  background-color: #d3dbde;
  padding: 15px 0;
  opacity: .9;
}

::ng-deep li {
  font-size: 14px;
  font-size: calc(10px + (14 - 10) * ((100vw - 400px) / (1500 - 400))) !important;
  color: black;
}

::ng-deep ul {
  margin-bottom: 0px;
}

@media (max-width: 600px) {

  ::ng-deep li {
    font-size: 10px;
  }

}
