<div class="container mt-4" style="width:100%">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{therapist.ProfilePhoto.Url}}" alt="{{therapist.FirstName}}">
        <div class="card-body">
          <div>
            <strong>Name:</strong>
            <p>{{therapist.FirstName}} {{therapist.LastName}}</p>
          </div>
          <div>
            <strong>Email:</strong>
            <p>{{therapist.EmailAddress}}</p>
          </div>
          <div>
            <strong>Phone:</strong>
            <p>{{therapist.MobilePhone}}</p>
          </div>
          <div>
            <strong>Years Experience:</strong>
            <p>{{therapist.YearsExperience}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button *ngIf="buttonVisible == true" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="approve()">
              Approve
            </button>
            <button *ngIf="buttonVisible == true" mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="switchToRejectMode()">
              Reject
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div [hidden]="!rejecting" style="margin-top:50px;">
        <h5>Reason for Rejection</h5>
        <dx-text-area class="reason-text" [height]="90"
                      [(value)]="rejectReason">
        </dx-text-area>
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="reject()">
          Reject
        </button>
        <button mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="cancelRejectMode()">
          Cancel
        </button>

      </div>
      <div class="tab-panel" [hidden]="rejecting">
        <tabset class="therapist-tabset">
          <tab heading="{{therapist.FirstName}}'s Info">
            <div class="ml-4 mt-4">
              <h3>Location</h3>
              <p>
                {{therapist.Address}}
                <br />
                {{therapist.City}}, {{therapist.State}}  {{therapist.ZipCode}}
              </p>
            </div>
            <div class="ml-4 mt-4">
              <h3>Bio</h3>
              <p>{{therapist.Bio}}</p>
            </div>
          </tab>
          <tab heading="Licenses &amp; Certifications">
            <div class="ml-4 mt-4">
              <spa-therapist-certifications-edit [canEdit]="false"
                                                 [therapistUID]="therapist.UID"></spa-therapist-certifications-edit>
              <spa-therapist-licenses-edit [canEdit]="false"
                                           [therapistUID]="therapist.UID"></spa-therapist-licenses-edit>
            </div>
          </tab>
          <tab heading="Insurance">
            <div class="ml-4 mt-4">
              <spa-therapist-insurances-edit [canEdit]="false"
                                                [therapistUID]="therapist.UID"></spa-therapist-insurances-edit>
            </div>
          </tab>
          <tab heading="Facilities">
            <div class="ml-4 mt-4">
              <spa-therapist-facilities-edit [canEdit]="false"
                                            [therapistUID]="therapist.UID"></spa-therapist-facilities-edit>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>

</div>

