.img-thumbnail {
  margin: 25px;
  width: 70%;
  height: auto;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}

.dx-button {
    margin: 0 5px;
}

.reason-text {
  width: 100%;
  min-height: 200px;
  border: 1px solid lightgray;
  margin-bottom: 15px;
}

::ng-deep app-admin-therapist-approval-detail {
    width: 100%;
}
