<div fxLayout="column" fxFlex="100">


  <div fxLayout="row" fxLayoutAlign="center center">
    <br />
    <br />
    <br />
    <br />
    <div class="long-title">
      <h3>Schedule Availablility</h3>
    </div>
  </div>

    <div fxLayout="row" fxFlex.gt-sm="100" fxLayoutGap="20px" fxLayout.lt-md="column">
      <div fxFlex.gt-sm="200px" fxLayout.lt-md="column" style="max-width: 250px;">
        <dx-scroll-view id="scroll">
          <dx-draggable id="list"
                        data="dropArea"
                        [group]="draggingGroupName"
                        (onDragStart)="onListDragStart($event)">
            <dx-draggable class="item dx-card " style="color: white;"
                          [ngStyle]="{'background-color':getColor(facs.FacilityUID)}"
                          [clone]="true"
                          [group]="draggingGroupName"
                          [data]="facs"
                          (onDragStart)="onItemDragStart($event)"
                          (onDragEnd)="onItemDragEnd($event)"
                          *ngFor="let facs of facswcolor">
              {{facs.FacilityName}}
            </dx-draggable>
          </dx-draggable>
        </dx-scroll-view>
      </div>
      <div fxFlex="1 1 calc(100%-200px)" >

        <dx-scheduler id="scheduler"
                      [dataSource]="availability"
                      [views]="['day', 'week', 'timelineDay', 'month']"
                      currentView="week"
                      endDateExpr="EndTime"
                      startDateExpr="StartTime"
                      [firstDayOfWeek]="0"
                      [startDayHour]="5"
                      [endDayHour]="24"
                      [showAllDayPanel]="false"
                      [currentDate]="currentDate"
                      [crossScrollingEnabled]="true"
                      [adaptivityEnabled]="true"
                      [cellDuration]="60"
                      [height]="600"
                      width="100%"
                      [editing]="true"
                      recurrenceEditMode="series"
                      recurrenceRuleExpr="RecurrenceRule"
                      appointmentTemplate="appointment-template"
                      (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
                      (onAppointmentAdding)="onAppointmentAdding($event)"
                      (onAppointmentDeleting)="onAppointmentDeleting($event)"
                      (onAppointmentUpdating)="onAppointmentUpdating($event)">

          <!--<dxi-view name="Day"
              type="day"
              [intervalCount]="1"
              [startDate]="currentDate">
    </dxi-view>
    <dxi-view name="3 Days"
              type="day"
              [intervalCount]="3"
              [startDate]="currentDate">
    </dxi-view>
    <dxi-view name="Week"
              type="week"
              [startDate]="currentDate">
    </dxi-view>-->
          <dxo-editing>
            [allowAdding]="true"
            [allowDeleting]="true"
            [allowUpdating]="true"
          </dxo-editing>

          <dxi-resource fieldExpr="FacilityUID"
                        valueExpr="FacilityUID"
                        label="FacilityName"
                        useColorAsDefault="true"
                        [dataSource]="facswcolor"
                        colorExpr="Color">
          </dxi-resource>

          <dxo-appointment-dragging [group]="draggingGroupName"
                                    [onRemove]="onAppointmentRemove"
                                    [onAdd]="onAppointmentAdd">
          </dxo-appointment-dragging>

          <div *dxTemplate="let model of 'appointment-template'">
            <div class='showtime-preview'>
              <div>{{model.appointmentData.FacilityName}}</div>
              <div class='dropdown-appointment-dates'>
                {{(model.appointmentData.StartTime | date:'shortTime') + ' - ' + (model.appointmentData.EndTime | date:'shortTime')}}
              </div>
            </div>
          </div>

        </dx-scheduler>

      </div>
    </div>

</div>

