::ng-deep .dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
  padding: 14px;
}

/*::ng-deep .showtime-preview > div:first-child {
  font-size: 12px;
  white-space: normal;
}

::ng-deep .showtime-preview > div:not(:first-child) {
  font-size: 11px;
  white-space: normal;
}*/

::ng-deep .dx-recurrence-interval-field {
  display: none;
} 

/*::ng-deep .movie-tooltip .movie-info {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  text-align: left;
}

::ng-deep .movie-tooltip img {
  height: 80px;
  margin-bottom: 10px;
}

::ng-deep .movie-tooltip .movie-title {
  font-size: 1.5em;
  line-height: 40px;
}*/

::ng-deep .long-title h3 {
  /*font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;*/
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

/*#scroll, #list {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
}*/

.item {
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-bottom: 10px;
}

/*#scheduler {
  margin-left: 270px;
}*/

.dx-draggable-source {
  opacity: 0.5;
}

.dx-draggable-dragging > * {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.2);
}
