<div class="container">
  <div fxLayout="row" fxLayoutGap="30px">
    <div fxFlex="50">
      <h3>This is the Facility Manager's Dashboard</h3>
      <h4>
        It has no content for phase one.  We need to know what we should do with it.  
        Leave it blank?  Hide it from the left nav for now?  Display a coming soon image?
      </h4>
      <!--<dx-data-grid #managersGrid id="managersGrid"
                    [dataSource]="facilityManagers"
                    showRowLines="true"
                    showColumnLines="false"
                    showBorders="true">
        <dxo-editing mode="row"
                     [allowUpdating]="false"
                     [allowDeleting]="false"
                     [allowAdding]="false">
        </dxo-editing>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true"
                   [allowedPageSizes]="[5, 10, 15]"></dxo-pager>
        <dxo-scrolling mode="standard" showScrollbar="always"></dxo-scrolling>
        <dxi-column dataField="Active" width="80"></dxi-column>
        <dxi-column dataField="DisplayName" caption="Name" cellTemplate="nameColumn"></dxi-column>
        <dxi-column dataField="Email"></dxi-column>
        <dxi-column dataField="PhoneNumber"></dxi-column>
        
        <div *dxTemplate="let item of 'nameColumn'">
          &nbsp;
          <a class="dx-link" (click)="facilitiesGrid_onItemSelect(item)">{{item.value}}</a>
        </div>
      </dx-data-grid>-->
    </div>
    <div fxFlex="50"></div>
  </div>
</div>
