
<div class="provider-dashboard" style="width: 100%;">
  <div class="spa-container-white pl-1 pt-1" fxLayout="row wrap" fxFlex="100" fxLayoutGap="20px" fxLayoutGap.lt-sm="0" fxLayoutAlign="start start">

    <div fxLayout="column" fxFlex="0 1 calc(50% - 20px)" fxFlex.lt-sm="100%" fxLayoutGap="20px">

      <div class="dash-column" fxLayout="column">
        <mdb-accordion class="spa-container">
          <mdb-accordion-item [collapsed]="false" [customClass]="'border-0'">
            <mdb-accordion-item-head class="bg-secondary" [indicator]="true"
                                     [customClass]="'text-center text-uppercase white-text z-depth-1'">
              Therapists for Approval ({{approvalCount}})
            </mdb-accordion-item-head>
            <mdb-accordion-item-body [customClass]="'p-0'">
              <spa-admin-therapist-approvals  class="dashboard-list" (numberForApproval)="numberForApproval($event)"></spa-admin-therapist-approvals>
            </mdb-accordion-item-body>
          </mdb-accordion-item>
        </mdb-accordion>
      </div>

      <div class="dash-column" fxLayout="column">
        <mdb-accordion class="spa-container">
          <mdb-accordion-item [collapsed]="false" [customClass]="'border-0'">
            <mdb-accordion-item-head class="bg-secondary" [indicator]="true"
                                     [customClass]="'text-center text-uppercase white-text z-depth-1'">
              Pending Therapist Reviews ({{therapistReviewCount}})
            </mdb-accordion-item-head>
            <mdb-accordion-item-body [customClass]="'p-0'">
              <spa-admin-pending-therapist-reviews class="dashboard-list" (numberForTherapistReviews)="numberForTherapistReviews($event)"></spa-admin-pending-therapist-reviews>
            </mdb-accordion-item-body>
          </mdb-accordion-item>
        </mdb-accordion>
      </div>

    </div>

    <div fxLayout="column" fxFlex="0 1 calc(50% - 20px)" fxFlex.lt-sm="100%" fxLayoutGap="20px">

      <div class="dash-column" fxLayout="column">
        <mdb-accordion class="spa-container">
          <mdb-accordion-item [collapsed]="false" [customClass]="'border-0'">
            <mdb-accordion-item-head class="bg-secondary" [indicator]="true"
                                     [customClass]="'text-center text-uppercase white-text z-depth-1'">
              Facilities for Approval ({{facilityApprovalCount}})
            </mdb-accordion-item-head>
            <mdb-accordion-item-body [customClass]="'p-0'">
              <spa-admin-facility-approvals class="dashboard-list" (numberForApproval)="numberForFacilityApproval($event)"></spa-admin-facility-approvals>
            </mdb-accordion-item-body>
          </mdb-accordion-item>
        </mdb-accordion>
      </div>

      <div class="dash-column" fxLayout="column">
        <mdb-accordion class="spa-container">
          <mdb-accordion-item [collapsed]="false" [customClass]="'border-0'">
            <mdb-accordion-item-head class="bg-secondary" [indicator]="true"
                                     [customClass]="'text-center text-uppercase white-text z-depth-1'">
              Pending Facility Reviews ({{facilityReviewCount}})
            </mdb-accordion-item-head>
            <mdb-accordion-item-body [customClass]="'p-0'">
              <spa-pending-facility-reviews class="dashboard-list" (numberForFacilityReviews)="numberForFacilityReviews($event)"></spa-pending-facility-reviews>
            </mdb-accordion-item-body>
          </mdb-accordion-item>
        </mdb-accordion>
      </div>


    </div>

  </div>
</div>
