/*.container {
    width: 100% !important;
}*/
/*::ng-deep .spa-accordion-link .btn-link {
  color: white !important;
}*/

.dash-column {
  max-height: 550px;
  margin-bottom: 20px;
}

::ng-deep .provider-dashboard mdb-accordion-item-head h5 {
  font-size: .85rem !important;
}

.bg-secondary {
  background-color: #5a244c !important;
}

::ng-deep .dashboard-list .appointment-list {
  max-height: 500px !important;
}
