<div class="grid-box">

  <dx-data-grid #certificationsGrid id="certificationsGrid"
                [dataSource]="certifications"
                showRowLines="true"
                showColumnLines="false"
                showBorders="true"
                (onSelectionChanged)="selectedCertificateChanged($event)"
                (onToolbarPreparing)="certificationsGrid_onToolbarPreparing($event)">
    <dxo-editing mode="row"
                 [allowUpdating]="false"
                 [allowDeleting]="false"
                 [allowAdding]="false">
    </dxo-editing>
    <dxi-column dataField="Name"></dxi-column>
    <dxi-column dataField="Description" [hidingPriority]="0"></dxi-column>
    <dxi-column dataField="CertifyingOrganization" [hidingPriority]="1"></dxi-column>
    <dxi-column dataField="CertificateDate" alignment="center" dataType="date" [hidingPriority]="2" width="110" headerCellTemplate="headerTemplate"></dxi-column>
    <dxi-column type="buttons" alignment="left" [width]="115">
      <dxi-button class="spa-grid-icon"
                  hint="Edit Certification"
                  icon="fa fa-pen"
                  [visible]="canEdit"
                  [onClick]="editRecord"></dxi-button>
      <dxi-button hint="Delete Certification"
                  icon="fa fa-trash"
                  [visible]="canEdit"
                  [onClick]="deleteRecord"></dxi-button>
      <dxi-button hint="Upload Image"
                  icon="upload"
                  [visible]="isUploadButtonVisible"
                  [onClick]="uploadCertificateClick"></dxi-button>
      <dxi-button hint="View Image"
                  icon="search"
                  [visible]="isSearchButtonVisible"
                  [onClick]="showCertificateClick"></dxi-button>
    </dxi-column>
    <div *dxTemplate="let data of 'headerTemplate'">
      <div style="height: 100%;  word-wrap: break-word; white-space: normal;text-align:center">
        {{data.column.caption}}
      </div>
    </div>
    <div *dxTemplate="let data of 'headerText'">
      <h2 class="grid-header-text">Certifications</h2>
    </div>
  </dx-data-grid> 
</div>

  <spa-file-upload-popup [title]="title" [uploadApiUrl]="uploadPath" [(popupVisible)]="popupVisible" (onHiding)="onHiding()" (fileUploaded)="onfileUploaded($event)"></spa-file-upload-popup>

  <dx-popup [showTitle]="true"
            [width]="500"
            [height]="500"
            [title]="title"
            [dragEnabled]="false"
            [closeOnOutsideClick]="true"
            [(visible)]="photoPopupVisible">
    <div *dxTemplate="let data of 'content'">
      <img #heroImage [src]="photoUrl"  />
    </div>
  </dx-popup>

  <spa-therapist-certification-edit [certification]="certification" [(showModal)]="showModal" (saveCertification)="saveCertification($event)"></spa-therapist-certification-edit>

  <spa-delete-warning-modal [showWarning]="showDeleteWarning" (continue)="continue($event)"></spa-delete-warning-modal>
