  <mdb-card>
    <mdb-card-body >
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between" >
        <div fxLayout="row" fxFlex="100">
          <img class="me-time-image" [src]="getTherapistImage()" alt="">
          <div class="therapist-description-block" fxLayout="column" fxFlex="100" fxLayoutAlign="space-between">

            <div fxLayout="column">
              <div class="therapist-header">{{therapist.Name}}</div>
              <div class="therapist-detail">{{therapist.City}}, {{therapist.StateCode}}</div>
            </div>

            <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="center center">
                <ngb-rating [rate]="therapist.AverageRating" [max]="max" [readonly]="true">
                  <ng-template let-fill="fill" let-index="index">
                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>
                <div *ngIf="therapist.TotalRatings && (therapist.TotalRatings > 0)" class="therapist-ratings-text">&nbsp;({{therapist.TotalRatings}})</div>
                <!--<div *ngIf="!therapist.TotalRatings || (therapist.TotalRatings === 0)" class="therapist-ratings-text">(0)</div>-->
              </div>
              <div fxLayoutAlign="center center" *ngIf="therapist.TotalAppointments && (therapist.TotalAppointments > 0)" class="therapist-ratings-text"><i class="far fa-calendar-check"></i>&nbsp;{{therapist.TotalAppointments}} massages</div>
            </div>

          </div>          
        </div>
        <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between" class="therapist-bottom-block">
          <!--<div fxLayout="row" class="text-primary">
            <h3 class="h3-responsive text-center">Next Available</h3>
          </div>
          <div fxLayout="row" fxLayoutAlign="center end">
            <button mdbBtn color="primary" class=" waves-light book-btn" mdbWavesEffect (click)="onClick()">
              Book Therapist
            </button>
          </div>-->
        </div>
      </div>
    </mdb-card-body>
  </mdb-card>
