/*:host {
  height: 100%;
  width: 100%;
}

mdb-card {
  height: 100%;
  width: 100%;

}*/

:host {
  padding: 0;
  width: 280px;
  height: 170px;
  max-width: 280px;
  margin-bottom: 15px;
}

.card-body {
    padding: 0;
}

mdb-card {
  width: 280px;
  height: 170px;
  margin-bottom: 30px !important;
}

.vs-card {
  color: #fff;

  p {
    color: #1d4946;
  }
}

.star {
  font-size: 1.1rem;
  color: #c9d7e8;
}

.filled {
  color: #ffcc00;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.review-line {
  font-size: 11px;
}

/*fa-icon {
  font-size: 1rem;
  color: white;
  background-color: #4DB6AC;
  margin: 5px;
  padding: 0 3px 0 3px;
}*/

img {
  height: 170px;
  max-width: 100px;
  object-fit: cover;
}

.book-btn {
  font-size: 12px !important;
  padding: 8px 10px !important;
}

.therapist-bottom-block {
    /*border-top: 1px solid lightgray;*/
    padding: 10px;
}

.therapist-header {
    font-size: 25px;
    font-weight: 600;
}

.therapist-detail {
  font-size: 20px;
  font-weight: 500;
}

.therapist-ratings-text {
  font-size: 15px;
  font-weight: 500;
}

.therapist-description-block {
    padding: 10px;
}
