<div class="container">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center start" fxLayoutGap="20px">
    <!--<div fxLayout="column" fxLayoutAlign="start" fxFlex="50">
      <div class="form-group"><br /><br />
        <input type="text"
               class="form-control"
               (keydown.enter)="$event.preventDefault()"
               placeholder="Search Nearest Location"
               autocorrect="off"
               autocapitalize="off"
               spellcheck="off" #search>
      </div>

      <agm-map [latitude]="latitude"
               [longitude]="longitude"
               [zoom]="zoom">
        <agm-marker [latitude]="latitude"
                    [longitude]="longitude">
        </agm-marker>
        <agm-marker *ngFor="let marker of facilities; index as i"
                    [latitude]="marker.Latitude"
                    [longitude]="marker.Longitude"
                    [opacity]="1"
                    [markerDraggable]="false"
                    [label]="i"
                    (markerClick)="selectMarker($event)">
        </agm-marker>
      </agm-map>

    </div>-->
    <div Flex="5"><mat-divider [vertical]="true"></mat-divider></div>
    <div fxFlexLayout="column" fxFlex="45" fxFlexGap="20px">

      <h3>Therapists in Your Area</h3>

      <div *ngFor="let item of therapists; index as i">
        <mat-divider></mat-divider>
        <spa-therapist-card [therapist]="item" (click)="therapistClick()"></spa-therapist-card>
      </div>



    </div>
  </div>
</div>



