<div style="width: 100%">
  <form [formGroup]="personalInfoForm" (ngSubmit)="onSave()">
    <dx-validation-group #targetGroup>
      
      <div fxLayout="row" style="width: 100%">
        <div fxLayout="column" fxFlex="30px"></div>
        <div fxLayout="column" fxLayoutAlign="center" style="width:100%" fxLayoutGap="20px">
          <div>
            <h3>Facility Manager Profile</h3>
          </div>
          <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="30px" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start">
            <div fxLayout="column" fxFlex="50">
              <div class="spa-form-label">First Name:</div>
              <dx-text-box formControlName="FirstName">
                <dx-validator>
                  <dxi-validation-rule type="required" message="First Name is required"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
            <div fxLayout="column" fxFlex="50">
              <div class="spa-form-label">Last Name:</div>
              <dx-text-box formControlName="LastName">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Last Name is required"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>

          <div fxLayout="column" fxFlex="50">
            <div class="spa-form-label">Email:</div>
            <dx-text-box formControlName="Email">
              <dx-validator>
                <dxi-validation-rule type="required" message="Email is required"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>

          <div fxLayout="column" fxFlex="30">
            <div class="spa-form-label">Phone Number:</div>
            <dx-text-box formControlName="PhoneNumber">
              <dx-validator>
                <dxi-validation-rule type="required" message="Phone Number is required"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>

          <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
            <button *ngIf="showSaveButton" mdbBtn color="primary" class="waves-light" mdbWavesEffect useSubmitBehavior="true">
              Save
            </button>
          </div>
        </div>
        <div fxLayout="column" fxFlex="30px"></div>
      </div>
    </dx-validation-group>
  </form>


</div>
