<br />
<br />
<br />
<br />

<div fxLayout="column" fxFlex="100">

  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
    <div fxLayout="column" fxFlex="33">
      <div class="return-link" (click)="goBack()"><i class="fas fa-arrow-left ml-1"></i> Back to Treatment Area</div>
    </div>
    <div class="long-title" fxFlex="33">
      <h4>Availability for {{treatmentArea.Name}}</h4>
    </div>
    <div fxLayout="column" fxFlex="33"></div>
  </div>

  <div fxLayout="row" fxFlex.gt-sm="100">
    <div fxFlex="100">

      <dx-scheduler id="scheduler"
                    [dataSource]="availability"
                    [views]="['day', 'week', 'month']"
                    currentView="week"
                    endDateExpr="EndTime"
                    startDateExpr="StartTime"
                    recurrenceRuleExpr="RecurrenceRule"
                    recurrenceEditMode="series"
                    [firstDayOfWeek]="0"
                    [startDayHour]="7"
                    [showAllDayPanel]="false"
                    [currentDate]="currentDate"
                    [adaptivityEnabled]="true"
                    [cellDuration]="60"
                    [height]="750"
                    width="100%"
                    [editing]="true"
                    [maxAppointmentsPerCell]="1"
                    appointmentTemplate="appointment-template"
                    (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
                    (onAppointmentAdding)="onAppointmentAdding($event)"
                    (onAppointmentDeleting)="onAppointmentDeleting($event)"
                    (onAppointmentUpdating)="onAppointmentUpdating($event)">

        <dxo-editing>
          [allowAdding]="true"
          [allowDeleting]="true"
          [allowUpdating]="true"
        </dxo-editing>
        <div *dxTemplate="let model of 'appointment-template'">
          <div class='showtime-preview'>
            <div>{{model.appointmentData.FacilityName}}</div>
            <div class='dropdown-appointment-dates'>
              {{(model.appointmentData.StartTime | date:'shortTime') + ' - ' + (model.appointmentData.EndTime | date:'shortTime')}}
            </div>
          </div>
        </div>

      </dx-scheduler>

    </div>

  </div>

</div>

