:host {
  width: 100%;
}

.appointment-search-card-container {
  /*height: 70px;*/
  margin: 10px 0;
  height: 100%;
}

.appointment-card-title {
  margin: 0;
  padding-left: .5rem;
  font-size: 18px;
  font-size: calc(14px + (18 - 14) * ((100vw - 400px) / (1500 - 400))) !important;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.appointment-card-desc {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.appointment-card-sub-title {
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  padding-left: .5rem;
  font-size: 12px;
  font-size: calc(12px + (14 - 12) * ((100vw - 400px) / (1500 - 400))) !important;
  font-weight: 500;
}

.mat-standard-chip {
  padding: 2px 9px;
  min-height: 29px;
  background-color: white;
  color: #5A244C;
  border: 2px solid #5A244C;
  width: 85px;
  font-weight:600;
}

.mat-standard-chip:hover {
  background-color: #5A244C;
  color: white;
}

.appointment-times-block {
    padding: 10px 0;
}

img {
    max-height: 80px;
    /*cursor: pointer;*/
}
