<div fxLayout="column" fxFlex="100" class="appointment-search-card-container">
  <div fxLayout="row" fxFlex="100">
    <div fxLayout="column" fxFlex="100px"><img [src]="getImage()" (click)="clickTherapist()"/></div>
    <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-between">
      <div fxLayout="column">
        <!--<div class="appointment-card-sub-title" fxLayout="row"><i>{{appointment.City}}, {{appointment.StateCode}}</i></div>-->
        <div class="appointment-card-title" fxLayout="row">{{appointment.TherapistName}}</div>
      </div>
      <div fxLayout="row" fxFlex="100">
        <spa-facility-ratings-block [averageRating]="appointment.AverageRating" [totalRatings]="appointment.TotalRatings" [totalAppointments]="appointment.TotalAppointments"></spa-facility-ratings-block>
      </div>

    </div>
  </div>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center" class="appointment-times-block">
    <mat-chip-list>
      <mat-chip *ngFor="let time of appointment.AvailableTimes; ; let i = index" (click)="timeClicked(time)" >{{time.Time | date:'shortTime'}}</mat-chip>
    </mat-chip-list>
  </div>
</div>
