:host {
    width: 100%;
}
.vs-card {
  color: #fff;

  p {
    color: #1d4946;
  }
}

.star {
  font-size: .7rem;
  color: #c9d7e8;
}

.filled {
  color: #ffcc00;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.facility-ratings-text {
  font-size: 12px;
  font-weight: 600;
}

.facility-rating-block {
    margin: 0 .5rem;
}
