<div class="facility-rating-block" fxLayout="row" fxFlex="100" fxLayoutAlign="start center" fxLayoutGap="10px">
  <div fxLayout="row">
    <!--<ngb-rating [(rate)]="averageRating" [max]="max" [readonly]="true">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100">&#9733;</span>
      </ng-template>
    </ngb-rating>-->
    <div><i class="fas fa-star"></i></div>
    <div>{{averageRating}}</div>
    <div *ngIf="totalRatings && (totalRatings > 0)" class="facility-ratings-text">&nbsp;({{totalRatings}})</div>
    <div *ngIf="!totalRatings || (totalRatings === 0)" class="facility-ratings-text">(0)</div>
  </div>
  <div fxLayout="row" >
    <div *ngIf="totalAppointments && (totalAppointments > 0)" class="facility-ratings-text"><i class="far fa-calendar-alt"></i>&nbsp;{{totalAppointments}} appts</div>
  </div>
</div>
