::host {
  margin-top: 20px;
}

.mat-expansion-panel {
  margin-bottom: 15px;
}

.appointment-checkin-block {
  margin-bottom: 15px;
}

.mat-expansion-panel-header-title {
  font-size: 17px;
  font-weight: 600;
}
