<div fxLayout="row" fxFlex="100">
  <div fxFlex="0" fxFlex.gt-lg="10" fxFlex.gt-md="5"></div>
  <div class="spa-container-white p-1" fxLayout="column" fxFlex="100" fxFlex.gt-lg="80" fxFlex.gt-md="90">

    <h3>{{appointment?.StartDateTime | date:'longDate'}} {{appointment?.StartDateTime | date:'shortTime'}}</h3>

    <div class="appointment-checkin-block">
      <!--<spa-facility-appointment-action [step]="appointment?.Status" (checkin)="checkin()" (noshow)="noshow()" (checkout)="startCheckout()" (cancel)="cancel()"></spa-facility-appointment-action>-->
      <spa-facility-appointment-action [step]="appointment?.Status" (cancel)="cancelAppointment()" (reschedule)="rescheduleAppointment()"></spa-facility-appointment-action>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
      <div fxLayout="column" fxFlex="100" fxFlex.lt-md="70" fxFlexAlign.lt-md="start center" fxFlexOrder="1">

        <div *ngIf="(showCancelPanel == true)">
          <mat-expansion-panel [expanded]="(showCancelPanel == true)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Cancel Appointment
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>

            <spa-appointment-cancel-form [appointmentUID]="appointment?.UID" [facilityUID]="facilityUID" [cancellationRequest]="cancelRequest" (appointmentCancelled)="appointmentCancelled($event)"></spa-appointment-cancel-form>

          </mat-expansion-panel>
        </div>

        <mat-expansion-panel [expanded]="((appointment?.Status != 'Checking Out') && (showCancelPanel != true))">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Description
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <spa-appointment-description [appointmentDetail]="appointment"></spa-appointment-description>

        </mat-expansion-panel>

        <!--<mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Facility Details
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <spa-appointment-therapist-info [uniformInfo]="appointment?.UniformInfo"
                                          [treatmentRoom]="appointment?.TreatmentArea"
                                          [parkingInfo]="appointment?.ParkingInfo"
                                          [checkInInfo]="appointment?.CheckInInfo"
                                          [additionalInfo]="appointment?.AdditionalInfo"></spa-appointment-therapist-info>

        </mat-expansion-panel>-->

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Customer Notes to Therapist
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>{{appointment?.Notes}}</p>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cost Summary
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <spa-appointment-cost-summary [costSummary]="appointment?.CostSummary" [appointmentDateTime]="appointment?.StartDateTime"></spa-appointment-cost-summary>

        </mat-expansion-panel>

        <!--<mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Recommendations
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>

        </mat-expansion-panel>-->
        <!--<mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Therapist Notes
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <spa-appointment-notes [therapistUID]="user?.sub" [appointmentUID]="appointment?.UID" [notes]="appointment?.TherapistNotes"></spa-appointment-notes>

        </mat-expansion-panel>-->
        <!--<mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Add Ons
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <spa-appointment-addons [therapistUID]="user?.sub" [appointmentUID]="appointment?.UID" [appointmentStatus]="appointment?.Status" ></spa-appointment-addons>

        </mat-expansion-panel>-->
        <!--<mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Recommendations
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>This is the primary content of the panel.</p>

        </mat-expansion-panel>-->

      </div>

      <div fxLayout="column" fxLayout.lt-md="row" fxLayout.lt-sm="column" fxFlex.gt-sm="280px" fxLayoutGap="20px" fxFlexOrder="2" fxLayoutAlign="top">

        <spa-client-detail-view
          [name]="appointment?.Customer"
          [photoUrl]="appointment?.CustomerPhotoUrl"
          [totalAppointments]="appointment?.CustomerTotalAppointments"
          [phone]="appointment?.CustomerPhone"
          [email]="appointment?.CustomerEmail">
        </spa-client-detail-view>

        <spa-therapist-detail-view [therapist]="appointment?.Therapist"></spa-therapist-detail-view>

        <spa-how-they-booked [howTheyBooked]="appointment?.HowTheyBooked"></spa-how-they-booked>

        <!--<spa-facility-card [facilityForCard]="facilityForCard" [showFooter]="false"></spa-facility-card>-->

      </div>
    </div>
  </div>

  <div fxFlex="0" fxFlex.gt-lg="10" fxFlex.gt-md="5"></div>
</div>

<dx-popup [width]="350"
          [height]="350"
          [showTitle]="true"
          title="Validation Errors"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="errorsVisible">
  <div *dxTemplate="let data of 'content'">
    <div>{{errorMessage}}</div><br />
    <div *ngFor="let error of submissionErrors">

      <div>{{error}}</div><br />
    </div>
  </div>
</dx-popup>

<spa-facility-appointment-change [(showModal)]="showChangeModal" [facilityUID]="facilityUID" [(appointment)]="appointment"></spa-facility-appointment-change>
