<div style="width: 100%; height: 100%;">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 50px;">
    <h3>You are not authorized for the page you attempted to visit.</h3>
  </div>
</div>
