  <div class="top-banner" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="column" class="selectDisable">
    <img class="banner-image" src="assets/images/Spa Space App Logo with rings-01.png" alt="" [routerLink]='["/"]'>
  </div>
  <div fxHide.lt-sm class="top-banner-menu" fxLayout="row" fxLayoutAlign="start start">
    <div class="top-banner-menu-item">
      <div fxFlexLayout="row" fxLayoutAlign="start center">
        <a class="menu-link text-dark" [routerLink]="['/main/content/about']">About</a>
        <div class="vl"></div>
      </div>
    </div>
    <div class="top-banner-menu-item">
      <div fxFlexLayout="row" fxLayoutAlign="start center">
        <a class="text-dark" [routerLink]="['/main/therapist/join']">Join Us</a>
        <div class="vl"></div>
      </div>
    </div>
    <div *ngIf="isAuthenticated | async" class="top-banner-menu-item dropdown btn-group " dropdown>
      <a dropdownToggle type="button" class="menu-link dropdown-toggle waves-light text-dark" mdbWavesEffect>
        <mdb-icon fas icon="user"></mdb-icon> Hello {{ userName | async }}
      </a>
      <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
        <a class="dropdown-item" [routerLink]='[dashboardLink]'>Dashboard</a>
        <a class="dropdown-item" [routerLink]='[profileLink]'>User Profile</a>
        <a class="dropdown-item" [routerLink]='["/authentication/logout"]'>Logout</a>
      </div>
    </div>
    <!--<div fxFlexLayout="row" fxLayoutAlign="start center" *ngIf="!(isAuthenticated | async)" class="nav-item">
      <a class="menu-link" [routerLink]='["/authentication/register"]'>Register</a>
      <div *ngIf="!(isAuthenticated | async)" class="vl"></div>
    </div>-->
    <div *ngIf="!(isAuthenticated | async)" class="nav-item">
      <a class="top-banner-menu-item text-dark" [routerLink]='["/authentication/login"]'>Login</a>
    </div>
  </div>
  <button fxHide.gt-xs  mat-icon-button (click)="toggle()"><mat-icon>menu</mat-icon></button>
</div>

