.top-banner {
  z-index: 1200;
}

.top-banner-menu {
  margin-top: 25px;
  padding-right: 50px;
}

.top-banner-menu-item {
  display: grid;
  text-align: center;
  /*margin-right:40px;*/
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.top-banner-menu-item:hover {
  cursor: pointer;
}

.vl {
  margin: 0 15px;
  border-right: 1px solid gray;
  height: 15px;
}

img.banner-image {
  padding: 20px 0 0 40px;
  max-height: 150px;
}

img.banner-image:hover {
  cursor: pointer;
}

@media (max-width:1200px) {
  img.banner-image {
    max-height: 130px;
    padding-left: 30px;
  }
}

@media (max-width:1000px) {
  img.banner-image {
    max-height: 90px;
    padding-left: 20px;
  }
}

.mat-icon-button {
  margin: 10px !important;
}

::ng-deep .test-skin .dropdown-item a:hover, .test-skin .dropdown-item a:focus, .test-skin .dropdown-item a:active {
  color: white;
  background-color: red !important;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
