<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="0">
  <mat-sidenav #snav id="snav" mode="push" fixedInViewport="true" fixedTopGap="0">
    <mat-nav-list>
      <a mat-list-item class="menu-link text-dark" [routerLink]="['/main/content/about']">About</a>
      <a mat-list-item class="menu-link text-dark" [routerLink]="['/main/therapist/join']">Join Us</a>
      <a mat-list-item *ngIf="isAuthenticated | async" class="menu-link text-dark" [routerLink]='[dashboardLink]'>Dashboard</a>
      <a mat-list-item *ngIf="isAuthenticated | async" class="menu-link text-dark" [routerLink]='["/authentication/logout"]'>Logout</a>
      <a mat-list-item *ngIf="!(isAuthenticated | async)" class="menu-link text-dark" [routerLink]='["/authentication/login"]'>Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <!--<button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>-->
  <ng-content></ng-content>
</mat-sidenav-container>

