.cust-need-sm-button {
  padding: 0;
  padding-right: 5px;
  width: 180px;
  height: 35px;
  background-color: #ECEFF1;
  border-radius: 10px;
  color: #546E7A;
  text-align: center;
  /*margin: 10px;*/
  margin-bottom: 5px;
  vertical-align: middle;
  font-size: 14px;
  line-height: 33px;
  border-color: #CFD8DC;
  border-width: 2px;
  border-style: solid;
  font-weight: 400;
}

.cust-need-sm-button.active {
  background-color: #80CBC4;
  border-color: #4DB6AC;
  color: white;
  /*border-color: red;*/
}

/*@media (max-width:700px) {
  .client-need-button {
    padding-right: 25px;
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    font-weight: 500;
  }
}*/
