<div mdbModal #frame="mdbModal" class="modal fade left" #changeModal id="changeModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Change Appointment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="example-form" [formGroup]="changeForm" (ngSubmit)="onSave()">
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
            <div fxLayout="column" fxFlex="100" fxLayoutGap="10px" fxLayoutAlign="center center">

              <mat-form-field>
                <mat-label>Appointment Date</mat-label>
                <input matInput [matDatepicker]="dp" formControlName="AppointmentDate">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
                <mat-error *ngIf="changeForm.get('AppointmentDate').hasError('required')">
                  Appointment Date is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <!--<mat-form-field class="example-full-width">
                <mat-label>Appointment Time</mat-label>
                  <input matInput type="time" formControlName="AppointmentTime" step="1800">
              </mat-form-field>-->

              <dx-date-box [(value)]="appointmentTime"
                           stylingMode="underlined"
                           type="time"
                           width="180">
              </dx-date-box>

              <mat-form-field>
                <mat-label>Therapist</mat-label>
                <mat-select formControlName="TherapistUID">
                  <mat-option *ngFor="let therapist of therapists" [value]="therapist.UID">
                    {{therapist.Name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="changeForm.get('TherapistUID').hasError('required')">
                  Therapist is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Treatment Area</mat-label>
                <mat-select formControlName="TreatmentAreaUID">
                  <mat-option *ngFor="let treatmentArea of treatmentAreas" [value]="treatmentArea.UID">
                    {{treatmentArea.Name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="changeForm.get('TreatmentAreaUID').hasError('required')">
                  Therapist is <strong>required</strong>
                </mat-error>
              </mat-form-field>


            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onSave()">
          Save
        </button>
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onClose()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
