<div fxLayout="row" fxFlex="100">
  <div fxLayout="column" fxFlex="10"></div>
  <div fxLayout="column" fxFlex="80" fxLayoutGap="20px">

    <h3>Customer Reviews</h3>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div class="review-subtitle">Your average review:</div>
        <ngb-rating [(rate)]="reviews.AverageRating" [max]="max" [readonly]="true">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
        <div class="review-subtitle">Total Reviews:</div>
        <div class="review-value">{{reviews?.TotalReviews}}</div>
      </div>
    </div>

   
    <div *ngFor="let review of reviews?.Reviews">
      <spa-review-detail [review]="review" (viewAppointment)="viewAppointment($event)"></spa-review-detail>
    </div>

  </div>
  <div fxLayout="column" fxFlex="10"></div>
</div>
