.star {
  font-size: 1.5rem;
  color: #c9d7e8;
}

.filled {
  color: #ffcc00;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.review-subtitle {
    font-size: 20px;
    font-weight: 600;
}

.review-value {
  font-size: 20px;
  font-weight: 500;
}
