<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center" *ngFor="let amenity of amenities">
    <mdb-icon [mdbTooltip]="amenity.Name" fas [icon]="amenity.Icon" class="amentiy-icon"></mdb-icon>
  </div>
</div>
