<div fxLayout="row" fxFlex="100">
  <div fxFlex="0" fxFlex.gt-lg="20" fxFlex.gt-md="5"></div>
  <div class="spa-container-white p-1" fxLayout="column" fxFlex="100" fxFlex.gt-lg="60" fxFlex.gt-md="90" fxLayoutGap="20px;">



    <form [formGroup]="preferencesForm" (ngSubmit)="onSave()">

      <div fxLayout="row" fxLayoutAlign="space-between">
        <h3>Preferences</h3>
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect useSubmitBehavior="true">Save</button>
      </div>      

      <div fxLayout="column" fxLayoutGap="20px">
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Needs
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>

            <div formArrayName="Needs">
              <div [formGroupName]="in" *ngFor="let need of preferences?.Needs; let in = index;" fxLayout="row" fxLayoutAlign="space-between">
                <mat-checkbox [id]="need.UID" formControlName="IsChecked">{{need.Name}}</mat-checkbox>
              </div>
            </div>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Focus Areas
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>

            <div formArrayName="FocusAreas">
              <div [formGroupName]="ia" *ngFor="let focusArea of preferences?.FocusAreas; let ia = index;" fxLayout="row" fxLayoutAlign="space-between">
                <mat-checkbox [id]="focusArea.UID" formControlName="IsChecked">{{focusArea.Name}}</mat-checkbox>
              </div>
            </div>

            <!--<div *ngFor="let focusArea of focusAreas" fxLayout="row" fxLayoutAlign="space-between">
        <mat-checkbox [checked]="focusArea.IsChecked" [id]="focusArea.UID" (change)="focusAreaChanged($event)">{{focusArea.Name}}</mat-checkbox>
      </div>-->
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Pressure Preference
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>

            <!--<mat-slider min="1" max="5" step="1" formControlName="PressureLevel"></mat-slider>-->
            <div fxLayout="row">
              <!--<div fxFlex="100"></div>-->
              <div fxFlex="350px">
                <ng5-slider formControlName="PressureLevel" [options]="pressures" style="margin-bottom: 4rem;"></ng5-slider>
              </div>
              <div fxFlex="100"></div>
            </div>

            <!--<div *ngFor="let focusArea of focusAreas" fxLayout="row" fxLayoutAlign="space-between">
        <mat-checkbox [checked]="focusArea.IsChecked" [id]="focusArea.UID" (change)="focusAreaChanged($event)">{{focusArea.Name}}</mat-checkbox>
      </div>-->
            ns

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Preferred Ameneties
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>

            <div formArrayName="PreferredAmenities">
              <div [formGroupName]="ip" *ngFor="let amenity of preferences?.PreferredAmenities; let ip = index;" fxLayout="row" fxLayoutAlign="space-between">
                <mat-checkbox [id]="amenity.UID" formControlName="IsChecked">{{amenity.Name}}</mat-checkbox>
              </div>
            </div>

            <!--<div *ngFor="let amenity of amenities" fxLayout="row" fxLayoutAlign="space-between">
        <mat-checkbox [checked]="amenity.IsChecked" [id]="amenity.UID" (change)="amenityChanged($event)">{{amenity.Name}}</mat-checkbox>
      </div>-->
            

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Therapist Preferences
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-radio-group class="gender-radio-group" formControlName="TherapistGender" aria-label="Select an option">
              <mat-radio-button value="No Preference">No Preference</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
              <mat-radio-button value="Male">Male</mat-radio-button>
            </mat-radio-group>

          </mat-expansion-panel>
          </mat-accordion>
      </div>

    </form>



  </div>

  <div fxFlex="0" fxFlex.gt-lg="20" fxFlex.gt-md="5"></div>
</div>
