mat-slider {
  width: 350px;
}

.custom-slider {
  .ng5-slider {
    .ng5-slider-selection {
      background: rgb(255, 255, 0) !important;
    }
  }
}

::ng-deep .ng5-slider .ng5-slider-tick-value {
  visibility: hidden;
}

::ng-deep .ng5-slider .ng5-slider-tick-legend:after {
  display: none;
}

::ng-deep .ng5-slider .ng5-slider-tick-legend {
  font-size: 14px;
  font-weight: 500;
}

::ng-deep .ng5-slider .ng5-slider-pointer {
  background-color: #884f78 !important;
  width: 26px !important;
  height: 26px !important;
}

::ng-deep .ng5-slider .ng5-slider-pointer::after {
  top: 9px !important;
  left: 9px !important;
}

::ng-deep .ng5-slider .ng5-slider-tick-legend {
  white-space: nowrap !important;
}

.gender-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
