<dx-popup [width]="500"
          [height]="250"
          [showTitle]="true"
          [title]="title"
          [dragEnabled]="false"
          [closeOnOutsideClick]="true"
          [(visible)]="popupVisible"
          (onHiding)="onPopupHiding()">
  <div *dxTemplate="let data of 'content'">
  
    <dx-file-uploader #fileUploader
                      selectButtonText="Select file"
                      [uploadUrl]="holdUploadApiUrl"
                      [uploadHeaders]="headers"
                      [(value)]="values"
                      [multiple]="false"
                      accept="*"
                      (onUploaded)="fileUploader_onUploaded($event)"
                      (onUploadError)="fileUploader_onUploadError($event)"                      
                      uploadMode="instantly">
    </dx-file-uploader>
  </div>
</dx-popup>
