.skills-form {
    width:100% !important;
    height: 100% !important;
}

.spa-slider-block {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    margin-bottom: 20px;
  /*width: calc(300px + (400 - 300) * ((100vw - 600px) / (1500 - 600))) !important;*/
}

/*@media screen and (max-width: 599px) {
  .spa-slider-block {
    width: 300px;
  }
}

@media screen and (min-width: 1400px) {
  .spa-slider-block {
    width: 400px;
  }
}*/

@media screen and (max-width: 599px) {
  h4 {
    margin-top: 10px !important;
    margin-right: 0;
  }
}

.custom-slider {
  .ng5-slider {
    .ng5-slider-selection {
      background: rgb(255, 255, 0) !important;
    }
  }
}

::ng-deep .ng5-slider .ng5-slider-tick-value {
  visibility: hidden;
}

::ng-deep .ng5-slider .ng5-slider-tick-legend:after {
  display: none;
}

::ng-deep .ng5-slider .ng5-slider-tick-legend {
  font-size: 14px;
  font-weight: 500;
}

::ng-deep .ng5-slider .ng5-slider-pointer {
  background-color: #884f78 !important;
  width: 26px !important;
  height: 26px !important;
}

::ng-deep .ng5-slider .ng5-slider-pointer::after {
  top: 9px !important;
  left: 9px !important;
}

::ng-deep .ng5-slider .ng5-slider-tick-legend {
    white-space: nowrap !important;
}

h3 {
  text-align: center;
}

/*h4 font size is 1.25 rem*/

@media screen and (max-width: 1600px) and (min-width: 1079px) {
  h4 {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 1080px) and (min-width: 940px) {
  h4 {
    font-size: 15px !important;
  }
}


@media screen and (max-width: 939px) and (min-width: 940px) {
  h4 {
    font-size: 18px !important;
  }
}


@media screen and (max-width: 599px)  {
  h4 {
    margin-top: 10px !important;
    margin-right: 0;
  }
}



/*@media (max-width: 768px) {
  h4 {
    font-size: 14px !important;
  }
}


@media (max-width: 576px) {
  h4 {
    font-size: 100%;
  }
}*/

