<form class="skills-form" [formGroup]="personalSkillsForm" (ngSubmit)="onSave()">

  <div fxLayout="row" fxFlex="100">
    <div fxFlex="10px" fxFlex.lt-md="0"></div>
    <div fxFlex="100">

      <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="100%">
          <h3>Expertise</h3>
          <hr />
        </div>
      </div>

      <!--<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="10" fxFlex.gt-md="0"></div>
    <div fxFlex="80">
      <div fxLayout="row" class="spa-slider-block" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center">
        <h4 fxFlex="30">Pressure Capability</h4>
        <div fxFlex="50" class="custom-slider">
          <ng5-slider formControlName="PressureCapability" [options]="pressures" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
      <div fxLayout="row"><hr /></div>
    </div>
    <div fxFlex="10" fxFlex.gt-md="0"></div>
  </div>-->

      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="row" class="spa-slider-block" fxLayout.lt-sm="column" fxLayoutAlign="center center">
          <h4 class="h4-responsive" fxFlex="30" fxFlex.lt-md="50" fxFlex.lt-sm="0">Pressure Capability</h4>
          <div fxFlex="70" fxFlex.lt-md="50" fxFlex.lt-sm="0" class="custom-slider" style="width:100%;">
            <ng5-slider formControlName="PressureCapability" [options]="pressures" style="margin-bottom: 4rem;"></ng5-slider>
          </div>
        </div>
      </div>


      <div formArrayName="items" fxLayout="row wrap" fxLayoutGap="40px" fxLayoutGap.lt-lg="15px" fxLayoutGap.lt-md="5px" fxLayoutAlign="center">
        <div fxLayout="column" class="spa-slider-block" [formGroupName]="i" *ngFor="let entry of expertises; let i = index;">
          <div fxLayout="row" fxFlex="100" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center" fxLayoutAlign="start center" fxLayoutGap="40px" fxLayoutGap.lt-lg="15px" fxLayoutGap.lt-md="5px" >
            <h4 class="h4-responsive" fxFlex="30" fxFlex.lt-md="50" fxFlex.lt-sm="0">{{entry.ExpertiseName}}</h4>
            <div fxFlex="70" fxFlex.lt-md="50" fxFlex.lt-sm="0" class="custom-slider">
              <ng5-slider formControlName="SkillLevel" [options]="options" style="margin-bottom: 4rem;"></ng5-slider>
            </div>
          </div>
        </div>
      </div>

      <!--<div fxLayout="row" fxLayoutGap="30px" fxLayoutGap.lt-lg="15px" fxLayoutGap.lt-md="5px" fxLayout.lt-md="column">
    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
      <div fxFlex="10" fxFlex.gt-md="0" fxFlex.lt-sm="10"></div>
      <div fxLayout="row" fxFlex="80"  fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">
        <h4 class="h4-responsive" fxFlex="30">Sports Massage</h4>
        <div fxFlex="70" fxFlex.lt-md="50" class="custom-slider">
          <ng5-slider formControlName="SportsMassage" [options]="options" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
      <div fxLayout="row"><hr /></div>
      <div fxFlex="10" fxFlex.gt-md="0"></div>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
      <div fxFlex="10" fxFlex.gt-md="0"></div>
      <div fxLayout="row" fxFlex="80" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">
        <h4 class="h4-responsive" fxFlex="30">Deep Tissue</h4>
        <div fxFlex="70" fxFlex.lt-md="50" class="custom-slider">
          <ng5-slider formControlName="DeepTissue" [options]="options" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
      <div fxLayout="row"><hr /></div>
      <div fxFlex="10" fxFlex.gt-md="0"></div>
    </div>
  </div>-->
      <!--<div fxLayout="row" fxLayoutGap="30px" fxLayoutGap.lt-lg="15px" fxLayoutGap.lt-md="5px" fxLayout.lt-md="column">
    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
      <div fxFlex="10" fxFlex.gt-md="0"></div>
      <div fxLayout="row" fxFlex="80" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">
        <h4 class="h4-responsive" fxFlex="30">Stretching</h4>
        <div fxFlex="70" fxFlex.lt-md="50" class="custom-slider">
          <ng5-slider formControlName="Stretching" [options]="options" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
      <div fxLayout="row"><hr /></div>
      <div fxFlex="10" fxFlex.gt-md="0"></div>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
      <div fxFlex="10" fxFlex.gt-md="0"></div>
      <div fxLayout="row" fxFlex="80" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">
        <h4 class="h4-responsive" fxFlex="30">Swedish Massage</h4>
        <div fxFlex="70" fxFlex.lt-md="50" class="custom-slider">
          <ng5-slider formControlName="SwedishMassage" [options]="options" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
      <div fxLayout="row"><hr /></div>
      <div fxFlex="10" fxFlex.gt-md="0"></div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="30px" fxLayoutGap.lt-lg="15px" fxLayoutGap.lt-md="5px" fxLayout.lt-md="column">
    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
      <div fxFlex="10" fxFlex.gt-md="0"></div>
      <div fxLayout="row" fxFlex="80" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">
        <h4 class="h4-responsive" fxFlex="30">Thai Massage</h4>
        <div fxFlex="70" fxFlex.lt-md="50" class="custom-slider">
          <ng5-slider formControlName="ThaiMassage" [options]="options" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
      <div fxLayout="row"><hr /></div>
      <div fxFlex="10" fxFlex.gt-md="0"></div>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
      <div fxFlex="10" fxFlex.gt-md="0"></div>
      <div fxLayout="row" fxFlex="80" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">
        <h4 class="h4-responsive" fxFlex="30">Reflexology</h4>
        <div fxFlex="70" fxFlex.lt-md="50" class="custom-slider">
          <ng5-slider formControlName="Reflexology" [options]="options" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
      <div fxLayout="row"><hr /></div>
      <div fxFlex="10" fxFlex.gt-md="0"></div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="30px" fxLayoutGap.lt-lg="15px" fxLayoutGap.lt-md="5px" fxLayout.lt-md="column">
    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
      <div fxFlex="10" fxFlex.gt-md="0"></div>
      <div fxLayout="row" fxFlex="80" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">
        <h4 class="h4-responsive" fxFlex="30">Pre-Natal Massage</h4>
        <div fxFlex="70" fxFlex.lt-md="50" class="custom-slider">
          <ng5-slider formControlName="PreNatalMassage" [options]="options" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
      <div fxLayout="row"><hr /></div>
      <div fxFlex="10" fxFlex.gt-md="0"></div>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
      <div fxFlex="10" fxFlex.gt-md="0"></div>
      <div fxLayout="row" fxFlex="80" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">
        <h4 class="h4-responsive" fxFlex="30">Reiki Energy</h4>
        <div fxFlex="70" fxFlex.lt-md="50" class="custom-slider">
          <ng5-slider formControlName="ReikiEnergy" [options]="options" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
      <div fxLayout="row"><hr /></div>
      <div fxFlex="10" fxFlex.gt-md="0"></div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="30px" fxLayoutGap.lt-lg="15px" fxLayoutGap.lt-md="5px" fxLayout.lt-md="column">
    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
      <div fxFlex="10" fxFlex.gt-md="0"></div>
      <div fxLayout="row" fxFlex="80" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">
        <h4 class="h4-responsive" fxFlex="30">Shiatsu</h4>
        <div fxFlex="70" fxFlex.lt-md="50" class="custom-slider">
          <ng5-slider formControlName="Shiatsu" [options]="options" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
      <div fxLayout="row"><hr /></div>
      <div fxFlex="10" fxFlex.gt-md="0"></div>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.lt-md="100">
      <div fxFlex="10" fxFlex.gt-md="0"></div>
      <div fxLayout="row" fxFlex="80" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">
        <h4 class="h4-responsive" fxFlex="30">Lomi Lomi</h4>
        <div fxFlex="70" fxFlex.lt-md="50" class="custom-slider">
          <ng5-slider formControlName="LomiLomi" [options]="options" style="margin-bottom: 4rem;"></ng5-slider>
        </div>
      </div>
      <div fxLayout="row"><hr /></div>
      <div fxFlex="10" fxFlex.gt-md="0"></div>
    </div>
  </div>-->

      <div fxLayout="row" fxLayoutAlign="center center">
        <button *ngIf="showSaveButton" mdbBtn color="primary" class="waves-light" mdbWavesEffect useSubmitBehavior="true">Save</button>
      </div>

    </div>
    <div fxFlex="30px" fxFlex.lt-md="10px"></div>
  </div>  

</form>

