.container {
  display: flex;
}

.client-flex-container {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /*padding: 0;
  margin: 0;*/
  //list-style: none;
  /*display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;*/
  //justify-content: space-around;
}

.mat-raised-button {
  margin-bottom: 10px;
}

.mat-card {
  /*min-width: 300px;
  max-width: 300px;*/
  width: 340px;
  height: 250px;
  padding: 0;
}

.dx-calendar {
  min-height: 220px;
  width: 330px;
}

.mat-card-content {
  /*max-height: 200px;*/
  height: 100%;
  object-fit: contain;
  /*height: 100%;
  width: 100%;
  overflow: hidden;
  resize: both;*/
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width:700px) {
  .mat-card {
    width: 200px;
    height: 180px;
  }

  .dx-calendar {
    height: 160px;
    min-height: 150px;
    width: 190px;
  }
}

@media (max-width:1090px) {
  .mat-card {
    width: 270px;
    height: 190px;
  }

  .dx-calendar {
    height: 180px;
    min-height: 170px;
    width: 250px;
  }
}
