<!--<div class="container vs-home">


  <button mat-raised-button class="mat-accent dark" (click)="onClick(facilityCode)">Select Date</button>

  <button mat-raised-button class="mat-accent dark" (click)="onClick(facilityCode)">Select Facility</button>

  <button mat-raised-button class="mat-accent dark" (click)="onClick(facilityCode)">Select Therapist</button>

  <app-client-favorites *ngIf="isAuthenticated | async"></app-client-favorites>
  <app-client-history *ngIf="isAuthenticated | async"></app-client-history>
</div>-->
<br />
<br />


<div class="container">
  <div style="font-size: 30px; color:gray; width: 100%; text-align:center;">Book a Service</div>
</div>
<div class="container client-flex-container" style="width: 100%;">
  <div>
    <mat-card class="text-center">
      <mat-card-content>
        <div class="centered">
          <dx-calendar #calendar
                       id="calendar-container"
                       [min]="minDateValue"
                       [max]="maxDateValue"
                       [disabledDates]="disabledDates"
                       [firstDayOfWeek]="firstDay"
                       [disabled]="false"
                       [(value)]="currentValue"
                       [zoomLevel]="zoomLevels[0]"
                       [cellTemplate]="cellTemplate" height="100%"
                       (onOptionChanged)="valueChanged()">
            <span *dxTemplate="let cell of 'custom'" [ngClass]="getCellCssClass(cell.date)">
              {{cell.text}}
            </span>
          </dx-calendar>
        </div>
      </mat-card-content>
    </mat-card>
    <div style="font-size: 25px; color:gray; width: 100%; text-align:center;">By Date</div>
  </div>
  <div>
    <mat-card class="text-center">
      <mat-card-content (click)="byTherapist_click()">
        <img src="assets/images/ByTherapist.jpg" alt="Therapist">
        <!--<a [routerLink]="['/portal/search/services']"><img src="assets/images/therapist.jpg" alt="Therapist"></a>-->
      </mat-card-content>
    </mat-card>
    <div style="font-size: 25px; color:gray; width: 100%; text-align:center;">By Therapist</div>
  </div>
  <div>
    <mat-card class="text-center">
      <mat-card-content (click)="byLocation_click()">
        <img src="assets/images/NiceRoom.jpg" alt="Location">
      </mat-card-content>
    </mat-card>
    <div style="font-size: 25px; color:gray; width: 100%; text-align:center;">By Location</div>
  </div>
</div>

<!--<div spaRangeSlider> this is a test</div>
{{role | async}}-->
<br />
<br />
<!--<app-client-sheduled></app-client-sheduled>-->
