<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <div fxFlex="50">
    <div fxLayout="column">
      <cust-needs-button-sm [(selected)]="needs.Relaxation">Relaxation</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="needs.Vacation">Detox</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="needs.Celebration">Celebration</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="needs.Pain">Pain</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="needs.Tension">Tension</cust-needs-button-sm>
    </div>
  </div>
  <div fxFlex="50">
    <div fxLayout="column">
      <cust-needs-button-sm [(selected)]="needs.Stress">Stress</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="needs.WellBeing">Wellbeing</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="needs.Insomnia">Insomnia</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="needs.TMJMigraine">TMJ / Migraines</cust-needs-button-sm>
      <cust-needs-button-sm [(selected)]="needs.Pregnant">Pregnancy</cust-needs-button-sm>
    </div>
  </div>
</div>
