<dx-data-grid #compensationsGrid id="compensationsGrid"
              [dataSource]="compensations"
              [showBorders]="true"
              [showRowLines]="true"
              [showColumnLines]="true"
              [columnAutoWidth]="true"
              [wordWrapEnabled]="true"
              (onToolbarPreparing)="servicesGrid_onToolbarPreparing($event)">
  <dxo-editing mode="row"
               [allowUpdating]="false"
               [allowDeleting]="false"
               [allowAdding]="false">
  </dxo-editing>
  <!--<dxi-column dataField="ServiceCategoryUID" caption="Service Category" [width]="150">
    <dxo-lookup [dataSource]="categories" displayExpr="Name" valueExpr="UID"></dxo-lookup>
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>-->
  <dxi-column dataField="Service" caption="Service Name" minWidth="200"></dxi-column>
  <dxi-column caption="Therapist $" dataField="FlatRate" format="currency"></dxi-column>
  <dxi-column caption="Therapist %" dataField="PercentOfBase" format="percent"></dxi-column>
  <dxi-column caption="Therapist % of Service Charge" dataField="PercentOfServiceCharge" format="percent"></dxi-column>

  <dxi-column type="buttons" alignment="left" [width]="100">
    <dxi-button hint="Edit Compensation"
                icon="fa fa-pen"
                [onClick]="editRecord"></dxi-button>
    <dxi-button hint="Delete Compensation"
                icon="fa fa-trash"
                [onClick]="deleteRecord"></dxi-button>
  </dxi-column>

</dx-data-grid>

<spa-admin-therapist-compensation [compensation]="compensation" [services]="services" [(showModal)]="showModal" (saveCompensation)="saveCompensation($event)"></spa-admin-therapist-compensation>

<spa-delete-warning-modal [showWarning]="showDeleteWarning" (continue)="continue($event)"></spa-delete-warning-modal>
