<div fxLayout="column">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center">
    <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="seeSchedule()" useSubmitBehavior="false">Schedule View</button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <!--<div fxFlex="15" fxFlex.lt-lg="0"></div>-->
    <div fxFlex="100" fxFlex.lt-lg="100" style="height: 500px;">
      <h3>Appointments</h3>

      <dx-data-grid #appointmentsGrid id="appointmentsGrid"
                    [dataSource]="appointments"
                    keyExpr="UID"
                    showRowLines="true"
                    showColumnLines="true"
                    showBorders="true"
                    [hoverStateEnabled]="true"
                    [selectedRowKeys]="[]"
                    (onSelectionChanged)="selectionChanged($event)">
        <dxo-search-panel [visible]="true"
                          [width]="240"
                          placeholder="Search..."></dxo-search-panel>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-filter-row [visible]="false"
                        [applyFilter]="currentFilter"></dxo-filter-row>
        <dxo-editing mode="row"
                     [allowUpdating]="false"
                     [allowDeleting]="false"
                     [allowAdding]="false">
        </dxo-editing>
        <dxo-state-storing [enabled]="true" type="sessionStorage" storageKey="storage"></dxo-state-storing>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-paging [pageSize]="10"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true"
                   [allowedPageSizes]="[5, 10, 15]"></dxo-pager>
        <dxo-scrolling mode="standard" showScrollbar="always"></dxo-scrolling>
        <!--<dxi-column dataField="CorporateAccount" minWidth="200"></dxi-column>-->
        <dxi-column dataField="FacilityName" minWidth="200"></dxi-column>
        <dxi-column dataField="TreatmentAreaName" caption="Room" minWidth="200"></dxi-column>
        <dxi-column dataField="CustomerName" minWidth="200"></dxi-column>
        <dxi-column dataField="CustomerEmail" minWidth="200"></dxi-column>
        <dxi-column dataField="CustomerPhone" minWidth="200"></dxi-column>
        <dxi-column dataField="TherapistName" caption="Therapist" minWidth="200"></dxi-column>
        <dxi-column dataField="ServiceName" caption="Service Type" minWidth="200"></dxi-column>
        <dxi-column dataField="Time" dataType="date" format="shortDateShortTime" minWidth="180"></dxi-column>
        <dxi-column dataField="BookedOn" dataType="date" format="shortDateShortTime" minWidth="180"></dxi-column>
        <dxi-column dataField="Status" caption="Status" alignment="center" minWidth="170"></dxi-column>
        <dxi-column type="buttons" alignment="left" width="95" [hidingPriority]="4">
          <!--<dxi-button hint="Go to Profile"
          icon="fa fa-id-card"
          [onClick]="goToProfile"></dxi-button>-->
          <!--<dxi-button hint="Go to Administrative"
                      icon="fa fa-cogs"
                      [onClick]="goToAdmin"></dxi-button>
          <dxi-button hint="Manage Facility Managers"
                      icon="fa fa-users"
                      [onClick]="goToManage"></dxi-button>-->
          <!--<dxi-button hint="Manage Treatment Areas"
                      icon="fa fa-door-open"
                      [onClick]="goToResources"></dxi-button>
          <dxi-button hint="View Appointments"
                      icon="far fa-calendar-check"
                      [onClick]="viewAppointments"></dxi-button>-->
        </dxi-column>
        <!--<div *dxTemplate="let item of 'nameColumn'">
          &nbsp;
          <a class="dx-link" (click)="appointmentsGrid_onItemSelect(item)">{{item.value}}</a>
        </div>-->
      </dx-data-grid>
    </div>
    <!--<div fxFlex="10" fxFlex.lt-lg="0"></div>-->
  </div>




</div>
