.amenity-card {
  /*width: 250px;
  display: inline-block;
  max-width: 250px;
  height: 200px;
  min-height: 200px;
  max-height: 200px;*/
  min-width: 190px;
  max-width: 225px;
  /*box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);*/
  margin: 10px;
}

.card{
    height: 250px !important;
}

.card-title {
    display:flex;    
}

.card-body {
    padding: 0 10px;
}

/*.facility-amenity-img {
    height: 140px !important;
}*/

::ng-deep .facility-amenity-img img.img-fluid {
  height: 150px !important;
  width: auto !important;
}

/*mdb-card-img {
  height: 140px !important;
}

img {
  height: 140px !important;
}*/
p {
  color: black !important;
  font-size: 12px;
}

