<div class="amenity-card">
  <mdb-card>
    <!--Card image-->
    <mdb-card-img class="facility-amenity-img" [src]="amenity.PhotoUrl" alt="Card image cap" style="height:160px; width:auto;"></mdb-card-img>
    <!--Card content-->
    <mdb-card-body>

      <!--Title-->
      <mdb-card-title>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <mdb-icon fas [icon]="amenity.Icon" size="lg"></mdb-icon><h5 class="h5-responsive">{{amenity.Name}}</h5>
        </div>
        
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text>
        {{amenity.Description}}
      </mdb-card-text>

    </mdb-card-body>
  </mdb-card>

</div>
