.appointment-action-block {
  display: flex;
  width: 100%;
  background-color: #E0E0E0;
  border: 1px solid #BDBDBD;
  padding: 12px 10px;
  border-radius: 5px;
}

.action-title {
  font-size: 19px;
  font-weight: 600;
}

.action-desc {
  font-size: 14px;
  font-weight: 400;
}
