<div class="appointment-action-block  spa-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between start" style="width: 100%">
  <div class="pl-2" fxLayout="column" fxLayoutAlign="start start">
    <div class="action-title text-left">{{title}}</div>
    <div class="action-desc text-left">{{description}}</div>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex.lt-md="100" fxLayout.lt-md="column" fxLayoutAlign.lt-md="top center">
      <!--<button *ngIf="showCheckin == true" mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onCheckin()">Check-In</button>
      <button *ngIf="showCheckin == true" mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onMissed()">Notify No-Show</button>
      <button *ngIf="showCheckout == true" mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onCheckout()">Check-Out</button>-->
      <!--<button *ngIf="showFinalize == true" mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onFinailize()">Finalize</button>-->
      <button *ngIf="showReschedule == true" mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onReschedule()">Reschedule</button>
      <button *ngIf="showCancel == true" mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onCancel()">Cancel</button>
      <!--<button *ngIf="showReview == true" mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onReview()">Rate the Session</button>-->
    </div>
    <div fxFill.lt-md></div>
  </div>
</div>
