<div fxLayout="row" fxFlex="100" class="how-they-booked-block spa-shadow">
  <div fxLayout="column" fxLayoutAlign="space-between" fxFlex="100">
    <div><i>How they booked...</i></div>
    <div style="font-weight: 600;">{{howTheyBooked}}</div>
  </div>
</div>
