::ng-deep #fileuploader-container {
  border: 1px solid #d3d3d3;
  margin: 20px 20px 0 20px;
  max-width: 200px;
}

::ng-deep dx-text-area {
  border: lightgray 1px solid;

  dx-texteditor-input {
    padding: 10px;
  }
}

::ng-deep dx-button {
  margin: 5px 10px;
}

.spa-form-label {
    font-size: 12px;
}

h3 {
    text-align: center;
}

.form-field-full-width {
    width: 90%;
}
