<form class="example-form" [formGroup]="personalInfoForm" (ngSubmit)="onSave()" autocomplete="chrome-off">
  <!--<dx-validation-group #targetGroup>-->
    <div fxLayout="column">
      <h3>Personal Info</h3>
      <hr />
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="start center">

        <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="20px">
          <div fxLayout="column" fxFlex="40" fxFlex.lt-lg="100" >
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
              <div fxFlex="50">
                <mat-form-field class="form-field-full-width">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="FirstName" autocomplete="new-fn">
                  <mat-error *ngIf="personalInfoForm.controls.FirstName.hasError('required')">
                    First Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <mat-form-field class="form-field-full-width">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="LastName" autocomplete="new-ln">
                  <mat-error *ngIf="personalInfoForm.controls.LastName.hasError('required')">
                    Last Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <br />

            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
              <div fxFlex="50">
                <mat-form-field class="form-field-full-width">
                  <mat-label>Address1</mat-label>
                  <input matInput formControlName="Address1" autocomplete="new-ad1">
                  <!--<mat-error *ngIf="personalInfoForm.controls.Address1.hasError('required')">-->
                  <mat-error *ngIf="personalInfoForm.get('Address1').hasError('required')">
                    Address is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <mat-form-field class="form-field-full-width">
                  <mat-label>Address2</mat-label>
                  <input matInput formControlName="Address2" autocomplete="new-ad2">
                </mat-form-field>
              </div>
            </div>

            <br />

            <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="20px grid">
              <div fxLayout="column" fxFlex="45">
                <mat-form-field class="form-field-full-width">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="City" autocomplete="new-city">
                  <mat-error *ngIf="personalInfoForm.controls.City.hasError('required')">
                    City is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="50" fxLayoutGap="20px" >
                <div fxLayout="column" fxFlex="45">
                  <mat-form-field class="form-field-full-width">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="StateCode">
                      <mat-option *ngFor="let state of states" [value]="state.Code">
                        {{state.Name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxLayout="column" fxFlex="40">
                  <mat-form-field class="form-field-full-width">
                    <mat-label>Zip Code</mat-label>
                    <input matInput formControlName="ZipCode" name="bsname1" autocomplete="new-zc">
                    <mat-error *ngIf="personalInfoForm.controls.ZipCode.hasError('required')">
                      Zip Code is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="personalInfoForm.controls.ZipCode.hasError('invalidZip')">
                      Zip Code is <strong>invalid</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <br />



            <div fxLayout="row wrap" fxLayoutGap="20px grid" >
              <div fxLayout="column" fxFlex="65">
                <mat-form-field class="form-field-full-width">
                  <mat-label>Email Address</mat-label>
                  <input matInput formControlName="EmailAddress"  autocomplete="new-em">
                  <mat-error *ngIf="personalInfoForm.controls.EmailAddress.hasError('required')">
                    Email Address is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
 
              </div>
              <div fxLayout="column" fxFlex="30" fxFlex.lt-sm="50">
                <mat-form-field class="form-field-full-width">
                  <mat-label>Mobile Phone</mat-label>
                  <input matInput formControlName="MobilePhone" autocomplete="new-mp">
                  <mat-error *ngIf="personalInfoForm.controls.MobilePhone.hasError('required')">
                    Mobile Phone is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div fxLayout="column" fxflex="65">
                <mat-form-field class="form-field-full-width">
                  <mat-label>Years Experience</mat-label>
                  <input matInput type="number" formControlName="YearsExperience">
                  <mat-error *ngIf="personalInfoForm.controls.YearsExperience.hasError('required')">
                    Years Experience is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

              </div>
            </div>
          </div>

          <div fxLayout="column" fxFlex="45" fxLayoutAlign="center center">

                <img #therapistImage [src]="getTherapistPicture()" width="200" />
                <dx-file-uploader id="imageUploader"
                                  #imageUploader
                                  selectButtonText="Select photo"
                                  [uploadUrl]="fileUploadApiPath"
                                  [uploadHeaders]="headers"
                                  [(value)]="images"
                                  [multiple]="false"
                                  [maxFileSize]="getMaxFileSize()"
                                  [invalidMaxFileSizeMessage]="getMaxFileSizeMessage()"
                                  accept="image/*"
                                  [disabled]="uploadDisabled"
                                  (onUploaded)="fileUploader_onUploaded($event)"
                                  (onUploadError)="fileUploader_onUploadError($event)"
                                  uploadMode="instantly">
                </dx-file-uploader>
          </div>

          <div fxLayout="column" fxFlex="45">
            <mat-form-field class="form-field-full-width">
              <mat-label>About Yourself</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="25"
                        formControlName="Bio"></textarea>
              <mat-error *ngIf="personalInfoForm.controls.Bio.hasError('required')">
                Biography is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="33"></div>
        </div>
        <br />
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%" fxLayoutGap="15px">
          <!--<button type="button" mdbBtn color="primary" mdbWavesEffect>Primary</button>-->
          <button *ngIf="showSaveButton" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSave()" useSubmitBehavior="true">Save</button>
          <button *ngIf="showSubmitButton" mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="onSubmit()" useSubmitBehavior="false">submit</button>
        </div>


      </div>
  </div>
    <!--</dx-validation-group>-->
</form>

