<div mdbModal #frame="mdbModal" class="modal fade left" #facilityModal id="facilityModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="example-form" [formGroup]="facilityForm" (ngSubmit)="onSave()">
          <div fxLayout="column" fxFlex="100" fxLayoutAlign="center start">

            <mat-form-field>
              <mat-label>Facility</mat-label>
              <mat-select formControlName="FacilityUID" [disabled]="isEdit">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let facility of facilities" [value]="facility.UID" >
                  {{facility.Name}} - {{facility?.City}}, {{facility?.StateCode}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="facilityForm.get('FacilityUID').hasError('required')">
                Facility is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-checkbox formControlName="IsDefault">Is Default</mat-checkbox>

          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSave()">
          Save
        </button>
        <button mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="onClose()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
