<mat-card (click)="onClick()">
  <mat-card-header style="padding-left: 16px;">
    <img mat-card-avatar [src]="getClientImage()" />
    <mat-card-title>{{(appointmentSummary.StartDateTime | date:'EEEE MMM d') + (appointmentSummary.StartDateTime | date:'shortTime') + ' - ' + (appointmentSummary.EndDateTime | date:'shortTime')}}</mat-card-title>
    <mat-card-subtitle>{{appointmentSummary.Customer}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div>
          <img class="client-image" [src]="getClientImage()" />
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
          <!--<ngb-rating [(rate)]="currentRate" [max]="max">
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>-->
          <span class="review-line">00 Reviews</span>
        </div>
        <!--<div fxLayout="row" fxLayoutAlign="center">
          <fa-icon [icon]="poolIcon"></fa-icon>
          <fa-icon [icon]="hotTubIcon"></fa-icon>
          <fa-icon [icon]="whatev"></fa-icon>
          <fa-icon [icon]="whatev2"></fa-icon>
        </div>-->
      </div>
    </div>
  </mat-card-content>
</mat-card>
