<div mdbModal #frame="mdbModal" class="modal fade left" #reviewModal id="reviewModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="review-form" [formGroup]="reviewForm" (ngSubmit)="onSave()">
          <div fxLayout="column" fxFlex="100" fxLayoutAlign="center start">

            <h5 class="modal-title w-100 font-weight-bold">Review of {{reviewed}}</h5>


            <ngb-rating formControlName="Stars" [max]="max" [readonly]="false">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100" >&#9733;</span>
              </ng-template>
            </ngb-rating>


            <mat-form-field class="form-field-full-width">
              <mat-label>Notes</mat-label>
              <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="25"
                        formControlName="ReviewText"></textarea>
              <!--<mat-error *ngIf="noteForm.get('Notes').hasError('required')">
      Notes are <strong>required</strong>
    </mat-error>-->
            </mat-form-field>


          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSave()">
          Save
        </button>
        <button mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="onClose()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
