.star {
  font-size: 1rem;
  color: #c9d7e8;
}

.filled {
  color: #ffcc00;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.appointment-scroll {
  position: relative;
  overflow: auto;
}

.review-list {
  height: 100%;
  max-height: 100%;
  /*max-height: 500px;*/
}
