<head>
  <base href="./">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
  <script src="/assets/oidc-client.min.js"></script>
  <script>
    new Oidc.UserManager().signinSilentCallback()
        .catch((err) => {
            console.log(err);
        });
  </script>
</body>
