<head>
  <title></title>
</head>
<body>
  <script src="/spa/assets/oidc-client.min.js"></script>
  <script>
    window.location.hash = decodeURIComponent(window.location.hash);
    new Oidc.UserManager().signinSilentCallback()
        .catch((err) => {
            console.log(err);
        });
  </script>
</body>
