<div class="provider-pitch-page">
  <div class="provider-pitch-wrapper" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="25" fxFlex.lt-lg="5"></div>
    <div fxFlex="50" fxFlex.lt-lg="45" fxLayoutAlign="center center">
      <div class="provider-pitch-display">
        <div class="pitch-text centered">
          <div class="pitch-text-header">Join Our Team</div>
          <p>Work in a safe resort environment when you want, where you want, doing what you love.</p>
          <p>Finally an opportunity to provide therapeutic, quality, personalized treatments that allow your unique style and expertise to shine.</p>
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect [routerLink]="['/authentication/register-therapist']">
              Register Now
            </button>
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect [routerLink]="['/therapist/requirements']">
              Requirements
            </button>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="25" fxFlex.lt-lg="5"></div>
  </div>
</div>
