.provider-pitch-page {
    min-height: 70vh;
}

.provider-pitch-wrapper {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.provider-pitch-wrapper::before {
  /*background-image: url("/assets/images/chicago-spa-photo2e.jpg");*/
  background-image: url("/spa/assets/images/LargeStones2.jpg");
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.6;
}

.provider-pitch-display {
  padding: 15px;
  width: 500px;
  /*height: 600px;*/
  background-color: #90A4AE;
}

.provider-pitch-block {
  width: 380px;
  height: 180px;
}

/*.provider-pitch-button {
  cursor: pointer;
  display: flex;
  width: 380px;
  height: 180px;
  background-color: #ECEFF1;
  border: solid 6px white;
  border-radius: 5px;
  opacity: 0.9;
  color: #90A4AE;
}*/


.centered {
  margin: auto; /* Important */
  text-align: center;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.pitch-text-header {
  color: white;
  font-size: 28px;
  font-weight: 500;
}

.pitch-text p {
  font-size: 14px;
  color: white;
}

::ng-deep .dx-button {
    margin: 0 5px;
    font-size: 12px;
}

/*p {
  margin: 15px 0;
}*/

/*@media (max-width:1400px) {
  .provider-pitch-button {
    width: 360px;
    height: 170px;
  }

  h1 {
    font-size: 1.6rem;
  }

  .pitch-text p {
    font-size: 22px;
    
  }
}*/

@media (max-width:1000px) {
  .provider-pitch-button {
    width: 320px;
    height: 140px;
  }

  h1 {
    font-size: 1.4rem;
  }

}
