
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
/*$my-theme-primary: mat-palette($mat-indigo);
$my-theme-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$my-theme-warn:    mat-palette($mat-red);*/

/*$my-theme-primary: mat-palette($mat-indigo, 300, 200, 700);
$my-theme-accent: mat-palette($mat-teal, 300, 100, 500);*/

$my-theme-primary: mat-palette($mat-gray, 700, 200, 900);
$my-theme-accent: mat-palette($mat-blue-gray, 400, 200, 700);

// The warn palette is optional (defaults to red).
$my-theme-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$my-theme-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-theme-theme);


// Create your Sass color vars (will be available in all the project)
$theme-primary: mat-color($my-theme-primary);
$theme-accent: mat-color($my-theme-accent);

$theme-primary-light: mat-color($my-theme-primary, lighter);
$theme-accent-light: mat-color($my-theme-accent, 50);
