/*------- Home Common -------*/

body {
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: .5rem;
        font-weight: 400;
        line-height: 1.1;
        color: inherit;
    }
    .h1,
    h1 {
        font-size: 2rem;
    }
    .h3,
    h3 {
        font-size: 1.5rem;
    }
    .h4,
    h4 {
        font-size: 1.25rem;
    }
    .h5,
    h5 {
        font-size: 1rem;
    }
    .h6,
    h6 {
        font-size: .875rem;
    }
    .container {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .section-header h2 {
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 16px;
    }
    .mat-card {
        .mat-divider {
            position: relative;
        }
    }
}

@-webkit-keyframes slideDown {
    0% {
        top: -60px
    }
    100% {
        top: 0px
    }
}

@keyframes slideDown {
    0% {
        top: -60px
    }
    100% {
        top: 0px
    }
}

.section-padding {
    padding: 80px 0;
}

.home-section mat-card:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

.section-header {
    margin: 0 0 2rem;
}

.section-header h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 16px;
}

.section-header p {
    font-size: 16px;
    max-width: 36rem;
    margin: 0 auto;
}

.home-section-action {
    padding: 2.5rem 0 0;
}

[mat-card-icon] {
    font-size: 64px !important;
    height: 64px !important;
    width: 64px !important;
    transition: all .3s ease;
}

.home-fancy-card {
    border-top: 2px solid #212121;
    transition: all .3s ease;
}

.home-fancy-card:hover {
    border-top: 2px solid #3f51b5;
}

.home-fancy-card:hover [mat-card-icon] {
    color: #3f51b5;
}

.home-fancy-card .description {
    font-size: 15px;
    color: #616161;
}


/*------ Carousel -------*/

.ngucarousel {
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.ngucarousel-inner {
    padding: 8px 0 18px;
}

.ngucarousel .carousel-left,
.ngucarousel .carousel-right {
    position: absolute;
    top: calc(50% - 28px);
    background: #ffffff !important;
    color: rgba(0, 0, 0, .87);
}

.ngucarousel .carousel-left {
    left: -20px;
}

.ngucarousel .carousel-right {
    right: -20px;
}

.ngucarouselPointDefault .ngucarouselPoint li.active,
.ngucarouselPointDefault .ngucarouselPoint li {
    background: #ffffff !important;
}

//bg
.bg-grey {
    background: $grey-bg-color;
}

.primary-bg {
    background: $theme-primary;
}

.primary-bg-light {
  background: $theme-primary-light;
}

.accent-bg {
    background: $theme-accent;
}

.accent-bg-light {
  background: $theme-accent-light;
}

a.navbar-brand:hover {
  color: $theme-primary-light;
}

//features
.w-60 {
    width: 60%;
    margin: 0 auto;
}

.title-page {
    font-size: 3rem;
    margin-bottom: 2rem !important;
    margin-top: 0 !important;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.featured-section {
    i {
        font-size: 4rem;
    }
}

.feature-item {
    padding: 0 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.71rem;
    letter-spacing: 0;
    margin-bottom: 1.14rem;
    opacity: 0.8;
}

h4 {
    font-weight: 600;
}

.gap {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

@media(max-width:960px) {
    .w-60 {
        width: 90%;
    }
}


/*Tab gruop*/

.tab-group {
    .mat-tab-labels {
        justify-content: center;
    }
    .mat-tab-label-content {
        font-size: 1.1rem;
    }
}

.icons-list li {
    list-style: none;
    margin-bottom: 2rem;
    display: block;
    font-size: 1.2rem;
    font-weight: 400;
    i {
        font-size: 2rem;
        vertical-align: middle;
        margin-right: 1rem;
    }
}

.mat-tab-body-wrapper {
    margin-top: 5rem;
}

.tab-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    display: inline-block;
    padding: 2rem;
    display: inline-block;
    justify-content: center;
    position: absolute;
    z-index: 9999;
    left: -14%;
    background: #fff;
    top: 30%;
    border-radius: 10px;
}

.tab-icon i {
    font-size: 4rem;
}

.img-cap {
    position: relative;
}

.title-head h4 {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
}

@media(max-width:599px) {
    .tab-icon {
        display: none;
    }
}

.card-shadow {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

