$primary-color: #607d8b;
$primary-color-dark: darken($primary-color, 10);
$secondary-color: #5a244c;
$secondary-color-dark: darken($secondary-color, 10);
$default-color: #9C9C9C;
$default-color-dark: darken($default-color, 10);

@import "~ng-uikit-pro-standard/assets/scss/core/colors";

