<br />
<br />
<h2>Area of need, or What brings you in?</h2>
<br />
<br />
<div class="container" style="width:100%">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center" fxLayoutGap.gt-sm="20px">
    <!--<div>-->
    <div fxLayout="column" fxLayoutAlign="start center">
      <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentNeeds.Relaxation">
        Relaxation
      </cust-needs-button>
      <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentNeeds.Vacation">
        Detox
      </cust-needs-button>
      <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentNeeds.Pain">
        Pain
      </cust-needs-button>
      <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentNeeds.Celebration">
        Celebration
      </cust-needs-button>
    </div>
    <!--</div>

    <div>-->
    <div fxLayout="column" fxLayoutAlign="start center">
      <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentNeeds.Tension">
        Tension
      </cust-needs-button>
      <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentNeeds.Stress">
        Stress
      </cust-needs-button>
      <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentNeeds.WellBeing">
        Wellbeing
      </cust-needs-button>
      <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentNeeds.Stretching">
        Stretching
      </cust-needs-button>
    </div>
    <!--</div>

    <div>-->
    <div fxLayout="column" fxLayoutAlign="start center">
      <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentNeeds.Insomnia">
        Insomnia
      </cust-needs-button>
      <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentNeeds.TMJMigraine">
        TMJ / Migraines
      </cust-needs-button>
      <cust-needs-button [(selected)]="currentCustomer.Profile.CurrentNeeds.Pregnant">
        Pregnancy
      </cust-needs-button>
    </div>
    <!--</div>-->


  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <button mat-button color="accent" (click)="continue()">Continue</button>
  </div>
</div>


