::ng-deep dx-text-area {
  border: lightgray 1px solid;

  dx-texteditor-input {
    padding: 10px;
  }
}

::ng-deep h3 {
    text-align: center;
}

.profile-tab-menu {
  width: 100%;
}

::ng-deep .dx-tab.dx-tab-selected {
  background-color: #CFD8DC;
  color: #333;
}

::ng-deep .dx-tab {
  border-right: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}
