<div fxLayout="row" style="width: 100%">
  <div fxLayout="column" fxFlex="20px"></div>
  <div fxLayout="column" fxFlex="100">
    <mat-horizontal-stepper #stepper id="stepper" labelPosition="bottom" linear (selectionChange)="selectionChange($event)">

      <mat-step label="Facility Info" [completed]="stepIsComplete[0]">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="180px"></div>
          <div fxFlex="100" fxLayoutAlign="center">
            <div class="spa-stepper-error">{{errorMessage}}</div>
          </div>
          <div fxFlex="180px">
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="next(0)" useSubmitBehavior="false">Next <i class="fas fa-arrow-right ml-1"></i></button>
          </div>          
        </div>
        <div class="container">
          <spa-facility-profile-edit [facility]="facility" [stepNumber]="0" [runAsStep]="true" [canEdit]="true"></spa-facility-profile-edit>
        </div>
      </mat-step>
      <mat-step label="Amenities" [completed]="stepIsComplete[1]">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="180px">
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="back()" useSubmitBehavior="false"><i class="fas fa-arrow-left ml-1"></i> Back</button>
          </div>
          <div fxFlex="100" fxLayoutAlign="center">
            <div class="spa-stepper-error">{{errorMessage}}</div>
          </div>
          <div fxFlex="180px">
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="next(1)" useSubmitBehavior="false">Next <i class="fas fa-arrow-right ml-1"></i></button>
          </div>          
        </div>
        <div class="container">
          <spa-facility-amenities-edit [stepNumber]="1" [runAsStep]="true" [facilityUID]="facilityUid" [canEdit]="true"></spa-facility-amenities-edit>
        </div>
      </mat-step>
      <mat-step label="Therapist Information" [completed]="stepIsComplete[2]">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="180px">
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="back()" useSubmitBehavior="false"><i class="fas fa-arrow-left ml-1"></i> Back</button>
          </div>
          <div fxFlex="100" fxLayoutAlign="center">
            <div class="spa-stepper-error">{{errorMessage}}</div>
          </div>
          <div fxFlex="180px">
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="next(2)" useSubmitBehavior="false">Next <i class="fas fa-arrow-right ml-1"></i></button>
          </div>
        </div>
        <div class="container">
          <spa-facility-info-edit [stepNumber]="2" [runAsStep]="true" [facilityUID]="facilityUid"></spa-facility-info-edit>
        </div>
      </mat-step>
      <mat-step label="Photos" [completed]="stepIsComplete[3]">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="180px">
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="back()" useSubmitBehavior="false"><i class="fas fa-arrow-left ml-1"></i> Back</button>
          </div>
          <div fxFlex="100" fxLayoutAlign="center">
            <div class="spa-stepper-error">{{errorMessage}}</div>
          </div>
          <div fxFlex="180px">
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="next(3)" useSubmitBehavior="false">Next <i class="fas fa-arrow-right ml-1"></i></button>
          </div>
        </div>
        <div class="container">
          <spa-facility-images-edit [stepNumber]="3" [runAsStep]="true" [facilityUID]="facilityUid"></spa-facility-images-edit>
        </div>
      </mat-step>
      <mat-step label="Submit for Review" [completed]="stepIsComplete[4]">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="back()" useSubmitBehavior="false"><i class="fas fa-arrow-left ml-1"></i> Back</button>
        </div>
        <div class="container">
          <spa-facility-submit [stepNumber]="4" [runAsStep]="true" [facility]="facility"></spa-facility-submit>
        </div>
      </mat-step>

    </mat-horizontal-stepper>

  </div>
  <div fxLayout="column" fxFlex="20px"></div>
</div>
