::ng-deep .mat-step-icon {
  background-color: #be5ba3 !important;
}

::ng-deep .mat-step-icon-selected {
  background-color: #5A244C !important;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
