.message-image {
    height: 70px;
    object-fit: contain;
}

.basic-textarea textarea.bas {
  height: auto;
}

.message-summary {
  height: 100%;
  max-height: 100%;
  /*max-height: 500px;*/
}

.message-summary .friend-list li {
  border-bottom: 1px solid #e0e0e0;
}

.message-summary .friend-list li:last-of-type {
  border-bottom: none;
}

.message-summary img.rounded-circle {
  border-radius: 50%;
}

.message-summary img.avatar {
  height: 2.5rem;
  width: 2.5rem;
}

.message-summary .text-small {
  font-size: 0.85rem;
}

.message-summary .text-smaller {
  font-size: 0.74rem;
}


.message-scroll {
  position: relative;
  overflow: auto;
}

.message-text {
  font-size: 0.74rem;
  font-weight: 400;
  line-height: 0.80rem;
}
