<!--<div *ngFor="let message of messages">
  <div fxLayout="row">
    <div class="">
      <img class="spa-avatar message-image" [src]="getSenderimage(message.UID)" />
    </div>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="message-name">{{message.SenderName}}</div>
        <div class="message-time">{{message.TimeSent}}</div>
      </div>
      <div>{{message.MessageText}}</div>
    </div>
  </div>
</div>-->

  <div class="message-summary message-scroll">
    <mdb-card >
      <!--<div class="message-scroll">-->
        <mdb-card-body class="p-0" >
          <!-- Grid row -->
          <div>

            <!-- Grid column -->
            <div class="px-0">

              <div class="white z-depth-1 ">
                <div *ngIf="!messages" style="background-color: #d3dbde; height: 60px; text-align: center; vertical-align: central; padding-top: 20px;">No messages found.</div>
                <ul *ngIf="messages" class="list-unstyled friend-list m-0">
                  <li *ngFor="let message of messages" class="p-2">
                    <!--<a href="#">-->
                      <div fxLayout="column">
                        <div class="text-small" fxLayout="row" fxLayoutAlign="space-between">
                          <strong>{{message.SenderName}}</strong>
                          <p class="text-smaller mb-0">{{message.TimeSent}}</p>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between">
                          <img [src]="getSenderimage(message.UID)" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                          <div class="text-small">
                            <p class="message-text">{{message.MessageText}}</p>
                          </div>
                          <span class="text-muted float-right"><mdb-icon fas icon="minus-circle" aria-hidden="true"></mdb-icon></span>
                        </div>
                      </div>



                      <div class="chat-footer">

                      </div>
                    <!--</a>-->
                  </li>
                </ul>
              </div>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </mdb-card-body>
      <!--</div>-->

    </mdb-card>

  </div>

<!--<li class="active grey lighten-3 p-2">
  <a href="#" class="d-flex justify-content-between">
    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
    <div class="text-small">
      <strong>John Doe</strong>
      <p class="last-message text-muted">Hello, Are you there?</p>
    </div>
    <div class="chat-footer">
      <p class="text-smaller text-muted mb-0">Just now</p>
      <mdb-badge danger="true" class="float-right"></mdb-badge>
    </div>
  </a>
</li>-->
