<h3>Upcoming Appointments</h3>

<div *ngFor="let upcoming of upcomingAppointments">
  <spa-customer-expanding-appointment [appointment]="upcoming" [upcoming]="true"></spa-customer-expanding-appointment>
</div>

<h3>Past Appointments</h3>


<div *ngFor="let past of pastAppointments">
  <spa-customer-expanding-appointment [appointment]="past" [upcoming]="false"></spa-customer-expanding-appointment>
</div>
