<div class="spa-container user-profile-block">
  <form class="example-form" [formGroup]="userProfileForm" (ngSubmit)="onSave()">
    <!--<dx-validation-group #targetGroup>-->
    <div fxLayout="column">
      <h3>User Profile</h3>
      <hr />
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <div fxLayout="column" fxFlex="50" fxFlex.lt-lg="100">

          <mat-form-field class="form-field-full-width">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="FirstName">
            <mat-error *ngIf="userProfileForm.controls.FirstName.hasError('required')">
              First Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="LastName">
            <mat-error *ngIf="userProfileForm.controls.LastName.hasError('required')">
              Last Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-full-width">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="Email">
            <mat-error *ngIf="userProfileForm.controls.Email.hasError('required')">
              Email Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field-full-width">
            <mat-label>Phone</mat-label>
            <input matInput formControlName="Phone">
            <mat-error *ngIf="userProfileForm.controls.Phone.hasError('required')">
              Phone Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <br />
          <a (click)="startResetPassword()">Reset Password</a>
        </div>

        <div fxLayout="column" fxFlex="50" fxLayoutAlign="center center">

          <img #userImage [src]="getUserPicture()" width="200" />
          <dx-file-uploader id="imageUploader"
                            #imageUploader
                            selectButtonText="Select photo"
                            [uploadUrl]="fileUploadApiPath"
                            [uploadHeaders]="headers"
                            [(value)]="images"
                            [multiple]="false"
                            [maxFileSize]="getMaxFileSize()"
                            [invalidMaxFileSizeMessage]="getMaxFileSizeMessage()"
                            accept="image/*"
                            [disabled]="uploadDisabled"
                            (onUploaded)="fileUploader_onUploaded($event)"
                            (onUploadError)="fileUploader_onUploadError($event)"
                            uploadMode="instantly">
          </dx-file-uploader>
        </div>

      </div>
      <br />
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%" fxLayoutGap="15px">
        <!--<button type="button" mdbBtn color="primary" mdbWavesEffect>Primary</button>-->
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSave()">Save</button>
        <!--<button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="startResetPassword()">Reset Password</button>-->
      </div>

    </div>
    <!--</dx-validation-group>-->
  </form>

</div>

<spa-password-reset [(showModal)]="showPasswordResetModal"></spa-password-reset>
