<mdb-card>
  <mdb-card-body>
    <div fxLayout="column">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center" fxLayoutGap="20px" style="border-bottom: 1px solid lightgray; ">
        <img [src]="getCustomerPhoto()" />
        <div fxFlex="50" fxLayoutAlign="start center" class="appointment-header-text">{{appointment?.Customer}}</div>
        <div fxFlex="50" fxLayoutAlign="end center" class="appointment-header-text">Status: {{appointment?.Status}}</div>
      </div>

      <div fxLayout="column" class="appointment-detail-block ">
        <div fxLayout="row">
          <div fxFlex="30px"><mdb-icon fas icon="futbol"></mdb-icon></div>
          <div fxFlex="100" fxLayout="column">
            <div class="appointment-title">Type of Service</div>
            <div class="appointment-value">{{appointment?.Service}}</div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="30px"></div>
          <div fxFlex="100" fxLayout="column">
            <div class="appointment-title">Treatment Room</div>
            <div class="appointment-value">{{appointment?.TreatmentArea}}</div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="30px"><mdb-icon far icon="calendar-alt"></mdb-icon></div>
          <div fxFlex="100" fxLayout="column">
            <div class="appointment-title">Time of Massage</div>
            <div class="appointment-value">{{appointment?.StartDateTime | date:'shortTime'}} : {{appointment?.StartDateTime | date:'MMM d'}}</div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="30px"><mdb-icon fas icon="history"></mdb-icon></div>
          <div fxFlex="100" fxLayout="column">
            <div class="appointment-title">Service</div>
            <div class="appointment-value">{{appointment?.Service}}</div>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="30px"><mdb-icon far icon="sticky-note"></mdb-icon></div>
          <div fxFlex="100" fxLayout="column">
            <div class="appointment-title">Notes to Therapist</div>
            <div class="appointment-value">{{appointment?.Notes}}</div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%" fxLayoutGap="10px">
        <!--<button type="button" mdbBtn color="primary" mdbWavesEffect>Primary</button>-->
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onOpen()" useSubmitBehavior="true">Open</button>
        <!-- <button *ngIf="showCheckinButton" mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="onCheckIn()" useSubmitBehavior="false">Check In</button> -->
      </div>


    </div>
  </mdb-card-body>
</mdb-card>

