:host {
    height: 100%;
}

.card-body {
    padding: 0 !important;
}

.appointment-header-text {
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
}

.appointment-title {
  font-size: 14px;
  font-weight: 500;
}

.appointment-value {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.image-block {
  border: 1px lightgray;
  border-bottom: 1px lightgray solid;
  border-right: 1px lightgray solid;
}

.appointment-detail-block {
  padding: 25px;
  position: relative;
  /*height: 18rem;*/
  overflow: auto;
}

img {
  height: 50px;
  width: 50px;
  object-fit: cover
}

.appointment-scroll {
  position: relative;
  /*height: 18rem;*/
  overflow: auto;
  max-height: 70vh;
}
