<div mdbModal #frame="mdbModal" class="modal fade left" #licenseModal id="licenseModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" (close)="onClose()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <form class="example-form" [formGroup]="licenseForm" (ngSubmit)="onSave()">
          <div fxLayout="column" fxFlex="100" fxLayoutAlign="center start">

            <mat-form-field>
              <mat-label>License Type</mat-label>
              <mat-select formControlName="LicenseTypeID">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let licenseType of licenseTypes" [value]="licenseType.ID">
                  {{licenseType.Name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="licenseForm.get('LicenseTypeID').hasError('required')">
                License Type is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Licensing State</mat-label>
              <mat-select formControlName="StateCode">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let state of states" [value]="state.Code">
                  {{state.Name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="licenseForm.get('StateCode').hasError('required')">
                Licensing State is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>As Of Date</mat-label>
              <input matInput [matDatepicker]="dpAsOfDate" formControlName="AsOfDate">
              <mat-datepicker-toggle matSuffix [for]="dpAsOfDate"></mat-datepicker-toggle>
              <mat-datepicker #dpAsOfDate></mat-datepicker>
              <mat-error *ngIf="licenseForm.get('AsOfDate').hasError('required')">
                As Of Date is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Until Date</mat-label>
              <input matInput [matDatepicker]="dpUntilDate" formControlName="UntilDate">
              <mat-datepicker-toggle matSuffix [for]="dpUntilDate"></mat-datepicker-toggle>
              <mat-datepicker #dpUntilDate></mat-datepicker>
              <mat-error *ngIf="licenseForm.get('UntilDate').hasError('required')">
                Until Date is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="licenseForm.get('UntilDate').hasError('endDateBeforeStart')">
                As Of Date must be prior to Until Date
              </mat-error>
            </mat-form-field>

          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onSave()">
          Save
        </button>
        <button mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="onClose()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
