/* You can add global styles to this file, and also import other style files */

/*@import "@angular/material/prebuilt-themes/indigo-pink.css";*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

/*.spa-form-label {
  font-size: 12px;
}


$skins: () !default;
$skins: map-merge(( "test": ( "skin-primary-color": #78909c, "skin-navbar": #fff, "skin-footer-color": #fff, "skin-accent": #884f78, "skin-flat": #8a9ea8, "skin-sidenav-item": #78909c, "skin-sidenav-item-hover": #34515f, "skin-gradient-start": #7893a1, "skin-gradient-end": #fff, "skin-mask-slight": rgba(120, 144, 156, .5), "skin-mask-light": rgba(120, 144, 156, .65), "skin-mask-strong": rgba(120, 144, 156, .8), "skin-sn-child": #a25d8e, "skin-btn-primary": #5a244c, "skin-btn-secondary": #5a244c, "skin-btn-default": #5a244c, "skin-text": white ) ), $skins);

@import '~ng-uikit-pro-standard/assets/scss/core/mixins';
@import '~ng-uikit-pro-standard/assets/scss/core/colors';
@import '~ng-uikit-pro-standard/assets/scss/core/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/variables-pro';
@import '~ng-uikit-pro-standard/assets/scss/core/msc/skins-pro';

.side-nav mdb-accordion-item-head h5 {
  font-size: 18px !important;
}

.side-nav mdb-accordion-item-body a {
  font-size: 20px !important;
}

::ng-deep .spa-accordion-link .btn-link {
  color: white !important;
}

.bg-primary {
  background-color: #8938c5 !important;
}*/
