<div class="provider-pitch-wrapper" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="column" fxFlex="100" class="provider-pitch-background">
    <div fxLayout="row">
      <spa-top-banner fxFlex="100"></spa-top-banner>
    </div>
    <div fxLayout="row" fxFlex="100">
      <iframe src="https://spaspaceapplication.com/faq/" style="width:100%; height: 100%;"></iframe>
    </div>
  </div>


</div>

<div fxLayout="row" style="width:100%">
  <spa-footer class="spa-footer">
    <div leftContent>

    </div>
    <div engageLinks class="spa-footer-links">
      <a class="menu-link" [routerLink]="['/main/therapist/join']">APPLY AS THERAPIST</a>
      <a class="menu-link" [routerLink]="['/main/facility']">BECOME A LOCATION</a>
      <a class="menu-link" [routerLink]="['/main/facility']">NEWS</a>
      <a class="menu-link" [routerLink]="['/main/facility']">PRESS ENQUIRIES</a>
    </div>
  </spa-footer>
</div>



