<div fxLayout="row" fxFlex="100">
  <div fxLayout="column" style="width:100%; max-width: 350px;">
    <h5>Selected</h5>
    <div *ngFor="let existingAddon of addons?.Existing" fxLayout="row" fxLayoutAlign="space-between">
      <mat-checkbox [disabled]="disabled" checked="true" [id]="existingAddon.UID" (change)="selectChanged($event)">{{existingAddon.Name}}</mat-checkbox>
      <div>{{existingAddon.Price | currency}}</div>
    </div>

    <div *ngIf="(canEdit == true)">
      <h5>Available</h5>
      <div *ngFor="let availAddon of addons?.Available" fxLayout="row" fxLayoutAlign="space-between">
        <mat-checkbox [disabled]="disabled" [id]="availAddon.UID" (change)="selectChanged($event)">{{availAddon.Name}}</mat-checkbox>
        <div>{{availAddon.Price | currency}}</div>
      </div>
    </div>

  </div>
</div>
