<dx-data-grid #servicesGrid id="servicesGrid"
              [dataSource]="compensations"
              [showBorders]="true"
              [showRowLines]="true"
              [showColumnLines]="true"
              [columnAutoWidth]="true"
              [wordWrapEnabled]="true"
              (onToolbarPreparing)="servicesGrid_onToolbarPreparing($event)">
  <dxo-editing mode="row"
               [allowUpdating]="false"
               [allowDeleting]="false"
               [allowAdding]="false">
  </dxo-editing>
  <!--<dxi-column dataField="ServiceCategoryUID" caption="Service Category" [width]="150">
    <dxo-lookup [dataSource]="categories" displayExpr="Name" valueExpr="UID"></dxo-lookup>
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>-->
  <dxi-column dataField="ServiceName" caption="Service Name" [width]="150">
    <!--<dxo-lookup [dataSource]="categories" displayExpr="Name" valueExpr="UID"></dxo-lookup>-->
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column caption="Base Price" alignment="center">
    <dxi-column caption="Amount" dataField="BasePrice" format="currency"></dxi-column>
    <dxi-column caption="Therapist $" dataField="ThearpistFlatRate" format="currency"></dxi-column>
    <dxi-column caption="Therapist %" dataField="TherapistPercentOfBase" format="percent"></dxi-column>
    <dxi-column caption="Facility %" dataField="FaciltyPercentOfBase" format="percent"></dxi-column>
  </dxi-column>
  <dxi-column caption="Service Charge" alignment="center">
    <dxi-column caption="% of Base" dataField="ServiceChargePercent" format="percent"></dxi-column>
    <dxi-column caption="Therapist %" dataField="TherapistPercentOfServiceCharge" format="percent"></dxi-column>
  </dxi-column>
  <dxi-column type="buttons" alignment="left" [width]="100">
    <dxi-button hint="Edit Compensation"
                icon="fa fa-pen"
                [onClick]="editRecord"></dxi-button>
    <dxi-button hint="Delete Compensation"
                icon="fa fa-trash"
                [onClick]="deleteRecord"></dxi-button>
  </dxi-column>
  <div *dxTemplate="let data of 'headerTemplate'">
    <div style="height: 100%;  word-wrap: break-word; white-space: normal;text-align:center">
      {{data.column.caption}}
    </div>
  </div>
</dx-data-grid>

<spa-facility-service-compensation [compensation]="compensation" [categories]="categories" [(showModal)]="showModal" (saveCompensation)="saveCompensation($event)"></spa-facility-service-compensation>

<spa-delete-warning-modal [showWarning]="showDeleteWarning" (continue)="continue($event)"></spa-delete-warning-modal>
