@import "scss/main";
/*@import '~swiper/dist/css/swiper.min.css';*/

$skins: () !default;
$skins: map-merge(( "test": ( "skin-primary-color": #78909c, "skin-navbar": #fff, "skin-footer-color": #fff, "skin-accent": #5a244c, "skin-flat": #8a9ea8, "skin-sidenav-item": #78909c, "skin-sidenav-item-hover": #34515f, "skin-gradient-start": #7893a1, "skin-gradient-end": #fff, "skin-mask-slight": rgba(120, 144, 156, .5), "skin-mask-light": rgba(120, 144, 156, .65), "skin-mask-strong": rgba(120, 144, 156, .8), "skin-sn-child": #a25d8e, "skin-btn-primary": #5a244c, "skin-btn-secondary": #50595C, "skin-btn-default": #5a244c, "skin-text": #fff ) ), $skins);

/*$skins: map-merge(( "test": ( "skin-primary-color": #78909c, "skin-navbar": #fff, "skin-footer-color": #fff, "skin-accent": #5a244c, "skin-flat": #8a9ea8, "skin-sidenav-item": #d3dbde, "skin-sidenav-item-hover": #bdc9cd, "skin-gradient-start": #bdc9cd, "skin-gradient-end": #fff, "skin-mask-slight": rgba(120, 144, 156, .5), "skin-mask-light": rgba(120, 144, 156, .65), "skin-mask-strong": rgba(120, 144, 156, .8), "skin-sn-child": #a25d8e, "skin-btn-primary": #5a244c, "skin-btn-secondary": #fff, "skin-btn-default": #5a244c, "skin-text": #fff ) ), $skins);*/

@import '~ng-uikit-pro-standard/assets/scss/core/mixins';
@import '~ng-uikit-pro-standard/assets/scss/core/colors';
@import '~ng-uikit-pro-standard/assets/scss/core/variables';
@import '~ng-uikit-pro-standard/assets/scss/core/variables-pro';
@import '~ng-uikit-pro-standard/assets/scss/core/msc/skins-pro';
@import "~ng-uikit-pro-standard/assets/scss/addons-pro/_chat-pro.scss";

.side-nav mdb-accordion-item-head h5 {
  font-size: 17px !important;
}

.side-nav mdb-accordion-item-body a {
  font-size: 17px !important;
}

.spa-shadow {
    background-color: white;
    border-radius: 4px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.10), 0 3px 5px 0 rgba(0, 0, 0, 0.10);  
}

.spa-avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.spa-container {
  width:100%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.10), 0 3px 5px 0 rgba(0, 0, 0, 0.10);
}

.spa-container-white {
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.10), 0 3px 5px 0 rgba(0, 0, 0, 0.10);
}

.spa-stepper-error {
    color: red;
    font-size: 16px;
    font-weight: 500;
}

::ng-deep .spa-accordion-link .btn-link {
  color: white !important;
}

body {
  background-color: #fafafa;
}

.dx-toolbar {
  background: none;
  background-color: white;
}

/*.bg-primary {
  background-color: #80336b !important;
}*/

/*.spa-tabs-class {
  background-color: #80336b !important;
}*/

.spa-tabs-class .nav.md-tabs {
  background-color: #80336b !important;
}

::ng-deep .form-field-full-width {
  width: 100% !important;
}

.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-command-edit.dx-command-edit-with-icons .dx-link, .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td:not(.dx-field-item-content).dx-cell-modified.dx-command-edit.dx-command-edit-with-icons .dx-link, .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td:not(.dx-field-item-content).dx-datagrid-invalid.dx-command-edit.dx-command-edit-with-icons .dx-link {
  margin: 0 3px;
  font-size: 14px;
}

.dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td.dx-command-edit.dx-command-edit-with-icons {
  padding: 14px 5px !important;
}

/*body * {
  border: 1px solid red;
}*/

.bg-secondary {
  background-color: #5a244c !important;
}

.bg-icon-grey {
  background-color: #bdc9cd !important;
}

.test-skin .btn {
  border-radius: 15px !important;
  border: 1px solid #5a244c !important;
  padding: 10px 28px;
  font-size: 14px;
}

.test-skin .btn-primary {
  color: #fff;
  background-color: #5a244c !important;

}

.test-skin .btn-secondary {
  /*color: #5a244c;*/

}

.spa-label-small {
  font-size: 14px;
  /*font-weight: 500;*/
}

.spa-text {
  font-size: 15px;
  font-weight: 600;
}

.spa-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.embedded-links {
  width:100vw;
  border: none;
}
 
