
:host {
  width: 100%;
  position: relative;
  height: 100%;

  /*top: -125px;*/
}

.main-container {
    max-width: 1600px;
    margin: auto;
}

.home-main-content {
    height: 95vh;
    width: 100%;
    /*max-width: 1400px;*/
    background-color: white;
}

.spa-main-image {
  background-image: url("/spa/assets/images/home-background-cropped.jpg");
  background-size: cover;
  /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
  background-repeat: no-repeat;
  /*background-position: bottom left;*/
  /*box-shadow: -20px 0px 50px 50px white inset;*/
  /*box-shadow: -5px -5px 50px 50px white inset;*/
}

@media (max-width:1295px) {

  .book-btn {
    font-size: 14px !important;
  }
}



/*@media (max-width: 1200px) {

  .spa-main-image {
    background-repeat: no-repeat;
    background-position-x: -90px;
    background-position-y: 200px;
    background-size: 1600px;
  }
}*/

@media (max-width: 1100px) and (max-height: 800px) {

  .spa-main-image {
    /*background-image: url("/assets/images/home-background_mobile.jpg");*/
    /*background-size: 1000px;*/
    /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
    background-repeat: no-repeat;
    /*background-position-x: calc(100vh + 100vw - 1100px);*/
    /*background-position-x: calc(500px - 100vw);*/
    background-position-x: -90px;
    background-position-y: 90px;
    background-size: 1150px;
  }
}

@media (max-width: 800px) and (max-height: 1100px) {

  .spa-main-image {
    background-position-x: -200px;
    background-position-y: 250px;
    background-size: 1285px;
  }
}

@media (max-width: 1400px) and (min-height: 1100px) {

  .home-main-content {
    height: 90vh;
    /*max-width: 1400px;*/
    background-color: white;
  }

  .spa-main-image {
    /*background-image: url("/assets/images/home-background_mobile.jpg");*/
    //background-size: 900px;
    /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
    background-repeat: no-repeat;
    background-position-x: -90px;
    background-position-y: 100px;
  }
}

@media (max-width: 1400px) and (max-height: 1100px) and (min-height: 900px) and (min-width: 900px) {

  .spa-main-image {
    /*background-image: url("/assets/images/home-background_mobile.jpg");*/
    //background-size: 900px;
    /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
    background-repeat: no-repeat;
    background-position-x: -90px;
    background-position-y: 100px;
  }
}

@media (max-width: 1100px) and (max-height: 1400px) and (min-height: 900px) and (min-width: 900px){

  .spa-main-image {
    /*background-image: url("/assets/images/home-background_mobile.jpg");*/
    //background-size: 900px;
    /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
    background-repeat: no-repeat;
    background-position-x: -160px;
    background-position-y: 400px;
    background-size: 1700px;
  }
}


@media (max-width:1070px) {
  .spa-footer-large-text {
    font-size: 16px;
    margin-bottom: 2px;
  }

  .spa-footer-med-text {
    font-size: 10px;
    margin-bottom: 2px;
  }

  .header-btn {
    font-size: 11px !important;
  }

  .menu-link {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }
}


@media (max-width: 1000px) {

  .home-book-today-block {
    padding: 10px;
  }

  /*.spa-main-image {
    background-repeat: no-repeat;
    background-position-x: -200px;
    background-position-y: 150px;
    background-size: 1200px;
  }*/

}

@media (max-width: 600px) and (min-height: 680px) {

  .home-main-content {
    height: 70vh;
    /*max-width: 1400px;*/
    background-color: white;
  }

  .home-box-relax {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .spa-main-image {
    /*background-image: url("/assets/images/home-background_mobile.jpg");*/
    background-size: 700px;
    /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
    background-repeat: no-repeat;
    background-position-x: -120px;
    /*background-position-y: calc(100vh - 500px);*/
    background-position-y: calc(100vh - 100vw - 200px);
  }
}

@media (max-width: 600px) and (max-height: 680px) {

  .home-main-content {
    /*height: 70vh;*/
    /*max-width: 1400px;*/
    background-color: white;
  }

  .home-box-relax {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .spa-main-image {
    /*background-image: url("/assets/images/home-background_mobile.jpg");*/
    background-size: 700px;
    /*background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;*/
    background-repeat: no-repeat;
    background-position-x: -150px;
    /*background-position-y: calc(100vh - 500px);*/
    background-position-y: calc(100vh - 100vw - 45px);
  }
}


.me-time-image {
  /*padding-left: 40px;*/
  max-width: 350px;
  width: calc(160px + (350 - 160) * ((100vw - 400px) / (1500 - 400))) !important;
}

.home-box-relax {
  width: 100%;
  background-color: #50595C;
  color: white;
  padding-top: 15px;
  padding-bottom: 30px;

  .relax-main-banner {
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    margin-top: 10px;
    padding-bottom: 10px;
  }

  .relax-text {
    font-size: 15px;
    font-size: calc(9px + (15 - 9) * ((100vw - 400px) / (1500 - 400))) !important;
    text-align: center;
  }

  .relax-main-title {
    font-size: 23px;
    font-size: calc(12px + (23 - 12) * ((100vw - 400px) / (1500 - 400))) !important;
    padding-bottom: 10px;
    /*line-height: 28px;*/
    /*margin-bottom: 10px;*/
  }

  .relax-main-footer {
    font-size: 28px;
    font-size: calc(14px + (28 - 14) * ((100vw - 400px) / (1500 - 400))) !important;
    /*margin-top: 5px;
    margin-bottom: 15px;*/
  }
}

.great-places-block {
  padding: 10px 20px 20px 20px;
  width: 100%;

  .great-places-description {
    margin-left: 30px;
  }

  .great-places-title {
    font-size: 30px;
    font-size: calc(18px + (30 - 18) * ((100vw - 400px) / (1500 - 400))) !important;
    font-weight: 600;
    margin-top: 25px;
    margin-top: calc(12px + (25 - 12) * ((100vw - 400px) / (1500 - 400))) !important;
  }

  .great-places-sub-title {
    font-weight: 500;
    font-size: 24px;
    font-size: calc(14px + (24 - 14) * ((100vw - 400px) / (1500 - 400))) !important;
    margin-top: 10px;
    margin-top: calc(5px + (10 - 5) * ((100vw - 400px) / (1500 - 400))) !important;
    margin-bottom: 20px;
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 400px) / (1500 - 400))) !important;
  }
}

.home-book-today-block {
  /*padding: 10px 20px 20px 20px;*/
  padding: 20px;
  background-color: #bdc9cd;

  .book-today-title {
    margin-left: 30px;
    font-size: 30px;
    font-size: calc(18px + (30 - 18) * ((100vw - 600px) / (1500 - 600))) !important;
    font-weight: 500;
    text-transform: capitalize;
  }
}

.home-book-btn {
  /*width: 300px;*/
  width: calc(140x + (300 - 140) * ((100vw - 400px) / (1500 - 400))) !important;
  background-size: calc(750px + (1500 - 750) * ((100vw - 400px) / (1500 - 400))) !important;
  /*font-size: 20px;*/
  font-size: calc(11px + (20 - 11) * ((100vw - 600px) / (1500 - 600))) !important;
  /*font-size: 20px !important;*/
  padding: .5% .8% !important;
  text-align: left;
  text-transform: none !important;
  background-color: white !important;
  vertical-align: central;
}

.book-left-icon {
  /*font-size: 1.6rem !important;*/
  font-size: calc(12px + (20 - 12) * ((100vw - 600px) / (1500 - 600))) !important;
  /*font-size: calc(.8rem + (20 - 14) * ((100vw - 600px) / (1500 - 600))) !important;*/
  float: left;
  padding-right: 15px;
  padding-top: 5px;
}

.book-right-icon {
  /*font-size: 1.6rem !important;*/
  font-size: calc(12px + (20 - 12) * ((100vw - 600px) / (1500 - 600))) !important;
  /*font-size: calc(.8rem + (20 - 14) * ((100vw - 600px) / (1500 - 600))) !important;*/
  float: right;
  padding-left: 15px;
  padding-top: 5px;
}

.subscribe-btn {
  font-size: 12px !important;
  padding: 10px 50px !important;
  border-radius: 20px !important;
}

.spa-footer-large-text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

/*@media (max-width:1295px) {
  .me-time-image {
    width: 300px;
  }
}*/



