<spa-side-nav>
  <div class="home-main-content">
    <div fxLayout="column" fxFlex="100">

        <div class="spa-main spa-main-image" fxLayout="column" fxFlex="100">
          <div fxLayout="row">
            <spa-top-banner fxFlex="100"></spa-top-banner>
          </div>
          <div fxLayout="row" fxFlex="100">
            <div fxLayout="column" fxFlex="50" fxFlex.lt-sm="50"></div>
            <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" fxFlex.lt-md="50" fxFlex.lt-sm="50"  fxLayoutAlign.lt-sm="start center" >
              <div fxLayout="row" fxFlex="15"></div>
              <div fxLayout="column" fxFlex="70" fxLayoutAlign="space-between center">
                <img class="me-time-image" src="assets/images/Calendar for home page-01.png" alt="">
                <spa-main-book-block></spa-main-book-block>
              </div>
              <div fxLayout="row" fxFlex="15"></div>

  
            </div>
            <!--<div fxLayout="column" fxFlex="20" fxFlex.lt-md="10" fxFlex.lt-sm="10"></div>-->
          </div>

        </div>




      </div>
    </div>

    <div fxLayout="row">
      <div class="home-box-relax">
        <div fxLayout="row" style="height: 100%">
          <div fxFlex="5" fxFlex.gt-sm="15"></div>
          <div fxLayout="column" fxFlex="90" fxFlex.gt-sm="70" fxLayoutAlign="center center">
            <div fxHide.lt-sm class="relax-main-banner">WELCOME TO SPA SPACE</div>
            <div fxFlexOrder.lt-sm="2" class="relax-main-title">
              We are revolutionizing the spa industry
            </div>
            <div fxFlexOrder.lt-sm="3" class="relax-text">Spa Space focuses on making your treatments as personalized and restorative as you like. We have developed a technology that unlocks access to luxury resort spas and matches your needs to our professional therapists, based on their certiﬁcations, ratings and years of experience. Now you can have a completely personalized wellness experience using world class products in a safe environment with a therapist you choose.</div>
            <!--<div fxFlexOrder.lt-sm="1" class="relax-main-footer">
              ~WELCOME TO YOUR SPA SPACE~
            </div>-->
          </div>
          <div fxFlex="5" fxFlex.gt-sm="15"></div>
        </div>
      </div>
    </div>

    <div fxLayout="row" class="great-places-block">
      <div fxLayout="column" style="width: 100%">
        <div fxLayout="column" class="great-places-description">
          <div fxLayout="row" class="great-places-title">Great places near you... </div>
          <div fxLayout="row" class="great-places-sub-title"><i>Find a convenient, amenity rich resort you know, or try something totally new.</i></div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="80px" fxFlex.lt-md="0"></div>
          <div fxLayout="column" fxLayoutAlign="start" fxLayoutAlign.lt-md="center" fxFlex="80" fxFlex.lt-md="100">
            <spa-facility-slider fxFlex="100" [facilities]="facilities"></spa-facility-slider>
          </div>
          <div fxLayout="column" fxFlex="80px" fxFlex.lt-md="0"></div>
        </div>
      </div>
    </div>

    <!--<div fxLayout="column" class="home-book-today-block" fxLayoutAlign="space-evenly">
    <div fxLayout="row" class="book-today-title" fxHide.lt-md>BOOK YOUR MASSAGE TODAY</div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column">
      <button fxHide.lt-md mdbBtn color="primary" outline="true" class="home-book-btn waves-light" mdbWavesEffect [routerLink]="['/portal/byLocation']">
        <i class="fas fa-map-marker-alt book-left-icon"></i>
        Book by Location
        <i class="fas fa-chevron-right book-right-icon"></i>
      </button>
      <mat-datepicker #picker></mat-datepicker>
      <button fxHide.lt-md mdbBtn color="primary" outline="true" class="home-book-btn waves-light" mdbWavesEffect (click)="picker.open()">
        <i class="far fa-calendar-alt book-left-icon"></i>
        Book by Date
        <i class="fas fa-chevron-right book-right-icon"></i>
      </button>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" style="visibility: hidden; width: 1px; height: 1px;" (dateChange)="dateChange($event)">
      <button fxHide.lt-md mdbBtn color="primary" outline="true" class="home-book-btn waves-light" mdbWavesEffect [routerLink]="['/portal/byTherapist']">
        <i class="far fa-user book-left-icon"></i>
        Book by Therapist
        <i class="fas fa-chevron-right book-right-icon"></i>
      </button>
      <button mdbBtn color="primary" class=" waves-light book-btn" mdbWavesEffect [routerLink]="['/portal/byDate']">
        Book Massage
      </button>

    </div>

  </div>-->

    <div fxLayout="row" class="home-book-today-block" fxLayoutAlign="space-evenly center">
      <div fxLayout="row" class="book-today-title" fxHide.lt-md>BOOK YOUR APPOINTMENT TODAY</div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column">

        <button mdbBtn color="primary" class=" waves-light book-btn" mdbWavesEffect (click)="onBookNowClick()">
          BOOK NOW
        </button>

      </div>

    </div>

    <div fxLayout="row" class="great-places-block">
      <div fxLayout="column" style="width: 100%">
        <div fxLayout="column" class="great-places-description">
          <div fxLayout="row" class="great-places-title">Discover great spa therapists </div>
          <div fxLayout="row" class="great-places-sub-title"><i>Filter and select therapists by your preferences and their expertise and certifications.</i></div>
        </div>
        <div fxLayout="row">
          <div fxLayout="column" fxFlex="80px" fxFlex.lt-md="0"></div>
          <div fxLayout="column" fxLayoutAlign="start" fxLayoutAlign.lt-md="center" fxFlex="80" fxFlex.lt-md="100">
            <spa-therapist-slider fxFlex="100" [therapists]="therapists"></spa-therapist-slider>
          </div>
          <div fxLayout="column" fxFlex="80px" fxFlex.lt-md="0"></div>
        </div>
      </div>
    </div>


    <!--<div fxLayout="row" class="great-places-block">
    <div fxLayout="column" fxFlex="10" fxFlex-lt-md="0"></div>
    <div fxLayout="column" fxFlex="80" fxFlex-lt-md="1000">
      <div fxLayout="row" class="great-places-title">Great places near you...</div>
      <div fxLayout="row" class="great-places-sub-title">Explore the specialties our massage therapists have mastered.</div>
      <spa-massage-types fxFlex="100" [massageTypes]="massageTypes"></spa-massage-types>
    </div>
    <div fxLayout="column" fxFlex="10" fxFlex-lt-md="0"></div>
  </div>-->

    <div fxLayout="column">
      <div fxLayout="row" fxFlex="100" class="great-places-block">
        <div fxLayout="column" style="width: 100%" fxLayoutAlign="start">
          <div fxLayout="column" class="great-places-description">
            <div fxLayout="row" class="great-places-title">Find the specialty for your needs</div>
            <div fxLayout="row" class="great-places-sub-title"><i>Explore the specialties our massage therapists have mastered.</i></div>
          </div>
          <div fxLayout="row" fxFlex="100">
            <div fxLayout="column" fxFlex="80px" fxFlex.lt-md="0"></div>
            <div fxLayout="column" fxLayoutAlign="start" fxLayoutAlign.lt-md="center" fxFlex="80" fxFlex.lt-md="100">
              <spa-massage-types fxFlex="100" [massageTypes]="massageTypes"></spa-massage-types>
            </div>
            <div fxLayout="column" fxFlex="80px" fxFlex.lt-md="0"></div>
          </div>
        </div>
      </div>

    </div>

    <div fxLayout="row" style="width:100%">
      <spa-footer class="spa-footer">
        <div leftContent>
          <!--
        <div class="spa-footer-large-text">Unlock access to the world's finest resorts.</div>
        <div fxHide.lt-lg class="spa-footer-med-text">Walk into a five star treatment room and never lift another portable table.</div>
        <div class="spa-footer-med-text"><i>Sign up for our monthly newsletter for updates and information.</i></div>
        <div fxLayout="row">
          <dx-text-box [width]="150"></dx-text-box>
          <button mdbBtn color="primary" class="subscribe-btn waves-light" mdbWavesEffect (click)="onSubscribeClick()">Subscribe</button>
        </div> -->
        </div>
        <div engageLinks class="spa-footer-links">
          <a class="menu-link" [routerLink]="['/main/therapist/join']">APPLY AS THERAPIST</a>
          <a class="menu-link" [routerLink]="['/main/facility']">BECOME A LOCATION</a>
          <a class="menu-link" [routerLink]="['/main/facility']">NEWS</a>
          <a class="menu-link" [routerLink]="['/main/facility']">PRESS ENQUIRIES</a>
        </div>
      </spa-footer>
    </div>

</spa-side-nav>
