<div class="cust-search-results">
  
  <cust-results-bar></cust-results-bar>

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <h2>
      Locations Available
    </h2>
    <div>
      <!--<app-facility-slider [facilities]="facilities"></app-facility-slider>-->
    </div>
    <hr />
    <h2>
      Therapists Available
    </h2>
    <div>
      <!--<spa-therapist-slider [providers]="providers"></spa-therapist-slider>-->
    </div>
  </div>
</div>
