.mat-radio-group {
  /*display: flex;
  flex-direction: column;*/
  margin: 0 0 20px 20px !important;
}

.mat-radio-button {
  margin: 0 0 0 10px;
}

::ng-deep .mat-radio-container {
  height: 17px;
  width: 17px;

  .mat-radio-outer-circle {
    height: 17px;
    width: 17px;
  }

  .mat-radio-inner-circle {
    height: 17px;
    width: 17px;
  }
}


.example-radio-group-label {
  font-size: 14px;
}

.radio-button-line {
  border-radius: 5px;
  padding: 10px 0 0 10px;
}

.alt-line {
  background-color: #f0f3f4;
}
