<!--<mat-card>-->

<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="5px">
  <div fxLayout="row" class="radio-button-line">
    <label fxFlex="30" class="example-radio-group-label">Quiet Environment</label><br />
    <mat-radio-group fxFlex="70" fxLayout="column" aria-labelledby="Quiet Environment" [(ngModel)]="facilityPreferences.QuietEnvironment">
      <mat-radio-button value="1">No Preference</mat-radio-button>
      <mat-radio-button value="2">Nice to Have</mat-radio-button>
      <mat-radio-button value="3">Must Have</mat-radio-button>
    </mat-radio-group>
  </div>

  <div fxLayout="row" class="radio-button-line alt-line">
    <label fxFlex="30" id="example-radio-group-label">Valet Parking</label><br />
    <mat-radio-group fxFlex="70" fxLayout="column" aria-labelledby="ValetParking" [(ngModel)]="facilityPreferences.ValetParking">
      <mat-radio-button value="1">No Preference</mat-radio-button>
      <mat-radio-button value="2">Nice to Have</mat-radio-button>
      <mat-radio-button value="3">Must Have</mat-radio-button>
    </mat-radio-group>
  </div>

  <div fxLayout="row" class="radio-button-line">
    <label fxFlex="30" id="example-radio-group-label">Hot Tub</label><br />
    <mat-radio-group fxFlex="70" fxLayout="column" aria-labelledby="Hot Tub" [(ngModel)]="facilityPreferences.HotTub">
      <mat-radio-button value="1">No Preference</mat-radio-button>
      <mat-radio-button value="2">Nice to Have</mat-radio-button>
      <mat-radio-button value="3">Must Have</mat-radio-button>
    </mat-radio-group>
  </div>

  <div fxLayout="row" class="radio-button-line alt-line">
    <label fxFlex="30" id="example-radio-group-label">Steam Sauna</label><br />
    <mat-radio-group fxFlex="70" fxLayout="column" aria-labelledby="Steam Sauna" [(ngModel)]="facilityPreferences.SteamSauna">
      <mat-radio-button value="1">No Preference</mat-radio-button>
      <mat-radio-button value="2">Nice to Have</mat-radio-button>
      <mat-radio-button value="3">Must Have</mat-radio-button>
    </mat-radio-group>
  </div>

  <div fxLayout="row" class="radio-button-line">
    <label fxFlex="30" id="example-radio-group-label">Therapist Gender</label><br />
    <div fxFlex="70" fxLayout="column">
      <mat-radio-group>
        <mat-radio-button value="1">Female</mat-radio-button>
        <mat-radio-button value="2">Male</mat-radio-button>
      </mat-radio-group>
      <mat-radio-group aria-labelledby="Gender" [(ngModel)]="therapistPreferences.MustHaveNiceToHave">
        <!--<mat-radio-button value="1">No Preference</mat-radio-button>-->
        <mat-radio-button value="2">Nice to Have</mat-radio-button>
        <mat-radio-button value="3">Must Have</mat-radio-button>
      </mat-radio-group>
    </div>    
  </div>

</div>

<!--</mat-card>-->
