<!-- Nav Tabs -->
<div fxLayout="column">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center">
    <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="seeList()" useSubmitBehavior="false">List View</button>
  </div>

  <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3 bg-primary'" [contentClass]="'card'" class="spa-tabs-class" (shownBsTab)="onTabShown($event)">
    <!--Panel 1-->
    <mdb-tab heading="By Room">

      <spa-facility-appointments-by-room-view [facilityUID]="facilityUID" (showDetail)="showDetail($event)"></spa-facility-appointments-by-room-view>

    </mdb-tab>


    <mdb-tab heading="By Therapist">
      <spa-facility-appointments-by-therapist-view [facilityUID]="facilityUID" (showDetail)="showDetail($event)" [(repaint)]="repaintTherapistView"></spa-facility-appointments-by-therapist-view>


    </mdb-tab>

  </mdb-tabset>

</div>


