<div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between" fxLayout.lt-sm="column" fxLaoutAlign.lt-sm="start start" class="facility-search-card-container" (click)="click($event)">
  <div fxLayout="row">
    <div fxFlex="100px"><img [src]="getFacilityImage()" /></div>
    <div fxLayout="column" fxFlex="100" fxLayoutAlign="start start">
      <div fxLayout="column">
        <div class="facility-card-sub-title" fxLayout="row"><i>{{facility.City}}, {{facility.StateCode}}</i></div>
        <div class="facility-card-title" fxLayout="row">{{facility.Name}}</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-sm="column" >
        <spa-facility-ratings-block [averageRating]="facility.AverageRating" [totalRatings]="facility.TotalRatings" [totalAppointments]="facility.TotalAppointments"></spa-facility-ratings-block>
        <!--<div fxFlex="70" class="facility-card-text">{{hasAppointmentsText()}}</div>-->
      </div>
      <div fxHide.gt-sm fxLayout="row" fxLayoutAlign="center">
        <div class="facility-card-text">{{hasAppointmentsText()}}</div>
      </div>
    </div>
  </div>
  <div fxHide.lt-md fxLayout="row" fxLayoutAlign="end center">
    <div class="facility-card-text">{{hasAppointmentsText()}}</div>
  </div>
</div>
