:host {
    width: 100%;
}

.facility-search-card-container {
    height: 70px;
}

.facility-card-title {
  margin: 0;
  padding-left: .5rem;
  font-size: 16px;
  font-size: calc(14px + (16 - 14) * ((100vw - 400px) / (1500 - 400))) !important;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.facility-card-desc {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.facility-card-sub-title {
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  padding-left: .5rem;
  font-size: 12px;
  /*font-size: calc(12px + (14 - 12) * ((100vw - 400px) / (1500 - 400))) !important;*/
  font-weight: 500;
}

.facility-card-text {
  font-size: 14px;
  font-size: calc(12px + (14 - 12) * ((100vw - 400px) / (1500 - 400))) !important;
  font-weight: 500;
  padding-right: .5rem;
}

@media (max-width:500px) {

  .facility-search-card-container {
    height: 75px;
}

  .facility-card-title {
    margin: 0;
    font-size: 14px;
  }

  .facility-card-desc {
    font-size: 12px;
  }

  .facility-card-sub-title {
    font-size: 11px;
  }

  .facility-card-text {
    font-size: 12px;
    padding-left: .5rem;
  }

}
