<div class="cust-results-bar">
  <div  style="width:100%">
    <div fxLayout="row wrap" fxLayoutAlign="start space-between" fxLayoutAlign.lt-md="center" fxLayoutGap="30px" fxLayoutGap.lt-md="0px">
      <div fxLayout="column" *ngFor="let item of massageTypes">
        <spa-massage-type-card [massageTypeForCard]="item" (click)="click()" ></spa-massage-type-card>
      </div>
    </div>
  </div>
</div>
