.therapist-action-block {
  display: flex;
  width: 100%;
  background-color: #E0E0E0;
  border: 1px solid #BDBDBD;
  padding: 12px 10px;
  border-radius: 5px;
}

.action-title {
  font-size: 19px;
  font-weight: 600;
}

.action-desc {
  font-size: 14px;
  font-weight: 400;
}

.mat-expansion-panel-header {
  border-bottom: 1px solid lightgrey !important;
}

.mat-expansion-panel {
  margin-bottom: 15px;
}

.appointment-checkin-block {
  margin-bottom: 15px;
}

.mat-expansion-panel-header-title {
  font-size: 17px;
  font-weight: 600;
}
