<div fxLayout="row" fxFlex="100">
  <div fxFlex="0" fxFlex.gt-lg="10" fxFlex.gt-md="5"></div>

  <div class="spa-container-white p-1" fxLayout="column" fxFlex="100" fxFlex.gt-lg="80" fxFlex.gt-md="90" fxLayoutGap="20px">

    <h3>Hi, I'm {{therapistProfile.Name}}</h3>

    <div fxLayout="row" fxLayoutGap="20px">
      <div>
        <spa-therapist-profile-vertical-card [therapist]="therapistProfile" ></spa-therapist-profile-vertical-card>
      </div>
      <div fxLayout="column" fxFlex="100">

        <!--<div class="therapist-action-block spa-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between start" style="width: 100%">
          <div class="pl-2" fxLayout="column" fxLayoutAlign="start start">
            <div class="action-title text-left">Book Next Available</div>
            <div class="action-desc text-left">Book this Therapist's Next Available</div>
          </div>

          <div fxFlex.lt-md="100" fxLayout.lt-md="column" fxLayoutAlign.lt-md="top center">
            <button mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="onBookNext()">Book Next Available</button>
          </div>
          <div fxFill.lt-md></div>
        </div>-->


        <div>
          <div fxLayout="column" fxLayoutGap="20px">


            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i class="fas fa-water"></i>&nbsp;&nbsp;
                  Specialties
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>

              <div *ngFor="let specialty of therapistProfile?.Specialties">{{specialty}}</div>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i class="far fa-building"></i>&nbsp;&nbsp;
                  Spas They Serve
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>

              <div fxLayout="row wrap" fxLayoutAlign="start space-between" fxLayoutAlign.lt-md="center" fxLayoutGap="30px" fxLayoutGap.lt-md="0px" style="padding-top: 20px;">
                <div fxLayout="column" *ngFor="let facility of therapistProfile.AssociatedFacilities">
                  <spa-facility-card [facilityForCard]="facility" (click)="facilityClick()"></spa-facility-card>
                </div>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <i class="far fa-comment-dots"></i>&nbsp;&nbsp;
                  Reviews
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
              </mat-expansion-panel-header>
              <spa-ratings-quick-view [reviews]="therapistProfile?.Reviews"></spa-ratings-quick-view>

            </mat-expansion-panel>

          </div>
        </div>


      </div>
    </div>

  </div>

  <div fxFlex="0" fxFlex.gt-lg="10" fxFlex.gt-md="5"></div>
</div>
