<div fxLayout="column">

  <div fxLayout="row" fxFlex="100" class="grid-box">

    <div fxLayout="column" fxFlex="50" fxFlex.lt-lg="70" fxFlex.lt-md="100">
      <dx-data-grid #servicesGrid id="servicesGrid"
                    [dataSource]="services"
                    showRowLines="true"
                    showColumnLines="false"
                    showBorders="true"
                    (onToolbarPreparing)="servicesGrid_onToolbarPreparing($event)">
        <dxi-column dataField="ServiceCategory"></dxi-column>
        <dxi-column dataField="WillPerform" [width]="120"></dxi-column>
        <dxi-column type="buttons" alignment="center" [width]="65">
          <dxi-button class="spa-grid-icon"
                      hint="Edit Authorized Service"
                      icon="fa fa-pen"
                      [visible]="canEdit"
                      [onClick]="editRecord"></dxi-button>
        </dxi-column>
        <div *dxTemplate="let data of 'headerText'">
          <h2 class="grid-header-text">Authorized Services</h2>
        </div>
      </dx-data-grid>
    </div>

    <div fxLayout="column" fxFlex="50" fxFlex.lt-lg="30" fxFlex.lt-md="0"></div>
  </div>
</div>

<spa-therapist-service-edit [service]="service" [(showModal)]="showModal" (saveService)="saveService($event)"></spa-therapist-service-edit>
