<div fxLayout="column" fxLayoutGap="10px">

  <div fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="30px"><mdb-icon fas icon="futbol"></mdb-icon></div>
      <div fxFlex="100" fxLayout="column">
        <div class="spa-label-small">Spa</div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="30px"></div>
      <div fxFlex="100" fxLayout="column">
        <div class="spa-text">{{appointmentDetail?.Facility?.Name}}({{appointmentDetail?.TreatmentArea}})</div>
      </div>
    </div>
  </div>

  <div *ngIf="showTherapist" fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="30px"><mdb-icon far icon="hand-paper"></mdb-icon></div>
      <div fxFlex="100" fxLayout="column">
        <div class="spa-label-small">Therapist</div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="30px"></div>
      <div fxFlex="100" fxLayout="column">
        <div class="spa-text">{{therapist?.Name}}</div>
      </div>
    </div>
  </div>

  <div fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="30px"><mdb-icon far icon="calendar-alt"></mdb-icon></div>
      <div fxFlex="100" fxLayout="column">
        <div class="spa-label-small">Time of Massage</div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="30px"></div>
      <div fxFlex="100" fxLayout="column">
        <div class="spa-text">{{appointmentDetail?.StartDateTime | date:'shortTime'}} : {{appointmentDetail?.StartDateTime | date:'MMM d'}}</div>
      </div>
    </div>
  </div>

  <div fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="30px"><mdb-icon fas icon="history"></mdb-icon></div>
      <div fxFlex="100" fxLayout="column">
        <div class="spa-label-small">Duration of Massage</div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="30px"></div>
      <div fxFlex="100" fxLayout="column">
        <div class="spa-text">{{appointmentDetail?.Service}}</div>
      </div>
    </div>
  </div>

    <div fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="30px"><mdb-icon fas icon="thumbtack"></mdb-icon></div>
      <div fxFlex="100" fxLayout="column">
        <div class="spa-label-small">Areas of Focus</div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxFlex="30px"></div>
      <div fxFlex="100" fxLayout="column">
        <div class="spa-text">
          <ul>
            <li *ngFor="let area of appointmentDetail?.FocusAreas">
              <div class="spa-text">{{area.Name}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>
