<!-- Nav Tabs -->
  <mdb-tabset #staticTabs [buttonClass]="'md-tabs tabs-3 bg-primary'" [contentClass]="'card'" class="spa-tabs-class">
    <!--Panel 1-->
    <mdb-tab heading="By Room">
      <div fxLayout="column" fxFlex="100">

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
          <div fxLayout="column" fxFlex="33">
            <!--<div class="return-link" (click)="goBack()"><i class="fas fa-arrow-left ml-1"></i> Back to Treatment Area</div>-->
          </div>
          <div class="long-title" fxFlex="33">
            <!--<h4>Availability for {{treatmentArea.Name}}</h4>-->
          </div>
          <div fxLayout="column" fxFlex="33"></div>
        </div>

        <div fxLayout="row" fxFlex.gt-sm="100">
          <div fxFlex="100">

            <dx-scheduler id="byroom"
                          [dataSource]="byroom"
                          [views]="['day']"
                          currentView="day"
                          endDateExpr="EndTime"
                          startDateExpr="StartTime"
                          [firstDayOfWeek]="0"
                          [startDayHour]="5"
                          [showAllDayPanel]="false"
                          [currentDate]="currentDate"
                          [adaptivityEnabled]="true"
                          [cellDuration]="30"
                          [height]="750"
                          width="100%"
                          appointmentTemplate="byroom-appointment-template"
                          appointmentTooltipTemplate="byroom-tooltip-template"
                          (onAppointmentFormOpening)="onAppointmentFormOpeningByRoom($event)">

              <dxo-editing>
                [allowAdding]="false"
                [allowDeleting]="false"
                [allowUpdating]="false"
              </dxo-editing>
              <div *dxTemplate="let model of 'byroom-appointment-template'">
                <div class='showtime-preview'>
                  <div>{{model.appointmentData.TherapistName}}</div>
                  <div>{{model.appointmentData.ServiceName}}</div>
                  <div>{{model.appointmentData.CustomerName}}</div>
                  <div class='dropdown-appointment-dates'>
                    {{(model.appointmentData.StartTime | date:'shortTime') + ' - ' + (model.appointmentData.EndTime | date:'shortTime')}}
                  </div>
                </div>
              </div>

              <div *dxTemplate="let model of 'byroom-tooltip-template'">
                <div class='showtime-preview'>
                  <div>{{model.appointmentData.TherapistName}}</div>
                  <div>{{model.appointmentData.ServiceName}}</div>
                  <div>{{model.appointmentData.CustomerName}}</div>
                  <div class='dropdown-appointment-dates'>
                    {{(model.appointmentData.StartTime | date:'shortTime') + ' - ' + (model.appointmentData.EndTime | date:'shortTime')}}
                  </div>
                </div>
              </div>

            </dx-scheduler>

          </div>

        </div>
      </div>



    </mdb-tab>


    <mdb-tab heading="By Room">
      <div fxLayout="column" fxFlex="100">

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
          <div fxLayout="column" fxFlex="33">
            <!--<div class="return-link" (click)="goBack()"><i class="fas fa-arrow-left ml-1"></i> Back to Treatment Area</div>-->
          </div>
          <div class="long-title" fxFlex="33">
            <!--<h4>Availability for {{treatmentArea.Name}}</h4>-->
          </div>
          <div fxLayout="column" fxFlex="33"></div>
        </div>

        <div fxLayout="row" fxFlex.gt-sm="100">
          <div fxFlex="100">

            <dx-scheduler id="byroom"
                          [dataSource]="byroom"
                          [views]="['day']"
                          currentView="day"
                          endDateExpr="EndTime"
                          startDateExpr="StartTime"
                          [firstDayOfWeek]="0"
                          [startDayHour]="5"
                          [showAllDayPanel]="false"
                          [currentDate]="currentDate"
                          [adaptivityEnabled]="true"
                          [cellDuration]="30"
                          [height]="750"
                          width="100%"
                          appointmentTemplate="bytherapist-appointment-template"
                          appointmentTooltipTemplate="bytherapist-tooltip-template"
                          (onAppointmentFormOpening)="onAppointmentFormOpeningByTherapist($event)">

              <dxo-editing>
                [allowAdding]="false"
                [allowDeleting]="false"
                [allowUpdating]="false"
              </dxo-editing>
              <div *dxTemplate="let model of 'bytherapist-appointment-template'">
                <div class='showtime-preview'>
                  <div>{{model.appointmentData.TherapistName}}</div>
                  <div>{{model.appointmentData.ServiceName}}</div>
                  <div>{{model.appointmentData.CustomerName}}</div>
                  <div class='dropdown-appointment-dates'>
                    {{(model.appointmentData.StartTime | date:'shortTime') + ' - ' + (model.appointmentData.EndTime | date:'shortTime')}}
                  </div>
                </div>
              </div>

              <div *dxTemplate="let model of 'bytherapist-tooltip-template'">
                <div class='showtime-preview'>
                  <div>{{model.appointmentData.TherapistName}}</div>
                  <div>{{model.appointmentData.ServiceName}}</div>
                  <div>{{model.appointmentData.CustomerName}}</div>
                  <div class='dropdown-appointment-dates'>
                    {{(model.appointmentData.StartTime | date:'shortTime') + ' - ' + (model.appointmentData.EndTime | date:'shortTime')}}
                  </div>
                </div>
              </div>

            </dx-scheduler>

          </div>

        </div>
      </div>



    </mdb-tab>

  </mdb-tabset>

