<spa-left-nav [selectedItems]="navigation" pageTitle="Spa Space Customer Portal">
  <div fxLayout="row" fxFlex="100">
    <div fxLayout="column" fxFlex="10px" fxFlex.gt-xs="0"></div>
    <div fxLayout="column" fxFlex="100">
      <router-outlet></router-outlet>
    </div>
    <div fxLayout="column" fxFlex="10px" fxFlex.gt-xs="0"></div>
  </div>
</spa-left-nav>





<!--<app-footer></app-footer>-->
