.customer-container {
    background: white;
    min-height: 100%;
    max-width: 100rem;
    margin: 0 auto;
}

.customer-content-container {
  min-height: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

@media only screen and (min-width: 100rem)  {
  .customer-content-container {
    max-width: 80rem;
  }  
}

/*@media (max-width:700px) {
  .mat-card {
    width: 200px;
    height: 180px;
  }

  .dx-calendar {
    height: 160px;
    min-height: 150px;
    width: 190px;
  }
}*/
