<div fxLayout="column" fxLayoutGap="30px">
  <div fxLayout="row" fxFlex.gt-sm="100" fxLayoutAlign="center center" fxLayoutGap="30px" fxLayout.lt-md="column">
    <div fxFlex="50px" fxFlex.lt-md="0"></div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px" fxLayout.lt-sm="column" fxLayoutGap.lt-md="20px" class="spa-container facility-container">
      <div fxFlex.gt-md="40" class="image-container">
        <img #facilityImage [src]="getFacilityImage()" />
      </div>
      <div fxLayout="column" fxFlex.gt-md="60" class="profile-container">
        <h3>{{facility.Name}}</h3>
        <h4>{{facility.City}}, {{facility.State}}</h4>
        <br />
        <!--<p>{{facility.Status}}</p>-->
        <br />
        <form class="example-form" [formGroup]="adminManageForm" (ngSubmit)="onSave()">
          <div fxLayout="column" fxLayoutAlign="start start">
            <!--<mat-form-field class="form-field-full-width">
              <mat-label>Parent Facility</mat-label>
              <input matInput formControlName="ParentFacility">
              <mat-error *ngIf="adminManageForm.get('ParentFacility').hasError('required')">
                Parent Facility is <strong>required</strong>
              </mat-error>
            </mat-form-field>-->

            <mat-form-field>
              <mat-label>Parent Company</mat-label>
              <mat-select formControlName="ParentCompanyUID">
                <mat-option *ngFor="let parent of parents" [value]="parent.UID">
                  {{parent.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Region</mat-label>
              <mat-select formControlName="RegionUID">
                <mat-option *ngFor="let region of regions" [value]="region.UID">
                  {{region.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Amenity Charge</mat-label>
              <span matPrefix>$ &nbsp;</span>
              <input matInput currencyMask formControlName="AmenityCharge" placeholder="0.00">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Facility's Cut</mat-label>
              <input matInput formControlName="FacilitysCut" placeholder="0">
              <span matSuffix>%</span>
            </mat-form-field>
            <button mdbBtn color="unique" class="waves-light" mdbWavesEffect (click)="onSave()">
              Save
            </button>
          </div>


        </form>

      </div>
    </div>
    <div fxFlex="50px" fxFlex.lt-md="0"></div>
  </div>

  <div class="spa-container grid-box">
    <spa-facility-service-compensations [facilityUID]="facility.UID"></spa-facility-service-compensations>
  </div>

  <!--
    Removing until a future phase
  <div class="spa-container grid-box">
    <spa-facility-upgrades-compensation [facilityUID]="facility.UID"></spa-facility-upgrades-compensation>
  </div>
  -->

</div>

