img {
  max-height: 100px;
  max-width: 100px;
}

.title-text {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.mat-card {
  max-width: 600px;
  min-width: 400px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.mat-card-title {
  padding: 0;
  margin: 0;
}

.mat-card-title .card-title-text {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.vs-card {
  color: #fff;

  p {
    color: #1d4946;
  }
}

.star {
  font-size: 1.1rem;
  color: #c9d7e8;
}

.filled {
  color: #ffcc00;
}

.bad {
  color: #deb0b0;
}

.filled.bad {
  color: #ff1e1e;
}

.review-line {
  font-size: 10px;
}

fa-icon {
  font-size: 1rem;
  color: white;
  background-color: #4DB6AC;
  margin: 5px;
  padding: 0 3px 0 3px;
}
