<mat-card (click)="onClick()">
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center">

      <div fxFlex="15">
        <span class="title-text">{{availableAppointment.AppointmentDateTime | date:'shortTime'}}</span>
      </div>

      <div fxFlex="55">
        <div fxLayout="column" fxLayoutAlign="center">
          <div fxLayoutAlign="center">
            <span class="title-text">{{availableAppointment.Facility.Name}}</span>
          </div>
          <div fxLayout="row">
            <div fxFlex="40" fxLayoutAlign="center">
              <img #locationImage />
            </div>


            <div fxFlex="60">
              <div fxLayout="column" fxLayoutAlign="center center">
                <div fxLayout="column">
                  <span>{{availableAppointment.Facility.Address}}</span>
                  <span>{{availableAppointment.Facility.CityStateZIP}}</span>
                </div>
                <div fxLayout="row" fxLayoutAlign="center">
                  <fa-icon [icon]="poolIcon"></fa-icon>
                  <fa-icon [icon]="hotTubIcon"></fa-icon>
                  <fa-icon [icon]="whatev"></fa-icon>
                  <fa-icon [icon]="whatev2"></fa-icon>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>


      <div fxFlex="30" fxFlexLayout="center">
        <div fxLayout="row">
          <div fxFles="50">
            <span class="title-text">{{availableAppointment.Therapist.Name}}</span>
            <ngb-rating [(rate)]="currentRate" [max]="max">
              <ng-template let-fill="fill" let-index="index">
                <!--<span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>-->
                <span class="star" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <span class="review-line">(XX Customer Reviews)</span>
          </div>
          <div fxFles="50">
            <img #therapistImage />
          </div>
        </div>
      </div>


    </div>
  </mat-card-content>
  <!--<mat-card-actions>
    <button mat-raised-button class="mat-accent dark" (click)="onClick(facilityCode)">Select Facility</button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>-->
</mat-card>
