.loading {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/spa/assets/images/ntimes.png') 50% 50% no-repeat rgb(249, 249, 249);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}
