::ng-deep .side-nav .logo-wrapper img {
    padding: 10% 20px !important;
    background-color: white;
}

::ng-deep .navbar-brand {
  min-height: 240px;
}

::ng-deep .navbar {
    min-height: 83px !important;
}

::ng-deep .nav-link {
    font-size: 18px !important;
}
