<p>
    Spa Space uses Stripe to get you paid quickly and keep your personal and payment information secure.
    Thousands of companies around the world trust Stripe to process payments for their users.
</p>
<p>
  {{stripeInfo?.Prompt}}
  <br/>
  <img (click)="goToStripe()" src="/spa/assets/images/blue-on-dark.png">
</p>
<!-- <p *ngIf = "needsToOnboardWithStripe">
    Set up a Stripe account to get paid with Spa Space.
    <br/>
    <img (click)="onboardAtStripe()" src="/spa/assets/images/blue-on-dark.png">
</p>
<p *ngIf = "!needsToOnboardWithStripe">
    Connect to your Stripe account.
    <br/>
    <img (click)="goToStripe()" src="/spa/assets/images/blue-on-dark.png">
</p> -->
